<span class="nyms synonym">
  <span class="defdate">Synonyms:</span>
  <span class="Latn" lang="en"><a href="/wiki/baz#English" title="baz">baz</a></span>,
  <span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content">Bazland</span><span class="ib-brac qualifier-brac">)</span>
  <span class="Latn" lang="en"><a href="/wiki/bazz#English" title="bazz" class="partlynew">bazz</a></span>
</span>