<span class="nyms synonym">
  <span class="defdate">Synonyms:</span>
  <span class="Latn" lang="en">
      <a href="/w/index.php?title=f00&amp;action=edit&amp;redlink=1" class="new" title="">f00</a>
  </span>
</span>