<span class="nyms synonym" about="#mwt5" typeof="mw:Transclusion" id="mwIg">
    <span class="defdate">Synonym:</span>
    <span class="polytonic" lang="grc">
        <a rel="mw:WikiLink" href="./ἱππομανές#Ancient_Greek" title="ἱππομανές">ἱππομᾰνές</a>
    </span>
    <span class="mention-gloss-paren annotation-paren">(</span><span lang="grc-Latn" class="tr Latn">hippomanés</span><span class="mention-gloss-paren annotation-paren">)</span>
</span>