<section data-mw-section-id="6" id="mwHQ">
 <h4 id="Translations">Translations</h4>
 <div class="NavFrame" id="Translations-city_in_the_Philippines" about="#mwt9" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;trans-top&quot;,&quot;href&quot;:&quot;./Template:trans-top&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;city in the Philippines&quot;}},&quot;i&quot;:0}},&quot;\n* Arabic: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t&quot;,&quot;href&quot;:&quot;./Template:t&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ar&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;كاجايان دو آورو&quot;}},&quot;i&quot;:1}},&quot;\n* Cebuano: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t&quot;,&quot;href&quot;:&quot;./Template:t&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ceb&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Cagayan de Oro&quot;}},&quot;i&quot;:2}},&quot;\n* Chinese:\n*: Mandarin: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-l&quot;,&quot;href&quot;:&quot;./Template:zh-l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;卡加延德奧羅&quot;}},&quot;i&quot;:3}},&quot;\n*: Min Nan: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t-needed&quot;,&quot;href&quot;:&quot;./Template:t-needed&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;nan&quot;}},&quot;i&quot;:4}},&quot;\n* Hindi: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t&quot;,&quot;href&quot;:&quot;./Template:t&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;hi&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;कागायन डे ओरो&quot;}},&quot;i&quot;:5}},&quot;\n* Japanese: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t&quot;,&quot;href&quot;:&quot;./Template:t&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ja&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;{{ja-l|カガヤン・デ・オロ||Kagayan de Oro}}&quot;}},&quot;i&quot;:6}},&quot;\n* Korean: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t&quot;,&quot;href&quot;:&quot;./Template:t&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ko&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;카가얀 데 오로&quot;}},&quot;i&quot;:7}},&quot;\n* Russian: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t&quot;,&quot;href&quot;:&quot;./Template:t&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ru&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Кагаян-де-Оро&quot;}},&quot;i&quot;:8}},&quot;\n* Spanish: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t&quot;,&quot;href&quot;:&quot;./Template:t&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;es&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Cagayán de Oro&quot;}},&quot;i&quot;:9}},&quot;\n* Tagalog: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t+&quot;,&quot;href&quot;:&quot;./Template:t+&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Cagayan de Oro&quot;}},&quot;i&quot;:10}},&quot;\n&quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;trans-bottom&quot;,&quot;href&quot;:&quot;./Template:trans-bottom&quot;},&quot;params&quot;:{},&quot;i&quot;:11}}]}">
  <div class="NavHead" style="text-align:left;cursor:pointer">
   city in the Philippines
  </div>
  <div class="NavContent">
   <table class="translations" role="presentation" data-gloss="city in the Philippines" style="width:100%">
    <tbody>
    <tr>
     <td class="translations-cell multicolumn-list" colspan="3" style="background-color:#ffffe0;vertical-align:top;text-align:left">
      <ul>
       <li>Arabic: <span class="Arab" lang="ar"><a rel="mw:WikiLink" href="./كاجايان_دو_آورو?action=edit&amp;redlink=1#Arabic" title="كاجايان دو آورو" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;كاجايان دو آورو&quot;]}}">كاجايان دو آورو</a></span><span typeof="mw:Entity">‎</span></li>
       <li>Cebuano: <span class="Latn" lang="ceb"><a rel="mw:WikiLink" href="./Cagayan_de_Oro#Cebuano" title="Cagayan de Oro">Cagayan de Oro</a></span></li>
       <li>Chinese:
        <dl>
         <dd>
          Mandarin:
          <span class="Hant" lang="zh-Hant">
           <a rel="mw:WikiLink" href="./卡加延德奧羅#Chinese" title="卡加延德奧羅">卡加延德奧羅</a>
          </span>
           <span class="Hani" lang="zh">／</span>
           <span class="Hans" lang="zh-Hans">
            <a rel="mw:WikiLink" href="./卡加延德奥罗#Chinese" title="卡加延德奥罗">卡加延德奥罗</a>
           </span> (<i><span class="tr Latn">Kǎjiāyán dé àoluó</span></i>)
         </dd>
         <dd>
          Min Nan: <span class="trreq" data-lang="nan"><i>please add this translation if you can</i></span>
          <link rel="mw:PageProp/Category" href="./Category:Requests_for_translations_into_Min_Nan#CAGAYAN%20DE%20ORO">
         </dd>
        </dl></li>
       <li>Hindi: <span class="Deva" lang="hi"><a rel="mw:WikiLink" href="./कागायन_डे_ओरो?action=edit&amp;redlink=1#Hindi" title="कागायन डे ओरो" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;कागायन डे ओरो&quot;]}}">कागायन डे ओरो</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="hi-Latn" class="tr Latn">kāgāyan ḍe oro</span><span class="mention-gloss-paren annotation-paren">)</span></li>
       <li>Japanese: <span class="Jpan" lang="ja"><span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./カガヤン・デ・オロ?action=edit&amp;redlink=1#Japanese" title="カガヤン・デ・オロ" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;カガヤン・デ・オロ&quot;]}}">カガヤン・デ・オロ</a></span> (​<i><span class="Latn" lang="ja">Kagayan de Oro</span></i>)</span></li>
       <li>Korean: <span class="Kore" lang="ko"><a rel="mw:WikiLink" href="./카가얀_데_오로?action=edit&amp;redlink=1#Korean" title="카가얀 데 오로" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;카가얀 데 오로&quot;]}}">카가얀 데 오로</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="ko-Latn" class="tr Latn">kagayan de oro</span><span class="mention-gloss-paren annotation-paren">)</span></li>
       <li>Russian: <span class="Cyrl" lang="ru"><a rel="mw:WikiLink" href="./Кагаян-де-Оро?action=edit&amp;redlink=1#Russian" title="Кагаян-де-Оро" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Кагаян-де-Оро&quot;]}}">Кагаян-де-Оро</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="ru-Latn" class="tr Latn">Kagajan-de-Oro</span><span class="mention-gloss-paren annotation-paren">)</span></li>
       <li>Spanish: <span class="Latn" lang="es"><a rel="mw:WikiLink" href="./Cagayán_de_Oro#Spanish" title="Cagayán de Oro">Cagayán de Oro</a></span></li>
       <li>Tagalog: <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./Cagayan_de_Oro#Tagalog" title="Cagayan de Oro">Cagayan de Oro</a></span><span class="tpos"><span typeof="mw:Entity">&nbsp;</span><a rel="mw:WikiLink/Interwiki" href="https://tl.wiktionary.org/wiki/Cagayan%20de%20Oro" title="tl:Cagayan de Oro" class="extiw">(tl)</a></span></li>
      </ul></td>
    </tr>
    </tbody>
   </table>
  </div>
 </div>
</section>
