<section data-mw-section-id="4" id="mwGA">
 <h4 id="Translations">Translations</h4>
 <div class="NavFrame" id="Translations-the_brightest_star_in_the_constellation_Canes_Venatici" about="#mwt5" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;trans-top&quot;,&quot;href&quot;:&quot;./Template:trans-top&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;the brightest star in the constellation Canes Venatici&quot;}},&quot;i&quot;:0}},&quot;\n* French: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;le Cœur de Charles&quot;}},&quot;i&quot;:1}},&quot;\n* German: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t&quot;,&quot;href&quot;:&quot;./Template:t&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;de&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Herz Carls II.&quot;}},&quot;i&quot;:2}},&quot;, &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t&quot;,&quot;href&quot;:&quot;./Template:t&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;de&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Herz Karls II.&quot;}},&quot;i&quot;:3}},&quot;\n* Italian: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;it&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;il Cuor di Carlo&quot;}},&quot;i&quot;:4}},&quot;\n* Japanese: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ja&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;コル・カロリ&quot;}},&quot;i&quot;:5}},&quot;\n* Russian: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t&quot;,&quot;href&quot;:&quot;./Template:t&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ru&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Се́рдце Ка́рла&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;n&quot;}},&quot;i&quot;:6}},&quot;\n&quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;trans-bottom&quot;,&quot;href&quot;:&quot;./Template:trans-bottom&quot;},&quot;params&quot;:{},&quot;i&quot;:7}}]}">
  <div class="NavHead" style="text-align:left; ">
   the brightest star in the constellation Canes Venatici
  </div>
  <div class="NavContent">
   <table class="translations" role="presentation" style="width:100%;" data-gloss="the brightest star in the constellation Canes Venatici">
    <tbody>
    <tr>
     <td class="translations-cell multicolumn-list" style="background-color:#ffffe0; vertical-align:top; text-align:left; " colspan="3">
      <ul>
       <li>French: <span class="Latn" lang="fr">le Cœur de Charles</span></li>
       <li>German: <span class="Latn" lang="de"><a rel="mw:WikiLink" href="./Herz_Carls_II.?action=edit&amp;redlink=1#German" title="Herz Carls II." class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Herz Carls II.&quot;]}}">Herz Carls II.</a></span>, <span class="Latn" lang="de"><a rel="mw:WikiLink" href="./Herz_Karls_II.?action=edit&amp;redlink=1#German" title="Herz Karls II." class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Herz Karls II.&quot;]}}">Herz Karls II.</a></span></li>
       <li>Italian: <span class="Latn" lang="it">il Cuor di Carlo</span></li>
       <li>Japanese: <span class="Jpan" lang="ja">コル・カロリ</span></li>
       <li>Russian: <span class="Cyrl" lang="ru"><a rel="mw:WikiLink" href="./Сердце_Карла?action=edit&amp;redlink=1#Russian" title="Сердце Карла" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Сердце Карла&quot;]}}">Се́рдце Ка́рла</a></span><span typeof="mw:Entity">&nbsp;</span><span class="gender"><abbr title="neuter gender">n</abbr></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="ru-Latn" class="tr Latn">Sérdce Kárla</span><span class="mention-gloss-paren annotation-paren">)</span></li>
      </ul></td>
    </tr>
    </tbody>
   </table>
  </div>
 </div>
</section>