<section data-mw-section-id="13" id="mwAXo">
    <h5 id="Translations">Translations</h5>
    <div class="pseudo NavFrame" about="#mwt241" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;see translation subpage&quot;,&quot;href&quot;:&quot;./Template:see_translation_subpage&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;Noun&quot;}},&quot;i&quot;:0}}]}" id="mwAXs">
        <div class="NavHead" style="text-align: left;">
            See <a rel="mw:WikiLink" href="./water/translations#Noun" title="water/translations">water/translations § Noun</a>.
        </div>
    </div>
</section>