<div class="h-usage-example" about="#mwt4" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;{{w|David \&quot;Honeyboy\&quot; Edwards|David \&quot;'''Honeyboy'''\&quot; Edwards}}&quot;}},&quot;i&quot;:0}}]}" id="mwEA">
    <i class="Latn mention e-example" lang="en"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/David%20&quot;Honeyboy&quot;%20Edwards" title="w:David &quot;Honeyboy&quot; Edwards" class="extiw">David "<b>Honeyboy</b>" Edwards</a></i>
</div>