<li id="mwOQ"><span class="ib-brac" about="#mwt20" typeof="mw:Transclusion"
                    data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;operations&quot;}},&quot;i&quot;:0}}]}"
                    id="mwOg">(</span><span class="ib-content" about="#mwt20">operations</span><span class="ib-brac"
                                                                                                     about="#mwt20"
                                                                                                     id="mwOw">)</span>
    The process of producing or updating such a list.
    <dl id="mwPA">
        <dd id="mwPQ">
            <i id="mwPg">This month's <b id="mwPw">inventory</b> took nearly three days.</i>
        </dd>
    </dl>
</li>