<div class="h-usage-example">
    <span class="Kore e-example" lang="ko">몇 <b>개</b> 필요해요?</span>
    <dl>
        <dd><i class="e-transliteration">Myeot <b>gae</b> piryohaeyo?</i></dd>
        <dd><span class="e-translation">How many (things) do you need?</span></dd>
    </dl>
</div>