<div class="h-usage-example" about="#mwt15" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ru&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;[[в|В]] [[чужо́й]] [[монасты́рь]] [[со]] [[свой|свои́м]] '''уста́вом''' [[не]] [[ходить|хо́дят]]&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;[[when in Rome, do as the Romans do]]&quot;},&quot;lit&quot;:{&quot;wt&quot;:&quot;You don't go to another monastery with your own charter&quot;},&quot;q&quot;:{&quot;wt&quot;:&quot;proverb&quot;}},&quot;i&quot;:0}}]}" id="mwTw">
    <i class="Cyrl mention e-example" lang="ru"><a rel="mw:WikiLink" href="./в#Russian" title="в">В</a> <a rel="mw:WikiLink" href="./чужой#Russian" title="чужой">чужо́й</a> <a rel="mw:WikiLink" href="./монастырь#Russian" title="монастырь">монасты́рь</a> <a rel="mw:WikiLink" href="./со#Russian" title="со">со</a> <a rel="mw:WikiLink" href="./свой#Russian" title="свой">свои́м</a> <b>уста́вом</b> <a rel="mw:WikiLink" href="./не#Russian" title="не">не</a> <a rel="mw:WikiLink" href="./ходить#Russian" title="ходить">хо́дят</a></i> <span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content">proverb</span><span class="ib-brac qualifier-brac">)</span>
    <dl>
        <dd>
            <i lang="ru-Latn" class="e-transliteration tr Latn">V čužój monastýrʹ so svoím <b>ustávom</b> ne xódjat</i>
        </dd>
        <dd>
            <span class="e-translation"><a rel="mw:WikiLink" href="./when_in_Rome,_do_as_the_Romans_do" title="when in Rome, do as the Romans do">when in Rome, do as the Romans do</a></span>
        </dd>
        <dd>
            (literally, “<span class="e-literally">You don't go to another monastery with your own charter</span>”)
        </dd>
    </dl>
</div>