<h2 id="Spanish">Spanish</h2>
<section data-mw-section-id="2" id="mwBA">
 <h3 id="Etymology">Etymology</h3>
 <p id="mwBQ">From <i class="Latn mention" lang="es" about="#mwt1" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;m&quot;,&quot;href&quot;:&quot;./Template:m&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;es&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;chicharrar&quot;}},&quot;i&quot;:0}}]}" id="mwBg"><a rel="mw:WikiLink" href="./chicharrar#Spanish" title="chicharrar">chicharrar</a></i>, which is onomatopoeic.</p>
</section>
<section data-mw-section-id="3" id="mwBw">
 <h3 id="Pronunciation">Pronunciation</h3>
 <ul about="#mwt2" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;es-pr&quot;,&quot;href&quot;:&quot;./Template:es-pr&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwCA">
  <li><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Spanish_pronunciation" title="Appendix:Spanish pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/at͡ʃit͡ʃaˈraɾ/</span> <span class="IPA">[a.t͡ʃi.t͡ʃaˈraɾ]</span>
   <link rel="mw:PageProp/Category" href="./Category:Spanish_4-syllable_words">
   <link rel="mw:PageProp/Category" href="./Category:Spanish_terms_with_IPA_pronunciation#ACHICHARRAR"></li>
  <li>Rhymes: <a rel="mw:WikiLink" href="./Rhymes:Spanish/aɾ?action=edit&amp;redlink=1" title="Rhymes:Spanish/aɾ" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Rhymes:Spanish/aɾ&quot;]}}"><span class="IPA">-aɾ</span></a>
   <link rel="mw:PageProp/Category" href="./Category:Rhymes:Spanish/aɾ#ACHICHARRAR">
   <link rel="mw:PageProp/Category" href="./Category:Rhymes:Spanish/aɾ/4_syllables#ACHICHARRAR"></li>
  <li>Syllabification: <span class="Latn" lang="es">a‧chi‧cha‧rrar</span></li>
 </ul>
</section>
<section data-mw-section-id="4" id="mwCQ">
 <h3 id="Verb">Verb</h3>
 <p id="mwCg"><span class="headword-line" about="#mwt3" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;es-verb&quot;,&quot;href&quot;:&quot;./Template:es-verb&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwCw"><strong class="Latn headword" lang="es">achicharrar</strong> (<i>first-person singular present</i> <b class="Latn" lang="es"><a rel="mw:WikiLink" href="./achicharro#Spanish" title="achicharro">achicharro</a></b>, <i>first-person singular preterite</i> <b class="Latn" lang="es"><a rel="mw:WikiLink" href="./achicharré#Spanish" title="achicharré">achicharré</a></b>, <i>past participle</i> <b class="Latn" lang="es"><a rel="mw:WikiLink" href="./achicharrado#Spanish" title="achicharrado">achicharrado</a></b>)</span>
  <link rel="mw:PageProp/Category" href="./Category:Spanish_lemmas#ACHICHARRAR" about="#mwt3">
  <link rel="mw:PageProp/Category" href="./Category:Spanish_verbs#ACHICHARRAR" about="#mwt3">
  <link rel="mw:PageProp/Category" href="./Category:Spanish_verbs_ending_in_-ar#ACHICHARRAR" about="#mwt3">
  <link rel="mw:PageProp/Category" href="./Category:Spanish_entries_with_incorrect_language_header#ACHICHARRAR" about="#mwt3" id="mwDA"></p>
 <ol id="mwDQ">
  <li id="mwDg"><span class="usage-label-sense" about="#mwt4" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;es&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;}},&quot;i&quot;:0}}]}" id="mwDw"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#transitive" title="Appendix:Glossary">transitive</a>
     <link rel="mw:PageProp/Category" href="./Category:Spanish_transitive_verbs#ACHICHARRAR"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./scorch" title="scorch" id="mwEA">scorch</a></li>
  <li id="mwEQ"><span class="usage-label-sense" about="#mwt5" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;es&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;intransitive&quot;}},&quot;i&quot;:0}}]}" id="mwEg"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#intransitive" title="Appendix:Glossary">intransitive</a>
     <link rel="mw:PageProp/Category" href="./Category:Spanish_intransitive_verbs#ACHICHARRAR"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./roast" title="roast" id="mwEw">roast</a>; <a rel="mw:WikiLink" href="./boil" title="boil" id="mwFA">boil</a> <span class="gloss-brac" about="#mwt6" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;gloss&quot;,&quot;href&quot;:&quot;./Template:gloss&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;be very hot&quot;}},&quot;i&quot;:0}}]}" id="mwFQ">(</span><span class="gloss-content" about="#mwt6"><span class="Latn" lang="en">be very hot</span></span><span class="gloss-brac" about="#mwt6" id="mwFg">)</span></li>
 </ol>
 <section data-mw-section-id="5" id="mwFw">
  <h4 id="Conjugation">Conjugation</h4>
  <div class="NavFrame" about="#mwt7" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;es-conj&quot;,&quot;href&quot;:&quot;./Template:es-conj&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwGA">
   <div class="NavHead" align="center">
    <span typeof="mw:Entity">&nbsp;</span> <span typeof="mw:Entity">&nbsp;</span> Conjugation of <i class="Latn mention" lang="es"><a rel="mw:WikiLink" href="./achicharrar#Spanish" class="mw-selflink-fragment">achicharrar</a></i> (See <a rel="mw:WikiLink" href="./Appendix:Spanish_verbs" title="Appendix:Spanish verbs">Appendix:Spanish verbs</a>)
   </div>
   <div class="NavContent">
    <table style="background:#F9F9F9;text-align:center;width:100%">
     <tbody>
      <tr>
       <th colspan="3" style="background:#e2e4c0"><span title="infinitivo">infinitive</span></th>
       <td colspan="5"><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrar#Spanish" class="mw-selflink-fragment">achicharrar</a></span></td>
      </tr>
      <tr>
       <th colspan="3" style="background:#e2e4c0"><span title="gerundio">gerund</span></th>
       <td colspan="5"><span class="Latn form-of lang-es gerund-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrando#Spanish" title="achicharrando">achicharrando</a></span></td>
      </tr>
      <tr>
       <th rowspan="3" colspan="2" style="background:#e2e4c0"><span title="participio (pasado)">past participle</span></th>
       <td colspan="2" style="background:#e2e4c0"></td>
       <th colspan="2" style="background:#e2e4c0"><span title="masculino">masculine</span></th>
       <th colspan="2" style="background:#e2e4c0"><span title="femenino">feminine</span></th>
      </tr>
      <tr>
       <th colspan="2" style="background:#e2e4c0">singular</th>
       <td colspan="2"><span class="Latn form-of lang-es pp￰ms-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrado#Spanish" title="achicharrado">achicharrado</a></span></td>
       <td colspan="2"><span class="Latn form-of lang-es pp￰fs-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrada#Spanish" title="achicharrada">achicharrada</a></span></td>
      </tr>
      <tr>
       <th colspan="2" style="background:#e2e4c0">plural</th>
       <td colspan="2"><span class="Latn form-of lang-es pp￰mp-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrados#Spanish" title="achicharrados">achicharrados</a></span></td>
       <td colspan="2"><span class="Latn form-of lang-es pp￰fp-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharradas#Spanish" title="achicharradas">achicharradas</a></span></td>
      </tr>
      <tr>
       <th colspan="2" rowspan="2" style="background:#DEDEDE"></th>
       <th colspan="3" style="background:#DEDEDE">singular</th>
       <th colspan="3" style="background:#DEDEDE">plural</th>
      </tr>
      <tr>
       <th style="background:#DEDEDE">1st person</th>
       <th style="background:#DEDEDE">2nd person</th>
       <th style="background:#DEDEDE">3rd person</th>
       <th style="background:#DEDEDE">1st person</th>
       <th style="background:#DEDEDE">2nd person</th>
       <th style="background:#DEDEDE">3rd person</th>
      </tr>
      <tr>
       <th rowspan="6" style="background:#c0cfe4"><span title="indicativo">indicative</span></th>
       <th style="background:#ECECEC;width:12.5%"></th>
       <th style="background:#ECECEC;width:12.5%">yo</th>
       <th style="background:#ECECEC;width:12.5%">tú<br>
        vos</th>
       <th style="background:#ECECEC;width:12.5%">él/ella/ello<br>
        usted</th>
       <th style="background:#ECECEC;width:12.5%">nosotros<br>
        nosotras</th>
       <th style="background:#ECECEC;width:12.5%">vosotros<br>
        vosotras</th>
       <th style="background:#ECECEC;width:12.5%">ellos/ellas<br>
        ustedes</th>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC"><span title="presente de indicativo">present</span></th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharro#Spanish" title="achicharro">achicharro</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharras#Spanish" title="achicharras">achicharras</a></span><sup><sup>tú</sup></sup><br><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrás#Spanish" title="achicharrás">achicharrás</a></span><sup><sup>vos</sup></sup></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharra#Spanish" title="achicharra">achicharra</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharramos#Spanish" title="achicharramos">achicharramos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharráis#Spanish" title="achicharráis">achicharráis</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharran#Spanish" title="achicharran">achicharran</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC"><span title="pretérito imperfecto (copréterito)">imperfect</span></th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraba#Spanish" title="achicharraba">achicharraba</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrabas#Spanish" title="achicharrabas">achicharrabas</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraba#Spanish" title="achicharraba">achicharraba</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrábamos#Spanish" title="achicharrábamos">achicharrábamos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrabais#Spanish" title="achicharrabais">achicharrabais</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraban#Spanish" title="achicharraban">achicharraban</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC"><span title="pretérito perfecto simple (pretérito indefinido)">preterite</span></th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharré#Spanish" title="achicharré">achicharré</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraste#Spanish" title="achicharraste">achicharraste</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharró#Spanish" title="achicharró">achicharró</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharramos#Spanish" title="achicharramos">achicharramos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrasteis#Spanish" title="achicharrasteis">achicharrasteis</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraron#Spanish" title="achicharraron">achicharraron</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC"><span title="futuro simple (futuro imperfecto)">future</span></th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraré#Spanish" title="achicharraré">achicharraré</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarás#Spanish" title="achicharrarás">achicharrarás</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrará#Spanish" title="achicharrará">achicharrará</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraremos#Spanish" title="achicharraremos">achicharraremos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraréis#Spanish" title="achicharraréis">achicharraréis</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarán#Spanish" title="achicharrarán">achicharrarán</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC"><span title="condicional simple (pospretérito de modo indicativo)">conditional</span></th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraría#Spanish" title="achicharraría">achicharraría</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarías#Spanish" title="achicharrarías">achicharrarías</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraría#Spanish" title="achicharraría">achicharraría</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraríamos#Spanish" title="achicharraríamos">achicharraríamos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraríais#Spanish" title="achicharraríais">achicharraríais</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarían#Spanish" title="achicharrarían">achicharrarían</a></span></td>
      </tr>
      <tr>
       <th style="background:#DEDEDE;height:.75em" colspan="8"></th>
      </tr>
      <tr>
       <th rowspan="5" style="background:#c0e4c0"><span title="subjuntivo">subjunctive</span></th>
       <th style="background:#ECECEC"></th>
       <th style="background:#ECECEC">yo</th>
       <th style="background:#ECECEC">tú<br>
        vos</th>
       <th style="background:#ECECEC">él/ella/ello<br>
        usted</th>
       <th style="background:#ECECEC">nosotros<br>
        nosotras</th>
       <th style="background:#ECECEC">vosotros<br>
        vosotras</th>
       <th style="background:#ECECEC">ellos/ellas<br>
        ustedes</th>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC"><span title="presente de subjuntivo">present</span></th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharre#Spanish" title="achicharre">achicharre</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharres#Spanish" title="achicharres">achicharres</a></span><sup><sup>tú</sup></sup><br><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrés#Spanish" title="achicharrés">achicharrés</a></span><sup><sup>vos<sup style="color:red">2</sup></sup></sup></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharre#Spanish" title="achicharre">achicharre</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharremos#Spanish" title="achicharremos">achicharremos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharréis#Spanish" title="achicharréis">achicharréis</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharren#Spanish" title="achicharren">achicharren</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC"><span title="pretérito imperfecto de subjuntivo">imperfect</span><br>
        (ra)</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrara#Spanish" title="achicharrara">achicharrara</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraras#Spanish" title="achicharraras">achicharraras</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrara#Spanish" title="achicharrara">achicharrara</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharráramos#Spanish" title="achicharráramos">achicharráramos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarais#Spanish" title="achicharrarais">achicharrarais</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraran#Spanish" title="achicharraran">achicharraran</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC"><span title="pretérito imperfecto de subjuntivo">imperfect</span><br>
        (se)</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrase#Spanish" title="achicharrase">achicharrase</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrases#Spanish" title="achicharrases">achicharrases</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrase#Spanish" title="achicharrase">achicharrase</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrásemos#Spanish" title="achicharrásemos">achicharrásemos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraseis#Spanish" title="achicharraseis">achicharraseis</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrasen#Spanish" title="achicharrasen">achicharrasen</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC"><span title="futuro simple de subjuntivo (futuro de subjuntivo)">future</span><sup style="color:red">1</sup></th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrare#Spanish" title="achicharrare">achicharrare</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrares#Spanish" title="achicharrares">achicharrares</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrare#Spanish" title="achicharrare">achicharrare</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharráremos#Spanish" title="achicharráremos">achicharráremos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrareis#Spanish" title="achicharrareis">achicharrareis</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraren#Spanish" title="achicharraren">achicharraren</a></span></td>
      </tr>
      <tr>
       <th style="background:#DEDEDE;height:.75em" colspan="8"></th>
      </tr>
      <tr>
       <th rowspan="6" style="background:#e4d4c0"><span title="imperativo">imperative</span></th>
       <th style="background:#ECECEC"></th>
       <th style="background:#ECECEC">—</th>
       <th style="background:#ECECEC">tú<br>
        vos</th>
       <th style="background:#ECECEC">usted</th>
       <th style="background:#ECECEC">nosotros<br>
        nosotras</th>
       <th style="background:#ECECEC">vosotros<br>
        vosotras</th>
       <th style="background:#ECECEC">ustedes</th>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC"><span title="imperativo afirmativo">affirmative</span></th>
       <td></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharra#Spanish" title="achicharra">achicharra</a></span><sup><sup>tú</sup></sup><br><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrá#Spanish" title="achicharrá">achicharrá</a></span><sup><sup>vos</sup></sup></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharre#Spanish" title="achicharre">achicharre</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharremos#Spanish" title="achicharremos">achicharremos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrad#Spanish" title="achicharrad">achicharrad</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharren#Spanish" title="achicharren">achicharren</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC"><span title="imperativo negativo">negative</span></th>
       <td></td>
       <td><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./no#Spanish" title="no">no</a> <a rel="mw:WikiLink" href="./achicharres#Spanish" title="achicharres">achicharres</a></span></td>
       <td><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./no#Spanish" title="no">no</a> <a rel="mw:WikiLink" href="./achicharre#Spanish" title="achicharre">achicharre</a></span></td>
       <td><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./no#Spanish" title="no">no</a> <a rel="mw:WikiLink" href="./achicharremos#Spanish" title="achicharremos">achicharremos</a></span></td>
       <td><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./no#Spanish" title="no">no</a> <a rel="mw:WikiLink" href="./achicharréis#Spanish" title="achicharréis">achicharréis</a></span></td>
       <td><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./no#Spanish" title="no">no</a> <a rel="mw:WikiLink" href="./achicharren#Spanish" title="achicharren">achicharren</a></span></td>
      </tr>
     </tbody>
    </table>
    <div style="width:100%;text-align:left;background:#d9ebff">
     <div style="display:inline-block;text-align:left;padding-left:1em;padding-right:1em">
      <p><sup style="color: red">1</sup>Mostly obsolete, now mainly used in legal language.<br><sup style="color: red">2</sup>Argentine and Uruguayan <i class="Latn mention" lang="es"><a rel="mw:WikiLink" href="./voseo#Spanish" title="voseo">voseo</a></i> prefers the <i class="Latn mention" lang="es"><a rel="mw:WikiLink" href="./tú#Spanish" title="tú">tú</a></i> form for the present subjunctive.</p>
     </div>
    </div>
   </div>
  </div><span about="#mwt7"> </span>
  <div class="NavFrame" about="#mwt7">
   <div class="NavHead" align="center">
    <span typeof="mw:Entity">&nbsp;</span> <span typeof="mw:Entity">&nbsp;</span> Selected combined forms of <i class="Latn mention" lang="es"><a rel="mw:WikiLink" href="./achicharrar#Spanish" class="mw-selflink-fragment">achicharrar</a></i>
   </div>
   <div class="NavContent">
    <p>These forms are generated automatically and may not actually be used. Pronoun usage varies by region.</p>
    <table class="inflection-table" style="background:#F9F9F9;text-align:center;width:100%">
     <tbody>
      <tr>
       <th colspan="2" rowspan="2" style="background:#DEDEDE"></th>
       <th colspan="3" style="background:#DEDEDE">singular</th>
       <th colspan="3" style="background:#DEDEDE">plural</th>
      </tr>
      <tr>
       <th style="background:#DEDEDE">1st person</th>
       <th style="background:#DEDEDE">2nd person</th>
       <th style="background:#DEDEDE">3rd person</th>
       <th style="background:#DEDEDE">1st person</th>
       <th style="background:#DEDEDE">2nd person</th>
       <th style="background:#DEDEDE">3rd person</th>
      </tr>
      <tr>
       <th rowspan="3" style="background:#c0cfe4">with infinitive <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrar#Spanish" class="mw-selflink-fragment">achicharrar</a></span></th>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">dative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarme#Spanish" title="achicharrarme">achicharrarme</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarte#Spanish" title="achicharrarte">achicharrarte</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarle#Spanish" title="achicharrarle">achicharrarle</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarse#Spanish" title="achicharrarse">achicharrarse</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarnos#Spanish" title="achicharrarnos">achicharrarnos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraros#Spanish" title="achicharraros">achicharraros</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarles#Spanish" title="achicharrarles">achicharrarles</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarse#Spanish" title="achicharrarse">achicharrarse</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">accusative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarme#Spanish" title="achicharrarme">achicharrarme</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarte#Spanish" title="achicharrarte">achicharrarte</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarlo#Spanish" title="achicharrarlo">achicharrarlo</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarla#Spanish" title="achicharrarla">achicharrarla</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarse#Spanish" title="achicharrarse">achicharrarse</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarnos#Spanish" title="achicharrarnos">achicharrarnos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraros#Spanish" title="achicharraros">achicharraros</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarlos#Spanish" title="achicharrarlos">achicharrarlos</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarlas#Spanish" title="achicharrarlas">achicharrarlas</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrarse#Spanish" title="achicharrarse">achicharrarse</a></span></td>
      </tr>
      <tr>
       <th style="background:#DEDEDE;height:.35em" colspan="8"></th>
      </tr>
      <tr>
       <th rowspan="3" style="background:#d0cfa4">with gerund <span class="Latn form-of lang-es gerund-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrando#Spanish" title="achicharrando">achicharrando</a></span></th>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">dative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándome#Spanish" title="achicharrándome">achicharrándome</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándote#Spanish" title="achicharrándote">achicharrándote</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándole#Spanish" title="achicharrándole">achicharrándole</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándose#Spanish" title="achicharrándose">achicharrándose</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándonos#Spanish" title="achicharrándonos">achicharrándonos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándoos#Spanish" title="achicharrándoos">achicharrándoos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándoles#Spanish" title="achicharrándoles">achicharrándoles</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándose#Spanish" title="achicharrándose">achicharrándose</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">accusative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándome#Spanish" title="achicharrándome">achicharrándome</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándote#Spanish" title="achicharrándote">achicharrándote</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándolo#Spanish" title="achicharrándolo">achicharrándolo</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándola#Spanish" title="achicharrándola">achicharrándola</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándose#Spanish" title="achicharrándose">achicharrándose</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándonos#Spanish" title="achicharrándonos">achicharrándonos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándoos#Spanish" title="achicharrándoos">achicharrándoos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándolos#Spanish" title="achicharrándolos">achicharrándolos</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándolas#Spanish" title="achicharrándolas">achicharrándolas</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrándose#Spanish" title="achicharrándose">achicharrándose</a></span></td>
      </tr>
      <tr>
       <th style="background:#DEDEDE;height:.35em" colspan="8"></th>
      </tr>
      <tr>
       <th rowspan="3" style="background:#f2caa4">with informal second-person singular <i>tú</i> imperative <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharra#Spanish" title="achicharra">achicharra</a></span></th>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">dative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrame?action=edit&amp;redlink=1#Spanish" title="achichárrame" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrame&quot;]}}">achichárrame</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrate?action=edit&amp;redlink=1#Spanish" title="achichárrate" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrate&quot;]}}">achichárrate</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrale?action=edit&amp;redlink=1#Spanish" title="achichárrale" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrale&quot;]}}">achichárrale</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárranos?action=edit&amp;redlink=1#Spanish" title="achichárranos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárranos&quot;]}}">achichárranos</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrales?action=edit&amp;redlink=1#Spanish" title="achichárrales" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrales&quot;]}}">achichárrales</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">accusative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrame?action=edit&amp;redlink=1#Spanish" title="achichárrame" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrame&quot;]}}">achichárrame</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrate?action=edit&amp;redlink=1#Spanish" title="achichárrate" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrate&quot;]}}">achichárrate</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárralo?action=edit&amp;redlink=1#Spanish" title="achichárralo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárralo&quot;]}}">achichárralo</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrala?action=edit&amp;redlink=1#Spanish" title="achichárrala" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrala&quot;]}}">achichárrala</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárranos?action=edit&amp;redlink=1#Spanish" title="achichárranos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárranos&quot;]}}">achichárranos</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárralos?action=edit&amp;redlink=1#Spanish" title="achichárralos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárralos&quot;]}}">achichárralos</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárralas?action=edit&amp;redlink=1#Spanish" title="achichárralas" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárralas&quot;]}}">achichárralas</a></span></td>
      </tr>
      <tr>
       <th style="background:#DEDEDE;height:.35em" colspan="8"></th>
      </tr>
      <tr>
       <th rowspan="3" style="background:#f2caa4">with informal second-person singular <i>vos</i> imperative <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrá#Spanish" title="achicharrá">achicharrá</a></span></th>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">dative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrame?action=edit&amp;redlink=1#Spanish" title="achicharrame" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrame&quot;]}}">achicharrame</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrate?action=edit&amp;redlink=1#Spanish" title="achicharrate" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrate&quot;]}}">achicharrate</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrale?action=edit&amp;redlink=1#Spanish" title="achicharrale" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrale&quot;]}}">achicharrale</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharranos?action=edit&amp;redlink=1#Spanish" title="achicharranos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharranos&quot;]}}">achicharranos</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrales?action=edit&amp;redlink=1#Spanish" title="achicharrales" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrales&quot;]}}">achicharrales</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">accusative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrame?action=edit&amp;redlink=1#Spanish" title="achicharrame" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrame&quot;]}}">achicharrame</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrate?action=edit&amp;redlink=1#Spanish" title="achicharrate" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrate&quot;]}}">achicharrate</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharralo?action=edit&amp;redlink=1#Spanish" title="achicharralo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharralo&quot;]}}">achicharralo</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrala?action=edit&amp;redlink=1#Spanish" title="achicharrala" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrala&quot;]}}">achicharrala</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharranos?action=edit&amp;redlink=1#Spanish" title="achicharranos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharranos&quot;]}}">achicharranos</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharralos?action=edit&amp;redlink=1#Spanish" title="achicharralos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharralos&quot;]}}">achicharralos</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharralas?action=edit&amp;redlink=1#Spanish" title="achicharralas" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharralas&quot;]}}">achicharralas</a></span></td>
      </tr>
      <tr>
       <th style="background:#DEDEDE;height:.35em" colspan="8"></th>
      </tr>
      <tr>
       <th rowspan="3" style="background:#f2caa4">with formal second-person singular imperative <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharre#Spanish" title="achicharre">achicharre</a></span></th>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">dative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárreme?action=edit&amp;redlink=1#Spanish" title="achichárreme" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárreme&quot;]}}">achichárreme</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrele?action=edit&amp;redlink=1#Spanish" title="achichárrele" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrele&quot;]}}">achichárrele</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrese?action=edit&amp;redlink=1#Spanish" title="achichárrese" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrese&quot;]}}">achichárrese</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrenos?action=edit&amp;redlink=1#Spanish" title="achichárrenos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrenos&quot;]}}">achichárrenos</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárreles?action=edit&amp;redlink=1#Spanish" title="achichárreles" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárreles&quot;]}}">achichárreles</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">accusative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárreme?action=edit&amp;redlink=1#Spanish" title="achichárreme" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárreme&quot;]}}">achichárreme</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrelo?action=edit&amp;redlink=1#Spanish" title="achichárrelo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrelo&quot;]}}">achichárrelo</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrela?action=edit&amp;redlink=1#Spanish" title="achichárrela" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrela&quot;]}}">achichárrela</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrese?action=edit&amp;redlink=1#Spanish" title="achichárrese" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrese&quot;]}}">achichárrese</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrenos?action=edit&amp;redlink=1#Spanish" title="achichárrenos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrenos&quot;]}}">achichárrenos</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrelos?action=edit&amp;redlink=1#Spanish" title="achichárrelos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrelos&quot;]}}">achichárrelos</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrelas?action=edit&amp;redlink=1#Spanish" title="achichárrelas" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrelas&quot;]}}">achichárrelas</a></span></td>
      </tr>
      <tr>
       <th style="background:#DEDEDE;height:.35em" colspan="8"></th>
      </tr>
      <tr>
       <th rowspan="3" style="background:#f2caa4">with first-person plural imperative <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharremos#Spanish" title="achicharremos">achicharremos</a></span></th>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">dative</th>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémoste?action=edit&amp;redlink=1#Spanish" title="achicharrémoste" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémoste&quot;]}}">achicharrémoste</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémosle?action=edit&amp;redlink=1#Spanish" title="achicharrémosle" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémosle&quot;]}}">achicharrémosle</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémonos?action=edit&amp;redlink=1#Spanish" title="achicharrémonos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémonos&quot;]}}">achicharrémonos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémoos?action=edit&amp;redlink=1#Spanish" title="achicharrémoos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémoos&quot;]}}">achicharrémoos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémosles?action=edit&amp;redlink=1#Spanish" title="achicharrémosles" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémosles&quot;]}}">achicharrémosles</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">accusative</th>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémoste?action=edit&amp;redlink=1#Spanish" title="achicharrémoste" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémoste&quot;]}}">achicharrémoste</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémoslo?action=edit&amp;redlink=1#Spanish" title="achicharrémoslo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémoslo&quot;]}}">achicharrémoslo</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémosla?action=edit&amp;redlink=1#Spanish" title="achicharrémosla" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémosla&quot;]}}">achicharrémosla</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémonos?action=edit&amp;redlink=1#Spanish" title="achicharrémonos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémonos&quot;]}}">achicharrémonos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémoos?action=edit&amp;redlink=1#Spanish" title="achicharrémoos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémoos&quot;]}}">achicharrémoos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémoslos?action=edit&amp;redlink=1#Spanish" title="achicharrémoslos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémoslos&quot;]}}">achicharrémoslos</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrémoslas?action=edit&amp;redlink=1#Spanish" title="achicharrémoslas" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharrémoslas&quot;]}}">achicharrémoslas</a></span></td>
      </tr>
      <tr>
       <th style="background:#DEDEDE;height:.35em" colspan="8"></th>
      </tr>
      <tr>
       <th rowspan="3" style="background:#f2caa4">with informal second-person plural imperative <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharrad#Spanish" title="achicharrad">achicharrad</a></span></th>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">dative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharradme?action=edit&amp;redlink=1#Spanish" title="achicharradme" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharradme&quot;]}}">achicharradme</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharradle?action=edit&amp;redlink=1#Spanish" title="achicharradle" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharradle&quot;]}}">achicharradle</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharradnos?action=edit&amp;redlink=1#Spanish" title="achicharradnos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharradnos&quot;]}}">achicharradnos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraos?action=edit&amp;redlink=1#Spanish" title="achicharraos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharraos&quot;]}}">achicharraos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharradles?action=edit&amp;redlink=1#Spanish" title="achicharradles" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharradles&quot;]}}">achicharradles</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">accusative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharradme?action=edit&amp;redlink=1#Spanish" title="achicharradme" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharradme&quot;]}}">achicharradme</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharradlo?action=edit&amp;redlink=1#Spanish" title="achicharradlo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharradlo&quot;]}}">achicharradlo</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharradla?action=edit&amp;redlink=1#Spanish" title="achicharradla" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharradla&quot;]}}">achicharradla</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharradnos?action=edit&amp;redlink=1#Spanish" title="achicharradnos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharradnos&quot;]}}">achicharradnos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharraos?action=edit&amp;redlink=1#Spanish" title="achicharraos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharraos&quot;]}}">achicharraos</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharradlos?action=edit&amp;redlink=1#Spanish" title="achicharradlos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharradlos&quot;]}}">achicharradlos</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharradlas?action=edit&amp;redlink=1#Spanish" title="achicharradlas" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achicharradlas&quot;]}}">achicharradlas</a></span></td>
      </tr>
      <tr>
       <th style="background:#DEDEDE;height:.35em" colspan="8"></th>
      </tr>
      <tr>
       <th rowspan="3" style="background:#f2caa4">with formal second-person plural imperative <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achicharren#Spanish" title="achicharren">achicharren</a></span></th>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">dative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrenme?action=edit&amp;redlink=1#Spanish" title="achichárrenme" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrenme&quot;]}}">achichárrenme</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrenle?action=edit&amp;redlink=1#Spanish" title="achichárrenle" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrenle&quot;]}}">achichárrenle</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrennos?action=edit&amp;redlink=1#Spanish" title="achichárrennos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrennos&quot;]}}">achichárrennos</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrenles?action=edit&amp;redlink=1#Spanish" title="achichárrenles" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrenles&quot;]}}">achichárrenles</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrense?action=edit&amp;redlink=1#Spanish" title="achichárrense" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrense&quot;]}}">achichárrense</a></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#ECECEC">accusative</th>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrenme?action=edit&amp;redlink=1#Spanish" title="achichárrenme" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrenme&quot;]}}">achichárrenme</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrenlo?action=edit&amp;redlink=1#Spanish" title="achichárrenlo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrenlo&quot;]}}">achichárrenlo</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrenla?action=edit&amp;redlink=1#Spanish" title="achichárrenla" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrenla&quot;]}}">achichárrenla</a></span></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrennos?action=edit&amp;redlink=1#Spanish" title="achichárrennos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrennos&quot;]}}">achichárrennos</a></span></td>
       <td><i>not used</i></td>
       <td><span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrenlos?action=edit&amp;redlink=1#Spanish" title="achichárrenlos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrenlos&quot;]}}">achichárrenlos</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrenlas?action=edit&amp;redlink=1#Spanish" title="achichárrenlas" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrenlas&quot;]}}">achichárrenlas</a></span>, <span class="Latn form-of lang-es verb-form-achicharrar-form-of     origin-achicharrar   " lang="es"><a rel="mw:WikiLink" href="./achichárrense?action=edit&amp;redlink=1#Spanish" title="achichárrense" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;achichárrense&quot;]}}">achichárrense</a></span></td>
      </tr>
     </tbody>
    </table>
   </div>
  </div><span about="#mwt7"> </span>
  <link rel="mw:PageProp/Category" href="./Category:Spanish_verbs_ending_in_-ar#ACHICHARRAR" about="#mwt7" id="mwGQ">
 </section>
 <section data-mw-section-id="6" id="mwGg">
  <h4 id="Derived_terms">Derived terms</h4>
  <div class="list-switcher" data-toggle-category="derived terms" about="#mwt8" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;col-auto&quot;,&quot;href&quot;:&quot;./Template:col-auto&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;es&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;achicharrante&quot;}},&quot;i&quot;:0}}]}" id="mwGw">
   <div class="derivedterms term-list ul-column-count" data-column-count="1" style="background-color:#F8F8FF">
    <ul>
     <li><span class="Latn" lang="es"><a rel="mw:WikiLink" href="./achicharrante#Spanish" title="achicharrante">achicharrante</a></span></li>
    </ul>
   </div>
   <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display:none">
    &nbsp;
   </div>
  </div>
 </section>
</section>
<section data-mw-section-id="7" id="mwHA">
 <h3 id="Further_reading">Further reading</h3>
 <ul id="mwHQ">
  <li id="mwHg"><span class="citation-whole" about="#mwt9" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:es:DRAE&quot;,&quot;href&quot;:&quot;./Template:R:es:DRAE&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwHw"><span class="cited-source">“<a rel="mw:ExtLink nofollow" href="https://dle.rae.es/achicharrar" class="external text">achicharrar</a>”, in <cite><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Diccionario%20de%20la%20lengua%20española" title="w:Diccionario de la lengua española" class="extiw">Diccionario de la lengua española</a>, Vigésima tercera edición</cite>, Real Academia Española, <span class="None" lang="und">2014</span></span></span></li>
 </ul>
</section>
