<p id="mwHg">
    <strong class="Latn headword" lang="de" about="#mwt13" typeof="mw:Transclusion"
            data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;de-noun&quot;,&quot;href&quot;:&quot;./Template:de-noun&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;f&quot;},&quot;dim&quot;:{&quot;wt&quot;:&quot;^chen,^lein&quot;}},&quot;i&quot;:0}}]}"
            id="mwHw">
        Flasche
    </strong>

    <span typeof="mw:Entity" about="#mwt13">&nbsp;</span>

    <span class="gender" about="#mwt13">
        <abbr title="feminine gender">f</abbr>
    </span>

    <span about="#mwt13"> (</span>

    <i about="#mwt13">genitive</i>
    <span about="#mwt13"> </span>
    <b class="Latn" lang="de" about="#mwt13">
        <strong class="selflink">Flasche</strong>
    </b>
    <span about="#mwt13">,</span>

    <i about="#mwt13">plural</i>
    <span about="#mwt13"> </span>
    <b class="Latn" lang="de" about="#mwt13">
        <a rel="mw:WikiLink" href="./Flaschen#German" title="Flaschen">Flaschen</a>
    </b>
    <span about="#mwt13">,</span>

    <i about="#mwt13">diminutive</i>
    <span about="#mwt13"> </span>
    <b class="Latn form-of lang-de diminutive-form-of        " lang="de" about="#mwt13">
        <a rel="mw:WikiLink" href="./Fläschchen#German" title="Fläschchen">Fläschchen</a>
    </b>
    <span typeof="mw:Entity" about="#mwt13">&nbsp;</span>
    <span class="gender" about="#mwt13">
        <abbr title="neuter gender">n</abbr>
    </span>
    
    <span about="#mwt13"> </span><i about="#mwt13">or</i>
    <span about="#mwt13"> </span>

    <b class="Latn form-of lang-de diminutive-form-of        " lang="de" about="#mwt13">
        <a rel="mw:WikiLink" href="./Fläschlein?action=edit&amp;redlink=1#German" title="Fläschlein" class="new"
        typeof="mw:LocalizedAttrs"
        data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Fläschlein&quot;]}}">
            Fläschlein
        </a>
    </b>
    <span typeof="mw:Entity" about="#mwt13">&nbsp;</span>
    <span class="gender" about="#mwt13">
        <abbr title="neuter gender">n</abbr>
    </span>

    <span about="#mwt13">)</span>

    <link rel="mw:PageProp/Category" href="./Category:German_lemmas#FLASCHE" about="#mwt13">
    <link rel="mw:PageProp/Category" href="./Category:German_nouns#FLASCHE" about="#mwt13">
    <link rel="mw:PageProp/Category" href="./Category:German_feminine_nouns#FLASCHE" about="#mwt13" id="mwIA">
</p>