<p data-parsoid='{"dsr":[0,23,0,0]}'>
    <strong class="Latn headword" lang="en" about="#mwt1" typeof="mw:Transclusion"
                                             data-parsoid='{"stx":"html","dsr":[0,23,null,null],"pi":[[{"k":"1"},{"k":"2"}]]}'
                                             data-mw='{"parts":[{"template":{"target":{"wt":"en-noun","href":"./Template:en-noun"},"params":{"1":{"wt":"albatross"},"2":{"wt":"+"}},"i":0}}]}'>
            albatross
    </strong>
    <span
        about="#mwt1"> (</span><i about="#mwt1">plural</i><span about="#mwt1"> </span>
    <b class="Latn form-of lang-en p-form-of       " lang="en" about="#mwt1"><strong
        class="selflink">albatross</strong></b>
    <span about="#mwt1"> </span><i about="#mwt1">or</i>
    <span about="#mwt1"> </span>
    <b class="Latn form-of lang-en p-form-of       " lang="en" about="#mwt1">
        <a rel="mw:WikiLink" href="./albatrosses#English" title="albatrosses" class="new">albatrosses</a>
    </b>
    <span about="#mwt1">)</span>
    <link rel="mw:PageProp/Category" href="./Category:English_lemmas#ALBATROSS" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:English_nouns#ALBATROSS" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:English_countable_nouns#ALBATROSS" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:English_indeclinable_nouns#ALBATROSS" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:English_nouns_with_irregular_plurals#ALBATROSS" about="#mwt1"
          data-parsoid='{"stx":"piped","a":{"href":"./Category:English_nouns_with_irregular_plurals"},"sa":{"href":"Category:English nouns with irregular plurals"}}'/>
</p>