<section data-mw-section-id="3" id="mwDg">
    <h3 id="Verb">Verb</h3>
    <p id="mwDw"><strong class="Latn headword" lang="en" about="#mwt7" typeof="mw:Transclusion"
                         data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;head&quot;,&quot;href&quot;:&quot;./Template:head&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;verb form&quot;}},&quot;i&quot;:0}}]}"
                         id="mwEA">played</strong>
        <link rel="mw:PageProp/Category" href="./Category:English_non-lemma_forms#PLAYED" about="#mwt7">
        <link rel="mw:PageProp/Category" href="./Category:English_verb_forms#PLAYED" about="#mwt7" id="mwEQ">
    </p>
</section>
