<section data-mw-section-id="3" id="mwCA">
 <h3 id="Verb">Verb</h3>
 <p id="mwCQ"><strong class="Latn headword" lang="de" about="#mwt4" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;head&quot;,&quot;href&quot;:&quot;./Template:head&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;de&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;verb form&quot;}},&quot;i&quot;:0}}]}" id="mwCg"><a rel="mw:WikiLink" href="./haltest#German" title="haltest">haltest</a> <a rel="mw:WikiLink" href="./ab#German" title="ab">ab</a></strong>
  <link rel="mw:PageProp/Category" href="./Category:German_non-lemma_forms#HALTEST%20AB" about="#mwt4">
  <link rel="mw:PageProp/Category" href="./Category:German_verb_forms#HALTEST%20AB" about="#mwt4" id="mwCw"></p>
 <ol id="mwDA">
  <li id="mwDQ"><span class="form-of-definition use-with-mention" about="#mwt5" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;verb form of&quot;,&quot;href&quot;:&quot;./Template:verb_form_of&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;de&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;abhalten&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;2&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;s&quot;},&quot;6&quot;:{&quot;wt&quot;:&quot;sub&quot;},&quot;7&quot;:{&quot;wt&quot;:&quot;I&quot;}},&quot;i&quot;:0}}]}" id="mwDg"><a rel="mw:WikiLink" href="./Appendix:Glossary#second_person" title="Appendix:Glossary">second-person</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#singular_number" title="Appendix:Glossary">singular</a> <a rel="mw:WikiLink" href="./Appendix:Glossary#subjunctive_mood" title="Appendix:Glossary">subjunctive</a> I of <span class="form-of-definition-link"><i class="Latn mention" lang="de"><a rel="mw:WikiLink" href="./abhalten#German" title="abhalten">abhalten</a></i></span></span></li>
 </ol>
</section>
