<p about="#mwt4"><span id="Japanese:_オナニー" class="senseid"><strong class="Jpan headword" lang="ja">オナニー</strong></span>
    <a rel="mw:WikiLink" href="./Wiktionary:Japanese_transliteration" title="Wiktionary:Japanese transliteration">•</a>
    (<span class="headword-tr tr" dir="ltr"><a rel="mw:WikiLink" href="./onanī#Japanese" title="onanī">onanī</a></span>)<span
            typeof="mw:Entity">&nbsp;</span><i></i></p>