<span id="Japanese:_まち" class="senseid" about="#mwt47" typeof="mw:Transclusion"
      data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-noun&quot;,&quot;href&quot;:&quot;./Template:ja-noun&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;まち&quot;}},&quot;i&quot;:0}}]}">
    <strong
        class="Jpan headword" lang="ja">
        <ruby>街<rp>(</rp>
          <rt>
            <a rel="mw:WikiLink" href="./まち#Japanese" title="まち">まち</a>
          </rt>
          <rp>)</rp>
        </ruby>
    </strong>
    </span>
<span about="#mwt47"> </span>
<a rel="mw:WikiLink" href="./Wiktionary:Japanese_transliteration" title="Wiktionary:Japanese transliteration"
   about="#mwt47">•</a><span about="#mwt47"> (</span><span
    class="headword-tr tr" dir="ltr" about="#mwt47"><a rel="mw:WikiLink" href="./machi#Japanese"
                                                       title="machi">machi</a></span><span
    about="#mwt47">)</span><span typeof="mw:Entity" about="#mwt47">&nbsp;</span>
<i about="#mwt47"></i>