<p data-parsoid='{"dsr":[0,31,0,0]}'>
    <strong class="Kore headword" lang="ko" about="#mwt1" typeof="mw:Transclusion"
            data-parsoid='{"stx":"html","dsr":[0,31,null,null],"pi":[[{"k":"hanja","named":true}]]}'
            data-mw='{"parts":[{"template":{"target":{"wt":"ko-noun","href":"./Template:ko-noun"},"params":{"hanja":{"wt":"[[椰子樹]]"}},"i":0}}]}'>야자수</strong>
    <span about="#mwt1"> (</span>
    <span lang="ko-Latn" class="headword-tr manual-tr tr Latn" dir="ltr"
          about="#mwt1">yajasu</span>
    <span about="#mwt1">) (</span><i about="#mwt1">hanja</i><span about="#mwt1"></span>
        <b class="Kore" lang="ko" about="#mwt1">
            <a rel="mw:WikiLink" href="./椰子樹#Korean" title="椰子樹" class="new">椰子樹</a>
        </b>
    <span about="#mwt1">)</span>
    <link rel="mw:PageProp/Category" href="./Category:Korean_lemmas#야자수" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Korean_nouns#야자수" about="#mwt1"
          data-parsoid='{"stx":"piped","a":{"href":"./Category:Korean_nouns"},"sa":{"href":"Category:Korean nouns"}}'/>
</p>