<p data-parsoid='{"dsr":[0,20,0,0]}'>
    <strong class="Latn headword"
            lang="la"
            about="#mwt1"
            typeof="mw:Transclusion"
            data-parsoid='{"stx":"html","dsr":[0,20,null,null],"pi":[[{"k":"1"}]]}'
            data-mw='{"parts":[{"template":{"target":{"wt":"la-noun","href":"./Template:la-noun"},"params":{"1":{"wt":"pīla&lt;1>"}},"i":0}}]}'>
        pīla
    </strong>

    <span typeof="mw:Entity" about="#mwt1"> </span>
    <span class="gender" about="#mwt1">
        <abbr title="feminine gender">f</abbr>
    </span>
    <span about="#mwt1"> (</span>
    <i about="#mwt1">genitive</i>
    <span about="#mwt1"> </span>
    <b class="Latn" lang="la" about="#mwt1">
        <a rel="mw:WikiLink" href="./pilae#Latin" title="pilae" class="new">pīlae</a>
    </b>
    <span about="#mwt1">)</span>

    <link rel="mw:PageProp/Category" href="./Category:Latin_lemmas#PILA" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Latin_nouns#PILA" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Latin_feminine_nouns#PILA" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Latin_first_declension_nouns#PILA" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Latin_feminine_nouns_in_the_first_declension#PILA" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Latin_nouns_with_red_links_in_their_declension_tables#PILA" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Latin_feminine_nouns#PILA" about="#mwt1"/>

    <span about="#mwt1">; </span>
    <i about="#mwt1">
        <a rel="mw:WikiLink"
           href="./Appendix:Latin_first_declension"
           title="Appendix:Latin first declension">first declension</a>
    </i>
</p>