<section data-mw-section-id="4" id="mwEw">
    <h3 id="Noun">Noun</h3>
    <p id="mwFA"><strong class="Latn headword" lang="de" about="#mwt10" typeof="mw:Transclusion"
                         data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;de-noun&quot;,&quot;href&quot;:&quot;./Template:de-noun&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;m,s:-,s&quot;}},&quot;i&quot;:0}}]}"
                         id="mwFQ">Wessi</strong><span typeof="mw:Entity" about="#mwt10">&nbsp;</span><span
            class="gender" about="#mwt10"><abbr title="masculine gender">m</abbr></span><span about="#mwt10"> (</span><i
            about="#mwt10"><a rel="mw:WikiLink" href="./Appendix:Glossary#strong_declension" title="Appendix:Glossary">strong</a></i><span
            about="#mwt10">, </span><i about="#mwt10">genitive</i><span about="#mwt10"> </span><b class="Latn" lang="de"
                                                                                                  about="#mwt10"><a
            rel="mw:WikiLink" href="./Wessis#German" title="Wessis">Wessis</a></b><span about="#mwt10"> </span><i
            about="#mwt10">or</i><span about="#mwt10"> </span><b class="Latn" lang="de" about="#mwt10"><strong
            class="selflink">Wessi</strong></b><span about="#mwt10">, </span><i about="#mwt10">plural</i><span
            about="#mwt10"> </span><b class="Latn" lang="de" about="#mwt10"><a rel="mw:WikiLink" href="./Wessis#German"
                                                                               title="Wessis">Wessis</a></b><span
            about="#mwt10">)</span>
        <link rel="mw:PageProp/Category" href="./Category:German_lemmas#WESSI" about="#mwt10">
        <link rel="mw:PageProp/Category" href="./Category:German_nouns#WESSI" about="#mwt10">
        <link rel="mw:PageProp/Category" href="./Category:German_masculine_nouns#WESSI" about="#mwt10" id="mwFg">
        <i id="mwFw">or</i><br id="mwGA"><strong class="Latn headword" lang="de" about="#mwt11" typeof="mw:Transclusion"
                                                 data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;de-noun&quot;,&quot;href&quot;:&quot;./Template:de-noun&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;f[referring to a female],s&quot;}},&quot;i&quot;:0}}]}"
                                                 id="mwGQ">Wessi</strong><span typeof="mw:Entity"
                                                                               about="#mwt11">&nbsp;</span><span
                class="gender" about="#mwt11"><span class="ib-brac qualifier-brac">(</span><span
                class="ib-content qualifier-content">referring to a female</span><span
                class="ib-brac qualifier-brac">)</span> <abbr title="feminine gender">f</abbr></span><span
                about="#mwt11"> (</span><i about="#mwt11">genitive</i><span about="#mwt11"> </span><b class="Latn"
                                                                                                      lang="de"
                                                                                                      about="#mwt11"><strong
                class="selflink">Wessi</strong></b><span about="#mwt11">, </span><i about="#mwt11">plural</i><span
                about="#mwt11"> </span><b class="Latn" lang="de" about="#mwt11"><a rel="mw:WikiLink"
                                                                                   href="./Wessis#German"
                                                                                   title="Wessis">Wessis</a></b><span
                about="#mwt11">)</span>
        <link rel="mw:PageProp/Category" href="./Category:German_lemmas#WESSI" about="#mwt11">
        <link rel="mw:PageProp/Category" href="./Category:German_nouns#WESSI" about="#mwt11">
        <link rel="mw:PageProp/Category" href="./Category:German_feminine_nouns#WESSI" about="#mwt11" id="mwGg">
    </p>
</section>