<p id="mwsA"><strong class="Cyrl headword" lang="ru" about="#mwt55" typeof="mw:Transclusion"
                     data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ru-noun+&quot;,&quot;href&quot;:&quot;./Template:ru-noun+&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;c&quot;},&quot;loc&quot;:{&quot;wt&quot;:&quot;+&quot;},&quot;adj&quot;:{&quot;wt&quot;:&quot;мирово́й&quot;},&quot;adj2&quot;:{&quot;wt&quot;:&quot;мирско́й&quot;},&quot;dim&quot;:{&quot;wt&quot;:&quot;миро́к&quot;}},&quot;i&quot;:0}}]}"
                     id="mwsQ">мир</strong><span about="#mwt55"> </span><a rel="mw:WikiLink"
                                                                           href="./Wiktionary:Russian_transliteration"
                                                                           title="Wiktionary:Russian transliteration"
                                                                           about="#mwt55">•</a><span
        about="#mwt55"> (</span><span lang="ru-Latn" class="headword-tr tr Latn" dir="ltr"
                                      about="#mwt55">mir</span><span about="#mwt55">)</span><span typeof="mw:Entity"
                                                                                                  about="#mwt55">&nbsp;</span><span
        class="gender" about="#mwt55"><abbr title="masculine gender">m</abbr><span typeof="mw:Entity">&nbsp;</span><abbr
        title="inanimate">inan</abbr></span><span about="#mwt55"> (</span><i about="#mwt55">genitive</i><span
        about="#mwt55"> </span><b class="Cyrl" lang="ru" about="#mwt55"><a rel="mw:WikiLink" href="./мира#Russian"
                                                                           title="мира">ми́ра</a></b><span
        about="#mwt55">, </span><i about="#mwt55">nominative plural</i><span about="#mwt55"> </span><b class="Cyrl"
                                                                                                       lang="ru"
                                                                                                       about="#mwt55"><a
        rel="mw:WikiLink" href="./миры#Russian" title="миры">миры́</a></b><span about="#mwt55">, </span><i
        about="#mwt55">genitive plural</i><span about="#mwt55"> </span><b class="Cyrl" lang="ru" about="#mwt55"><a
        rel="mw:WikiLink" href="./миров#Russian" title="миров">миро́в</a></b><span about="#mwt55">, </span><i
        about="#mwt55"><a rel="mw:WikiLink" href="./Appendix:Glossary#relational" title="Appendix:Glossary">related
    adjective</a></i><span about="#mwt55"> </span><b class="Cyrl" lang="ru" about="#mwt55"><a rel="mw:WikiLink"
                                                                                              href="./мировой#Russian"
                                                                                              title="мировой">мирово́й</a></b><span
        about="#mwt55"> </span><i about="#mwt55">or</i><span about="#mwt55"> </span><b class="Cyrl" lang="ru"
                                                                                       about="#mwt55"><a
        rel="mw:WikiLink" href="./мирской#Russian" title="мирской">мирско́й</a></b><span about="#mwt55">, </span><i
        about="#mwt55"><a rel="mw:WikiLink" href="./Appendix:Glossary#diminutive"
                          title="Appendix:Glossary">diminutive</a></i><span about="#mwt55"> </span><b
        class="Cyrl form-of lang-ru diminutive-form-of    target-миро́к origin-мир origin_transliteration-  " lang="ru"
        about="#mwt55"><a rel="mw:WikiLink" href="./мирок#Russian" title="мирок">миро́к</a></b><span
        about="#mwt55">)</span>
    <link rel="mw:PageProp/Category" href="./Category:Russian_lemmas#МИР" about="#mwt55">
    <link rel="mw:PageProp/Category" href="./Category:Russian_nouns#МИР" about="#mwt55">
    <link rel="mw:PageProp/Category" href="./Category:Russian_terms_with_redundant_head_parameter#МИР" about="#mwt55">
    <link rel="mw:PageProp/Category" href="./Category:Russian_masculine_nouns#МИР" about="#mwt55">
    <link rel="mw:PageProp/Category" href="./Category:Russian_inanimate_nouns#МИР" about="#mwt55" id="mwsg">
</p>