<ol id="mwLw">
    <li class="mw-empty-elt" id="mwMA"></li>
    <li class="senseid" id="English:_crustacean" about="#mwt29" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;senseid&quot;,&quot;href&quot;:&quot;./Template:senseid&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;crustacean&quot;}},&quot;i&quot;:0}},&quot; A [[crustacean]] of the [[infraorder]] [[Brachyura]], having five pairs of legs, the [[foremost]] of which are in the form of [[claw]]s, and a [[carapace]].&quot;]}">A <a rel="mw:WikiLink" href="./crustacean" title="crustacean">crustacean</a> of the <a rel="mw:WikiLink" href="./infraorder" title="infraorder">infraorder</a> <a rel="mw:WikiLink" href="./Brachyura" title="Brachyura">Brachyura</a>, having five pairs of legs, the <a rel="mw:WikiLink" href="./foremost" title="foremost">foremost</a> of which are in the form of <a rel="mw:WikiLink" href="./claw" title="claw">claws</a>, and a <a rel="mw:WikiLink" href="./carapace" title="carapace">carapace</a>.</li>
    <li id="mwMQ"><span class="ib-brac" about="#mwt30" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;uncountable&quot;}},&quot;i&quot;:0}}]}" id="mwMg">(</span><span class="ib-content" about="#mwt30"><a rel="mw:WikiLink" href="./Appendix:Glossary#uncountable" title="Appendix:Glossary">uncountable</a>
     <link rel="mw:PageProp/Category" href="./Category:English_uncountable_nouns#CRAB"></span><span class="ib-brac" about="#mwt30" id="mwMw">)</span> The <a rel="mw:WikiLink" href="./meat" title="meat" id="mwNA">meat</a> of this crustacean, served as food; <a rel="mw:WikiLink" href="./crabmeat" title="crabmeat" id="mwNQ">crabmeat</a>.
        <ul id="mwNg">
            <li id="mwNw"><span about="#mwt31" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;quote-book&quot;,&quot;href&quot;:&quot;./Template:quote-book&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;year&quot;:{&quot;wt&quot;:&quot;1959&quot;},&quot;author&quot;:{&quot;wt&quot;:&quot;{{w|Georgette Heyer}}&quot;},&quot;title&quot;:{&quot;wt&quot;:&quot;{{w|The Unknown Ajax}}&quot;},&quot;chapter&quot;:{&quot;wt&quot;:&quot;1&quot;},&quot;passage&quot;:{&quot;wt&quot;:&quot;But Richmond{{...}}appeared to lose himself in his own reflections. Some pickled '''crab''', which he had not touched, had been removed with a damson pie; and his sister saw{{...}}that he had eaten no more than a spoonful of that either.&quot;}},&quot;i&quot;:0}}]}" id="mwOA"> </span>
                <div class="citation-whole" about="#mwt31" id="mwOQ">
       <span class="cited-source"><b>1959</b>, <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Georgette%20Heyer" title="w:Georgette Heyer" class="extiw">Georgette Heyer</a>, chapter 1, in <cite><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/The%20Unknown%20Ajax" title="w:The Unknown Ajax" class="extiw">The Unknown Ajax</a></cite>:
        <link rel="mw:PageProp/Category" href="./Category:English_terms_with_quotations#CRAB"></span>
                    <dl>
                        <dd>
                            <div class="h-quotation">
                                <span class="Latn e-quotation" lang="en">But Richmond<span class="q-hellip-sp"> </span><span class="q-hellip-b"><span typeof="mw:Entity">[</span></span>…<span class="q-hellip-b"><span typeof="mw:Entity">]</span></span><span class="q-hellip-b"> </span>appeared to lose himself in his own reflections. Some pickled <b>crab</b>, which he had not touched, had been removed with a damson pie<span typeof="mw:Entity">;</span> and his sister saw<span class="q-hellip-sp"> </span><span class="q-hellip-b"><span typeof="mw:Entity">[</span></span>…<span class="q-hellip-b"><span typeof="mw:Entity">]</span></span><span class="q-hellip-b"> </span>that he had eaten no more than a spoonful of that either.</span>
                            </div>
                        </dd>
                    </dl>
                </div></li>
        </ul></li>
    <li id="mwOg">A <a rel="mw:WikiLink" href="./bad-tempered" title="bad-tempered" id="mwOw">bad-tempered</a> person.</li>
    <li id="mwPA"><span class="ib-brac" about="#mwt32" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;in plural '''crabs'''&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;informal&quot;}},&quot;i&quot;:0}}]}" id="mwPQ">(</span><span class="ib-content" about="#mwt32">in plural <b>crabs</b><span class="ib-comma">,</span><span typeof="mw:Entity"> </span><a rel="mw:WikiLink" href="./Appendix:Glossary#informal" title="Appendix:Glossary">informal</a>
     <link rel="mw:PageProp/Category" href="./Category:English_informal_terms#CRAB"></span><span class="ib-brac" about="#mwt32" id="mwPg">)</span> An <a rel="mw:WikiLink" href="./infestation" title="infestation" id="mwPw">infestation</a> of <a rel="mw:WikiLink" href="./pubic_lice" title="pubic lice" id="mwQA">pubic lice</a> (<i id="mwQQ"><a rel="mw:WikiLink" href="./Pthirus_pubis" title="Pthirus pubis" id="mwQg">Pthirus pubis</a></i>).
        <dl id="mwQw">
            <dd id="mwRA">
                <div class="h-usage-example" about="#mwt33" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Although '''crabs''' themselves are an easily treated inconvenience, the patient and his partner(s) clearly run major [[sexually transmitted disease|STD]] risks.&quot;}},&quot;i&quot;:0}}]}" id="mwRQ">
                    <i class="Latn mention e-example" lang="en">Although <b>crabs</b> themselves are an easily treated inconvenience, the patient and his partner(s) clearly run major <a rel="mw:WikiLink" href="./sexually_transmitted_disease#English" title="sexually transmitted disease">STD</a> risks.</i>
                </div>
                <link rel="mw:PageProp/Category" href="./Category:English_terms_with_usage_examples#CRAB" about="#mwt33" id="mwRg">
            </dd>
        </dl></li>
    <li id="mwRw"><span class="ib-brac" about="#mwt34" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;uncountable&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;aviation&quot;}},&quot;i&quot;:0}}]}" id="mwSA">(</span><span class="ib-content" about="#mwt34"><a rel="mw:WikiLink" href="./Appendix:Glossary#uncountable" title="Appendix:Glossary">uncountable</a>
     <link rel="mw:PageProp/Category" href="./Category:English_uncountable_nouns#CRAB"><span class="ib-comma">,</span><span typeof="mw:Entity"> </span><a rel="mw:WikiLink" href="./aviation" title="aviation">aviation</a>
     <link rel="mw:PageProp/Category" href="./Category:en:Aviation#CRAB"></span><span class="ib-brac" about="#mwt34" id="mwSQ">)</span> The <a rel="mw:WikiLink" href="./angle" title="angle" id="mwSg">angle</a> by which an <a rel="mw:WikiLink" href="./aircraft" title="aircraft" id="mwSw">aircraft</a>'s <a rel="mw:WikiLink" href="./nose" title="nose" id="mwTA">nose</a> is pointed <a rel="mw:WikiLink" href="./upwind" title="upwind" id="mwTQ">upwind</a> of its <a rel="mw:WikiLink" href="./groundtrack?action=edit&amp;redlink=1" title="groundtrack" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;groundtrack&quot;]}}" id="mwTg">groundtrack</a> to <a rel="mw:WikiLink" href="./compensate" title="compensate" id="mwTw">compensate</a> for <a rel="mw:WikiLink" href="./crosswind" title="crosswind" id="mwUA">crosswinds</a> during an <a rel="mw:WikiLink" href="./approach" title="approach" id="mwUQ">approach</a> to <a rel="mw:WikiLink" href="./landing" title="landing" id="mwUg">landing</a>; its <a rel="mw:WikiLink" href="./crab_angle" title="crab angle" id="mwUw">crab angle</a>.
        <dl id="mwVA">
            <dd id="mwVQ">
                <div class="h-usage-example" about="#mwt35" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;The pilot had to hold fifteen degrees of '''crab''' during the approach to keep her plane from getting blown off the localizer course.&quot;}},&quot;i&quot;:0}}]}" id="mwVg">
                    <i class="Latn mention e-example" lang="en">The pilot had to hold fifteen degrees of <b>crab</b> during the approach to keep her plane from getting blown off the localizer course.</i>
                </div>
                <link rel="mw:PageProp/Category" href="./Category:English_terms_with_usage_examples#CRAB" about="#mwt35" id="mwVw">
            </dd>
        </dl></li>
    <li id="mwWA"><span class="ib-brac" about="#mwt36" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;uncountable&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;aviation&quot;}},&quot;i&quot;:0}}]}" id="mwWQ">(</span><span class="ib-content" about="#mwt36"><a rel="mw:WikiLink" href="./Appendix:Glossary#uncountable" title="Appendix:Glossary">uncountable</a>
     <link rel="mw:PageProp/Category" href="./Category:English_uncountable_nouns#CRAB"><span class="ib-comma">,</span><span typeof="mw:Entity"> </span><a rel="mw:WikiLink" href="./aviation" title="aviation">aviation</a>
     <link rel="mw:PageProp/Category" href="./Category:en:Aviation#CRAB"></span><span class="ib-brac" about="#mwt36" id="mwWg">)</span> The state of an <a rel="mw:WikiLink" href="./aircraft" title="aircraft" id="mwWw">aircraft</a>'s <a rel="mw:WikiLink" href="./nose" title="nose" id="mwXA">nose</a> being pointed <a rel="mw:WikiLink" href="./upwind" title="upwind" id="mwXQ">upwind</a> of its <a rel="mw:WikiLink" href="./groundtrack?action=edit&amp;redlink=1" title="groundtrack" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;groundtrack&quot;]}}" id="mwXg">groundtrack</a> to <a rel="mw:WikiLink" href="./compensate" title="compensate" id="mwXw">compensate</a> for <a rel="mw:WikiLink" href="./crosswind" title="crosswind" id="mwYA">crosswinds</a> during an <a rel="mw:WikiLink" href="./approach" title="approach" id="mwYQ">approach</a> to <a rel="mw:WikiLink" href="./landing" title="landing" id="mwYg">landing</a>.</li>
    <li id="mwYw"><span class="ib-brac" about="#mwt37" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;slang&quot;}},&quot;i&quot;:0}}]}" id="mwZA">(</span><span class="ib-content" about="#mwt37"><a rel="mw:WikiLink" href="./Appendix:Glossary#slang" title="Appendix:Glossary">slang</a>
     <link rel="mw:PageProp/Category" href="./Category:English_slang#CRAB"></span><span class="ib-brac" about="#mwt37" id="mwZQ">)</span> A <a rel="mw:WikiLink" href="./playing_card" title="playing card" id="mwZg">playing card</a> with the <a rel="mw:WikiLink" href="./rank" title="rank" id="mwZw">rank</a> of three.</li>
    <li id="mwaA"><span class="ib-brac" about="#mwt38" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;rowing&quot;}},&quot;i&quot;:0}}]}" id="mwaQ">(</span><span class="ib-content" about="#mwt38"><a rel="mw:WikiLink" href="./rowing#Noun" title="rowing">rowing</a>
     <link rel="mw:PageProp/Category" href="./Category:en:Rowing#CRAB"></span><span class="ib-brac" about="#mwt38" id="mwag">)</span> A position in rowing where the <a rel="mw:WikiLink" href="./oar" title="oar" id="mwaw">oar</a> is pushed under the <a rel="mw:WikiLink" href="./rigger" title="rigger" id="mwbA">rigger</a> by the force of the water.</li>
    <li id="mwbQ">A <a rel="mw:WikiLink" href="./defect" title="defect" id="mwbg">defect</a> in an outwardly normal object that may render it inconvenient and troublesome to use.
        <ul id="mwbw">
            <li id="mwcA"><span about="#mwt39" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;quote-book&quot;,&quot;href&quot;:&quot;./Template:quote-book&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;year&quot;:{&quot;wt&quot;:&quot;1915&quot;},&quot;author&quot;:{&quot;wt&quot;:&quot;{{w|W. Somerset Maugham|W.S. Maugham}}&quot;},&quot;title&quot;:{&quot;wt&quot;:&quot;{{w|Of Human Bondage}}&quot;},&quot;chapter&quot;:{&quot;wt&quot;:&quot;[[s:Of Human Bondage/Chapter CXVI|chapter 116]]&quot;},&quot;passage&quot;:{&quot;wt&quot;:&quot;-- \&quot;I suppose you wouldn't like to do a [[locum]] for a month on the South coast? Three guineas a week with board and lodging.\&quot; -- \&quot;I wouldn't mind,\&quot; said Philip. -- \&quot;It's at Farnley, in Dorsetshire. Doctor South. You'd have to go down at once; his assistant has developed mumps. I believe it's a very pleasant place.\&quot; There was something in the secretary's manner that puzzled Philip. It was a little doubtful. -- \&quot;What's the '''crab''' in it?\&quot; he asked.&quot;}},&quot;i&quot;:0}}]}" id="mwcQ"> </span>
                <div class="citation-whole" about="#mwt39" id="mwcg">
       <span class="cited-source"><b>1915</b>, <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/W.%20Somerset%20Maugham" title="w:W. Somerset Maugham" class="extiw">W.S. Maugham</a>, “<a rel="mw:WikiLink/Interwiki" href="https://en.wikisource.org/wiki/Of%20Human%20Bondage/Chapter%20CXVI" title="s:Of Human Bondage/Chapter CXVI" class="extiw">chapter 116</a>”, in <cite><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Of%20Human%20Bondage" title="w:Of Human Bondage" class="extiw">Of Human Bondage</a></cite>:
        <link rel="mw:PageProp/Category" href="./Category:English_terms_with_quotations#CRAB"></span>
                    <dl>
                        <dd>
                            <div class="h-quotation">
                                <span class="Latn e-quotation" lang="en">-- "I suppose you wouldn't like to do a <a rel="mw:WikiLink" href="./locum#English" title="locum">locum</a> for a month on the South coast<span typeof="mw:Entity">?</span> Three guineas a week with board and lodging." -- "I wouldn't mind," said Philip. -- "It's at Farnley, in Dorsetshire. Doctor South. You'd have to go down at once<span typeof="mw:Entity">;</span> his assistant has developed mumps. I believe it's a very pleasant place." There was something in the secretary's manner that puzzled Philip. It was a little doubtful. -- "What's the <b>crab</b> in it<span typeof="mw:Entity">?</span>" he asked.</span>
                            </div>
                        </dd>
                    </dl>
                </div></li>
            <li id="mwcw"><span about="#mwt40" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;quote-book&quot;,&quot;href&quot;:&quot;./Template:quote-book&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;year&quot;:{&quot;wt&quot;:&quot;1940&quot;},&quot;author&quot;:{&quot;wt&quot;:&quot;{{w|Horace Annesley Vachell}}&quot;},&quot;title&quot;:{&quot;wt&quot;:&quot;Little Tyrannies&quot;},&quot;url&quot;:{&quot;wt&quot;:&quot;https://books.google.com/books?id=XxAaAQAAMAAJ&quot;},&quot;passage&quot;:{&quot;wt&quot;:&quot;Arrested by the low price of another “desirable residence”, I asked “What's the '''crab'''?” The agent assured me that there was no '''crab'''. I fell in love with this house at sight. Happily, I discovered that it was reputed to be [[haunted]].&quot;}},&quot;i&quot;:0}}]}" id="mwdA"> </span>
                <div class="citation-whole" about="#mwt40" id="mwdQ">
       <span class="cited-source"><b>1940</b>, <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Horace%20Annesley%20Vachell" title="w:Horace Annesley Vachell" class="extiw">Horace Annesley Vachell</a>, <cite>Little Tyrannies</cite><span typeof="mw:Entity">‎</span><sup><a rel="mw:ExtLink nofollow" href="https://books.google.com/books?id=XxAaAQAAMAAJ" class="external autonumber"></a></sup>:
        <link rel="mw:PageProp/Category" href="./Category:English_terms_with_quotations#CRAB"></span>
                    <dl>
                        <dd>
                            <div class="h-quotation">
                                <span class="Latn e-quotation" lang="en">Arrested by the low price of another “desirable residence”, I asked “What's the <b>crab</b><span typeof="mw:Entity">?</span>” The agent assured me that there was no <b>crab</b>. I fell in love with this house at sight. Happily, I discovered that it was reputed to be <a rel="mw:WikiLink" href="./haunted#English" title="haunted">haunted</a>.</span>
                            </div>
                        </dd>
                    </dl>
                </div></li>
        </ul></li>
    <li id="mwdg"><span class="ib-brac" about="#mwt41" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;dated&quot;}},&quot;i&quot;:0}}]}" id="mwdw">(</span><span class="ib-content" about="#mwt41"><a rel="mw:WikiLink" href="./Appendix:Glossary#dated" title="Appendix:Glossary">dated</a>
     <link rel="mw:PageProp/Category" href="./Category:English_dated_terms#CRAB"></span><span class="ib-brac" about="#mwt41" id="mweA">)</span> An <a rel="mw:WikiLink" href="./unsold" title="unsold" id="mweQ">unsold</a> <a rel="mw:WikiLink" href="./book" title="book" id="mweg">book</a> that is returned to the <a rel="mw:WikiLink" href="./publisher" title="publisher" id="mwew">publisher</a>.
        <ul id="mwfA">
            <li id="mwfQ"><span about="#mwt42" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;quote-text&quot;,&quot;href&quot;:&quot;./Template:quote-text&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;year&quot;:{&quot;wt&quot;:&quot;1844&quot;},&quot;author&quot;:{&quot;wt&quot;:&quot;Albert Henry Payne&quot;},&quot;title&quot;:{&quot;wt&quot;:&quot;Payne's universum, or pictorial world&quot;},&quot;page&quot;:{&quot;wt&quot;:&quot;99&quot;},&quot;passage&quot;:{&quot;wt&quot;:&quot;{{...}} the unsold copies may be returned to the original publisher , at a period fixed upon between Christmas and Easter; these returned copies are technically called ''krebse'' or '''crabs''', probably, from their walking backwards. {{...}} A says to B, \&quot;I have had eight thousand dollars' worth of your publications, three thousand were '''crabs''', that makes five thousand.\&quot;&quot;}},&quot;i&quot;:0}}]}" id="mwfg"> </span>
                <div class="citation-whole" about="#mwt42">
       <span class="cited-source"><b>1844</b>, Albert Henry Payne, <cite>Payne's universum, or pictorial world</cite>, page 99:
        <link rel="mw:PageProp/Category" href="./Category:English_terms_with_quotations#CRAB"></span>
                    <dl>
                        <dd>
                            <div class="h-quotation">
                                <span class="Latn e-quotation" lang="en"><span class="q-hellip-sp"></span><span class="q-hellip-b"><span typeof="mw:Entity">[</span></span>…<span class="q-hellip-b"><span typeof="mw:Entity">]</span></span><span class="q-hellip-b"> </span> the unsold copies may be returned to the original publisher , at a period fixed upon between Christmas and Easter<span typeof="mw:Entity">;</span> these returned copies are technically called <i>krebse</i> or <b>crabs</b>, probably, from their walking backwards. <span class="q-hellip-sp"> </span><span class="q-hellip-b"><span typeof="mw:Entity">[</span></span>…<span class="q-hellip-b"><span typeof="mw:Entity">]</span></span><span class="q-hellip-b"> </span> A says to B, "I have had eight thousand dollars' worth of your publications, three thousand were <b>crabs</b>, that makes five thousand."</span>
                            </div>
                        </dd>
                    </dl>
                </div>
                <link rel="mw:PageProp/Category" href="./Category:Quotation_templates_to_be_cleaned" about="#mwt42" id="mwfw"></li>
            <li id="mwgA"><span about="#mwt43" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;quote-text&quot;,&quot;href&quot;:&quot;./Template:quote-text&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;year&quot;:{&quot;wt&quot;:&quot;1892&quot;},&quot;title&quot;:{&quot;wt&quot;:&quot;The Publishers Weekly&quot;},&quot;volume&quot;:{&quot;wt&quot;:&quot;41&quot;},&quot;page&quot;:{&quot;wt&quot;:&quot;709&quot;},&quot;passage&quot;:{&quot;wt&quot;:&quot;{{...}} unsold copies and settling the yearly accounts; while for the publisher begins the much dreaded season of \&quot;'''crabs''',\&quot; as {{...}}&quot;}},&quot;i&quot;:0}}]}" id="mwgQ"> </span>
                <div class="citation-whole" about="#mwt43">
       <span class="cited-source"><b>1892</b>, <cite>The Publishers Weekly</cite>, volume 41, page 709:
        <link rel="mw:PageProp/Category" href="./Category:English_terms_with_quotations#CRAB"></span>
                    <dl>
                        <dd>
                            <div class="h-quotation">
                                <span class="Latn e-quotation" lang="en"><span class="q-hellip-sp"></span><span class="q-hellip-b"><span typeof="mw:Entity">[</span></span>…<span class="q-hellip-b"><span typeof="mw:Entity">]</span></span><span class="q-hellip-b"> </span> unsold copies and settling the yearly accounts<span typeof="mw:Entity">;</span> while for the publisher begins the much dreaded season of "<b>crabs</b>," as <span class="q-hellip-sp"> </span><span class="q-hellip-b"><span typeof="mw:Entity">[</span></span>…<span class="q-hellip-b"><span typeof="mw:Entity">]</span></span><span class="q-hellip-b"></span></span>
                            </div>
                        </dd>
                    </dl>
                </div>
                <link rel="mw:PageProp/Category" href="./Category:Quotation_templates_to_be_cleaned" about="#mwt43" id="mwgg"></li>
        </ul></li>
</ol>