<ol id="mwQA">
    <li id="mwQQ"><span class="ib-brac" about="#mwt35" typeof="mw:Transclusion"
                        data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;}},&quot;i&quot;:0}}]}"
                        id="mwQg">(</span><span class="ib-content" about="#mwt35"><a rel="mw:WikiLink"
                                                                                     href="./Appendix:Glossary#transitive"
                                                                                     title="Appendix:Glossary">transitive</a>
    <link rel="mw:PageProp/Category" href="./Category:English_transitive_verbs#AMAZE"></span><span class="ib-brac"
                                                                                                   about="#mwt35"
                                                                                                   id="mwQw">)</span>
        <ol id="mwRA">
            <li id="mwRQ">To <a rel="mw:WikiLink" href="./fill#Verb" title="fill" id="mwRg">fill</a> (someone) with <a
                    rel="mw:WikiLink" href="./surprise#Noun" title="surprise" id="mwRw">surprise</a> and <a
                    rel="mw:WikiLink" href="./wonder#Noun" title="wonder" id="mwSA">wonder</a>; to <a rel="mw:WikiLink"
                                                                                                      href="./astonish"
                                                                                                      title="astonish"
                                                                                                      id="mwSQ">astonish</a>,
                to <a rel="mw:WikiLink" href="./astound#Verb" title="astound" id="mwSg">astound</a>, to <a
                        rel="mw:WikiLink" href="./surprise#Verb" title="surprise" id="mwSw">surprise</a>. <span
                        class="defdate" about="#mwt36" typeof="mw:Transclusion"
                        data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;defdate&quot;,&quot;href&quot;:&quot;./Template:defdate&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;from 16th c.&quot;}},&quot;i&quot;:0}}]}"
                        id="mwTA">[from 16th c.]</span>
                <dl id="mwTQ">
                    <dd id="mwTg">
                        <div class="h-usage-example" about="#mwt39" typeof="mw:Transclusion"
                             data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;He was '''amazed''' when he found that the girl was a robot.&quot;}},&quot;i&quot;:0}}]}"
                             id="mwTw">
                            <i class="Latn mention e-example" lang="en">He was <b>amazed</b> when he found that the girl
                                was a robot.</i>
                        </div>
                        <link rel="mw:PageProp/Category" href="./Category:English_terms_with_usage_examples#AMAZE"
                              about="#mwt39" id="mwUA">
                    </dd>
                </dl>
            </li>
        </ol>
</ol>