<ol id="mwJg">
    <li id="mwJw"><span class="ib-brac" about="#mwt18" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;operations&quot;}},&quot;i&quot;:0}}]}" id="mwKA">(</span><span class="ib-content" about="#mwt18">operations</span><span class="ib-brac" about="#mwt18" id="mwKQ">)</span> The <a rel="mw:WikiLink" href="./stock" title="stock" id="mwKg">stock</a> of an <a rel="mw:WikiLink" href="./item" title="item" id="mwKw">item</a> on hand at a particular location or business.
        <dl id="mwLA">
            <dd id="mwLQ">
                <i id="mwLg">Due to an undersized <b id="mwLw">inventory</b> at the Boston outlet, customers had to travel to Providence to find the item.</i>
            </dd>
        </dl></li>
    <li id="mwMA"><span class="ib-brac" about="#mwt19" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;operations&quot;}},&quot;i&quot;:0}}]}" id="mwMQ">(</span><span class="ib-content" about="#mwt19">operations</span><span class="ib-brac" about="#mwt19" id="mwMg">)</span> A detailed <a rel="mw:WikiLink" href="./list" title="list" id="mwMw">list</a> of all of the items <a rel="mw:WikiLink" href="./on_hand" title="on hand" id="mwNA">on hand</a>.
        <dl id="mwNQ">
            <dd id="mwNg">
                <i id="mwNw">The <b id="mwOA">inventory</b> included several items that one wouldn't normally think to find at a cheese shop.</i>
            </dd>
        </dl></li>
    <li id="mwOQ"><span class="ib-brac" about="#mwt20" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;operations&quot;}},&quot;i&quot;:0}}]}" id="mwOg">(</span><span class="ib-content" about="#mwt20">operations</span><span class="ib-brac" about="#mwt20" id="mwOw">)</span> The process of producing or updating such a list.
        <dl id="mwPA">
            <dd id="mwPQ">
                <i id="mwPg">This month's <b id="mwPw">inventory</b> took nearly three days.</i>
            </dd>
        </dl></li>
    <li id="mwQA">A space containing the <span class="Latn" lang="en" about="#mwt21" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;item&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;items&quot;}},&quot;i&quot;:0}}]}" id="mwQQ"><a rel="mw:WikiLink" href="./item#English" title="item">items</a></span> available to a character, especially that in a <a rel="mw:WikiLink" href="./video_game" title="video game" id="mwQg">video game</a>, for immediate use.
        <dl id="mwQw">
            <dd id="mwRA">
                <i id="mwRQ">You can't get through the underground tunnel if there are more than three items in your <b id="mwRg">inventory</b>.</i>
            </dd>
        </dl></li>
    <li id="mwRw"><span class="ib-brac" about="#mwt22" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;linguistics&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;especially&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;phonology&quot;}},&quot;i&quot;:0}}]}" id="mwSA">(</span><span class="ib-content" about="#mwt22"><a rel="mw:WikiLink" href="./linguistics" title="linguistics">linguistics</a>
    <link rel="mw:PageProp/Category" href="./Category:en:Linguistics#INVENTORY"><span class="ib-comma">,</span><span typeof="mw:Entity"> </span>especially<span typeof="mw:Entity"> </span><a rel="mw:WikiLink" href="./phonology" title="phonology">phonology</a>
    <link rel="mw:PageProp/Category" href="./Category:en:Phonology#INVENTORY"></span><span class="ib-brac" about="#mwt22" id="mwSQ">)</span> The <a rel="mw:WikiLink" href="./total" title="total" id="mwSg">total</a> <a rel="mw:WikiLink" href="./set" title="set" id="mwSw">set</a> of a <span class="gloss-brac" about="#mwt23" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;gloss&quot;,&quot;href&quot;:&quot;./Template:gloss&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;specified&quot;}},&quot;i&quot;:0}}]}" id="mwTA">(</span><span class="gloss-content" about="#mwt23"><span class="Latn" lang="en">specified</span></span><span class="gloss-brac" about="#mwt23" id="mwTQ">)</span> linguistic feature <span class="gloss-brac" about="#mwt24" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;gloss&quot;,&quot;href&quot;:&quot;./Template:gloss&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;within a language etc.&quot;}},&quot;i&quot;:0}}]}" id="mwTg">(</span><span class="gloss-content" about="#mwt24"><span class="Latn" lang="en">within a language etc.</span></span><span class="gloss-brac" about="#mwt24" id="mwTw">)</span>
        <dl id="mwUA">
            <dd id="mwUQ">
                <i id="mwUg">Germanic languages have a marked tendency towards large vocalic <b id="mwUw">inventories</b>.</i>
            </dd>
        </dl>
        <ul id="mwVA">
            <li id="mwVQ"><span about="#mwt25" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;quote-book&quot;,&quot;href&quot;:&quot;./Template:quote-book&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;year&quot;:{&quot;wt&quot;:&quot;2014&quot;},&quot;editor&quot;:{&quot;wt&quot;:&quot;Jackson Sun&quot;},&quot;author&quot;:{&quot;wt&quot;:&quot;Guillaume Jacques&quot;},&quot;title&quot;:{&quot;wt&quot;:&quot;Phonological Profiles of Little-Studied Tibetic Varieties&quot;},&quot;chapter&quot;:{&quot;wt&quot;:&quot;V: Cone&quot;},&quot;location&quot;:{&quot;wt&quot;:&quot;Taipei&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;publisher{{w|Academia Sinica}}&quot;},&quot;page&quot;:{&quot;wt&quot;:&quot;270&quot;},&quot;oclc&quot;:{&quot;wt&quot;:&quot;907654712&quot;},&quot;isbn&quot;:{&quot;wt&quot;:&quot;9789860423211&quot;},&quot;passage&quot;:{&quot;wt&quot;:&quot;Most final consonants have been lost, resulting in a tonal language with a rich consonantal and vocalic '''inventory''', but with a relatively simple syllabic structure..&quot;}},&quot;i&quot;:0}}]}" id="mwVg"> </span>
                <div class="citation-whole" about="#mwt25" id="mwVw">
      <span class="cited-source"><b>2014</b>, Guillaume Jacques, “V: Cone”, in Jackson Sun, editor, <cite>Phonological Profiles of Little-Studied Tibetic Varieties</cite>, Taipei, <small><a rel="mw:WikiLink" href="./Special:BookSources/9789860423211" title="Special:BookSources/9789860423211">→ISBN</a></small>, <small><a rel="mw:ExtLink nofollow" href="https://www.worldcat.org/title/907654712" class="external text">→OCLC</a></small>, page 270:
       <link rel="mw:PageProp/Category" href="./Category:English_terms_with_quotations#INVENTORY"></span>
                    <dl>
                        <dd>
                            <div class="h-quotation">
                                <span class="Latn e-quotation" lang="en">Most final consonants have been lost, resulting in a tonal language with a rich consonantal and vocalic <b>inventory</b>, but with a relatively simple syllabic structure..</span>
                            </div>
                        </dd>
                    </dl>
                </div></li>
        </ul></li>
</ol>