<ol id="mwCw">
    <li id="mwDA"><span class="ib-brac" about="#mwt3" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;maths&quot;}},&quot;i&quot;:0}}]}" id="mwDQ">(</span><span class="ib-content" about="#mwt3"><a rel="mw:WikiLink" href="./mathematics" title="mathematics">mathematics</a>
    <link rel="mw:PageProp/Category" href="./Category:en:Mathematics#QUASIPRIMITIVE"></span><span class="ib-brac" about="#mwt3" id="mwDg">)</span> <i about="#mwt4" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rfdef&quot;,&quot;href&quot;:&quot;./Template:rfdef&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;}},&quot;i&quot;:0}}]}" id="mwDw">This term needs a definition. Please help out and <b>add a definition</b>, then remove the text <code>{{<a rel="mw:WikiLink" href="./Template:rfdef" title="Template:rfdef">rfdef</a>}}</code>.</i>
        <link rel="mw:PageProp/Category" href="./Category:Requests_for_definitions_in_English_entries#QUASIPRIMITIVE" about="#mwt4" id="mwEA">
        <ul id="mwEQ">
            <li id="mwEg"><span about="#mwt8" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;quote-journal&quot;,&quot;href&quot;:&quot;./Template:quote-journal&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;year&quot;:{&quot;wt&quot;:&quot;2016&quot;},&quot;date&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;author&quot;:{&quot;wt&quot;:&quot;Timothy C. Burness, Michael Giudici&quot;},&quot;title&quot;:{&quot;wt&quot;:&quot;Permutation groups and derangements of odd prime order&quot;},&quot;journal&quot;:{&quot;wt&quot;:&quot;arXiv&quot;},&quot;url&quot;:{&quot;wt&quot;:&quot;http://arxiv.org/abs/1602.07617&quot;},&quot;doi&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;volume&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;issue&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;pages&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;passage&quot;:{&quot;wt&quot;:&quot;In this paper we study the structure of '''quasiprimitive''' and bi'''quasiprimitive''' <math>2'</math>-elusive permutation groups, extending earlier work of Giudici and Xu on elusive groups.&quot;}},&quot;i&quot;:0}}]}" id="mwEw"> </span>
                <div class="citation-whole" about="#mwt8" id="mwFA">
      <span class="cited-source"><b>2016</b>, Timothy C. Burness, Michael Giudici, “Permutation groups and derangements of odd prime order”, in <cite>arXiv</cite><span typeof="mw:Entity">‎</span><sup><a rel="mw:ExtLink nofollow" href="http://arxiv.org/abs/1602.07617" class="external autonumber"></a></sup>:
       <link rel="mw:PageProp/Category" href="./Category:English_terms_with_quotations#QUASIPRIMITIVE"></span>
                    <dl>
                        <dd>
                            <div class="h-quotation">
         <span class="Latn e-quotation" lang="en">In this paper we study the structure of <b>quasiprimitive</b> and bi<b>quasiprimitive</b> <span class="mwe-math-element" typeof="mw:Extension/math" about="#mwt10" data-mw="{&quot;name&quot;:&quot;math&quot;,&quot;attrs&quot;:{},&quot;body&quot;:{&quot;extsrc&quot;:&quot;2'&quot;}}"><span class="mwe-math-mathml-inline mwe-math-mathml-a11y" style="display: none;">
            <math xmlns="http://www.w3.org/1998/Math/MathML" alttext="{\displaystyle 2'}">
             <semantics>
              <mrow class="MJX-TeXAtom-ORD">
               <mstyle displaystyle="true" scriptlevel="0">
                <msup>
                 <mn>
                  2
                 </mn>
                 <mo>
                  ′
                 </mo>
                </msup>
               </mstyle>
              </mrow>
              <annotation encoding="application/x-tex">
               {\displaystyle 2'}
              </annotation>
             </semantics>
            </math></span><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/3b85c12970930a3d0f3031681c345d7661cb0d75" class="mwe-math-fallback-image-inline" aria-hidden="true" style="vertical-align: -0.338ex; width:1.847ex; height:2.509ex;" alt="{\displaystyle 2'}"></span>-elusive permutation groups, extending earlier work of Giudici and Xu on elusive groups.</span>
                            </div>
                        </dd>
                    </dl>
                </div></li>
        </ul></li>
</ol>