<ol id="mwDQ">
    <li id="mwDg">a type of sweet <a rel="mw:WikiLink" href="./pastry" title="pastry" id="mwDw">pastry</a>
        <ol id="mwEA">
            <li id="mwEQ">in Latin America, it is similar to a <a rel="mw:WikiLink" href="./Swiss_roll" title="Swiss roll" id="mwEg">Swiss roll</a>,</li>
            <li id="mwEw">in Spain, it is a small cylindrical pastry made by dipping sponge cake in a syrupy mixture</li>
        </ol></li>
    <li id="mwFA"><i about="#mwt4" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rfdef&quot;,&quot;href&quot;:&quot;./Template:rfdef&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;es&quot;}},&quot;i&quot;:0}}]}" id="mwFQ">This term needs a translation to English. Please help out and <b>add a translation</b>, then remove the text <code>{{<a rel="mw:WikiLink" href="./Template:rfdef" title="Template:rfdef">rfdef</a>}}</code>.</i>
        <link rel="mw:PageProp/Category" href="./Category:Requests_for_definitions_in_Spanish_entries#PIONONO" about="#mwt4" id="mwFg">
        <ul id="mwFw">
            <li id="mwGA"><span about="#mwt7" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;quote-journal&quot;,&quot;href&quot;:&quot;./Template:quote-journal&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;es&quot;},&quot;date&quot;:{&quot;wt&quot;:&quot;September 29, 2015&quot;},&quot;author&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;title&quot;:{&quot;wt&quot;:&quot;Centollo al ‘kimchi’ en Sevilla&quot;},&quot;work&quot;:{&quot;wt&quot;:&quot;El País&quot;},&quot;url&quot;:{&quot;wt&quot;:&quot;http://elviajero.elpais.com/elviajero/2015/09/25/actualidad/1443184284_377823.html&quot;},&quot;passage&quot;:{&quot;wt&quot;:&quot;La nueva cocina se encuentra en todas y cada una de los platos de Lumbreras (Santa Clara 65; +34 637 104 689), como demuestran el chipirón relleno de queso de cabra y gelatina de guinda o, por ejemplo, los '''piononos''' de cola de toro, una delicia.&quot;}},&quot;i&quot;:0}}]}" id="mwGQ"> </span>
                <div class="citation-whole" about="#mwt7" id="mwGg">
      <span class="cited-source"><b>2015</b> September 29, “Centollo al ‘kimchi’ en Sevilla”, in <cite>El País</cite><span typeof="mw:Entity">‎</span><sup><a rel="mw:ExtLink nofollow" href="http://elviajero.elpais.com/elviajero/2015/09/25/actualidad/1443184284_377823.html" class="external autonumber"></a></sup>:
       <link rel="mw:PageProp/Category" href="./Category:Spanish_terms_with_quotations#PIONONO"></span>
                    <dl>
                        <dd>
                            <div class="h-quotation">
                                <span class="Latn e-quotation" lang="es">La nueva cocina se encuentra en todas y cada una de los platos de Lumbreras (Santa Clara 65<span typeof="mw:Entity">;</span> <span typeof="mw:Entity">+</span>34 637 104 689), como demuestran el chipirón relleno de queso de cabra y gelatina de guinda o, por ejemplo, los <b>piononos</b> de cola de toro, una delicia.</span>
                                <dl>
                                    <dd>
                                        <small>(please add an English translation of this quote)</small>
                                    </dd>
                                </dl>
                            </div>
                            <link rel="mw:PageProp/Category" href="./Category:Requests_for_translations_of_Spanish_quotations#PIONONO">
                        </dd>
                    </dl>
                </div></li>
        </ul></li>
</ol>