<ol id="mwPw">
    <li id="mwQA"><span class="form-of-definition use-with-mention" about="#mwt18" typeof="mw:Transclusion"
                        data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;female equivalent of&quot;,&quot;href&quot;:&quot;./Template:female_equivalent_of&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;es&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;místico&quot;},&quot;t&quot;:{&quot;wt&quot;:&quot;[[mystic]]&quot;}},&quot;i&quot;:0}}]}"
                        id="mwQQ">female equivalent of <span class="form-of-definition-link"><i class="Latn mention"
                                                                                                lang="es"><a
            rel="mw:WikiLink" href="./místico#Spanish" title="místico">místico</a></i> <span
            class="mention-gloss-paren annotation-paren">(</span><span class="mention-gloss-double-quote">“</span><span
            class="mention-gloss"><a rel="mw:WikiLink" href="./mystic" title="mystic">mystic</a></span><span
            class="mention-gloss-double-quote">”</span><span
            class="mention-gloss-paren annotation-paren">)</span></span></span>
        <link rel="mw:PageProp/Category" href="./Category:Spanish_female_equivalent_nouns#MISTICA" about="#mwt18"
              id="mwQg">
    </li>
</ol>