<ol id="mwEg">
    <li id="mwEw"><span class="form-of-definition use-with-mention" about="#mwt8" typeof="mw:Transclusion"
                        data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;en-past of&quot;,&quot;href&quot;:&quot;./Template:en-past_of&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;play&quot;}},&quot;i&quot;:0}}]}"
                        id="mwFA">simple past tense and past participle of 
     <span class="form-of-definition-link"><i class="Latn mention" lang="en"><a rel="mw:WikiLink" href="./play#English"
                                              title="play">play</a></i></span></span></li>
</ol>
