<ol id="mwMQ">
    <li id="mwMg"><a rel="mw:WikiLink" href="./uncomplicated" title="uncomplicated" id="mwMw">Uncomplicated</a>;
        taken by itself, with nothing added.
        <ul id="mwNA">
            <li id="mwNQ">
                <div class="citation-whole" about="#mwt21" typeof="mw:Transclusion"
                     data-mw='{"parts":[{"template":{"target":{"wt":"RQ:Hough Purchase Price","href":"./Template:RQ:Hough_Purchase_Price"},"params":{"chapter":{"wt":"I"},"text":{"wt":"“[…] We are engaged in a great work, a treatise on our river fortifications, perhaps? But since when did army officers afford the luxury of amanuenses in this &apos;&apos;&apos;simple&apos;&apos;&apos; republic?{{nb...}}”"}},"i":0}}]}'
                     id="mwNg"><span class="cited-source"><b>1910</b>,  <a rel="mw:WikiLink/Interwiki"
                                                                           href="https://en.wikipedia.org/wiki/Emerson%20Hough"
                                                                           title="w:Emerson Hough" class="extiw">Emerson Hough</a>,  chapter I, in  <cite>The Purchase Price: Or The Cause of Compromise</cite>, Indianapolis, Ind.<span
                        typeof="mw:Entity">:</span> <a rel="mw:WikiLink/Interwiki"
                                                       href="https://en.wikipedia.org/wiki/Bobbs-Merrill%20Company"
                                                       title="w:Bobbs-Merrill Company" class="extiw">The Bobbs-Merrill Company</a>, <small><a
                        rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/OCLC" title="w:OCLC"
                        class="extiw">OCLC</a> <a rel="mw:ExtLink" href="https://worldcat.org/oclc/639762314"
                                                  class="external text">639762314</a></small>:<link
                        rel="mw:PageProp/Category" href="./Category:English_terms_with_quotations#SIMPLE"/></span>
                    <dl>
                        <dd>
                            <div class="h-quotation"><span class="Latn e-quotation" lang="en">“[…] We are engaged in a great work, a treatise on our river fortifications, perhaps? But since when did army officers afford the luxury of amanuenses in this <b>simple</b> republic?<span
                                    class="q-hellip-sp"><span typeof="mw:Entity"> </span></span><span
                                    class="q-hellip-b">[</span>…<span class="q-hellip-b">]</span><span
                                    class="q-hellip-b"></span>”</span></div>
                        </dd>
                    </dl>
                </div>
            </li>
            <li id="mwNw"><b id="mwOA">2001</b>, Sydney I. Landau, <i id="mwOQ">Dictionaries: The Art and Craft of
                Lexicography</i>, Cambridge University Press <a rel="mw:WikiLink"
                                                                href="./Special:BookSources/0-521-78512-X"
                                                                title="Special:BookSources/0-521-78512-X"
                                                                about="#mwt22" typeof="mw:Transclusion"
                                                                data-mw='{"parts":[{"template":{"target":{"wt":"ISBN","href":"./Template:ISBN"},"params":{"1":{"wt":"0-521-78512-X"}},"i":0}}]}'
                                                                id="mwOg">→ISBN</a>, page 167,
                <dl id="mwOw">
                    <dd id="mwPA">There is no <b id="mwPQ">simple</b> way to define precisely a complex arrangement
                        of parts, however homely the object may appear to be.
                    </dd>
                </dl>
            </li>
        </ul>
    </li>
    <li id="mwPg">Without <a rel="mw:WikiLink" href="./ornamentation" title="ornamentation"
                             id="mwPw">ornamentation</a>; <a rel="mw:WikiLink" href="./plain" title="plain"
                                                             id="mwQA">plain</a>.
    </li>
    <li id="mwQQ">Free from <a rel="mw:WikiLink" href="./duplicity" title="duplicity" id="mwQg">duplicity</a>; <a
            rel="mw:WikiLink" href="./guileless" title="guileless" id="mwQw">guileless</a>, <a rel="mw:WikiLink"
                                                                                               href="./innocent"
                                                                                               title="innocent"
                                                                                               id="mwRA">innocent</a>,
        <a rel="mw:WikiLink" href="./straightforward" title="straightforward" id="mwRQ">straightforward</a>.
        <ul id="mwRg">
            <li id="mwRw"><b id="mwSA">1605</b>, <a rel="mw:WikiLink/Interwiki"
                                                    href="https://en.wikipedia.org/wiki/John%20Marston%20(poet)"
                                                    title="wikipedia:John Marston (poet)" about="#mwt23"
                                                    typeof="mw:Transclusion" class="extiw"
                                                    data-mw='{"parts":[{"template":{"target":{"wt":"w","href":"./Template:w"},"params":{"1":{"wt":"John Marston (poet)"},"2":{"wt":"John Marston"}},"i":0}}]}'
                                                    id="mwSQ">John Marston</a>, <i id="mwSg"><a
                    rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/The%20Dutch%20Courtesan"
                    title="wikipedia:The Dutch Courtesan" about="#mwt24" typeof="mw:Transclusion" class="extiw"
                    data-mw='{"parts":[{"template":{"target":{"wt":"w","href":"./Template:w"},"params":{"1":{"wt":"The Dutch Courtesan"}},"i":0}}]}'
                    id="mwSw">The Dutch Courtesan</a></i>
                <dl id="mwTA">
                    <dd id="mwTQ">Full many fine men go upon my score, as <b id="mwTg">simple</b> as I stand here,
                        and I trust them.
                    </dd>
                </dl>
            </li>
            <li id="mwTw">
                <div class="citation-whole" about="#mwt25" typeof="mw:Transclusion"
                     data-mw='{"parts":[{"template":{"target":{"wt":"RQ:Byron Childe Harold","href":"./Template:RQ:Byron_Childe_Harold"},"params":{"canto":{"wt":"I"},"stanza":{"wt":"XXXVI"},"passage":{"wt":"Must thou trust Tradition&apos;s &apos;&apos;&apos;simple&apos;&apos;&apos; tongue?"}},"i":0}}]}'
                     id="mwUA"><span class="cited-source"><b>1812</b>,  <a rel="mw:WikiLink/Interwiki"
                                                                           href="https://en.wikipedia.org/wiki/Lord%20Byron"
                                                                           title="w:Lord Byron" class="extiw">Lord Byron</a>,  <cite><a
                        rel="mw:WikiLink/Interwiki"
                        href="https://en.wikipedia.org/wiki/Childe%20Harold's%20Pilgrimage"
                        title="w:Childe Harold's Pilgrimage" class="extiw">Childe Harold’s Pilgrimage. A Romaunt</a></cite>, London<span
                        typeof="mw:Entity">:</span> Printed for<span typeof="mw:Entity"> </span><a
                        rel="mw:WikiLink/Interwiki"
                        href="https://en.wikipedia.org/wiki/John%20Murray%20(publishing%20house)"
                        title="w:John Murray (publishing house)" class="extiw">John Murray</a>,<span
                        class="q-hellip-sp"><span typeof="mw:Entity"> </span></span><span
                        class="q-hellip-b">[</span><span title="32, Fleet-Street">…</span><span
                        class="q-hellip-b">]</span><span class="q-hellip-b"></span>; <a rel="mw:WikiLink/Interwiki"
                                                                                        href="https://en.wikipedia.org/wiki/William%20Blackwood"
                                                                                        title="w:William Blackwood"
                                                                                        class="extiw">William Blackwood</a>, Edinburgh; and John Cumming, Dublin; by <a
                        rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Thomas%20Davison"
                        title="w:Thomas Davison" class="extiw">Thomas Davison</a>,<span class="q-hellip-sp"><span
                        typeof="mw:Entity"> </span></span><span class="q-hellip-b">[</span><span
                        title="White-Friars">…</span><span class="q-hellip-b">]</span><span
                        class="q-hellip-b"></span>, <small><a rel="mw:WikiLink/Interwiki"
                                                              href="https://en.wikipedia.org/wiki/OCLC"
                                                              title="w:OCLC" class="extiw">OCLC</a> <a
                        rel="mw:ExtLink" href="https://worldcat.org/oclc/22697011"
                        class="external text">22697011</a></small>, canto I, stanza XXXVI:<link
                        rel="mw:PageProp/Category" href="./Category:English_terms_with_quotations#SIMPLE"/></span>
                    <dl>
                        <dd>
                            <div class="h-quotation"><span class="Latn e-quotation" lang="en">Must thou trust Tradition's <b>simple</b> tongue?</span>
                            </div>
                        </dd>
                    </dl>
                </div>
            </li>
            <li id="mwUQ"><b about="#mwt26" typeof="mw:Transclusion"
                             data-mw='{"parts":[{"template":{"target":{"wt":"RQ:Emerson Literary Ethics","href":"./Template:RQ:Emerson_Literary_Ethics"},"params":{},"i":0}}]}'
                             id="mwUg">1838</b><span about="#mwt26">, </span><a rel="mw:WikiLink/Interwiki"
                                                                                href="https://en.wikipedia.org/wiki/Ralph%20Waldo%20Emerson"
                                                                                title="wikipedia:Ralph Waldo Emerson"
                                                                                about="#mwt26" class="extiw">Ralph
                Waldo Emerson</a><span about="#mwt26">, </span><i about="#mwt26">Literary Ethics - an Oration
                delivered before the Literary Societies of Dartmouth College, July 24, 1838</i>
                <dl id="mwUw">
                    <dd id="mwVA">To be <b id="mwVQ">simple</b> is to be great.</dd>
                </dl>
            </li>
        </ul>
    </li>
    <li id="mwVg"><a rel="mw:WikiLink" href="./undistinguished" title="undistinguished"
                     id="mwVw">Undistinguished</a> in social condition; of no special <a rel="mw:WikiLink"
                                                                                         href="./rank" title="rank"
                                                                                         id="mwWA">rank</a>.
        <dl id="mwWQ">
            <dd id="mwWg"><span class="nyms antonym" about="#mwt27" typeof="mw:Transclusion"
                                data-mw='{"parts":[{"template":{"target":{"wt":"antonyms","href":"./Template:antonyms"},"params":{"1":{"wt":"en"},"2":{"wt":"gentle"}},"i":0}}]}'
                                id="mwWw"><span class="defdate">Antonym:</span> <span class="Latn" lang="en"><a
                    rel="mw:WikiLink" href="./gentle#English" title="gentle">gentle</a></span></span></dd>
        </dl>
    </li>
    <li id="mwXA"><span class="ib-brac" about="#mwt28" typeof="mw:Transclusion"
                        data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"en"},"2":{"wt":"now"},"3":{"wt":"rare"}},"i":0}}]}'
                        id="mwXQ">(</span><span class="ib-content" about="#mwt28">now<span
            typeof="mw:Entity"> </span><a rel="mw:WikiLink" href="./Appendix:Glossary#rare"
                                          title="Appendix:Glossary">rare</a><link rel="mw:PageProp/Category"
                                                                                  href="./Category:English_terms_with_rare_senses#SIMPLE"/></span><span
            class="ib-brac" about="#mwt28" id="mwXg">)</span> <a rel="mw:WikiLink" href="./trivial" title="trivial"
                                                                 id="mwXw">Trivial</a>; <a rel="mw:WikiLink"
                                                                                           href="./insignificant"
                                                                                           title="insignificant"
                                                                                           id="mwYA">insignificant</a>.
        <ul id="mwYQ">
            <li id="mwYg"><b id="mwYw">1485</b>, <a rel="mw:WikiLink/Interwiki"
                                                    href="https://en.wikipedia.org/wiki/Thomas%20Malory"
                                                    title="wikipedia:Thomas Malory" about="#mwt29"
                                                    typeof="mw:Transclusion" class="extiw"
                                                    data-mw='{"parts":[{"template":{"target":{"wt":"w","href":"./Template:w"},"params":{"1":{"wt":"Thomas Malory"}},"i":0}}]}'
                                                    id="mwZA">Thomas Malory</a>, <i id="mwZQ"><a
                    rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Le%20Morte%20d'Arthur"
                    title="wikipedia:Le Morte d'Arthur" about="#mwt30" typeof="mw:Transclusion" class="extiw"
                    data-mw='{"parts":[{"template":{"target":{"wt":"w","href":"./Template:w"},"params":{"1":{"wt":"Le Morte d&apos;Arthur"}},"i":0}}]}'
                    id="mwZg">Le Morte d'Arthur</a></i>, Book X:
                <dl id="mwZw">
                    <dd id="mwaA">‘That was a <b id="mwaQ">symple</b> cause,’ seyde Sir Trystram, ‘for to sle a good
                        knyght for seyynge well by his maystir.’
                    </dd>
                </dl>
            </li>
        </ul>
    </li>
    <li id="mwag"><span class="ib-brac" about="#mwt31" typeof="mw:Transclusion"
                        data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"en"},"2":{"wt":"now"},"3":{"wt":"colloquial"},"4":{"wt":"euphemism"}},"i":0}}]}'
                        id="mwaw">(</span><span class="ib-content" about="#mwt31">now<span
            typeof="mw:Entity"> </span><a rel="mw:WikiLink" href="./Appendix:Glossary#colloquial"
                                          title="Appendix:Glossary">colloquial</a><link rel="mw:PageProp/Category"
                                                                                        href="./Category:English_informal_terms#SIMPLE"/><span
            class="ib-comma">,</span><span typeof="mw:Entity"> </span><a rel="mw:WikiLink"
                                                                         href="./Appendix:Glossary#euphemism"
                                                                         title="Appendix:Glossary">euphemistic</a><link
            rel="mw:PageProp/Category" href="./Category:English_euphemisms#SIMPLE"/></span><span class="ib-brac"
                                                                                                 about="#mwt31"
                                                                                                 id="mwbA">)</span>
        Feeble-minded; <a rel="mw:WikiLink" href="./foolish" title="foolish" id="mwbQ">foolish</a>.
    </li>
    <li id="mwbg"><span class="ib-brac" about="#mwt32" typeof="mw:Transclusion"
                        data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"en"},"2":{"wt":"heading"},"3":{"wt":"technical"}},"i":0}}]}'
                        id="mwbw">(</span><span class="ib-content" about="#mwt32">heading<span
            class="ib-comma">,</span><span typeof="mw:Entity"> </span>technical</span><span class="ib-brac"
                                                                                            about="#mwt32"
                                                                                            id="mwcA">)</span>
        Structurally uncomplicated.
        <ol id="mwcQ">
            <li id="mwcg"><span class="ib-brac" about="#mwt33" typeof="mw:Transclusion"
                                data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"en"},"2":{"wt":"chemistry"},"3":{"wt":"pharmacology"}},"i":0}}]}'
                                id="mwcw">(</span><span class="ib-content" about="#mwt33"><a rel="mw:WikiLink"
                                                                                             href="./chemistry"
                                                                                             title="chemistry">chemistry</a><link
                    rel="mw:PageProp/Category" href="./Category:en:Chemistry#SIMPLE"/><span
                    class="ib-comma">,</span><span typeof="mw:Entity"> </span><a rel="mw:WikiLink"
                                                                                 href="./pharmacology"
                                                                                 title="pharmacology">pharmacology</a><link
                    rel="mw:PageProp/Category" href="./Category:en:Pharmacology#SIMPLE"/></span><span
                    class="ib-brac" about="#mwt33" id="mwdA">)</span> Consisting of one <a rel="mw:WikiLink"
                                                                                           href="./single"
                                                                                           title="single" id="mwdQ">single</a>
                substance; <a rel="mw:WikiLink" href="./uncompounded" title="uncompounded"
                              id="mwdg">uncompounded</a>.
            </li>
            <li id="mwdw"><span class="ib-brac" about="#mwt34" typeof="mw:Transclusion"
                                data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"en"},"2":{"wt":"mathematics"}},"i":0}}]}'
                                id="mweA">(</span><span class="ib-content" about="#mwt34"><a rel="mw:WikiLink"
                                                                                             href="./mathematics"
                                                                                             title="mathematics">mathematics</a><link
                    rel="mw:PageProp/Category" href="./Category:en:Mathematics#SIMPLE"/></span><span class="ib-brac"
                                                                                                     about="#mwt34"
                                                                                                     id="mweQ">)</span>
                Of a group: having no <a rel="mw:WikiLink" href="./normal" title="normal" id="mweg">normal</a> <a
                        rel="mw:WikiLink" href="./subgroup" title="subgroup" id="mwew">subgroup</a>.
            </li>
            <li id="mwfA"><span class="ib-brac" about="#mwt35" typeof="mw:Transclusion"
                                data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"en"},"2":{"wt":"botany"}},"i":0}}]}'
                                id="mwfQ">(</span><span class="ib-content" about="#mwt35"><a rel="mw:WikiLink"
                                                                                             href="./botany"
                                                                                             title="botany">botany</a><link
                    rel="mw:PageProp/Category" href="./Category:en:Botany#SIMPLE"/></span><span class="ib-brac"
                                                                                                about="#mwt35"
                                                                                                id="mwfg">)</span>
                Not <a rel="mw:WikiLink" href="./compound" title="compound" id="mwfw">compound</a>, but possibly <a
                        rel="mw:WikiLink" href="./lobed" title="lobed" id="mwgA">lobed</a>.
            </li>
            <li id="mwgQ"><span class="ib-brac qualifier-brac" about="#mwt36" typeof="mw:Transclusion"
                                data-mw='{"parts":[{"template":{"target":{"wt":"q","href":"./Template:q"},"params":{"1":{"wt":"of a steam engine"}},"i":0}}]}'
                                id="mwgg">(</span><span class="ib-content qualifier-content" about="#mwt36">of a steam engine</span><span
                    class="ib-brac qualifier-brac" about="#mwt36" id="mwgw">)</span> Using <a rel="mw:WikiLink"
                                                                                              href="./steam"
                                                                                              title="steam"
                                                                                              id="mwhA">steam</a>
                only once in its <a rel="mw:WikiLink" href="./cylinders" title="cylinders" id="mwhQ">cylinders</a>,
                in contrast to a <a rel="mw:WikiLink" href="./compound" title="compound" id="mwhg">compound</a>
                engine, where steam is used more than once in <a rel="mw:WikiLink" href="./high-pressure"
                                                                 title="high-pressure" id="mwhw">high-pressure</a>
                and <a rel="mw:WikiLink" href="./low-pressure" title="low-pressure" id="mwiA">low-pressure</a>
                cylinders.
                <ul id="mwiQ">
                    <li id="mwig"><b id="mwiw">1959</b>, <i id="mwjA">Steam's Finest Hour</i>, edited by David P.
                        Morgan, Kalmbach Publishing Co., page 6:
                        <dl id="mwjQ">
                            <dd id="mwjg">
                                <div class="h-quotation" about="#mwt37" typeof="mw:Transclusion"
                                     data-mw='{"parts":[{"template":{"target":{"wt":"quote","href":"./Template:quote"},"params":{"1":{"wt":"en"},"2":{"wt":"Chesapeake &amp; Ohio turned to &apos;&apos;&apos;simple&apos;&apos;&apos; articulateds, for instance, simply because its Alleghany tunnels would not accommodate the low-pressure forward cylinders of larger compounds."}},"i":0}}]}'
                                     id="mwjw"><span class="Latn e-quotation" lang="en">Chesapeake &amp; Ohio turned to <b>simple</b> articulateds, for instance, simply because its Alleghany tunnels would not accommodate the low-pressure forward cylinders of larger compounds.</span>
                                </div>
                                <link rel="mw:PageProp/Category"
                                      href="./Category:English_terms_with_quotations#SIMPLE" about="#mwt37"
                                      id="mwkA"/>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </li>
            <li id="mwkQ"><span class="ib-brac" about="#mwt38" typeof="mw:Transclusion"
                                data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"en"},"2":{"wt":"zoology"}},"i":0}}]}'
                                id="mwkg">(</span><span class="ib-content" about="#mwt38"><a rel="mw:WikiLink"
                                                                                             href="./zoology"
                                                                                             title="zoology">zoology</a><link
                    rel="mw:PageProp/Category" href="./Category:en:Zoology#SIMPLE"/></span><span class="ib-brac"
                                                                                                 about="#mwt38"
                                                                                                 id="mwkw">)</span>
                Consisting of a single individual or <a rel="mw:WikiLink" href="./zooid" title="zooid" id="mwlA">zooid</a>;
                not <a rel="mw:WikiLink" href="./compound" title="compound" id="mwlQ">compound</a>.
                <dl id="mwlg">
                    <dd id="mwlw">
                        <div class="h-usage-example" about="#mwt39" typeof="mw:Transclusion"
                             data-mw='{"parts":[{"template":{"target":{"wt":"ux","href":"./Template:ux"},"params":{"1":{"wt":"en"},"2":{"wt":"a &apos;&apos;&apos;simple&apos;&apos;&apos; ascidian"}},"i":0}}]}'
                             id="mwmA"><i class="Latn mention e-example" lang="en">a <b>simple</b> ascidian</i>
                        </div>
                        <link rel="mw:PageProp/Category" href="./Category:English_terms_with_usage_examples#SIMPLE"
                              about="#mwt39" id="mwmQ"/>
                    </dd>
                </dl>
            </li>
            <li id="mwmg"><span class="ib-brac" about="#mwt40" typeof="mw:Transclusion"
                                data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"en"},"2":{"wt":"mineralogy"}},"i":0}}]}'
                                id="mwmw">(</span><span class="ib-content" about="#mwt40"><a rel="mw:WikiLink"
                                                                                             href="./mineralogy"
                                                                                             title="mineralogy">mineralogy</a><link
                    rel="mw:PageProp/Category" href="./Category:en:Mineralogy#SIMPLE"/></span><span class="ib-brac"
                                                                                                    about="#mwt40"
                                                                                                    id="mwnA">)</span>
                <a rel="mw:WikiLink" href="./homogenous" title="homogenous" id="mwnQ">Homogenous</a>.
            </li>
        </ol>
    </li>
    <li id="mwng"><span class="ib-brac" about="#mwt41" typeof="mw:Transclusion"
                        data-mw='{"parts":[{"template":{"target":{"wt":"lb","href":"./Template:lb"},"params":{"1":{"wt":"en"},"2":{"wt":"obsolete"}},"i":0}}]}'
                        id="mwnw">(</span><span class="ib-content" about="#mwt41"><a rel="mw:WikiLink"
                                                                                     href="./Appendix:Glossary#obsolete"
                                                                                     title="Appendix:Glossary">obsolete</a><link
            rel="mw:PageProp/Category" href="./Category:English_terms_with_obsolete_senses#SIMPLE"/></span><span
            class="ib-brac" about="#mwt41" id="mwoA">)</span> Mere; not other than; being only.
        <ul id="mwoQ">
            <li id="mwog">
                <div class="citation-whole" about="#mwt42" typeof="mw:Transclusion"
                     data-mw='{"parts":[{"template":{"target":{"wt":"RQ:Shakespeare All&apos;s Well","href":"./Template:RQ:Shakespeare_All&apos;s_Well"},"params":{"act":{"wt":"II"},"scene":{"wt":"i"},"passage":{"wt":"A medicine{{...}}whose &apos;&apos;&apos;simple&apos;&apos;&apos; touch / Is powerful to araise King Pepin."}},"i":0}}]}'
                     id="mwow"><span class="cited-source"><i><a rel="mw:WikiLink" href="./Appendix:Glossary#c."
                                                                title="Appendix:Glossary"><abbr
                        title="circa">c.</abbr></a></i> <b>1604–1605</b>,  <a rel="mw:WikiLink/Interwiki"
                                                                              href="https://en.wikipedia.org/wiki/William%20Shakespeare"
                                                                              title="w:William Shakespeare"
                                                                              class="extiw">William Shakespeare</a>,  “<a
                        rel="mw:WikiLink/Interwiki"
                        href="https://en.wikipedia.org/wiki/All's%20Well%20That%20Ends%20Well"
                        title="w:All's Well That Ends Well"
                        class="extiw">All’s VVell, that Ends VVell</a>”, in  <cite>Mr. William Shakespeares Comedies, Histories, &amp; Tragedies<span
                        class="q-hellip-sp"><span typeof="mw:Entity"> </span></span><span class="q-hellip-b"><span
                        style="font-style: normal;">[</span></span><span
                        title="Published According to the True Originall Copies.">…</span><span
                        class="q-hellip-b"><span style="font-style: normal;">]</span></span><span
                        class="q-hellip-b"></span></cite> (<a rel="mw:WikiLink/Interwiki"
                                                              href="https://en.wikipedia.org/wiki/First%20Folio"
                                                              title="w:First Folio" class="extiw">First Folio</a>), London<span
                        typeof="mw:Entity">:</span> <span class="q-hellip-sp"><span
                        typeof="mw:Entity"> </span></span><span class="q-hellip-b">[</span><span title="Printed by">…</span><span
                        class="q-hellip-b">]</span><span class="q-hellip-b"><span typeof="mw:Entity"> </span></span> <a
                        rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/William%20Jaggard"
                        title="w:William Jaggard" class="extiw">Isaac Iaggard</a>, and <a
                        rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Edward%20Blount"
                        title="w:Edward Blount" class="extiw">Ed[ward] Blount</a>, published 1623, <small><a
                        rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/OCLC" title="w:OCLC"
                        class="extiw">OCLC</a> <a rel="mw:ExtLink" href="https://worldcat.org/oclc/606515358"
                                                  class="external text">606515358</a></small>, [Act II, scene i]:<link
                        rel="mw:PageProp/Category" href="./Category:English_terms_with_quotations#SIMPLE"/></span>
                    <dl>
                        <dd>
                            <div class="h-quotation"><span class="Latn e-quotation" lang="en">A medicine<span
                                    class="q-hellip-sp"><span typeof="mw:Entity"> </span></span><span
                                    class="q-hellip-b">[</span>…<span class="q-hellip-b">]</span><span
                                    class="q-hellip-b"><span typeof="mw:Entity"> </span></span>whose <b>simple</b> touch / Is powerful to araise King Pepin.</span>
                            </div>
                        </dd>
                    </dl>
                </div>
            </li>
        </ul>
    </li>
</ol>
