<ol id="mwCw">
    <li id="mwDA">name of various <a rel="mw:WikiLink" href="./nightshade" title="nightshade" id="mwDQ">nightshades</a>:
        <ol id="mwDg">
            <li id="mwDw"><a rel="mw:WikiLink" href="./winter_cherry" title="winter cherry" id="mwEA">winter cherry</a> (<i id="mwEQ"><a rel="mw:WikiLink" href="./Alkekengi_officinarum" title="Alkekengi officinarum" id="mwEg">Alkekengi officinarum</a></i>, syn. <i id="mwEw"><a rel="mw:WikiLink" href="./Physalis_alkekengi" title="Physalis alkekengi" id="mwFA">Physalis alkekengi</a></i>)
                <dl id="mwFQ">
                    <dd id="mwFg">
                        <span class="nyms synonym" about="#mwt4" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;grc&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ἁλικάκκαβον&quot;}},&quot;i&quot;:0}}]}" id="mwFw"><span class="defdate">Synonym:</span> <span class="polytonic" lang="grc"><a rel="mw:WikiLink" href="./ἁλικάκκαβον#Ancient_Greek" title="ἁλικάκκαβον">ἁλικάκκαβον</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="grc-Latn" class="tr Latn">halikákkabon</span><span class="mention-gloss-paren annotation-paren">)</span></span>
                    </dd>
                </dl></li>
            <li id="mwGA"><a rel="mw:WikiLink" href="./black_nightshade" title="black nightshade" id="mwGQ">black nightshade</a> (<i id="mwGg"><a rel="mw:WikiLink" href="./Solanum_nigrum" title="Solanum nigrum" id="mwGw">Solanum nigrum</a></i>)</li>
            <li id="mwHA"><a rel="mw:WikiLink" href="./thorn_apple" title="thorn apple" id="mwHQ">thorn apple</a> (<i id="mwHg"><a rel="mw:WikiLink" href="./Datura_stramonium" title="Datura stramonium" id="mwHw">Datura stramonium</a></i>)
                <dl id="mwIA">
                    <dd id="mwIQ">
                        <span class="nyms synonym" about="#mwt5" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;grc&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ἱππομᾰνές&quot;}},&quot;i&quot;:0}}]}" id="mwIg"><span class="defdate">Synonym:</span> <span class="polytonic" lang="grc"><a rel="mw:WikiLink" href="./ἱππομανές#Ancient_Greek" title="ἱππομανές">ἱππομᾰνές</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="grc-Latn" class="tr Latn">hippomanés</span><span class="mention-gloss-paren annotation-paren">)</span></span>
                    </dd>
                </dl></li>
            <li id="mwIw"><a rel="mw:WikiLink" href="./ashwagandha" title="ashwagandha" id="mwJA">ashwagandha</a> (<i id="mwJQ"><a rel="mw:WikiLink" href="./Withania_somnifera" title="Withania somnifera" id="mwJg">Withania somnifera</a></i>)
                <dl id="mwJw">
                    <dd id="mwKA">
                        <span class="nyms synonym" about="#mwt6" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;grc&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ἁλικάκκαβον&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;κακκαλία&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;μώριος&quot;}},&quot;i&quot;:0}}]}" id="mwKQ"><span class="defdate">Synonyms:</span> <span class="polytonic" lang="grc"><a rel="mw:WikiLink" href="./ἁλικάκκαβον#Ancient_Greek" title="ἁλικάκκαβον">ἁλικάκκαβον</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="grc-Latn" class="tr Latn">halikákkabon</span><span class="mention-gloss-paren annotation-paren">)</span>, <span class="polytonic" lang="grc"><a rel="mw:WikiLink" href="./κακκαλία#Ancient_Greek" title="κακκαλία">κακκαλία</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="grc-Latn" class="tr Latn">kakkalía</span><span class="mention-gloss-paren annotation-paren">)</span>, <span class="polytonic" lang="grc"><a rel="mw:WikiLink" href="./μώριος#Ancient_Greek" title="μώριος">μώριος</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="grc-Latn" class="tr Latn">mṓrios</span><span class="mention-gloss-paren annotation-paren">)</span></span>
                    </dd>
                </dl></li>
        </ol></li>
</ol>
