<h2 id="Ancient_Greek">Ancient Greek</h2>
<section data-mw-section-id="2" id="mwAw">
 <h3 id="Etymology">Etymology</h3>
 <p id="mwBA">According to Beekes, of <span class="etyl" about="#mwt1" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;der&quot;,&quot;href&quot;:&quot;./Template:der&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;grc&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;pregrc&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;-&quot;}},&quot;i&quot;:0}}]}" id="mwBQ"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Pre-Greek%20substrate" title="w:Pre-Greek substrate" class="extiw">Pre-Greek</a>
   <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_terms_derived_from_Pre-Greek#ΣΤΡΥΧΝΟΝ"></span> origin.</p>
</section>
<section data-mw-section-id="3" id="mwBg">
 <h3 id="Pronunciation">Pronunciation</h3>
 <div class="vsSwitcher" data-toggle-category="pronunciations" style="width: 36em; max-width:100%;" about="#mwt2" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;grc-IPA&quot;,&quot;href&quot;:&quot;./Template:grc-IPA&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwBw">
  <span class="vsToggleElement" style="float: right;"><span typeof="mw:Entity">&nbsp;</span></span>
  <div class="vsShow" style="display:none">
   <ul>
    <li><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Ancient%20Greek%20phonology" title="wikipedia:Ancient Greek phonology" class="extiw">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/strý.kʰnon/</span> → <span class="IPA">/ˈstry.xnon/</span> → <span class="IPA">/ˈstri.xnon/</span>
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_2-syllable_words">
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_2-syllable_words">
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_2-syllable_words">
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_terms_with_IPA_pronunciation#ΣΤΡΥΧΝΟΝ"></li>
   </ul>
  </div>
  <div class="vsHide">
   <ul>
    <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Ancient%20Greek%20phonology" title="w:Ancient Greek phonology" class="extiw">5<sup>th</sup> <small class="ce-date2">BCE</small> Attic</a></span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Ancient%20Greek%20phonology" title="wikipedia:Ancient Greek phonology" class="extiw">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/strý.kʰnon/</span>
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_2-syllable_words">
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_terms_with_IPA_pronunciation#ΣΤΡΥΧΝΟΝ"></li>
    <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Koine%20Greek%20phonology" title="w:Koine Greek phonology" class="extiw">1<sup>st</sup> <small class="ce-date2">CE</small> Egyptian</a></span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Ancient%20Greek%20phonology" title="wikipedia:Ancient Greek phonology" class="extiw">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/ˈstry.kʰnon/</span>
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_2-syllable_words">
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_terms_with_IPA_pronunciation#ΣΤΡΥΧΝΟΝ"></li>
    <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Koine%20Greek%20phonology" title="w:Koine Greek phonology" class="extiw">4<sup>th</sup> <small class="ce-date2">CE</small> Koine</a></span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Ancient%20Greek%20phonology" title="wikipedia:Ancient Greek phonology" class="extiw">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/ˈstry.xnon/</span>
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_2-syllable_words">
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_terms_with_IPA_pronunciation#ΣΤΡΥΧΝΟΝ"></li>
    <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Medieval%20Greek" title="w:Medieval Greek" class="extiw">10<sup>th</sup> <small class="ce-date2">CE</small> Byzantine</a></span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Ancient%20Greek%20phonology" title="wikipedia:Ancient Greek phonology" class="extiw">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/ˈstry.xnon/</span>
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_2-syllable_words">
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_terms_with_IPA_pronunciation#ΣΤΡΥΧΝΟΝ"></li>
    <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Medieval%20Greek" title="w:Medieval Greek" class="extiw">15<sup>th</sup> <small class="ce-date2">CE</small> Constantinopolitan</a></span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Ancient%20Greek%20phonology" title="wikipedia:Ancient Greek phonology" class="extiw">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/ˈstri.xnon/</span>
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_2-syllable_words">
     <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_terms_with_IPA_pronunciation#ΣΤΡΥΧΝΟΝ"></li>
   </ul>
  </div>
 </div>
</section>
<section data-mw-section-id="4" id="mwCA">
 <h3 id="Noun">Noun</h3>
 <p id="mwCQ"><strong class="polytonic headword" lang="grc" about="#mwt3" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;grc-noun&quot;,&quot;href&quot;:&quot;./Template:grc-noun&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;στρύχνου&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;n&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;second&quot;}},&quot;i&quot;:0}}]}" id="mwCg">στρύχνον</strong><span about="#mwt3"> </span><a rel="mw:WikiLink" href="./Wiktionary:Ancient_Greek_transliteration" title="Wiktionary:Ancient Greek transliteration" about="#mwt3">•</a><span about="#mwt3"> (</span><span lang="grc-Latn" class="headword-tr tr Latn" dir="ltr" about="#mwt3">strúkhnon</span><span about="#mwt3">)</span><span typeof="mw:Entity" about="#mwt3">&nbsp;</span><span class="gender" about="#mwt3"><abbr title="neuter gender">n</abbr></span><span about="#mwt3"> (</span><i about="#mwt3">genitive</i><span about="#mwt3"> </span><b class="polytonic" lang="grc" about="#mwt3"><a rel="mw:WikiLink" href="./στρύχνου?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνου" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνου&quot;]}}">στρύχνου</a></b><span about="#mwt3">)</span>
  <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_lemmas#ΣΤΡΥΧΝΟΝ" about="#mwt3">
  <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_nouns#ΣΤΡΥΧΝΟΝ" about="#mwt3">
  <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_paroxytone_terms#ΣΤΡΥΧΝΟΝ" about="#mwt3">
  <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_neuter_nouns#ΣΤΡΥΧΝΟΝ" about="#mwt3">
  <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_second-declension_nouns#ΣΤΡΥΧΝΟΝ" about="#mwt3">
  <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_neuter_nouns_in_the_second_declension#ΣΤΡΥΧΝΟΝ" about="#mwt3">
  <link rel="mw:PageProp/Category" href="./Category:Ancient_Greek_neuter_nouns#ΣΤΡΥΧΝΟΝ" about="#mwt3"><span about="#mwt3">; </span><i about="#mwt3"><a rel="mw:WikiLink" href="./Appendix:Ancient_Greek_second_declension" title="Appendix:Ancient Greek second declension">second declension</a></i></p>
 <ol id="mwCw">
  <li id="mwDA">name of various <a rel="mw:WikiLink" href="./nightshade" title="nightshade" id="mwDQ">nightshades</a>: 
   <ol id="mwDg">
    <li id="mwDw"><a rel="mw:WikiLink" href="./winter_cherry" title="winter cherry" id="mwEA">winter cherry</a> (<i id="mwEQ"><a rel="mw:WikiLink" href="./Alkekengi_officinarum" title="Alkekengi officinarum" id="mwEg">Alkekengi officinarum</a></i>, syn. <i id="mwEw"><a rel="mw:WikiLink" href="./Physalis_alkekengi" title="Physalis alkekengi" id="mwFA">Physalis alkekengi</a></i>) 
     <dl id="mwFQ">
      <dd id="mwFg">
       <span class="nyms synonym" about="#mwt4" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;grc&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ἁλικάκκαβον&quot;}},&quot;i&quot;:0}}]}" id="mwFw"><span class="defdate">Synonym:</span> <span class="polytonic" lang="grc"><a rel="mw:WikiLink" href="./ἁλικάκκαβον#Ancient_Greek" title="ἁλικάκκαβον">ἁλικάκκαβον</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="grc-Latn" class="tr Latn">halikákkabon</span><span class="mention-gloss-paren annotation-paren">)</span></span>
      </dd>
     </dl></li>
    <li id="mwGA"><a rel="mw:WikiLink" href="./black_nightshade" title="black nightshade" id="mwGQ">black nightshade</a> (<i id="mwGg"><a rel="mw:WikiLink" href="./Solanum_nigrum" title="Solanum nigrum" id="mwGw">Solanum nigrum</a></i>)</li>
    <li id="mwHA"><a rel="mw:WikiLink" href="./thorn_apple" title="thorn apple" id="mwHQ">thorn apple</a> (<i id="mwHg"><a rel="mw:WikiLink" href="./Datura_stramonium" title="Datura stramonium" id="mwHw">Datura stramonium</a></i>) 
     <dl id="mwIA">
      <dd id="mwIQ">
       <span class="nyms synonym" about="#mwt5" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;grc&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ἱππομᾰνές&quot;}},&quot;i&quot;:0}}]}" id="mwIg"><span class="defdate">Synonym:</span> <span class="polytonic" lang="grc"><a rel="mw:WikiLink" href="./ἱππομανές#Ancient_Greek" title="ἱππομανές">ἱππομᾰνές</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="grc-Latn" class="tr Latn">hippomanés</span><span class="mention-gloss-paren annotation-paren">)</span></span>
      </dd>
     </dl></li>
    <li id="mwIw"><a rel="mw:WikiLink" href="./ashwagandha" title="ashwagandha" id="mwJA">ashwagandha</a> (<i id="mwJQ"><a rel="mw:WikiLink" href="./Withania_somnifera" title="Withania somnifera" id="mwJg">Withania somnifera</a></i>) 
     <dl id="mwJw">
      <dd id="mwKA">
       <span class="nyms synonym" about="#mwt6" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;grc&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ἁλικάκκαβον&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;κακκαλία&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;μώριος&quot;}},&quot;i&quot;:0}}]}" id="mwKQ"><span class="defdate">Synonyms:</span> <span class="polytonic" lang="grc"><a rel="mw:WikiLink" href="./ἁλικάκκαβον#Ancient_Greek" title="ἁλικάκκαβον">ἁλικάκκαβον</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="grc-Latn" class="tr Latn">halikákkabon</span><span class="mention-gloss-paren annotation-paren">)</span>, <span class="polytonic" lang="grc"><a rel="mw:WikiLink" href="./κακκαλία#Ancient_Greek" title="κακκαλία">κακκαλία</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="grc-Latn" class="tr Latn">kakkalía</span><span class="mention-gloss-paren annotation-paren">)</span>, <span class="polytonic" lang="grc"><a rel="mw:WikiLink" href="./μώριος#Ancient_Greek" title="μώριος">μώριος</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="grc-Latn" class="tr Latn">mṓrios</span><span class="mention-gloss-paren annotation-paren">)</span></span>
      </dd>
     </dl></li>
   </ol></li>
 </ol>
 <section data-mw-section-id="5" id="mwKg">
  <h4 id="Inflection">Inflection</h4>
  <div class="NavFrame grc-decl" about="#mwt7" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;grc-decl&quot;,&quot;href&quot;:&quot;./Template:grc-decl&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;στρύχνον&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ου&quot;}},&quot;i&quot;:0}}]}" id="mwKw">
   <div class="NavHead">
    <a rel="mw:WikiLink" href="./Appendix:Ancient_Greek_second_declension" title="Appendix:Ancient Greek second declension">Second declension</a> of <span class="polytonic form-of lang-grc nom|s-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τὸ#Ancient_Greek" title="τὸ" class="mw-redirect">τὸ</a></span> <span class="polytonic form-of lang-grc nom|s-form-of     origin-στρῠ́χνον   " lang="grc"><strong class="selflink">στρῠ́χνον</strong></span>; <span class="polytonic form-of lang-grc gen|s-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τοῦ#Ancient_Greek" title="τοῦ">τοῦ</a></span> <span class="polytonic form-of lang-grc gen|s-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνου?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνου" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνου&quot;]}}">στρῠ́χνου</a></span> (<a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Attic%20Greek" title="w:Attic Greek" class="extiw">Attic</a>)
   </div>
   <div class="NavContent">
    <table class="inflection-table inflection-table-grc">
     <tbody>
      <tr>
       <th class="case-number-header">Case / #</th>
       <th class="number-header">Singular</th>
       <th class="number-header">Dual</th>
       <th class="number-header">Plural</th>
      </tr>
      <tr>
       <th class="case-header">Nominative</th>
       <td class="form" data-accel-col="1"><span class="polytonic form-of lang-grc nom|s-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τὸ#Ancient_Greek" title="τὸ" class="mw-redirect">τὸ</a></span> <span class="polytonic form-of lang-grc nom|s-form-of     origin-στρῠ́χνον   " lang="grc"><strong class="selflink">στρῠ́χνον</strong></span><br><span lang="grc-Latn" class="tr Latn">tò strúkhnon</span></td>
       <td class="form" data-accel-col="2"><span class="polytonic form-of lang-grc nom|d-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τὼ#Ancient_Greek" title="τὼ" class="mw-redirect">τὼ</a></span> <span class="polytonic form-of lang-grc nom|d-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνω?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνω" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνω&quot;]}}">στρῠ́χνω</a></span><br><span lang="grc-Latn" class="tr Latn">tṑ strúkhnō</span></td>
       <td class="form" data-accel-col="3"><span class="polytonic form-of lang-grc nom|p-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τὰ#Ancient_Greek" title="τὰ" class="mw-redirect">τᾰ̀</a></span> <span class="polytonic form-of lang-grc nom|p-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνα?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνα" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνα&quot;]}}">στρῠ́χνᾰ</a></span><br><span lang="grc-Latn" class="tr Latn">tà strúkhna</span></td>
      </tr>
      <tr>
       <th class="case-header">Genitive</th>
       <td class="form" data-accel-col="1"><span class="polytonic form-of lang-grc gen|s-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τοῦ#Ancient_Greek" title="τοῦ">τοῦ</a></span> <span class="polytonic form-of lang-grc gen|s-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνου?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνου" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνου&quot;]}}">στρῠ́χνου</a></span><br><span lang="grc-Latn" class="tr Latn">toû strúkhnou</span></td>
       <td class="form" data-accel-col="2"><span class="polytonic form-of lang-grc gen|d-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τοῖν#Ancient_Greek" title="τοῖν">τοῖν</a></span> <span class="polytonic form-of lang-grc gen|d-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνοιν?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνοιν" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνοιν&quot;]}}">στρῠ́χνοιν</a></span><br><span lang="grc-Latn" class="tr Latn">toîn strúkhnoin</span></td>
       <td class="form" data-accel-col="3"><span class="polytonic form-of lang-grc gen|p-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τῶν#Ancient_Greek" title="τῶν">τῶν</a></span> <span class="polytonic form-of lang-grc gen|p-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνων?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνων" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνων&quot;]}}">στρῠ́χνων</a></span><br><span lang="grc-Latn" class="tr Latn">tôn strúkhnōn</span></td>
      </tr>
      <tr>
       <th class="case-header">Dative</th>
       <td class="form" data-accel-col="1"><span class="polytonic form-of lang-grc dat|s-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τῷ#Ancient_Greek" title="τῷ">τῷ</a></span> <span class="polytonic form-of lang-grc dat|s-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνῳ?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνῳ" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνῳ&quot;]}}">στρῠ́χνῳ</a></span><br><span lang="grc-Latn" class="tr Latn">tôi strúkhnōi</span></td>
       <td class="form" data-accel-col="2"><span class="polytonic form-of lang-grc dat|d-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τοῖν#Ancient_Greek" title="τοῖν">τοῖν</a></span> <span class="polytonic form-of lang-grc dat|d-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνοιν?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνοιν" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνοιν&quot;]}}">στρῠ́χνοιν</a></span><br><span lang="grc-Latn" class="tr Latn">toîn strúkhnoin</span></td>
       <td class="form" data-accel-col="3"><span class="polytonic form-of lang-grc dat|p-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τοῖς#Ancient_Greek" title="τοῖς">τοῖς</a></span> <span class="polytonic form-of lang-grc dat|p-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνοις?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνοις" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνοις&quot;]}}">στρῠ́χνοις</a></span><br><span lang="grc-Latn" class="tr Latn">toîs strúkhnois</span></td>
      </tr>
      <tr>
       <th class="case-header">Accusative</th>
       <td class="form" data-accel-col="1"><span class="polytonic form-of lang-grc acc|s-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τὸ#Ancient_Greek" title="τὸ" class="mw-redirect">τὸ</a></span> <span class="polytonic form-of lang-grc acc|s-form-of     origin-στρῠ́χνον   " lang="grc"><strong class="selflink">στρῠ́χνον</strong></span><br><span lang="grc-Latn" class="tr Latn">tò strúkhnon</span></td>
       <td class="form" data-accel-col="2"><span class="polytonic form-of lang-grc acc|d-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τὼ#Ancient_Greek" title="τὼ" class="mw-redirect">τὼ</a></span> <span class="polytonic form-of lang-grc acc|d-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνω?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνω" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνω&quot;]}}">στρῠ́χνω</a></span><br><span lang="grc-Latn" class="tr Latn">tṑ strúkhnō</span></td>
       <td class="form" data-accel-col="3"><span class="polytonic form-of lang-grc acc|p-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./τὰ#Ancient_Greek" title="τὰ" class="mw-redirect">τᾰ̀</a></span> <span class="polytonic form-of lang-grc acc|p-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνα?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνα" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνα&quot;]}}">στρῠ́χνᾰ</a></span><br><span lang="grc-Latn" class="tr Latn">tà strúkhna</span></td>
      </tr>
      <tr>
       <th class="case-header">Vocative</th>
       <td class="form" data-accel-col="1"><span class="polytonic form-of lang-grc voc|s-form-of     origin-στρῠ́χνον   " lang="grc"><strong class="selflink">στρῠ́χνον</strong></span><br><span lang="grc-Latn" class="tr Latn">strúkhnon</span></td>
       <td class="form" data-accel-col="2"><span class="polytonic form-of lang-grc voc|d-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνω?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνω" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνω&quot;]}}">στρῠ́χνω</a></span><br><span lang="grc-Latn" class="tr Latn">strúkhnō</span></td>
       <td class="form" data-accel-col="3"><span class="polytonic form-of lang-grc voc|p-form-of     origin-στρῠ́χνον   " lang="grc"><a rel="mw:WikiLink" href="./στρύχνα?action=edit&amp;redlink=1#Ancient_Greek" title="στρύχνα" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;στρύχνα&quot;]}}">στρῠ́χνᾰ</a></span><br><span lang="grc-Latn" class="tr Latn">strúkhna</span></td>
      </tr>
      <tr>
       <th class="notes-header">Notes:</th>
       <td class="notes" colspan="13">
        <div class="use-with-mention">
         <ul>
          <li>This table gives Attic inflectional endings. For declension in other dialects, see <a rel="mw:WikiLink" href="./Appendix:Ancient_Greek_dialectal_declension" title="Appendix:Ancient Greek dialectal declension">Appendix:Ancient Greek dialectal declension</a>.</li>
         </ul>
        </div></td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
  <style data-mw-deduplicate="TemplateStyles:r52095985" typeof="mw:Extension/templatestyles" about="#mwt7" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;Module:grc-decl/style.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;}}">.mw-parser-output .grc-decl.NavFrame{clear:both;width:100%}.mw-parser-output .grc-decl .NavHead{text-align:center;cursor:pointer}.mw-parser-output .grc-decl .NavContent{display:block}.mw-parser-output .grc-decl table{width:100%;border-collapse:collapse;background:#A9A9A9;color:#000000;text-align:center}.mw-parser-output .grc-decl table,.mw-parser-output .grc-decl th,.mw-parser-output .grc-decl td{border:1px solid darkgray}.mw-parser-output .grc-decl .divider{width:0.5%}.mw-parser-output .grc-decl .case-number-header,.mw-parser-output .grc-decl .derived-forms-header,.mw-parser-output .grc-decl .case-header,.mw-parser-output .grc-decl .number-header,.mw-parser-output .grc-decl .gender-header,.mw-parser-output .grc-decl .notes-header,.mw-parser-output .grc-decl .derived-forms-header,.mw-parser-output .grc-decl .derived-form-name-header{font-style:italic}.mw-parser-output .grc-decl .case-number-header,.mw-parser-output .grc-decl .case-gender-header,.mw-parser-output .grc-decl .derived-forms-header{background:#B0C4DE}.mw-parser-output .grc-decl .case-number-header{width:16%}.mw-parser-output .grc-decl .number-header{width:28%}.mw-parser-output .grc-decl .case-header,.mw-parser-output .grc-decl .number-header,.mw-parser-output .grc-decl .gender-header,.mw-parser-output .grc-decl .notes-header,.mw-parser-output .grc-decl .derived-form-name-header{background:#C0C0C0}.mw-parser-output .grc-adecl .number-header{background:#CECECE}.mw-parser-output .grc-decl .form{background:#F5F5F5}.mw-parser-output .grc-decl .notes{background:#F5F5F5;text-align:left;font-size:90%}.mw-parser-output .grc-decl .tr{color:#888888}</style>
 </section>
 <section data-mw-section-id="6" id="mwLA">
  <h4 id="Descendants">Descendants</h4>
  <ul id="mwLQ">
   <li id="mwLg"><span about="#mwt10" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;desc&quot;,&quot;href&quot;:&quot;./Template:desc&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;el&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;στρύχνος&quot;}},&quot;i&quot;:0}}]}" id="mwLw">Greek: </span><span class="Grek" lang="el" about="#mwt10"><a rel="mw:WikiLink" href="./στρύχνος#Greek" title="στρύχνος">στρύχνος</a></span><span about="#mwt10"> </span><span class="mention-gloss-paren annotation-paren" about="#mwt10">(</span><span lang="el-Latn" class="tr Latn" about="#mwt10">strýchnos</span><span class="mention-gloss-paren annotation-paren" about="#mwt10">)</span>
    <style data-mw-deduplicate="TemplateStyles:r68481116" typeof="mw:Extension/templatestyles" about="#mwt10" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;Module:etymology/style.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;}}">.mw-parser-output .desc-arr[title]{cursor:help}.mw-parser-output .desc-arr[title="uncertain"]{font-size:.7em;vertical-align:super}</style></li>
   <li id="mwMA"><span class="desc-arr" title="borrowed" about="#mwt13" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;desc&quot;,&quot;href&quot;:&quot;./Template:desc&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;la&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;strychnos&quot;},&quot;bor&quot;:{&quot;wt&quot;:&quot;1&quot;}},&quot;i&quot;:0}}]}" id="mwMQ">→</span><span about="#mwt13"> Latin: </span><span class="Latn" lang="la" about="#mwt13"><a rel="mw:WikiLink" href="./strychnos#Latin" title="strychnos">strychnos</a></span>
    <link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r68481116" about="#mwt13" typeof="mw:Extension/templatestyles" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;Module:etymology/style.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;}}"></li>
  </ul>
 </section>
</section>
<section data-mw-section-id="7" id="mwMg">
 <h3 id="Further_reading">Further reading</h3>
 <ul id="mwMw">
  <li id="mwNA"><span about="#mwt16" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:LSJ&quot;,&quot;href&quot;:&quot;./Template:R:LSJ&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwNQ">“</span><a rel="mw:ExtLink nofollow" href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.04.0057:entry=stru/xnon" about="#mwt16" class="external text"><span class="polytonic" lang="grc">στρύχνον</span></a><span about="#mwt16">”, in Liddell &amp; Scott</span><span typeof="mw:Entity" about="#mwt16"> </span><span about="#mwt16">(1940)</span><span typeof="mw:Entity" about="#mwt16"> </span><cite about="#mwt16"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/A%20Greek-English%20Lexicon" title="w:A Greek-English Lexicon" class="extiw">A Greek–English Lexicon</a></cite><span about="#mwt16">, Oxford</span><span typeof="mw:Entity" about="#mwt16">:</span><span about="#mwt16"> Clarendon Press</span></li>
  <li id="mwNg"><a rel="mw:ExtLink nofollow" href="https://archive.org/stream/BaillyDictionnaireGrecFrancais/Bailly_DictionnaireGrecFrancais#page/n1802/mode/1up" about="#mwt17" typeof="mw:Transclusion" class="external text" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:Bailly&quot;,&quot;href&quot;:&quot;./Template:R:Bailly&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwNw"><span class="polytonic" lang="grc">στρύχνον</span></a><span about="#mwt17"> in Bailly, Anatole</span><span typeof="mw:Entity" about="#mwt17"> </span><span about="#mwt17">(1935)</span><span typeof="mw:Entity" about="#mwt17"> </span><cite about="#mwt17"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/fr:Dictionnaire%20grec-français%20(Bailly)" title="w:fr:Dictionnaire grec-français (Bailly)" class="extiw">Le Grand Bailly: Dictionnaire grec-français</a></cite><span about="#mwt17">, Paris</span><span typeof="mw:Entity" about="#mwt17">:</span><span about="#mwt17"> Hachette</span></li>
  <li id="mwOA"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Robert%20S.%20P.%20Beekes" title="w:Robert S. P. Beekes" about="#mwt18" typeof="mw:Transclusion" class="extiw" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:grc:Beekes&quot;,&quot;href&quot;:&quot;./Template:R:grc:Beekes&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwOQ">Beekes, Robert S. P.</a><span typeof="mw:Entity" about="#mwt18"> </span><span about="#mwt18">(2010)</span><span typeof="mw:Entity" about="#mwt18"> </span><cite about="#mwt18">Etymological Dictionary of Greek</cite><span typeof="mw:Entity" about="#mwt18"> </span><span about="#mwt18">(Leiden Indo-European Etymological Dictionary Series</span><span typeof="mw:Entity" about="#mwt18">;</span><span about="#mwt18"> 10), with the assistance of Lucien van Beek, Leiden, Boston</span><span typeof="mw:Entity" about="#mwt18">:</span><span about="#mwt18"> Brill, </span><small about="#mwt18" id="mwOg"><a rel="mw:WikiLink" href="./Special:BookSources/9789004174207" title="Special:BookSources/9789004174207">→ISBN</a></small></li>
 </ul>
 <link rel="mw:PageProp/Category" href="./Category:grc:Nightshades#ΣΤΡΥΧΝΟΝ" about="#mwt19" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;C&quot;,&quot;href&quot;:&quot;./Template:C&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;grc&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Nightshades&quot;}},&quot;i&quot;:0}}]}" id="mwOw">
</section>
