<h2 id="Japanese">Japanese</h2>
<section data-mw-section-id="11" id="mwPQ">
 <h3 id="Etymology_1">Etymology 1</h3>
 <table class="wikitable kanji-table" style="text-align: center; font-size: small; float: right;" about="#mwt26" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-kanjitab&quot;,&quot;href&quot;:&quot;./Template:ja-kanjitab&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;はく&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ろ&quot;},&quot;yomi&quot;:{&quot;wt&quot;:&quot;o&quot;}},&quot;i&quot;:0}}]}" id="mwPg">
  <tbody>
   <tr>
    <th colspan="2" style="font-weight: normal;"><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#kanji" title="Appendix:Japanese glossary">Kanji</a> in this term</th>
   </tr>
   <tr lang="ja" class="Jpan" style="font-size: 2em; background: white; line-height: 1em;">
    <td style="padding: 0.5em;"><a rel="mw:WikiLink" href="./白#Japanese" title="白">白</a></td>
    <td style="padding: 0.5em;"><a rel="mw:WikiLink" href="./露#Japanese" title="露">露</a></td>
   </tr>
   <tr style="background: white;">
    <td><span class="Jpan" lang="ja">はく</span><br><small><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#kyōiku_kanji" title="Appendix:Japanese glossary">Grade: 1</a></small></td>
    <td><span class="Jpan" lang="ja">ろ</span><br><small><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#jōyō_kanji" title="Appendix:Japanese glossary">Grade: S</a></small></td>
   </tr>
   <tr>
    <td colspan="2"><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#on'yomi" title="Appendix:Japanese glossary">on’yomi</a></td>
   </tr>
  </tbody>
 </table>
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_白_read_as_はく#はくろ" about="#mwt26">
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_露_read_as_ろ#はくろ" about="#mwt26">
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_read_with_on'yomi#はくろ" about="#mwt26" id="mwPw">
 <section data-mw-section-id="12" id="mwQA">
  <h4 id="Pronunciation_2">Pronunciation</h4><span about="#mwt27" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-pron&quot;,&quot;href&quot;:&quot;./Template:ja-pron&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;はくろ&quot;},&quot;y&quot;:{&quot;wt&quot;:&quot;o&quot;}},&quot;i&quot;:0}}]}" id="mwQQ"> </span>
  <ul about="#mwt27" id="mwQg">
   <li><a rel="mw:WikiLink" href="./音読み#Japanese" title="音読み">On’yomi</a></li>
   <ul>
    <li><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Japanese_pronunciation" title="Appendix:Japanese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">[ha̠kɯ̟ᵝɾo̞]</span>
     <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_with_IPA_pronunciation#はくろ"></li>
   </ul>
  </ul>
 </section>
 <section data-mw-section-id="13" id="mwQw">
  <h4 id="Proper_noun_2">Proper noun</h4>
  <p id="mwRA"><span id="はくろ" about="#mwt28" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-pos&quot;,&quot;href&quot;:&quot;./Template:ja-pos&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;proper&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;はくろ&quot;}},&quot;i&quot;:0}}]}"></span><strong class="Jpan headword" lang="ja" about="#mwt28"><ruby>白<rp>(</rp><rt><a rel="mw:WikiLink" href="./はくろ#Japanese" title="はくろ">はく</a></rt><rp>)</rp></ruby><ruby>露<rp>(</rp><rt><a rel="mw:WikiLink" href="./はくろ#Japanese" title="はくろ">ろ</a></rt><rp>)</rp></ruby></strong><span about="#mwt28"> </span><a rel="mw:WikiLink" href="./Wiktionary:Japanese_transliteration" title="Wiktionary:Japanese transliteration" about="#mwt28">•</a><span about="#mwt28"> (</span><span class="headword-tr manual-tr tr" dir="ltr" about="#mwt28"><a rel="mw:WikiLink" href="./Hakuro?action=edit&amp;redlink=1#Japanese" title="Hakuro" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Hakuro&quot;]}}">Hakuro</a></span><span about="#mwt28">)</span><span typeof="mw:Entity" about="#mwt28">&nbsp;</span><i about="#mwt28"></i>
   <link rel="mw:PageProp/Category" href="./Category:Japanese_lemmas#はくろ" about="#mwt28">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_proper_nouns#はくろ" about="#mwt28">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_first_grade_kanji#はくろ" about="#mwt28">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_secondary_school_kanji#はくろ" about="#mwt28">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_written_with_two_Han_script_characters#はくろ" about="#mwt28" id="mwRQ"></p>
  <ol id="mwRg">
   <li id="mwRw">A <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/solar%20term" title="w:solar term" about="#mwt29" typeof="mw:Transclusion" class="extiw" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;w&quot;,&quot;href&quot;:&quot;./Template:w&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;solar term&quot;}},&quot;i&quot;:0}}]}" id="mwSA">solar term</a> around 8 September, traditionally heralding cold weather across China</li>
  </ol>
 </section>
 <section data-mw-section-id="14" id="mwSQ">
  <h4 id="See_also_2">See also</h4>
  <ul about="#mwt30" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;list:solar terms/ja&quot;,&quot;href&quot;:&quot;./Template:list:solar_terms/ja&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwSg">
   <li><span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./二十四節気#Japanese" title="二十四節気"><ruby>二<rp>(</rp><rt>に</rt><rp>)</rp></ruby><ruby>十<rp>(</rp><rt>じゅう</rt><rp>)</rp></ruby><ruby>四<rp>(</rp><rt>し</rt><rp>)</rp></ruby><ruby>節<rp>(</rp><rt>せっ</rt><rp>)</rp></ruby><ruby>気<rp>(</rp><rt>き</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Nijūshi Sekki</span></span>, <span class="mention-gloss-double-quote">“</span><span class="mention-gloss">The twenty-four <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/solar%20terms" title="w:solar terms" class="extiw">solar terms</a></span><span class="mention-gloss-double-quote">”</span><span class="mention-gloss-paren annotation-paren">)</span>: 
    <ul>
     <li>Spring: <span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./立春#Japanese" title="立春"><ruby>立<rp>(</rp><rt>りっ</rt><rp>)</rp></ruby><ruby>春<rp>(</rp><rt>しゅん</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Risshun</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./雨水#Japanese" title="雨水"><ruby>雨<rp>(</rp><rt>う</rt><rp>)</rp></ruby><ruby>水<rp>(</rp><rt>すい</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Usui</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./啓蟄#Japanese" title="啓蟄"><ruby>啓蟄<rp>(</rp><rt>けいちつ</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Keichitsu</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./春分#Japanese" title="春分"><ruby>春<rp>(</rp><rt>しゅん</rt><rp>)</rp></ruby><ruby>分<rp>(</rp><rt>ぶん</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Shunbun</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./清明#Japanese" title="清明"><ruby>清明<rp>(</rp><rt>せいめい</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Seimei</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./穀雨#Japanese" title="穀雨"><ruby>穀<rp>(</rp><rt>こく</rt><rp>)</rp></ruby><ruby>雨<rp>(</rp><rt>う</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Kokuu</span></span><span class="mention-gloss-paren annotation-paren">)</span></li>
     <li>Summer: <span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./立夏#Japanese" title="立夏"><ruby>立<rp>(</rp><rt>りっ</rt><rp>)</rp></ruby><ruby>夏<rp>(</rp><rt>か</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Rikka</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./小満#Japanese" title="小満"><ruby>小<rp>(</rp><rt>しょう</rt><rp>)</rp></ruby><ruby>満<rp>(</rp><rt>まん</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Shōman</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./芒種#Japanese" title="芒種"><ruby>芒種<rp>(</rp><rt>ぼうしゅ</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Bōshu</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./夏至#Japanese" title="夏至"><ruby>夏至<rp>(</rp><rt>げし</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Geshi</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./小暑#Japanese" title="小暑"><ruby>小<rp>(</rp><rt>しょう</rt><rp>)</rp></ruby><ruby>暑<rp>(</rp><rt>しょ</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Shōsho</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./大暑#Japanese" title="大暑"><ruby>大暑<rp>(</rp><rt>たいしょ</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Taisho</span></span><span class="mention-gloss-paren annotation-paren">)</span></li>
     <li>Autumn: <span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./立秋#Japanese" title="立秋"><ruby>立<rp>(</rp><rt>りっ</rt><rp>)</rp></ruby><ruby>秋<rp>(</rp><rt>しゅう</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Risshū</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./処暑#Japanese" title="処暑"><ruby>処暑<rp>(</rp><rt>しょしょ</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Shosho</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./白露#Japanese" title="白露"><ruby>白<rp>(</rp><rt>はく</rt><rp>)</rp></ruby><ruby>露<rp>(</rp><rt>ろ</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Hakuro</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./秋分#Japanese" title="秋分"><ruby>秋<rp>(</rp><rt>しゅう</rt><rp>)</rp></ruby><ruby>分<rp>(</rp><rt>ぶん</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Shūbun</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./寒露#Japanese" title="寒露"><ruby>寒<rp>(</rp><rt>かん</rt><rp>)</rp></ruby><ruby>露<rp>(</rp><rt>ろ</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Kanro</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./霜降#Japanese" title="霜降"><ruby>霜降<rp>(</rp><rt>そうこう</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Sōkō</span></span><span class="mention-gloss-paren annotation-paren">)</span></li>
     <li>Winter: <span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./立冬#Japanese" title="立冬"><ruby>立冬<rp>(</rp><rt>りっとう</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Rittō</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./小雪#Japanese" title="小雪"><ruby>小<rp>(</rp><rt>しょう</rt><rp>)</rp></ruby><ruby>雪<rp>(</rp><rt>せつ</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Shōsetsu</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./大雪#Japanese" title="大雪"><ruby>大雪<rp>(</rp><rt>たいせつ</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Taisetsu</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./冬至#Japanese" title="冬至"><ruby>冬<rp>(</rp><rt>とう</rt><rp>)</rp></ruby><ruby>至<rp>(</rp><rt>じ</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Tōji</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./小寒#Japanese" title="小寒"><ruby>小<rp>(</rp><rt>しょう</rt><rp>)</rp></ruby><ruby>寒<rp>(</rp><rt>かん</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Shōkan</span></span><span class="mention-gloss-paren annotation-paren">)</span>、<span class="Jpan" lang="ja"><a rel="mw:WikiLink" href="./大寒#Japanese" title="大寒"><ruby>大寒<rp>(</rp><rt>だいかん</rt><rp>)</rp></ruby></a></span> <span class="mention-gloss-paren annotation-paren">(</span><span class="tr"><span class="mention-tr tr">Daikan</span></span><span class="mention-gloss-paren annotation-paren">)</span>
      <link rel="mw:PageProp/Category" href="./Category:ja:Solar_terms#白00雨12"></li>
    </ul></li>
  </ul><span about="#mwt30"> </span>
 </section>
</section>
<section data-mw-section-id="15" id="mwSw">
 <h3 id="Etymology_2">Etymology 2</h3>
 <table class="wikitable kanji-table" style="text-align: center; font-size: small; float: right;" about="#mwt31" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-kanjitab&quot;,&quot;href&quot;:&quot;./Template:ja-kanjitab&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;しら&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;つゆ&quot;},&quot;yomi&quot;:{&quot;wt&quot;:&quot;k&quot;}},&quot;i&quot;:0}}]}" id="mwTA">
  <tbody>
   <tr>
    <th colspan="2" style="font-weight: normal;"><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#kanji" title="Appendix:Japanese glossary">Kanji</a> in this term</th>
   </tr>
   <tr lang="ja" class="Jpan" style="font-size: 2em; background: white; line-height: 1em;">
    <td style="padding: 0.5em;"><a rel="mw:WikiLink" href="./白#Japanese" title="白">白</a></td>
    <td style="padding: 0.5em;"><a rel="mw:WikiLink" href="./露#Japanese" title="露">露</a></td>
   </tr>
   <tr style="background: white;">
    <td><span class="Jpan" lang="ja">しら</span><br><small><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#kyōiku_kanji" title="Appendix:Japanese glossary">Grade: 1</a></small></td>
    <td><span class="Jpan" lang="ja">つゆ</span><br><small><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#jōyō_kanji" title="Appendix:Japanese glossary">Grade: S</a></small></td>
   </tr>
   <tr>
    <td colspan="2"><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#kun'yomi" title="Appendix:Japanese glossary">kun’yomi</a></td>
   </tr>
  </tbody>
 </table>
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_白_read_as_しら#しらつゆ" about="#mwt31">
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_露_read_as_つゆ#しらつゆ" about="#mwt31">
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_read_with_kun'yomi#しらつゆ" about="#mwt31" id="mwTQ">
 <section data-mw-section-id="16" id="mwTg">
  <h4 id="Pronunciation_3">Pronunciation</h4><span about="#mwt32" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-pron&quot;,&quot;href&quot;:&quot;./Template:ja-pron&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;しらつゆ&quot;}},&quot;i&quot;:0}}]}" id="mwTw"> </span>
  <ul about="#mwt32" id="mwUA">
   <li><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Japanese_pronunciation" title="Appendix:Japanese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">[ɕiɾa̠t͡sɨᵝjɯ̟ᵝ]</span>
    <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_with_IPA_pronunciation#しらつゆ"></li>
  </ul>
 </section>
 <section data-mw-section-id="17" id="mwUQ">
  <h4 id="Noun_2">Noun</h4>
  <p id="mwUg"><span id="しらつゆ" about="#mwt33" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-noun&quot;,&quot;href&quot;:&quot;./Template:ja-noun&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;しらつゆ&quot;}},&quot;i&quot;:0}}]}"></span><strong class="Jpan headword" lang="ja" about="#mwt33"><ruby>白<rp>(</rp><rt><a rel="mw:WikiLink" href="./しらつゆ?action=edit&amp;redlink=1#Japanese" title="しらつゆ" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;しらつゆ&quot;]}}">しら</a></rt><rp>)</rp></ruby><ruby>露<rp>(</rp><rt><a rel="mw:WikiLink" href="./しらつゆ?action=edit&amp;redlink=1#Japanese" title="しらつゆ" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;しらつゆ&quot;]}}">つゆ</a></rt><rp>)</rp></ruby></strong><span about="#mwt33"> </span><a rel="mw:WikiLink" href="./Wiktionary:Japanese_transliteration" title="Wiktionary:Japanese transliteration" about="#mwt33">•</a><span about="#mwt33"> (</span><span class="headword-tr manual-tr tr" dir="ltr" about="#mwt33"><a rel="mw:WikiLink" href="./shiratsuyu?action=edit&amp;redlink=1#Japanese" title="shiratsuyu" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;shiratsuyu&quot;]}}">shiratsuyu</a></span><span about="#mwt33">)</span><span typeof="mw:Entity" about="#mwt33">&nbsp;</span><i about="#mwt33"></i>
   <link rel="mw:PageProp/Category" href="./Category:Japanese_lemmas#しらつゆ" about="#mwt33">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_nouns#しらつゆ" about="#mwt33">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_first_grade_kanji#しらつゆ" about="#mwt33">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_secondary_school_kanji#しらつゆ" about="#mwt33">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_written_with_two_Han_script_characters#しらつゆ" about="#mwt33" id="mwUw"></p>
  <ol id="mwVA">
   <li id="mwVQ"><a rel="mw:WikiLink" href="./white" title="white" id="mwVg">white</a> <a rel="mw:WikiLink" href="./dew" title="dew" id="mwVw">dew</a> <span class="maintenance-line" style="color: #777777;" about="#mwt34" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rfclarify&quot;,&quot;href&quot;:&quot;./Template:rfclarify&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ja&quot;}},&quot;i&quot;:0}}]}" id="mwWA">(clarification of this definition is needed)</span>
    <link rel="mw:PageProp/Category" href="./Category:Requests_for_clarification_of_definitions_in_Japanese_entries#白00雨12" about="#mwt34" id="mwWQ"><!--草木に置いて、白く光って見える露。--></li>
  </ol>
 </section>
</section>
<section data-mw-section-id="18" id="mwWg">
 <h3 id="Etymology_3">Etymology 3</h3>
 <table class="wikitable kanji-table" style="text-align: center; font-size: small; float: right;" about="#mwt35" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-kanjitab&quot;,&quot;href&quot;:&quot;./Template:ja-kanjitab&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;はく&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ろ&quot;},&quot;yomi&quot;:{&quot;wt&quot;:&quot;o&quot;}},&quot;i&quot;:0}}]}" id="mwWw">
  <tbody>
   <tr>
    <th colspan="2" style="font-weight: normal;"><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#kanji" title="Appendix:Japanese glossary">Kanji</a> in this term</th>
   </tr>
   <tr lang="ja" class="Jpan" style="font-size: 2em; background: white; line-height: 1em;">
    <td style="padding: 0.5em;"><a rel="mw:WikiLink" href="./白#Japanese" title="白">白</a></td>
    <td style="padding: 0.5em;"><a rel="mw:WikiLink" href="./露#Japanese" title="露">露</a></td>
   </tr>
   <tr style="background: white;">
    <td><span class="Jpan" lang="ja">はく</span><br><small><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#kyōiku_kanji" title="Appendix:Japanese glossary">Grade: 1</a></small></td>
    <td><span class="Jpan" lang="ja">ろ</span><br><small><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#jōyō_kanji" title="Appendix:Japanese glossary">Grade: S</a></small></td>
   </tr>
   <tr>
    <td colspan="2"><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#on'yomi" title="Appendix:Japanese glossary">on’yomi</a></td>
   </tr>
  </tbody>
 </table>
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_白_read_as_はく#はくろ" about="#mwt35">
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_露_read_as_ろ#はくろ" about="#mwt35">
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_read_with_on'yomi#はくろ" about="#mwt35" id="mwXA">
 <section data-mw-section-id="19" id="mwXQ">
  <h4 id="Pronunciation_4">Pronunciation</h4><span about="#mwt36" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-pron&quot;,&quot;href&quot;:&quot;./Template:ja-pron&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;はくロ&quot;}},&quot;i&quot;:0}}]}" id="mwXg"> </span>
  <ul about="#mwt36" id="mwXw">
   <li><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Japanese_pronunciation" title="Appendix:Japanese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">[ha̠kɯ̟ᵝɾo̞]</span>
    <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_with_IPA_pronunciation#はくろ"></li>
  </ul>
 </section>
 <section data-mw-section-id="20" id="mwYA">
  <h4 id="Proper_noun_3">Proper noun</h4>
  <p id="mwYQ"><span id="はくロ" about="#mwt37" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-pos&quot;,&quot;href&quot;:&quot;./Template:ja-pos&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;proper&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;はくロ&quot;}},&quot;i&quot;:0}}]}"></span><strong class="Jpan headword" lang="ja" about="#mwt37"><ruby>白露<rp>(</rp><rt><a rel="mw:WikiLink" href="./はくロ?action=edit&amp;redlink=1#Japanese" title="はくロ" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;はくロ&quot;]}}">はくロ</a></rt><rp>)</rp></ruby></strong><span about="#mwt37"> </span><a rel="mw:WikiLink" href="./Wiktionary:Japanese_transliteration" title="Wiktionary:Japanese transliteration" about="#mwt37">•</a><span about="#mwt37"> (</span><span class="headword-tr manual-tr tr" dir="ltr" about="#mwt37"><a rel="mw:WikiLink" href="./Hakuro?action=edit&amp;redlink=1#Japanese" title="Hakuro" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Hakuro&quot;]}}">Hakuro</a></span><span about="#mwt37">)</span><span typeof="mw:Entity" about="#mwt37">&nbsp;</span><i about="#mwt37"></i>
   <link rel="mw:PageProp/Category" href="./Category:Japanese_lemmas#はくろ" about="#mwt37">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_proper_nouns#はくろ" about="#mwt37">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_first_grade_kanji#はくろ" about="#mwt37">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_secondary_school_kanji#はくろ" about="#mwt37">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_written_with_two_Han_script_characters#はくろ" about="#mwt37" id="mwYg"></p>
  <ol id="mwYw">
   <li id="mwZA"><span class="ib-brac" about="#mwt38" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ja&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;very&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;rare&quot;}},&quot;i&quot;:0}}]}" id="mwZQ">(</span><span class="ib-content" about="#mwt38">very<span typeof="mw:Entity"> </span><a rel="mw:WikiLink" href="./Appendix:Glossary#rare" title="Appendix:Glossary">rare</a>
     <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_with_rare_senses#白00雨12"></span><span class="ib-brac" about="#mwt38" id="mwZg">)</span> <span class="form-of-definition use-with-mention" about="#mwt39" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;short for&quot;,&quot;href&quot;:&quot;./Template:short_for&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ja&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;白ロシア&quot;},&quot;t&quot;:{&quot;wt&quot;:&quot;{{place|ja|t=Belarus|country}}&quot;}},&quot;i&quot;:0}}]}" id="mwZw">Short for <span class="form-of-definition-link"><i class="Jpan mention" lang="ja"><a rel="mw:WikiLink" href="./白ロシア#Japanese" title="白ロシア">白ロシア</a></i> <span class="mention-gloss-paren annotation-paren">(</span><span class="mention-gloss-double-quote">“</span><span class="mention-gloss"><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./Belarus#English" title="Belarus">Belarus</a></span> (a country)
       <link rel="mw:PageProp/Category" href="./Category:ja:Countries#白00雨12"></span><span class="mention-gloss-double-quote">”</span><span class="mention-gloss-paren annotation-paren">)</span></span></span><span about="#mwt39">.</span>
    <link rel="mw:PageProp/Category" href="./Category:Japanese_short_forms#白00雨12" about="#mwt39" id="mwaA"></li>
  </ol>
 </section>
</section>
<section data-mw-section-id="21" id="mwaQ">
 <h3 id="Etymology_4">Etymology 4</h3>
 <table class="wikitable kanji-table" style="text-align: center; font-size: small; float: right;" about="#mwt40" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-kanjitab&quot;,&quot;href&quot;:&quot;./Template:ja-kanjitab&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ぺ&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;るー&quot;},&quot;yomi&quot;:{&quot;wt&quot;:&quot;irr&quot;}},&quot;i&quot;:0}}]}" id="mwag">
  <tbody>
   <tr>
    <th colspan="2" style="font-weight: normal;"><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#kanji" title="Appendix:Japanese glossary">Kanji</a> in this term</th>
   </tr>
   <tr lang="ja" class="Jpan" style="font-size: 2em; background: white; line-height: 1em;">
    <td style="padding: 0.5em;"><a rel="mw:WikiLink" href="./白#Japanese" title="白">白</a></td>
    <td style="padding: 0.5em;"><a rel="mw:WikiLink" href="./露#Japanese" title="露">露</a></td>
   </tr>
   <tr style="background: white;">
    <td><span class="Jpan" lang="ja">ぺ</span><br><small><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#kyōiku_kanji" title="Appendix:Japanese glossary">Grade: 1</a></small></td>
    <td><span class="Jpan" lang="ja">るー</span><br><small><a rel="mw:WikiLink" href="./Appendix:Japanese_glossary#jōyō_kanji" title="Appendix:Japanese glossary">Grade: S</a></small></td>
   </tr>
   <tr>
    <td colspan="2"><i>irregular</i></td>
   </tr>
  </tbody>
 </table>
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_白#へるう" about="#mwt40" typeof="mw:ExpandedAttrs" data-mw="{&quot;attribs&quot;:[[{&quot;txt&quot;:&quot;mw:sortKey&quot;},{&quot;html&quot;:&quot;へるう<i data-parsoid='{\&quot;autoInsertedEnd\&quot;:true}'></i>&quot;}]]}">
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_露#へるう" about="#mwt40" typeof="mw:ExpandedAttrs" data-mw="{&quot;attribs&quot;:[[{&quot;txt&quot;:&quot;mw:sortKey&quot;},{&quot;html&quot;:&quot;へるう<i data-parsoid='{\&quot;autoInsertedEnd\&quot;:true}'></i>&quot;}]]}">
 <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_with_irregular_kanji_readings#へるう" about="#mwt40" typeof="mw:ExpandedAttrs" data-mw="{&quot;attribs&quot;:[[{&quot;txt&quot;:&quot;mw:sortKey&quot;},{&quot;html&quot;:&quot;へるう<i data-parsoid='{\&quot;autoInsertedEnd\&quot;:true}'></i>&quot;}]]}" id="mwaw">
 <section data-mw-section-id="22" id="mwbA">
  <h4 id="Glyph_origin">Glyph origin</h4>
  <p id="mwbQ"><a rel="mw:WikiLink" href="./Appendix:Glossary#orthographic_borrowing" title="Appendix:Glossary" about="#mwt44" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;obor&quot;,&quot;href&quot;:&quot;./Template:obor&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ja&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;zh&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;-&quot;}},&quot;i&quot;:0}}]}" id="mwbg">Orthographic borrowing</a><span about="#mwt44"> from </span><span class="etyl" about="#mwt44" id="mwbw"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Chinese%20language" title="w:Chinese language" class="extiw">Chinese</a>
    <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_borrowed_from_Chinese#白00雨12">
    <link rel="mw:PageProp/Category" href="./Category:Japanese_orthographic_borrowings_from_Chinese#白00雨12">
    <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_derived_from_Chinese#白00雨12"></span> <i class="Hani mention" lang="zh" about="#mwt45" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;zh-m&quot;,&quot;href&quot;:&quot;./Template:zh-m&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;白露&quot;}},&quot;i&quot;:0}}]}" id="mwcA"><a rel="mw:WikiLink" href="./白露#Chinese" title="白露">白露</a></i><span about="#mwt45"> (</span><i about="#mwt45"><span class="tr Latn">báilù</span></i><span about="#mwt45">)</span>.</p>
 </section>
 <section data-mw-section-id="23" id="mwcQ">
  <h4 id="Pronunciation_5">Pronunciation</h4><span about="#mwt46" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-pron&quot;,&quot;href&quot;:&quot;./Template:ja-pron&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ペルー&quot;}},&quot;i&quot;:0}}]}" id="mwcg"> </span>
  <ul about="#mwt46" id="mwcw">
   <li><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Japanese_pronunciation" title="Appendix:Japanese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">[pe̞ɾɯ̟ᵝː]</span>
    <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_with_IPA_pronunciation#へるう" about="#mwt47" typeof="mw:ExpandedAttrs" data-mw="{&quot;attribs&quot;:[[{&quot;txt&quot;:&quot;mw:sortKey&quot;},{&quot;html&quot;:&quot;へるう<i data-parsoid='{\&quot;autoInsertedEnd\&quot;:true}'></i>&quot;}]]}"></li>
  </ul>
 </section>
 <section data-mw-section-id="24" id="mwdA">
  <h4 id="Proper_noun_4">Proper noun</h4>
  <p id="mwdQ"><span id="ペルー" about="#mwt48" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ja-pos&quot;,&quot;href&quot;:&quot;./Template:ja-pos&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;proper noun&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ペルー&quot;}},&quot;i&quot;:0}}]}"></span><strong class="Jpan headword" lang="ja" about="#mwt48"><ruby>白露<rp>(</rp><rt><a rel="mw:WikiLink" href="./ペルー#Japanese" title="ペルー">ペルー</a></rt><rp>)</rp></ruby></strong><span about="#mwt48"> </span><a rel="mw:WikiLink" href="./Wiktionary:Japanese_transliteration" title="Wiktionary:Japanese transliteration" about="#mwt48">•</a><span about="#mwt48"> (</span><span class="headword-tr manual-tr tr" dir="ltr" about="#mwt48"><a rel="mw:WikiLink" href="./Perū#Japanese" title="Perū">Perū</a></span><span about="#mwt48">)</span><span typeof="mw:Entity" about="#mwt48">&nbsp;</span><i about="#mwt48"></i>
   <link rel="mw:PageProp/Category" href="./Category:Japanese_lemmas#へるう" about="#mwt48" typeof="mw:ExpandedAttrs" data-mw="{&quot;attribs&quot;:[[{&quot;txt&quot;:&quot;mw:sortKey&quot;},{&quot;html&quot;:&quot;へるう<i data-parsoid='{\&quot;autoInsertedEnd\&quot;:true}'></i>&quot;}]]}">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_proper_nouns#へるう" about="#mwt48" typeof="mw:ExpandedAttrs" data-mw="{&quot;attribs&quot;:[[{&quot;txt&quot;:&quot;mw:sortKey&quot;},{&quot;html&quot;:&quot;へるう<i data-parsoid='{\&quot;autoInsertedEnd\&quot;:true}'></i>&quot;}]]}">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_first_grade_kanji#へるう" about="#mwt48" typeof="mw:ExpandedAttrs" data-mw="{&quot;attribs&quot;:[[{&quot;txt&quot;:&quot;mw:sortKey&quot;},{&quot;html&quot;:&quot;へるう<i data-parsoid='{\&quot;autoInsertedEnd\&quot;:true}'></i>&quot;}]]}">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_spelled_with_secondary_school_kanji#へるう" about="#mwt48" typeof="mw:ExpandedAttrs" data-mw="{&quot;attribs&quot;:[[{&quot;txt&quot;:&quot;mw:sortKey&quot;},{&quot;html&quot;:&quot;へるう<i data-parsoid='{\&quot;autoInsertedEnd\&quot;:true}'></i>&quot;}]]}">
   <link rel="mw:PageProp/Category" href="./Category:Japanese_terms_written_with_two_Han_script_characters#へるう" about="#mwt48" typeof="mw:ExpandedAttrs" data-mw="{&quot;attribs&quot;:[[{&quot;txt&quot;:&quot;mw:sortKey&quot;},{&quot;html&quot;:&quot;へるう<i data-parsoid='{\&quot;autoInsertedEnd\&quot;:true}'></i>&quot;}]]}" id="mwdg"></p>
  <ol id="mwdw">
   <li id="mweA"><span class="form-of-definition use-with-mention" about="#mwt54" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;obsolete spelling of&quot;,&quot;href&quot;:&quot;./Template:obsolete_spelling_of&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ja&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ペルー&quot;},&quot;t&quot;:{&quot;wt&quot;:&quot;{{place|ja|t=Peru|country}}&quot;}},&quot;i&quot;:0}}]}" id="mweQ">Obsolete spelling of <span class="form-of-definition-link"><i class="Jpan mention" lang="ja"><a rel="mw:WikiLink" href="./ペルー#Japanese" title="ペルー">ペルー</a></i> <span class="mention-gloss-paren annotation-paren">(</span><span class="mention-gloss-double-quote">“</span><span class="mention-gloss"><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./Peru#English" title="Peru">Peru</a></span> (a country)
       <link rel="mw:PageProp/Category" href="./Category:ja:Countries#白00雨12"></span><span class="mention-gloss-double-quote">”</span><span class="mention-gloss-paren annotation-paren">)</span></span></span>
    <link rel="mw:PageProp/Category" href="./Category:Japanese_obsolete_forms#白00雨12" about="#mwt54" id="mweg">
    <ul id="mwew">
     <li id="mwfA"><a rel="mw:ExtLink nofollow" href="https://www.ndl.go.jp/brasil/text/t012.html" class="external free" id="mwfQ">https://www.ndl.go.jp/brasil/text/t012.html</a></li>
     <li id="mwfg"><a rel="mw:ExtLink nofollow" href="https://kotobank.jp/word/南米-590784" class="external free" id="mwfw">https://kotobank.jp/word/南米-590784</a></li>
    </ul></li>
  </ol>
 </section>
</section>
