<h2 id="Latin">Latin</h2>
<div class="sister-wikipedia sister-project noprint floatright"
     style="border: 1px solid #aaa; font-size: 90%; background: #f9f9f9; width: 250px; padding: 4px; text-align: left;"
     about="#mwt6" typeof="mw:Transclusion"
     data-mw='{"parts":[{"template":{"target":{"wt":"wikipedia","href":"./Template:wikipedia"},"params":{"lang":{"wt":"la"}},"i":0}}]}'
     id="mwFQ">
    <div style="float: left;">
        <figure class="mw-halign-none" typeof="mw:File"><span><img alt="" resource="./File:Wikipedia-logo-v2.svg"
                                                                   src="//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/44px-Wikipedia-logo-v2.svg.png"
                                                                   decoding="async" data-file-width="103"
                                                                   data-file-height="94" data-file-type="drawing"
                                                                   height="40" width="44"
                                                                   srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/66px-Wikipedia-logo-v2.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/88px-Wikipedia-logo-v2.svg.png 2x"/></span>
            <figcaption></figcaption>
        </figure>
    </div>
    <div style="margin-left: 60px;">Latin <a rel="mw:WikiLink" href="./Wikipedia" title="Wikipedia">Wikipedia</a>
        has an article on:
        <div style="margin-left: 10px;"><b class="Latn" lang="la"><a rel="mw:WikiLink/Interwiki"
                                                                     href="https://en.wikipedia.org/wiki/la:Lupia"
                                                                     title="w:la:Lupia" class="extiw">Lupia</a></b>
        </div>
    </div>
    <span class="interProject"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/la:Lupia"
                                  title="w:la:Lupia" class="extiw">Wikipedia <sup>la</sup></a></span></div>

<section data-mw-section-id="6" id="mwFg"><h3 id="Etymology_1">Etymology 1</h3>

    <section data-mw-section-id="7" id="mwFw"><h4 id="Alternative_forms">Alternative forms</h4>
        <ul id="mwGA">
            <li id="mwGQ"><span class="Latn" lang="la" about="#mwt7" typeof="mw:Transclusion"
                                data-mw='{"parts":[{"template":{"target":{"wt":"alter","href":"./Template:alter"},"params":{"1":{"wt":"la"},"2":{"wt":"Luppia"}},"i":0}}]}'
                                id="mwGg"><a rel="mw:WikiLink" href="./Luppia?action=edit&amp;redlink=1#Latin"
                                             title="Luppia" class="new" typeof="mw:LocalizedAttrs"
                                             data-mw-i18n='{"title":{"lang":"x-page","key":"red-link-title","params":["Luppia"]}}'>Luppia</a></span>
            </li>
        </ul>

    </section>
    <section data-mw-section-id="8" id="mwGw"><h4 id="Etymology_2">Etymology</h4>
        <p id="mwHA"><span class="maintenance-line" style="color: #777777;" about="#mwt8" typeof="mw:Transclusion"
                           data-mw='{"parts":[{"template":{"target":{"wt":"rfe","href":"./Template:rfe"},"params":{"1":{"wt":"la"}},"i":0}}]}'
                           id="mwHQ">(This <a rel="mw:WikiLink" href="./Wiktionary:Etymology"
                                              title="Wiktionary:Etymology">etymology</a> is missing or incomplete. Please add to it, or discuss it at the <a
                rel="mw:WikiLink" href="./Wiktionary:Etymology_scriptorium"
                title="Wiktionary:Etymology scriptorium">Etymology scriptorium</a>.)</span>
            <link rel="mw:PageProp/Category" href="./Category:Requests_for_etymologies_in_Latin_entries#LUPIA"
                  about="#mwt8" id="mwHg"/>
        </p>
        <figure class="mw-default-size mw-halign-right" typeof="mw:File/Thumb" id="mwHw"><a
                href="./File:Bl-lippequelle.jpg" class="mw-file-description" id="mwIA"><img
                resource="./File:Bl-lippequelle.jpg"
                src="//upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Bl-lippequelle.jpg/220px-Bl-lippequelle.jpg"
                decoding="async" data-file-width="1600" data-file-height="1200" data-file-type="bitmap" height="165"
                width="220"
                srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Bl-lippequelle.jpg/330px-Bl-lippequelle.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Bl-lippequelle.jpg/440px-Bl-lippequelle.jpg 2x"
                id="mwIQ"/></a>
            <figcaption id="mwIg">View of the river</figcaption>
        </figure>

    </section>
    <section data-mw-section-id="9" id="mwIw"><h4 id="Proper_noun_2">Proper noun</h4>
        <p id="mwJA"><strong class="Latn headword" lang="la" about="#mwt9" typeof="mw:Transclusion"
                             data-mw='{"parts":[{"template":{"target":{"wt":"la-proper noun","href":"./Template:la-proper_noun"},"params":{"1":{"wt":"Lūpia&lt;1>"},"g":{"wt":"m"}},"i":0}}]}'
                             id="mwJQ">Lūpia</strong><span typeof="mw:Entity" about="#mwt9"> </span><span
                class="gender" about="#mwt9"><abbr title="masculine gender">m</abbr><span
                typeof="mw:Entity"> </span><abbr title="singular number">sg</abbr></span><span
                about="#mwt9"> (</span><i about="#mwt9">genitive</i><span about="#mwt9"> </span><b class="Latn"
                                                                                                   lang="la"
                                                                                                   about="#mwt9"><a
                rel="mw:WikiLink" href="./Lupiae#Latin" title="Lupiae">Lūpiae</a></b><span about="#mwt9">)</span>
            <link rel="mw:PageProp/Category" href="./Category:Latin_lemmas#LUPIA" about="#mwt9"/>
            <link rel="mw:PageProp/Category" href="./Category:Latin_proper_nouns#LUPIA" about="#mwt9"/>
            <link rel="mw:PageProp/Category" href="./Category:Latin_first_declension_nouns#LUPIA" about="#mwt9"/>
            <link rel="mw:PageProp/Category" href="./Category:Latin_masculine_nouns_in_the_first_declension#LUPIA"
                  about="#mwt9"/>
            <link rel="mw:PageProp/Category"
                  href="./Category:Latin_nouns_with_red_links_in_their_inflection_tables#LUPIA" about="#mwt9"/>
            <link rel="mw:PageProp/Category" href="./Category:Latin_masculine_nouns#LUPIA" about="#mwt9"/>
            <span about="#mwt9">; </span><i about="#mwt9"><a rel="mw:WikiLink"
                                                             href="./Appendix:Latin_first_declension"
                                                             title="Appendix:Latin first declension">first
                declension</a></i></p>

        <ol id="mwJg">
            <li id="mwJw">The river <a rel="mw:WikiLink" href="./Lippe" title="Lippe" id="mwKA">Lippe</a></li>
        </ol>

        <section data-mw-section-id="10" id="mwKQ"><h5 id="Declension">Declension</h5>
            <p about="#mwt10" typeof="mw:Transclusion"
               data-mw='{"parts":[{"template":{"target":{"wt":"la-ndecl","href":"./Template:la-ndecl"},"params":{"1":{"wt":"Lūpia&lt;1>"}},"i":0}}]}'
               id="mwKg"><a rel="mw:WikiLink" href="./Appendix:Latin_first_declension"
                            title="Appendix:Latin first declension">First-declension</a> noun, singular only.
                <style data-mw-deduplicate="TemplateStyles:r67377814" typeof="mw:Extension/templatestyles"
                       about="#mwt12"
                       data-mw='{"name":"templatestyles","attrs":{"src":"Template:la-decl-1st/style.css"},"body":{"extsrc":""}}'>
                    .mw-parser-output .inflection-table-la .corner-header,.mw-parser-output .inflection-table-la .number-header{background-color:#549EA0;text-align:center}.mw-parser-output .inflection-table-la .case-header{background-color:#40E0D0;text-align:center}.mw-parser-output .inflection-table-la .form-cell{background-color:#F8F8FF;text-align:center}
                </style>
            </p>
            <span about="#mwt10">
</span>
            <table class="wikitable inflection-table inflection-table-la" about="#mwt10">
                <tbody>
                <tr>
                    <th class="corner-header">Case</th>
                    <th class="number-header">Singular</th>
                </tr>
                <tr>
                    <th class="case-header"><a rel="mw:WikiLink" href="./nominative_case" title="nominative case">Nominative</a>
                    </th>
                    <td class="form-cell"><span class="Latn form-of lang-la nom|s-form-of     origin-Lūpia   "
                                                lang="la"><strong class="selflink">Lūpia</strong></span></td>
                </tr>
                <tr>
                    <th class="case-header"><a rel="mw:WikiLink" href="./genitive_case" title="genitive case">Genitive</a>
                    </th>
                    <td class="form-cell"><span class="Latn form-of lang-la gen|s-form-of     origin-Lūpia   "
                                                lang="la"><a rel="mw:WikiLink" href="./Lupiae#Latin" title="Lupiae">Lūpiae</a></span>
                    </td>
                </tr>
                <tr>
                    <th class="case-header"><a rel="mw:WikiLink" href="./dative_case" title="dative case">Dative</a>
                    </th>
                    <td class="form-cell"><span class="Latn form-of lang-la dat|s-form-of     origin-Lūpia   "
                                                lang="la"><a rel="mw:WikiLink" href="./Lupiae#Latin" title="Lupiae">Lūpiae</a></span>
                    </td>
                </tr>
                <tr>
                    <th class="case-header"><a rel="mw:WikiLink" href="./accusative_case" title="accusative case">Accusative</a>
                    </th>
                    <td class="form-cell"><span class="Latn form-of lang-la acc|s-form-of     origin-Lūpia   "
                                                lang="la"><a rel="mw:WikiLink"
                                                             href="./Lupiam?action=edit&amp;redlink=1#Latin"
                                                             title="Lupiam" class="new" typeof="mw:LocalizedAttrs"
                                                             data-mw-i18n='{"title":{"lang":"x-page","key":"red-link-title","params":["Lupiam"]}}'>Lūpiam</a></span>
                    </td>
                </tr>
                <tr>
                    <th class="case-header"><a rel="mw:WikiLink" href="./ablative_case" title="ablative case">Ablative</a>
                    </th>
                    <td class="form-cell"><span class="Latn form-of lang-la abl|s-form-of     origin-Lūpia   "
                                                lang="la"><strong class="selflink">Lūpiā</strong></span></td>
                </tr>
                <tr>
                    <th class="case-header"><a rel="mw:WikiLink" href="./vocative_case" title="vocative case">Vocative</a>
                    </th>
                    <td class="form-cell"><span class="Latn form-of lang-la voc|s-form-of     origin-Lūpia   "
                                                lang="la"><strong class="selflink">Lūpia</strong></span></td>
                </tr>

                </tbody>
            </table>

        </section>
    </section>
    <section data-mw-section-id="11" id="mwKw"><h4 id="References">References</h4>
        <ul id="mwLA">
            <li id="mwLQ"><span about="#mwt13" typeof="mw:Transclusion"
                                data-mw='{"parts":[{"template":{"target":{"wt":"R:L&amp;S","href":"./Template:R:L&amp;S"},"params":{},"i":0}}]}'
                                id="mwLg">“</span><a rel="mw:ExtLink nofollow"
                                                     href="https://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.04.0059:entry=Lupia"
                                                     about="#mwt13" class="external text"><span class="Latn"
                                                                                                lang="la">Lupia</span></a><span
                    about="#mwt13">”, in Charlton T. Lewis and Charles Short</span><span typeof="mw:Entity"
                                                                                         about="#mwt13"> </span><span
                    about="#mwt13">(1879)</span><span typeof="mw:Entity" about="#mwt13"> </span><cite
                    about="#mwt13"><a rel="mw:WikiLink/Interwiki"
                                      href="https://en.wikipedia.org/wiki/A%20Latin%20Dictionary"
                                      title="w:A Latin Dictionary" class="extiw">A Latin Dictionary</a></cite><span
                    about="#mwt13">, Oxford</span><span typeof="mw:Entity" about="#mwt13">:</span><span
                    about="#mwt13"> Clarendon Press</span></li>
            <li id="mwLw"><a rel="mw:ExtLink nofollow" href="http://micmap.org/dicfro/search/gaffiot/Lupia"
                             about="#mwt14" typeof="mw:Transclusion" class="external text"
                             data-mw='{"parts":[{"template":{"target":{"wt":"R:Gaffiot","href":"./Template:R:Gaffiot"},"params":{},"i":0}}]}'
                             id="mwMA">Lupia</a><span about="#mwt14"> in Gaffiot, Félix</span><span
                    typeof="mw:Entity" about="#mwt14"> </span><span about="#mwt14">(1934)</span><span
                    typeof="mw:Entity" about="#mwt14"> </span><cite about="#mwt14">Dictionnaire illustré
                latin-français</cite><span about="#mwt14">, Hachette</span></li>
            <li id="mwMQ"><span about="#mwt15" typeof="mw:Transclusion"
                                data-mw='{"parts":[{"template":{"target":{"wt":"R:Smith&apos;s Geography","href":"./Template:R:Smith&apos;s_Geography"},"params":{"1":{"wt":"Luppia"}},"i":0}}]}'
                                id="mwMg">“</span><a rel="mw:ExtLink nofollow"
                                                     href="https://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:1999.04.0064:entry=lupia-geo"
                                                     about="#mwt15" class="external text"><span class="Latn"
                                                                                                lang="la">Luppia</span></a><span
                    about="#mwt15">”, in William Smith, editor</span><span typeof="mw:Entity"
                                                                           about="#mwt15"> </span><span
                    about="#mwt15">(1854, 1857)</span><span typeof="mw:Entity" about="#mwt15"> </span><cite
                    about="#mwt15">A Dictionary of Greek and Roman Geography</cite><span about="#mwt15">, volume 1 &amp; 2, London</span><span
                    typeof="mw:Entity" about="#mwt15">:</span><span about="#mwt15"> Walton and Maberly</span></li>
        </ul>

        <link rel="mw:PageProp/Category" href="./Category:la:Rivers" id="mwMw"/>
    </section>
</section>
<section data-mw-section-id="12" id="mwNA"><h3 id="Etymology_2_2">Etymology 2</h3>

    <section data-mw-section-id="13" id="mwNQ"><h4 id="Pronunciation">Pronunciation</h4>
        <ul id="mwNg">
            <li about="#mwt16" typeof="mw:Transclusion"
                data-mw='{"parts":["* ",{"template":{"target":{"wt":"la-IPA","href":"./Template:la-IPA"},"params":{"1":{"wt":"Lupia"}},"i":0}}]}'
                id="mwNw"><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a
                    rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Classical%20Latin"
                    title="w:Classical Latin" class="extiw">Classical</a></span><span
                    class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink"
                                                               href="./Wiktionary:International_Phonetic_Alphabet"
                                                               title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a
                    rel="mw:WikiLink" href="./Appendix:Latin_pronunciation"
                    title="Appendix:Latin pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span
                    class="IPA">/ˈlu.pi.a/</span>, <span class="IPA">[ˈɫ̪ʊpiä]</span>
                <link rel="mw:PageProp/Category" href="./Category:Latin_3-syllable_words"/>
                <link rel="mw:PageProp/Category" href="./Category:Latin_terms_with_IPA_pronunciation#LUPIA"/>
            </li>
            <span about="#mwt16">
</span>
            <li about="#mwt16"><span class="ib-brac qualifier-brac">(</span><span
                    class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki"
                                                            href="https://en.wikipedia.org/wiki/Ecclesiastical%20Latin"
                                                            title="w:Ecclesiastical Latin" class="extiw">Ecclesiastical</a></span><span
                    class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink"
                                                               href="./Wiktionary:International_Phonetic_Alphabet"
                                                               title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a
                    rel="mw:WikiLink" href="./Appendix:Latin_pronunciation"
                    title="Appendix:Latin pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span
                    class="IPA">/ˈlu.pi.a/</span>, <span class="IPA">[ˈluːpiä]</span>
                <link rel="mw:PageProp/Category" href="./Category:Latin_3-syllable_words"/>
                <link rel="mw:PageProp/Category" href="./Category:Latin_terms_with_IPA_pronunciation#LUPIA"/>
                <link rel="mw:PageProp/Category"
                      href="./Category:Latin_terms_with_Ecclesiastical_IPA_pronunciation#LUPIA"/>
            </li>
        </ul>

    </section>
    <section data-mw-section-id="14" id="mwOA"><h4 id="Proper_noun_3">Proper noun</h4>
        <p id="mwOQ"><strong class="Latn headword" lang="la" about="#mwt17" typeof="mw:Transclusion"
                             data-mw='{"parts":[{"template":{"target":{"wt":"la-proper noun","href":"./Template:la-proper_noun"},"params":{"1":{"wt":"Lupia&lt;1.loc>"}},"i":0}}]}'
                             id="mwOg">Lupia</strong><span typeof="mw:Entity" about="#mwt17"> </span><span
                class="gender" about="#mwt17"><abbr title="feminine gender">f</abbr><span
                typeof="mw:Entity"> </span><abbr title="singular number">sg</abbr></span><span
                about="#mwt17"> (</span><i about="#mwt17">genitive</i><span about="#mwt17"> </span><b class="Latn"
                                                                                                      lang="la"
                                                                                                      about="#mwt17"><a
                rel="mw:WikiLink" href="./Lupiae#Latin" title="Lupiae">Lupiae</a></b><span about="#mwt17">)</span>
            <link rel="mw:PageProp/Category" href="./Category:Latin_lemmas#LUPIA" about="#mwt17"/>
            <link rel="mw:PageProp/Category" href="./Category:Latin_proper_nouns#LUPIA" about="#mwt17"/>
            <link rel="mw:PageProp/Category" href="./Category:Latin_first_declension_nouns#LUPIA" about="#mwt17"/>
            <link rel="mw:PageProp/Category" href="./Category:Latin_feminine_nouns_in_the_first_declension#LUPIA"
                  about="#mwt17"/>
            <link rel="mw:PageProp/Category"
                  href="./Category:Latin_nouns_with_red_links_in_their_inflection_tables#LUPIA" about="#mwt17"/>
            <link rel="mw:PageProp/Category" href="./Category:Latin_feminine_nouns#LUPIA" about="#mwt17"/>
            <span about="#mwt17">; </span><i about="#mwt17"><a rel="mw:WikiLink"
                                                               href="./Appendix:Latin_first_declension"
                                                               title="Appendix:Latin first declension">first
                declension</a></i></p>

        <ol id="mwOw">
            <li id="mwPA"><span class="Latn" lang="en" about="#mwt18" typeof="mw:Transclusion"
                                data-mw='{"parts":[{"template":{"target":{"wt":"place","href":"./Template:place"},"params":{"1":{"wt":"la"},"2":{"wt":"town"},"3":{"wt":"r/Apulia"},"4":{"wt":"c/Italy"},"t1":{"wt":"Lecce"}},"i":0}}]}'
                                id="mwPQ"><a rel="mw:WikiLink" href="./Lecce#English" title="Lecce">Lecce</a></span><span
                    about="#mwt18"> (a town in </span><span class="Latn" lang="en" about="#mwt18"><a
                    rel="mw:WikiLink" href="./Apulia#English" title="Apulia">Apulia</a></span><span
                    about="#mwt18">, </span><span class="Latn" lang="en" about="#mwt18"><a rel="mw:WikiLink"
                                                                                           href="./Italy#English"
                                                                                           title="Italy">Italy</a></span><span
                    about="#mwt18">)</span>
                <link rel="mw:PageProp/Category" href="./Category:la:Towns_in_Apulia#LUPIA" about="#mwt18"/>
                <link rel="mw:PageProp/Category" href="./Category:la:Towns_in_Italy#LUPIA" about="#mwt18"/>
                <link rel="mw:PageProp/Category" href="./Category:la:Places_in_Apulia#LUPIA" about="#mwt18"/>
                <link rel="mw:PageProp/Category" href="./Category:la:Places_in_Italy#LUPIA" about="#mwt18"
                      id="mwPg"/>
            </li>
        </ol>

    </section>
    <section data-mw-section-id="15" id="mwPw"><h4 id="Declension_2">Declension</h4>
        <p about="#mwt19" typeof="mw:Transclusion"
           data-mw='{"parts":[{"template":{"target":{"wt":"la-ndecl","href":"./Template:la-ndecl"},"params":{"1":{"wt":"Lupia&lt;1.loc>"}},"i":0}}]}'
           id="mwQA"><a rel="mw:WikiLink" href="./Appendix:Latin_first_declension"
                        title="Appendix:Latin first declension">First-declension</a> noun, with locative, singular
            only.
            <link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r67377814" about="#mwt21"
                  typeof="mw:Extension/templatestyles"
                  data-mw='{"name":"templatestyles","attrs":{"src":"Template:la-decl-1st/style.css"},"body":{"extsrc":""}}'/>
        </p>
        <span about="#mwt19">
</span>
        <table class="wikitable inflection-table inflection-table-la" about="#mwt19">
            <tbody>
            <tr>
                <th class="corner-header">Case</th>
                <th class="number-header">Singular</th>
            </tr>
            <tr>
                <th class="case-header"><a rel="mw:WikiLink" href="./nominative_case" title="nominative case">Nominative</a>
                </th>
                <td class="form-cell"><span class="Latn form-of lang-la nom|s-form-of     origin-Lupia   "
                                            lang="la"><strong class="selflink">Lupia</strong></span></td>
            </tr>
            <tr>
                <th class="case-header"><a rel="mw:WikiLink" href="./genitive_case"
                                           title="genitive case">Genitive</a></th>
                <td class="form-cell"><span class="Latn form-of lang-la gen|s-form-of     origin-Lupia   "
                                            lang="la"><a rel="mw:WikiLink" href="./Lupiae#Latin" title="Lupiae">Lupiae</a></span>
                </td>
            </tr>
            <tr>
                <th class="case-header"><a rel="mw:WikiLink" href="./dative_case" title="dative case">Dative</a>
                </th>
                <td class="form-cell"><span class="Latn form-of lang-la dat|s-form-of     origin-Lupia   "
                                            lang="la"><a rel="mw:WikiLink" href="./Lupiae#Latin" title="Lupiae">Lupiae</a></span>
                </td>
            </tr>
            <tr>
                <th class="case-header"><a rel="mw:WikiLink" href="./accusative_case" title="accusative case">Accusative</a>
                </th>
                <td class="form-cell"><span class="Latn form-of lang-la acc|s-form-of     origin-Lupia   "
                                            lang="la"><a rel="mw:WikiLink"
                                                         href="./Lupiam?action=edit&amp;redlink=1#Latin"
                                                         title="Lupiam" class="new" typeof="mw:LocalizedAttrs"
                                                         data-mw-i18n='{"title":{"lang":"x-page","key":"red-link-title","params":["Lupiam"]}}'>Lupiam</a></span>
                </td>
            </tr>
            <tr>
                <th class="case-header"><a rel="mw:WikiLink" href="./ablative_case"
                                           title="ablative case">Ablative</a></th>
                <td class="form-cell"><span class="Latn form-of lang-la abl|s-form-of     origin-Lupia   "
                                            lang="la"><strong class="selflink">Lupiā</strong></span></td>
            </tr>
            <tr>
                <th class="case-header"><a rel="mw:WikiLink" href="./vocative_case"
                                           title="vocative case">Vocative</a></th>
                <td class="form-cell"><span class="Latn form-of lang-la voc|s-form-of     origin-Lupia   "
                                            lang="la"><strong class="selflink">Lupia</strong></span></td>
            </tr>
            <tr>
                <th class="case-header"><a rel="mw:WikiLink" href="./locative_case"
                                           title="locative case">Locative</a></th>
                <td class="form-cell"><span class="Latn form-of lang-la loc|s-form-of     origin-Lupia   "
                                            lang="la"><a rel="mw:WikiLink" href="./Lupiae#Latin" title="Lupiae">Lupiae</a></span>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</section>
