<h2 id="English">English</h2>
<section data-mw-section-id="2" id="mwAw">
 <h3 id="Alternative_forms">Alternative forms</h3>
 <ul id="mwBA">
  <li id="mwBQ"><a rel="mw:WikiLink" href="./course_par?action=edit&amp;redlink=1" title="course par" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;course par&quot;]}}" id="mwBg">course par</a></li>
 </ul>
</section>
<section data-mw-section-id="3" id="mwBw">
 <h3 id="Etymology">Etymology</h3>
 <p id="mwCA">Originally a phrase used in <a rel="mw:WikiLink" href="./golf" title="golf" id="mwCQ">golf</a>.</p>
</section>
<section data-mw-section-id="4" id="mwCg">
 <h3 id="Pronunciation">Pronunciation</h3>
 <ul id="mwCw">
  <li id="mwDA"><span class="ib-brac qualifier-brac" about="#mwt1" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;a&quot;,&quot;href&quot;:&quot;./Template:a&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;UK&quot;}},&quot;i&quot;:0}}]}" id="mwDQ">(</span><span class="ib-content qualifier-content" about="#mwt1"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/British%20English" title="w:British English" class="extiw">UK</a></span><span class="ib-brac qualifier-brac" about="#mwt1" id="mwDg">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet" about="#mwt2" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;IPA&quot;,&quot;href&quot;:&quot;./Template:IPA&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;/ˈpɑː fə ðə ˈkɔːs/&quot;}},&quot;i&quot;:0}}]}" id="mwDw">IPA</a><sup about="#mwt2">(<a rel="mw:WikiLink" href="./Appendix:English_pronunciation" title="Appendix:English pronunciation">key</a>)</sup><span about="#mwt2">:</span><span typeof="mw:Entity" about="#mwt2"> </span><span class="IPA" about="#mwt2">/ˈpɑː fə ðə ˈkɔːs/</span>
   <link rel="mw:PageProp/Category" href="./Category:English_terms_with_IPA_pronunciation#PAR%20FOR%20THE%20COURSE" about="#mwt2" id="mwEA"></li>
  <li id="mwEQ"><span class="ib-brac qualifier-brac" about="#mwt3" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;a&quot;,&quot;href&quot;:&quot;./Template:a&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;US&quot;}},&quot;i&quot;:0}}]}" id="mwEg">(</span><span class="ib-content qualifier-content" about="#mwt3"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/American%20English" title="w:American English" class="extiw">US</a></span><span class="ib-brac qualifier-brac" about="#mwt3" id="mwEw">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet" about="#mwt4" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;IPA&quot;,&quot;href&quot;:&quot;./Template:IPA&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;/ˈpɑɹ fɚ ðə ˈkɔɹs/&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;/-ˈkɔəɹs/&quot;}},&quot;i&quot;:0}}]}" id="mwFA">IPA</a><sup about="#mwt4">(<a rel="mw:WikiLink" href="./Appendix:English_pronunciation" title="Appendix:English pronunciation">key</a>)</sup><span about="#mwt4">:</span><span typeof="mw:Entity" about="#mwt4"> </span><span class="IPA" about="#mwt4">/ˈpɑɹ fɚ ðə ˈkɔɹs/</span><span about="#mwt4">, </span><span class="IPA" about="#mwt4">/-ˈkɔəɹs/</span>
   <link rel="mw:PageProp/Category" href="./Category:English_terms_with_IPA_pronunciation#PAR%20FOR%20THE%20COURSE" about="#mwt4" id="mwFQ"></li>
  <li id="mwFg">
   <style data-mw-deduplicate="TemplateStyles:r50165410" typeof="mw:Extension/templatestyles mw:Transclusion" about="#mwt5" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;audio&quot;,&quot;href&quot;:&quot;./Template:audio&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;En-au-par for the course.ogg&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Audio (AU)&quot;}},&quot;i&quot;:0}}]}" id="mwFw">.mw-parser-output .k-player .k-attribution{visibility:hidden}</style>
   <table class="audiotable" style="vertical-align: middle; display:inline-block; list-style:none;line-height: 1em; border-collapse:collapse;" about="#mwt5">
    <tbody>
     <tr>
      <td class="unicode audiolink" style="padding-right:5px; padding-left: 0;">Audio (AU)</td>
      <td class="audiofile"><span typeof="mw:File" class="mw-default-audio-height" data-mw="{&quot;caption&quot;:&quot;noicon&quot;}"><span title="noicon">
         <audio controls="" preload="none" height="32" width="175" resource="./File:En-au-par_for_the_course.ogg">
          <source src="//upload.wikimedia.org/wikipedia/commons/2/28/En-au-par_for_the_course.ogg" type="audio/ogg; codecs=&quot;vorbis&quot;" data-title="Original Ogg file (107 kbps)" data-shorttitle="Ogg source"><source src="//upload.wikimedia.org/wikipedia/commons/transcoded/2/28/En-au-par_for_the_course.ogg/En-au-par_for_the_course.ogg.mp3" type="audio/mpeg" data-title="MP3" data-shorttitle="MP3">
         </audio></span></span></td>
      <td class="audiometa" style="font-size: 80%;">(<a rel="mw:WikiLink" href="./File:En-au-par_for_the_course.ogg" title="File:En-au-par for the course.ogg">file</a>)</td>
     </tr>
    </tbody>
   </table>
   <link rel="mw:PageProp/Category" href="./Category:English_terms_with_audio_links#PAR%20FOR%20THE%20COURSE" about="#mwt5" id="mwGA"></li>
 </ul>
</section>
<section data-mw-section-id="5" id="mwGQ">
 <h3 id="Adjective">Adjective</h3>
 <p id="mwGg"><strong class="Latn headword" lang="en" about="#mwt8" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;en-adj&quot;,&quot;href&quot;:&quot;./Template:en-adj&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;-&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;more&quot;}},&quot;i&quot;:0}}]}" id="mwGw"><a rel="mw:WikiLink" href="./par#English" title="par">par</a> <a rel="mw:WikiLink" href="./for#English" title="for">for</a> <a rel="mw:WikiLink" href="./the#English" title="the">the</a> <a rel="mw:WikiLink" href="./course#English" title="course">course</a></strong><span about="#mwt8"> (</span><i about="#mwt8">not generally <a rel="mw:WikiLink" href="./Appendix:Glossary#comparable" title="Appendix:Glossary">comparable</a></i><span about="#mwt8">, </span><i about="#mwt8"><a rel="mw:WikiLink" href="./Appendix:Glossary#comparative" title="Appendix:Glossary">comparative</a></i><span about="#mwt8"> </span><b class="Latn form-of lang-en comparative-form-of        " lang="en" about="#mwt8"><a rel="mw:WikiLink" href="./more#English" title="more">more</a> par for the course</b><span about="#mwt8">, </span><i about="#mwt8"><a rel="mw:WikiLink" href="./Appendix:Glossary#superlative" title="Appendix:Glossary">superlative</a></i><span about="#mwt8"> </span><b class="Latn form-of lang-en superlative-form-of        " lang="en" about="#mwt8"><a rel="mw:WikiLink" href="./most#English" title="most">most</a> par for the course</b><span about="#mwt8">)</span>
  <link rel="mw:PageProp/Category" href="./Category:English_lemmas#PAR%20FOR%20THE%20COURSE" about="#mwt8">
  <link rel="mw:PageProp/Category" href="./Category:English_adjectives#PAR%20FOR%20THE%20COURSE" about="#mwt8">
  <link rel="mw:PageProp/Category" href="./Category:English_multiword_terms#PAR%20FOR%20THE%20COURSE" about="#mwt8" id="mwHA"></p>
 <ol id="mwHQ">
  <li id="mwHg"><span class="ib-brac" about="#mwt9" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;idiomatic&quot;}},&quot;i&quot;:0}}]}" id="mwHw">(</span><span class="ib-content" about="#mwt9"><a rel="mw:WikiLink" href="./Appendix:Glossary#idiomatic" title="Appendix:Glossary">idiomatic</a>
    <link rel="mw:PageProp/Category" href="./Category:English_idioms#PAR%20FOR%20THE%20COURSE"></span><span class="ib-brac" about="#mwt9" id="mwIA">)</span> To be <a rel="mw:WikiLink" href="./expected" title="expected" id="mwIQ">expected</a>; <a rel="mw:WikiLink" href="./normal" title="normal" id="mwIg">normal</a>; <a rel="mw:WikiLink" href="./common" title="common" id="mwIw">common</a>. 
   <dl id="mwJA">
    <dd id="mwJQ">
     <div class="h-usage-example" about="#mwt10" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;It took a long time to finish, but that's '''par for the course''' on a project like this.&quot;}},&quot;i&quot;:0}}]}" id="mwJg">
      <i class="Latn mention e-example" lang="en">It took a long time to finish, but that's <b>par for the course</b> on a project like this.</i>
     </div>
     <link rel="mw:PageProp/Category" href="./Category:English_terms_with_usage_examples#PAR%20FOR%20THE%20COURSE" about="#mwt10" id="mwJw">
    </dd>
   </dl>
   <ul id="mwKA">
    <li id="mwKQ"><span about="#mwt11" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;quote-journal&quot;,&quot;href&quot;:&quot;./Template:quote-journal&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;author&quot;:{&quot;wt&quot;:&quot;Hadley Freeman&quot;},&quot;title&quot;:{&quot;wt&quot;:&quot;Adam Gopnik: ‘You’re waltzing along and suddenly you’re portrayed as a monster of privilege’&quot;},&quot;work&quot;:{&quot;wt&quot;:&quot;The Guardian&quot;},&quot;date&quot;:{&quot;wt&quot;:&quot;2017-12-08&quot;},&quot;url&quot;:{&quot;wt&quot;:&quot;https://www.theguardian.com/books/2017/dec/08/adam-gopnik-interview-portrayed-monster-privilege&quot;},&quot;issn&quot;:{&quot;wt&quot;:&quot;0261-3077&quot;},&quot;passage&quot;:{&quot;wt&quot;:&quot;{{...|She didn’t even blink at the various London luminaries who came over to talk to her father; }} Nigella Lawson and Ralph Fiennes, we were told, might pop by later. The Gopniks smiled calmly: this was all '''par for the course''' for them.&quot;}},&quot;i&quot;:0}}]}" id="mwKg"> </span>
     <div class="citation-whole" about="#mwt11" id="mwKw">
      <span class="cited-source"><b>2017</b> December 8, Hadley Freeman, “Adam Gopnik: ‘You’re waltzing along and suddenly you’re portrayed as a monster of privilege’”, in <cite>The Guardian</cite><span typeof="mw:Entity">‎</span><sup><a rel="mw:ExtLink nofollow" href="https://www.theguardian.com/books/2017/dec/08/adam-gopnik-interview-portrayed-monster-privilege" class="external autonumber"></a></sup>, <small><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/International%20Standard%20Serial%20Number" title="w:International Standard Serial Number" class="extiw">ISSN</a> <a rel="mw:ExtLink nofollow" href="https://www.worldcat.org/issn/0261-3077" class="external text">0261-3077</a></small>:
       <link rel="mw:PageProp/Category" href="./Category:English_terms_with_quotations#PAR%20FOR%20THE%20COURSE"></span>
      <dl>
       <dd>
        <div class="h-quotation">
         <span class="Latn e-quotation" lang="en"><span class="q-hellip-sp"> </span><span class="q-hellip-b">[</span><span title="She didn’t even blink at the various London luminaries who came over to talk to her father; ">…</span><span class="q-hellip-b">]</span><span class="q-hellip-b"> </span> Nigella Lawson and Ralph Fiennes, we were told, might pop by later. The Gopniks smiled calmly<span typeof="mw:Entity">:</span> this was all <b>par for the course</b> for them.</span>
        </div>
       </dd>
      </dl>
     </div></li>
   </ul></li>
 </ol>
 <section data-mw-section-id="6" id="mwLA">
  <h4 id="Synonyms">Synonyms</h4>
  <ul id="mwLQ">
   <li id="mwLg"><span class="Latn" lang="en" about="#mwt12" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;predictable&quot;}},&quot;i&quot;:0}}]}" id="mwLw"><a rel="mw:WikiLink" href="./predictable#English" title="predictable">predictable</a></span>, <span class="Latn" lang="en" about="#mwt13" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;typical&quot;}},&quot;i&quot;:0}}]}" id="mwMA"><a rel="mw:WikiLink" href="./typical#English" title="typical">typical</a></span>, <span class="Latn" lang="en" about="#mwt14" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;usual&quot;}},&quot;i&quot;:0}}]}" id="mwMQ"><a rel="mw:WikiLink" href="./usual#English" title="usual">usual</a></span></li>
  </ul>
 </section>
 <section data-mw-section-id="7" id="mwMg">
  <h4 id="Translations">Translations</h4>
  <div class="NavFrame" id="Translations-to_be_expected;_normal;_common" about="#mwt15" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;trans-top&quot;,&quot;href&quot;:&quot;./Template:trans-top&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;to be expected; normal; common&quot;}},&quot;i&quot;:0}},&quot;\n* Polish: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t+&quot;,&quot;href&quot;:&quot;./Template:t+&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;typowy&quot;}},&quot;i&quot;:1}},&quot;\n* Russian: &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;t+&quot;,&quot;href&quot;:&quot;./Template:t+&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ru&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;в поря́дке веще́й&quot;}},&quot;i&quot;:2}},&quot;\n&quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;trans-bottom&quot;,&quot;href&quot;:&quot;./Template:trans-bottom&quot;},&quot;params&quot;:{},&quot;i&quot;:3}}]}">
   <div class="NavHead" style="text-align:left; ">
    to be expected; normal; common
   </div>
   <div class="NavContent">
    <table class="translations" role="presentation" style="width:100%;" data-gloss="to be expected; normal; common">
     <tbody>
      <tr>
       <td class="translations-cell multicolumn-list" style="background-color:#ffffe0; vertical-align:top; text-align:left; " colspan="3">
        <ul>
         <li>Polish: <span class="Latn" lang="pl"><a rel="mw:WikiLink" href="./typowy#Polish" title="typowy">typowy</a></span><span class="tpos"><span typeof="mw:Entity">&nbsp;</span><a rel="mw:WikiLink/Interwiki" href="https://pl.wiktionary.org/wiki/typowy" title="pl:typowy" class="extiw">(pl)</a></span></li>
         <li>Russian: <span class="Cyrl" lang="ru"><a rel="mw:WikiLink" href="./в_порядке_вещей#Russian" title="в порядке вещей">в поря́дке веще́й</a></span><span class="tpos"><span typeof="mw:Entity">&nbsp;</span><a rel="mw:WikiLink/Interwiki" href="https://ru.wiktionary.org/wiki/в%20порядке%20вещей" title="ru:в порядке вещей" class="extiw">(ru)</a></span> <span class="mention-gloss-paren annotation-paren">(</span><span lang="ru-Latn" class="tr Latn">v porjádke veščéj</span><span class="mention-gloss-paren annotation-paren">)</span></li>
        </ul></td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 </section>
</section>
