<h2 id="Tagalog">Tagalog</h2>
<section data-mw-section-id="45" id="mwATc">
 <h3 id="Pronunciation_1">Pronunciation 1</h3>
 <ul id="mwATg">
  <li id="mwATk"><span about="#mwt116" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;hyph&quot;,&quot;href&quot;:&quot;./Template:hyph&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bu&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;bo&quot;}},&quot;i&quot;:0}}]}" id="mwATo">Hyphenation: </span><span class="Latn" lang="tl" about="#mwt116" id="mwATs">bu‧bo</span></li>
  <li class="mw-empty-elt" id="mwATw"></li><span about="#mwt117" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;tl-IPA&quot;,&quot;href&quot;:&quot;./Template:tl-IPA&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwAT0"> </span>
  <li about="#mwt117"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Tagalog_pronunciation" title="Appendix:Tagalog pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/ˈbubo/</span>, <span class="IPA">[ˈbu.bo]</span>
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_with_IPA_pronunciation#BUBO"></li>
  <li id="mwAT4"><span about="#mwt118" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rhymes&quot;,&quot;href&quot;:&quot;./Template:rhymes&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ubo&quot;}},&quot;i&quot;:0}}]}" id="mwAT8">Rhymes: </span><a rel="mw:WikiLink" href="./Rhymes:Tagalog/ubo?action=edit&amp;redlink=1" title="Rhymes:Tagalog/ubo" about="#mwt118" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Rhymes:Tagalog/ubo&quot;]}}"><span class="IPA">-ubo</span></a>
   <link rel="mw:PageProp/Category" href="./Category:Rhymes:Tagalog/ubo#BUBO" about="#mwt118" id="mwAUA"></li>
 </ul>
 <section data-mw-section-id="46" id="mwAUE">
  <h4 id="Etymology_1_3">Etymology 1</h4>
  <section data-mw-section-id="47" id="mwAUI">
   <h5 id="Adjective">Adjective</h5>
   <p id="mwAUM"><strong class="Latn headword" lang="tl" about="#mwt119" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;tl-adj&quot;,&quot;href&quot;:&quot;./Template:tl-adj&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwAUQ">bubo</strong>
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_lemmas#BUBO" about="#mwt119">
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_adjectives#BUBO" about="#mwt119">
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_without_Baybayin_script#BUBO" about="#mwt119" id="mwAUU"></p>
   <ol id="mwAUY">
    <li id="mwAUc"><span class="form-of-definition use-with-mention" about="#mwt120" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;alt sp&quot;,&quot;href&quot;:&quot;./Template:alt_sp&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bobo&quot;}},&quot;i&quot;:0}}]}" id="mwAUg">Alternative spelling of <span class="form-of-definition-link"><i class="Latn mention" lang="tl"><a rel="mw:WikiLink" href="./bobo#Tagalog" title="bobo">bobo</a></i></span></span></li>
   </ol>
  </section>
  <section data-mw-section-id="48" id="mwAUk">
   <h5 id="Noun_8">Noun</h5>
   <p id="mwAUo"><strong class="Latn headword" lang="tl" about="#mwt121" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;tl-noun&quot;,&quot;href&quot;:&quot;./Template:tl-noun&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwAUs">bubo</strong>
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_lemmas#BUBO" about="#mwt121">
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_nouns#BUBO" about="#mwt121">
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_without_Baybayin_script#BUBO" about="#mwt121" id="mwAUw"></p>
   <ol id="mwAU0">
    <li id="mwAU4"><span class="form-of-definition use-with-mention" about="#mwt122" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;alt sp&quot;,&quot;href&quot;:&quot;./Template:alt_sp&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bobo&quot;}},&quot;i&quot;:0}}]}" id="mwAU8">Alternative spelling of <span class="form-of-definition-link"><i class="Latn mention" lang="tl"><a rel="mw:WikiLink" href="./bobo#Tagalog" title="bobo">bobo</a></i></span></span></li>
   </ol>
  </section>
 </section>
 <section data-mw-section-id="49" id="mwAVA">
  <h4 id="Etymology_2_3">Etymology 2</h4>
  <p id="mwAVE">From <span class="etyl" about="#mwt123" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh&quot;,&quot;href&quot;:&quot;./Template:inh&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;phi-pro&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;*bubu&quot;}},&quot;i&quot;:0}}]}" id="mwAVI"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Proto-Philippine%20language" title="w:Proto-Philippine language" class="extiw">Proto-Philippine</a>
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_inherited_from_Proto-Philippine#BUBO">
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_derived_from_Proto-Philippine#BUBO"></span><span about="#mwt123"> </span><i class="Latinx mention" lang="phi-pro" about="#mwt123" id="mwAVM"><a rel="mw:WikiLink" href="./Reconstruction:Proto-Philippine/bubu?action=edit&amp;redlink=1" title="Reconstruction:Proto-Philippine/bubu" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Reconstruction:Proto-Philippine/bubu&quot;]}}">*bubu</a></i>, from <span class="etyl" about="#mwt124" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh&quot;,&quot;href&quot;:&quot;./Template:inh&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;poz-pro&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;*bubu&quot;}},&quot;i&quot;:0}}]}" id="mwAVQ"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Proto-Malayo-Polynesian%20language" title="w:Proto-Malayo-Polynesian language" class="extiw">Proto-Malayo-Polynesian</a>
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_inherited_from_Proto-Malayo-Polynesian#BUBO">
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_derived_from_Proto-Malayo-Polynesian#BUBO"></span><span about="#mwt124"> </span><i class="Latinx mention" lang="poz-pro" about="#mwt124" id="mwAVU"><a rel="mw:WikiLink" href="./Reconstruction:Proto-Malayo-Polynesian/bubu" title="Reconstruction:Proto-Malayo-Polynesian/bubu">*bubu</a></i>, from <span class="etyl" about="#mwt125" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh&quot;,&quot;href&quot;:&quot;./Template:inh&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;map-pro&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;*bubu₂&quot;}},&quot;i&quot;:0}}]}" id="mwAVY"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Proto-Austronesian%20language" title="w:Proto-Austronesian language" class="extiw">Proto-Austronesian</a>
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_inherited_from_Proto-Austronesian#BUBO">
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_derived_from_Proto-Austronesian#BUBO"></span><span about="#mwt125"> </span><i class="Latinx mention" lang="map-pro" about="#mwt125" id="mwAVc"><a rel="mw:WikiLink" href="./Reconstruction:Proto-Austronesian/bubu₂?action=edit&amp;redlink=1" title="Reconstruction:Proto-Austronesian/bubu₂" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Reconstruction:Proto-Austronesian/bubu₂&quot;]}}">*bubu₂</a></i>. Cognate with <span class="etyl" about="#mwt126" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ami&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fofo&quot;}},&quot;i&quot;:0}}]}" id="mwAVg"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Amis%20language" title="w:Amis language" class="extiw">Amis</a></span><span about="#mwt126"> </span><i class="Latn mention" lang="ami" about="#mwt126" id="mwAVk"><a rel="mw:WikiLink" href="./fofo#Amis" title="fofo">fofo</a></i>, <span class="etyl" about="#mwt127" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ilo&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bobo&quot;}},&quot;i&quot;:0}}]}" id="mwAVo"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Ilocano%20language" title="w:Ilocano language" class="extiw">Ilocano</a></span><span about="#mwt127"> </span><i class="Latn mention" lang="ilo" about="#mwt127" id="mwAVs"><a rel="mw:WikiLink" href="./bobo#Ilocano" title="bobo">bobo</a></i>, <span class="etyl" about="#mwt128" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ceb&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bubu&quot;}},&quot;i&quot;:0}}]}" id="mwAVw"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Cebuano%20language" title="w:Cebuano language" class="extiw">Cebuano</a></span><span about="#mwt128"> </span><i class="Latn mention" lang="ceb" about="#mwt128" id="mwAV0"><a rel="mw:WikiLink" href="./bubu#Cebuano" title="bubu">bubu</a></i>, <span class="etyl" about="#mwt129" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;mg&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;vovo&quot;}},&quot;i&quot;:0}}]}" id="mwAV4"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Malagasy%20language" title="w:Malagasy language" class="extiw">Malagasy</a></span><span about="#mwt129"> </span><i class="Latn mention" lang="mg" about="#mwt129" id="mwAV8"><a rel="mw:WikiLink" href="./vovo#Malagasy" title="vovo">vovo</a></i>, <span class="etyl" about="#mwt130" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ms&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bubu&quot;}},&quot;i&quot;:0}}]}" id="mwAWA"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Malay%20language" title="w:Malay language" class="extiw">Malay</a></span><span about="#mwt130"> </span><i class="Latn mention" lang="ms" about="#mwt130" id="mwAWE"><a rel="mw:WikiLink" href="./bubu#Malay" title="bubu">bubu</a></i>, <span class="etyl" about="#mwt131" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;bpz&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bufu&quot;}},&quot;i&quot;:0}}]}" id="mwAWI"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Bilba%20language" title="w:Bilba language" class="extiw">Bilba</a></span><span about="#mwt131"> </span><i class="Latn mention" lang="bpz" about="#mwt131" id="mwAWM"><a rel="mw:WikiLink" href="./bufu#Bilba" title="bufu">bufu</a></i>, <span class="etyl" about="#mwt132" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;bzq&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;pup&quot;}},&quot;i&quot;:0}}]}" id="mwAWQ"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Buli%20language%20(Indonesia)" title="w:Buli language (Indonesia)" class="extiw">Buli (Indonesia)</a></span><span about="#mwt132"> </span><i class="Latn mention" lang="bzq" about="#mwt132" id="mwAWU"><a rel="mw:WikiLink" href="./pup#Buli_(Indonesia)" title="pup">pup</a></i>, and <span class="etyl" about="#mwt133" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pon&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;uu&quot;}},&quot;i&quot;:0}}]}" id="mwAWY"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Pohnpeian%20language" title="w:Pohnpeian language" class="extiw">Pohnpeian</a></span><span about="#mwt133"> </span><i class="Latn mention" lang="pon" about="#mwt133" id="mwAWc"><a rel="mw:WikiLink" href="./uu#Pohnpeian" title="uu">uu</a></i>.</p>
  <section data-mw-section-id="50" id="mwAWg">
   <h5 id="Noun_9">Noun</h5>
   <p id="mwAWk"><strong class="Latn headword" lang="tl" about="#mwt134" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;tl-noun&quot;,&quot;href&quot;:&quot;./Template:tl-noun&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwAWo">bubo</strong>
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_lemmas#BUBO" about="#mwt134">
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_nouns#BUBO" about="#mwt134">
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_without_Baybayin_script#BUBO" about="#mwt134" id="mwAWs"></p>
   <ol id="mwAWw">
    <li id="mwAW0"><a rel="mw:WikiLink" href="./round" title="round" id="mwAW4">round</a> <a rel="mw:WikiLink" href="./bamboo" title="bamboo" id="mwAW8">bamboo</a> <a rel="mw:WikiLink" href="./basket" title="basket" id="mwAXA">basket</a> used as a <a rel="mw:WikiLink" href="./fish_trap" title="fish trap" id="mwAXE">fish trap</a></li>
   </ol>
  </section>
 </section>
</section>
<section data-mw-section-id="51" id="mwAXI">
 <h3 id="Pronunciation_2_2">Pronunciation 2</h3>
 <ul id="mwAXM">
  <li id="mwAXQ"><span about="#mwt135" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;hyph&quot;,&quot;href&quot;:&quot;./Template:hyph&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bu&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;bo&quot;}},&quot;i&quot;:0}}]}" id="mwAXU">Hyphenation: </span><span class="Latn" lang="tl" about="#mwt135" id="mwAXY">bu‧bo</span></li>
  <li class="mw-empty-elt" id="mwAXc"></li><span about="#mwt136" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;tl-IPA&quot;,&quot;href&quot;:&quot;./Template:tl-IPA&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;bubó&quot;}},&quot;i&quot;:0}}]}" id="mwAXg"> </span>
  <li about="#mwt136"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Tagalog_pronunciation" title="Appendix:Tagalog pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/buˈbo/</span>, <span class="IPA">[bʊˈbo]</span>
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_with_IPA_pronunciation#BUBO"></li>
  <li id="mwAXk"><span about="#mwt137" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rhymes&quot;,&quot;href&quot;:&quot;./Template:rhymes&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;o&quot;}},&quot;i&quot;:0}}]}" id="mwAXo">Rhymes: </span><a rel="mw:WikiLink" href="./Rhymes:Tagalog/o?action=edit&amp;redlink=1" title="Rhymes:Tagalog/o" about="#mwt137" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Rhymes:Tagalog/o&quot;]}}"><span class="IPA">-o</span></a>
   <link rel="mw:PageProp/Category" href="./Category:Rhymes:Tagalog/o#BUBO" about="#mwt137" id="mwAXs"></li>
 </ul>
 <section data-mw-section-id="52" id="mwAXw">
  <h4 id="Noun_10">Noun</h4>
  <p id="mwAX0"><strong class="Latn headword" lang="tl" about="#mwt138" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;tl-noun&quot;,&quot;href&quot;:&quot;./Template:tl-noun&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;bubó&quot;}},&quot;i&quot;:0}}]}" id="mwAX4">bubó</strong>
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_lemmas#BUBO" about="#mwt138">
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_nouns#BUBO" about="#mwt138">
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_without_Baybayin_script#BUBO" about="#mwt138" id="mwAX8"></p>
  <ol id="mwAYA">
   <li id="mwAYE">act of <a rel="mw:WikiLink" href="./frighten" title="frighten" id="mwAYI">frightening</a> and <a rel="mw:WikiLink" href="./drive_away" title="drive away" id="mwAYM">driving away</a> a <a rel="mw:WikiLink" href="./flock" title="flock" id="mwAYQ">flock</a> of <a rel="mw:WikiLink" href="./bird" title="bird" id="mwAYU">birds</a>
    <dl id="mwAYY">
     <dd id="mwAYc">
      <span class="nyms synonym" about="#mwt139" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bulabog&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;bulahaw&quot;}},&quot;i&quot;:0}}]}" id="mwAYg"><span class="defdate">Synonyms:</span> <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./bulabog#Tagalog" title="bulabog">bulabog</a></span>, <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./bulahaw#Tagalog" title="bulahaw">bulahaw</a></span></span>
     </dd>
    </dl></li>
   <li id="mwAYk"><a rel="mw:WikiLink" href="./sudden" title="sudden" id="mwAYo">sudden</a> <a rel="mw:WikiLink" href="./flight" title="flight" id="mwAYs">flight</a> of <a rel="mw:WikiLink" href="./bird" title="bird" id="mwAYw">birds</a> <span class="gloss-brac" about="#mwt140" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;gl&quot;,&quot;href&quot;:&quot;./Template:gl&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;after being frightened and driven away&quot;}},&quot;i&quot;:0}}]}" id="mwAY0">(</span><span class="gloss-content" about="#mwt140">after being frightened and driven away</span><span class="gloss-brac" about="#mwt140" id="mwAY4">)</span></li>
  </ol>
  <section data-mw-section-id="53" id="mwAY8">
   <h5 id="Derived_terms_3">Derived terms</h5>
   <div class="list-switcher" data-toggle-category="derived terms" about="#mwt141" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;der3&quot;,&quot;href&quot;:&quot;./Template:der3&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;pagbubo&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;bubuhin&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;bumubo&quot;}},&quot;i&quot;:0}}]}" id="mwAZA">
    <div class="derivedterms term-list ul-column-count" data-column-count="3" style="background-color: #F8F8FF;">
     <ul>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./bubuhin?action=edit&amp;redlink=1#Tagalog" title="bubuhin" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;bubuhin&quot;]}}">bubuhin</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./bumubo?action=edit&amp;redlink=1#Tagalog" title="bumubo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;bumubo&quot;]}}">bumubo</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./pagbubo?action=edit&amp;redlink=1#Tagalog" title="pagbubo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;pagbubo&quot;]}}">pagbubo</a></span></li>
     </ul>
    </div>
    <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display: none;">
     <span typeof="mw:Entity">&nbsp;</span>
    </div>
   </div>
  </section>
 </section>
</section>
<section data-mw-section-id="54" id="mwAZE">
 <h3 id="Pronunciation_3_2">Pronunciation 3</h3>
 <ul id="mwAZI">
  <li id="mwAZM"><span about="#mwt142" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;hyph&quot;,&quot;href&quot;:&quot;./Template:hyph&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bu&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;bo&quot;}},&quot;i&quot;:0}}]}" id="mwAZQ">Hyphenation: </span><span class="Latn" lang="tl" about="#mwt142" id="mwAZU">bu‧bo</span></li>
  <li class="mw-empty-elt" id="mwAZY"></li><span about="#mwt143" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;tl-IPA&quot;,&quot;href&quot;:&quot;./Template:tl-IPA&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;búbò&quot;}},&quot;i&quot;:0}}]}" id="mwAZc"> </span>
  <li about="#mwt143"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Tagalog_pronunciation" title="Appendix:Tagalog pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/ˈbuboʔ/</span>, <span class="IPA">[ˈbu.boʔ]</span>
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_with_IPA_pronunciation#BUBO"></li>
  <li id="mwAZg"><span about="#mwt144" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rhymes&quot;,&quot;href&quot;:&quot;./Template:rhymes&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;uboʔ&quot;}},&quot;i&quot;:0}}]}" id="mwAZk">Rhymes: </span><a rel="mw:WikiLink" href="./Rhymes:Tagalog/uboʔ?action=edit&amp;redlink=1" title="Rhymes:Tagalog/uboʔ" about="#mwt144" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Rhymes:Tagalog/uboʔ&quot;]}}"><span class="IPA">-uboʔ</span></a>
   <link rel="mw:PageProp/Category" href="./Category:Rhymes:Tagalog/uboʔ#BUBO" about="#mwt144" id="mwAZo"></li>
 </ul>
 <section data-mw-section-id="55" id="mwAZs">
  <h4 id="Noun_11">Noun</h4>
  <p id="mwAZw"><strong class="Latn headword" lang="tl" about="#mwt145" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;tl-noun&quot;,&quot;href&quot;:&quot;./Template:tl-noun&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;bubò&quot;}},&quot;i&quot;:0}}]}" id="mwAZ0">bubò</strong>
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_lemmas#BUBO" about="#mwt145">
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_nouns#BUBO" about="#mwt145">
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_without_Baybayin_script#BUBO" about="#mwt145" id="mwAZ4"></p>
  <ol id="mwAZ8">
   <li id="mwAaA"><a rel="mw:WikiLink" href="./cast" title="cast" id="mwAaE">casting</a>; <a rel="mw:WikiLink" href="./pour" title="pour" id="mwAaI">pouring</a> into a <a rel="mw:WikiLink" href="./mold" title="mold" id="mwAaM">mold</a></li>
   <li id="mwAaQ"><a rel="mw:WikiLink" href="./something" title="something" id="mwAaU">something</a> <a rel="mw:WikiLink" href="./form" title="form" id="mwAaY">formed</a> in a <a rel="mw:WikiLink" href="./mold" title="mold" id="mwAac">mold</a>
    <dl id="mwAag">
     <dd id="mwAak">
      <span class="nyms synonym" about="#mwt146" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;molde&quot;}},&quot;i&quot;:0}}]}" id="mwAao"><span class="defdate">Synonym:</span> <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./molde#Tagalog" title="molde">molde</a></span></span>
     </dd>
    </dl></li>
  </ol>
  <section data-mw-section-id="56" id="mwAas">
   <h5 id="Derived_terms_4">Derived terms</h5>
   <div class="list-switcher" data-toggle-category="derived terms" about="#mwt147" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;der3&quot;,&quot;href&quot;:&quot;./Template:der3&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;binubo&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;bubuan&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;bubuin&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;ibubo&quot;},&quot;6&quot;:{&quot;wt&quot;:&quot;magbubo&quot;},&quot;7&quot;:{&quot;wt&quot;:&quot;kabubo&quot;},&quot;8&quot;:{&quot;wt&quot;:&quot;mambububo&quot;},&quot;9&quot;:{&quot;wt&quot;:&quot;pagbubo&quot;},&quot;10&quot;:{&quot;wt&quot;:&quot;pagbububo&quot;}},&quot;i&quot;:0}}]}" id="mwAaw">
    <div class="derivedterms term-list ul-column-count" data-column-count="3" style="background-color: #F8F8FF;">
     <ul>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./binubo#Tagalog" title="binubo">binubo</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./bubuan?action=edit&amp;redlink=1#Tagalog" title="bubuan" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;bubuan&quot;]}}">bubuan</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./bubuin?action=edit&amp;redlink=1#Tagalog" title="bubuin" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;bubuin&quot;]}}">bubuin</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./ibubo?action=edit&amp;redlink=1#Tagalog" title="ibubo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;ibubo&quot;]}}">ibubo</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./kabubo?action=edit&amp;redlink=1#Tagalog" title="kabubo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;kabubo&quot;]}}">kabubo</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./magbubo?action=edit&amp;redlink=1#Tagalog" title="magbubo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;magbubo&quot;]}}">magbubo</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./mambububo?action=edit&amp;redlink=1#Tagalog" title="mambububo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;mambububo&quot;]}}">mambububo</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./pagbubo?action=edit&amp;redlink=1#Tagalog" title="pagbubo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;pagbubo&quot;]}}">pagbubo</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./pagbububo?action=edit&amp;redlink=1#Tagalog" title="pagbububo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;pagbububo&quot;]}}">pagbububo</a></span></li>
     </ul>
    </div>
    <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display: none;">
     <span typeof="mw:Entity">&nbsp;</span>
    </div>
   </div>
  </section>
 </section>
</section>
<section data-mw-section-id="57" id="mwAa0">
 <h3 id="Pronunciation_4_2">Pronunciation 4</h3>
 <ul id="mwAa4">
  <li id="mwAa8"><span about="#mwt148" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;hyph&quot;,&quot;href&quot;:&quot;./Template:hyph&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bu&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;bo&quot;}},&quot;i&quot;:0}}]}" id="mwAbA">Hyphenation: </span><span class="Latn" lang="tl" about="#mwt148" id="mwAbE">bu‧bo</span></li>
  <li class="mw-empty-elt" id="mwAbI"></li><span about="#mwt149" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;tl-IPA&quot;,&quot;href&quot;:&quot;./Template:tl-IPA&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;bubô&quot;}},&quot;i&quot;:0}}]}" id="mwAbM"> </span>
  <li about="#mwt149"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Tagalog_pronunciation" title="Appendix:Tagalog pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/buˈboʔ/</span>, <span class="IPA">[bʊˈboʔ]</span>
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_with_IPA_pronunciation#BUBO"></li>
  <li id="mwAbQ"><span about="#mwt150" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rhymes&quot;,&quot;href&quot;:&quot;./Template:rhymes&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;oʔ&quot;}},&quot;i&quot;:0}}]}" id="mwAbU">Rhymes: </span><a rel="mw:WikiLink" href="./Rhymes:Tagalog/oʔ?action=edit&amp;redlink=1" title="Rhymes:Tagalog/oʔ" about="#mwt150" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Rhymes:Tagalog/oʔ&quot;]}}"><span class="IPA">-oʔ</span></a>
   <link rel="mw:PageProp/Category" href="./Category:Rhymes:Tagalog/oʔ#BUBO" about="#mwt150" id="mwAbY"></li>
 </ul>
 <section data-mw-section-id="58" id="mwAbc">
  <h4 id="Etymology_5">Etymology</h4>
  <p id="mwAbg">From <span class="etyl" about="#mwt151" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;der&quot;,&quot;href&quot;:&quot;./Template:der&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;poz-pro&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;*buqbuq&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;pour&quot;}},&quot;i&quot;:0}}]}" id="mwAbk"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Proto-Malayo-Polynesian%20language" title="w:Proto-Malayo-Polynesian language" class="extiw">Proto-Malayo-Polynesian</a>
    <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_derived_from_Proto-Malayo-Polynesian#BUBO"></span><span about="#mwt151"> </span><i class="Latinx mention" lang="poz-pro" about="#mwt151"><a rel="mw:WikiLink" href="./Reconstruction:Proto-Malayo-Polynesian/buqbuq?action=edit&amp;redlink=1" title="Reconstruction:Proto-Malayo-Polynesian/buqbuq" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;Reconstruction:Proto-Malayo-Polynesian/buqbuq&quot;]}}">*buqbuq</a></i><span about="#mwt151"> </span><span class="mention-gloss-paren annotation-paren" about="#mwt151">(</span><span class="mention-gloss-double-quote" about="#mwt151">“</span><span class="mention-gloss" about="#mwt151">pour</span><span class="mention-gloss-double-quote" about="#mwt151">”</span><span class="mention-gloss-paren annotation-paren" about="#mwt151" id="mwAbo">)</span>. Cognate with <span class="etyl" about="#mwt152" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pam&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bubu&quot;}},&quot;i&quot;:0}}]}" id="mwAbs"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Kapampangan%20language" title="w:Kapampangan language" class="extiw">Kapampangan</a></span><span about="#mwt152"> </span><i class="Latn mention" lang="pam" about="#mwt152" id="mwAbw"><a rel="mw:WikiLink" href="./bubu#Kapampangan" title="bubu">bubu</a></i>, <span class="etyl" about="#mwt153" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ceb&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bubu&quot;}},&quot;i&quot;:0}}]}" id="mwAb0"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Cebuano%20language" title="w:Cebuano language" class="extiw">Cebuano</a></span><span about="#mwt153"> </span><i class="Latn mention" lang="ceb" about="#mwt153" id="mwAb4"><a rel="mw:WikiLink" href="./bubu#Cebuano" title="bubu">bubu</a></i>, and <span class="etyl" about="#mwt154" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;jv&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bubuh&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;put in by accident&quot;}},&quot;i&quot;:0}}]}" id="mwAb8"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Javanese%20language" title="w:Javanese language" class="extiw">Javanese</a></span><span about="#mwt154"> </span><i class="Latn mention" lang="jv" about="#mwt154"><a rel="mw:WikiLink" href="./bubuh#Javanese" title="bubuh">bubuh</a></i><span about="#mwt154"> </span><span class="mention-gloss-paren annotation-paren" about="#mwt154">(</span><span class="mention-gloss-double-quote" about="#mwt154">“</span><span class="mention-gloss" about="#mwt154">put in by accident</span><span class="mention-gloss-double-quote" about="#mwt154">”</span><span class="mention-gloss-paren annotation-paren" about="#mwt154" id="mwAcA">)</span>.</p>
 </section>
 <section data-mw-section-id="59" id="mwAcE">
  <h4 id="Adjective_2">Adjective</h4>
  <p id="mwAcI"><strong class="Latn headword" lang="tl" about="#mwt155" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;tl-adj&quot;,&quot;href&quot;:&quot;./Template:tl-adj&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;bubô&quot;}},&quot;i&quot;:0}}]}" id="mwAcM">bubô</strong>
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_lemmas#BUBO" about="#mwt155">
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_adjectives#BUBO" about="#mwt155">
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_without_Baybayin_script#BUBO" about="#mwt155" id="mwAcQ"></p>
  <ol id="mwAcU">
   <li id="mwAcY"><a rel="mw:WikiLink" href="./overflowing" title="overflowing" id="mwAcc">overflowing</a>; <a rel="mw:WikiLink" href="./pour_out" title="pour out" id="mwAcg">pouring out</a>
    <dl id="mwAck">
     <dd id="mwAco">
      <span class="nyms synonym" about="#mwt156" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;buhos&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;salin&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;ligwak&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;huho&quot;}},&quot;i&quot;:0}}]}" id="mwAcs"><span class="defdate">Synonyms:</span> <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./buhos#Tagalog" title="buhos">buhos</a></span>, <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./salin#Tagalog" title="salin">salin</a></span>, <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./ligwak#Tagalog" title="ligwak">ligwak</a></span>, <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./huho?action=edit&amp;redlink=1#Tagalog" title="huho" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;huho&quot;]}}">huho</a></span></span>
     </dd>
    </dl></li>
   <li id="mwAcw"><a rel="mw:WikiLink" href="./spill" title="spill" id="mwAc0">spilled</a>; <a rel="mw:WikiLink" href="./poured" title="poured" id="mwAc4">poured</a> out <a rel="mw:WikiLink" href="./accidentally" title="accidentally" id="mwAc8">accidentally</a></li>
  </ol>
 </section>
 <section data-mw-section-id="60" id="mwAdA">
  <h4 id="Noun_12">Noun</h4>
  <p id="mwAdE"><strong class="Latn headword" lang="tl" about="#mwt157" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;tl-noun&quot;,&quot;href&quot;:&quot;./Template:tl-noun&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;bubô&quot;}},&quot;i&quot;:0}}]}" id="mwAdI">bubô</strong>
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_lemmas#BUBO" about="#mwt157">
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_nouns#BUBO" about="#mwt157">
   <link rel="mw:PageProp/Category" href="./Category:Tagalog_terms_without_Baybayin_script#BUBO" about="#mwt157" id="mwAdM"></p>
  <ol id="mwAdQ">
   <li id="mwAdU"><a rel="mw:WikiLink" href="./act" title="act" id="mwAdY">act</a> of <a rel="mw:WikiLink" href="./pour_out" title="pour out" id="mwAdc">pouring out</a>
    <dl id="mwAdg">
     <dd id="mwAdk">
      <span class="nyms synonym" about="#mwt158" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;buhos&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;salin&quot;}},&quot;i&quot;:0}}]}" id="mwAdo"><span class="defdate">Synonyms:</span> <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./buhos#Tagalog" title="buhos">buhos</a></span>, <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./salin#Tagalog" title="salin">salin</a></span></span>
     </dd>
    </dl></li>
   <li id="mwAds"><a rel="mw:WikiLink" href="./spillage" title="spillage" id="mwAdw">spillage</a>; <a rel="mw:WikiLink" href="./act" title="act" id="mwAd0">act</a> of <a rel="mw:WikiLink" href="./spill" title="spill" id="mwAd4">spilling</a>
    <dl id="mwAd8">
     <dd id="mwAeA">
      <span class="nyms synonym" about="#mwt159" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ligwak&quot;}},&quot;i&quot;:0}}]}" id="mwAeE"><span class="defdate">Synonym:</span> <span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./ligwak#Tagalog" title="ligwak">ligwak</a></span></span>
     </dd>
    </dl></li>
   <li id="mwAeI"><a rel="mw:WikiLink" href="./spilled" title="spilled" id="mwAeM">spilled</a> <a rel="mw:WikiLink" href="./material" title="material" id="mwAeQ">material</a></li>
  </ol>
  <section data-mw-section-id="61" id="mwAeU">
   <h5 id="Derived_terms_5">Derived terms</h5>
   <div class="list-switcher" data-toggle-category="derived terms" about="#mwt160" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;der3&quot;,&quot;href&quot;:&quot;./Template:der3&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;tl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bumubo&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;ibubo&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;magbubo&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;mabubo&quot;}},&quot;i&quot;:0}}]}" id="mwAeY">
    <div class="derivedterms term-list ul-column-count" data-column-count="3" style="background-color: #F8F8FF;">
     <ul>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./bumubo?action=edit&amp;redlink=1#Tagalog" title="bumubo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;bumubo&quot;]}}">bumubo</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./ibubo?action=edit&amp;redlink=1#Tagalog" title="ibubo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;ibubo&quot;]}}">ibubo</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./mabubo?action=edit&amp;redlink=1#Tagalog" title="mabubo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;mabubo&quot;]}}">mabubo</a></span></li>
      <li><span class="Latn" lang="tl"><a rel="mw:WikiLink" href="./magbubo?action=edit&amp;redlink=1#Tagalog" title="magbubo" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;magbubo&quot;]}}">magbubo</a></span></li>
     </ul>
    </div>
    <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display: none;">
     <span typeof="mw:Entity">&nbsp;</span>
    </div>
   </div>
  </section>
 </section>
</section>
