<h4 id="Related_terms">Related terms</h4>
<p id="mwAw"><a rel="mw:WikiLink" href="./CN_gas" title="CN gas" id="mwBA">CN gas</a><br id="mwBQ"/>
    <a rel="mw:WikiLink" href="./pepper_spray" title="pepper spray" id="mwBg">pepper spray</a><br id="mwBw"/>
    <a rel="mw:WikiLink" href="./mace" title="mace" id="mwCA">mace</a></p>