<h4 id="Synonyms">Synonyms</h4>
<ul id="mwAw">
    <li id="mwBA"><a rel="mw:WikiLink" href="./predictable" title="predictable" id="mwBQ">predictable</a>, <a
            rel="mw:WikiLink" href="./typical" title="typical" id="mwBg">typical</a></li>
    <li id="mwBw"><a rel="mw:WikiLink" href="./usual" title="usual" id="mwCA">usual</a></li>
</ul>