<h4 id="Synonyms">Synonyms</h4>
<ul id="mwAw">
    <li id="mwBA"><span class="Latn" lang="en" about="#mwt1" typeof="mw:Transclusion"
                        data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"predictable"}},"i":0}}]}'
                        id="mwBQ"><a rel="mw:WikiLink" href="./predictable#English" title="predictable">predictable</a></span>,
        <span class="Latn" lang="en" about="#mwt2" typeof="mw:Transclusion"
              data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"typical"}},"i":0}}]}'
              id="mwBg"><a rel="mw:WikiLink" href="./typical#English" title="typical">typical</a></span>, <span
                class="Latn" lang="en" about="#mwt3" typeof="mw:Transclusion"
                data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"usual"}},"i":0}}]}'
                id="mwBw"><a rel="mw:WikiLink" href="./usual#English" title="usual">usual</a></span></li>
</ul>