<h4 id="Synonyms">Synonyms</h4>
<ul id="mwQg">
    <li id="mwQw"><span class="ib-brac qualifier-brac" about="#mwt23" typeof="mw:Transclusion"
                        data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;sense&quot;,&quot;href&quot;:&quot;./Template:sense&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;point in an orbit&quot;}},&quot;i&quot;:0}}]}"
                        id="mwRA">(</span><span class="ib-content qualifier-content"
                                                about="#mwt23">point in an orbit</span><span
            class="ib-brac qualifier-brac" about="#mwt23">)</span><span class="ib-colon sense-qualifier-colon"
                                                                        about="#mwt23" id="mwRQ">:</span> <span
            class="Latn" lang="en" about="#mwt24" typeof="mw:Transclusion"
            data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;apocenter&quot;}},&quot;i&quot;:0}}]}"
            id="mwRg"><a rel="mw:WikiLink" href="./apocenter#English" title="apocenter">apocenter</a></span>, <span
            class="Latn" lang="en" about="#mwt25" typeof="mw:Transclusion"
            data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;apoapsis&quot;}},&quot;i&quot;:0}}]}"
            id="mwRw"><a rel="mw:WikiLink" href="./apoapsis#English" title="apoapsis">apoapsis</a></span>, <span
            class="Latn" lang="en" about="#mwt26" typeof="mw:Transclusion"
            data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;apsis&quot;}},&quot;i&quot;:0}}]}"
            id="mwSA"><a rel="mw:WikiLink" href="./apsis#English" title="apsis">apsis</a></span></li>
    <li id="mwSQ"><span class="ib-brac qualifier-brac" about="#mwt27" typeof="mw:Transclusion"
                        data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;sense&quot;,&quot;href&quot;:&quot;./Template:sense&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;highest point or state&quot;}},&quot;i&quot;:0}}]}"
                        id="mwSg">(</span><span class="ib-content qualifier-content" about="#mwt27">highest point or state</span><span
            class="ib-brac qualifier-brac" about="#mwt27">)</span><span class="ib-colon sense-qualifier-colon"
                                                                        about="#mwt27" id="mwSw">:</span> <span
            class="Latn" lang="en" about="#mwt28" typeof="mw:Transclusion"
            data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;acme&quot;}},&quot;i&quot;:0}}]}"
            id="mwTA"><a rel="mw:WikiLink" href="./acme#English" title="acme">acme</a></span>, <span class="Latn"
                                                                                                     lang="en"
                                                                                                     about="#mwt29"
                                                                                                     typeof="mw:Transclusion"
                                                                                                     data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;culmination&quot;}},&quot;i&quot;:0}}]}"
                                                                                                     id="mwTQ"><a
            rel="mw:WikiLink" href="./culmination#English" title="culmination">culmination</a></span>, <span
            class="Latn" lang="en" about="#mwt30" typeof="mw:Transclusion"
            data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;pinnacle&quot;}},&quot;i&quot;:0}}]}"
            id="mwTg"><a rel="mw:WikiLink" href="./pinnacle#English" title="pinnacle">pinnacle</a></span>, <span
            class="Latn" lang="en" about="#mwt31" typeof="mw:Transclusion"
            data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;zenith&quot;}},&quot;i&quot;:0}}]}"
            id="mwTw"><a rel="mw:WikiLink" href="./zenith#English" title="zenith">zenith</a></span>, <span class="Latn"
                                                                                                           lang="en"
                                                                                                           about="#mwt32"
                                                                                                           typeof="mw:Transclusion"
                                                                                                           data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;climax&quot;}},&quot;i&quot;:0}}]}"
                                                                                                           id="mwUA"><a
            rel="mw:WikiLink" href="./climax#English" title="climax">climax</a></span></li>
    <li id="mwUQ">See also <a rel="mw:WikiLink" href="./Thesaurus:apex" title="Thesaurus:apex"
                              id="mwUg">Thesaurus:apex</a></li>
</ul>
