<h4 id="Antonyms">Antonyms</h4>
<ul id="mwAw">
    <li id="mwBA"><span class="ib-brac qualifier-brac" about="#mwt1" typeof="mw:Transclusion"
                        data-mw='{"parts":[{"template":{"target":{"wt":"antsense","href":"./Template:antsense"},"params":{"1":{"wt":"a point in an orbit"}},"i":0}}]}'
                        id="mwBQ">(</span><span class="qualifier-clarification" about="#mwt1">antonym(s) of </span><span
            class="qualifier-clarification qualifier-quote" about="#mwt1">“</span><span
            class="ib-content qualifier-content" about="#mwt1">a point in an orbit</span><span
            class="qualifier-clarification qualifier-quote" about="#mwt1">”</span><span class="ib-brac qualifier-brac"
                                                                                        about="#mwt1">)</span><span
            class="ib-colon sense-qualifier-colon" about="#mwt1" id="mwBg">:</span> <span class="Latn" lang="en"
                                                                                          about="#mwt2"
                                                                                          typeof="mw:Transclusion"
                                                                                          data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"periapsis"}},"i":0}}]}'
                                                                                          id="mwBw"><a rel="mw:WikiLink"
                                                                                                       href="./periapsis#English"
                                                                                                       title="periapsis">periapsis</a></span>
    </li>
    <li id="mwCA"><span class="ib-brac qualifier-brac" about="#mwt3" typeof="mw:Transclusion"
                        data-mw='{"parts":[{"template":{"target":{"wt":"antsense","href":"./Template:antsense"},"params":{"1":{"wt":"a point in an orbit around the Earth"}},"i":0}}]}'
                        id="mwCQ">(</span><span class="qualifier-clarification" about="#mwt3">antonym(s) of </span><span
            class="qualifier-clarification qualifier-quote" about="#mwt3">“</span><span
            class="ib-content qualifier-content" about="#mwt3">a point in an orbit around the Earth</span><span
            class="qualifier-clarification qualifier-quote" about="#mwt3">”</span><span class="ib-brac qualifier-brac"
                                                                                        about="#mwt3">)</span><span
            class="ib-colon sense-qualifier-colon" about="#mwt3" id="mwCg">:</span> <span class="Latn" lang="en"
                                                                                          about="#mwt4"
                                                                                          typeof="mw:Transclusion"
                                                                                          data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"perigee"}},"i":0}}]}'
                                                                                          id="mwCw"><a rel="mw:WikiLink"
                                                                                                       href="./perigee#English"
                                                                                                       title="perigee">perigee</a></span>
    </li>
    <li id="mwDA"><span class="ib-brac qualifier-brac" about="#mwt5" typeof="mw:Transclusion"
                        data-mw='{"parts":[{"template":{"target":{"wt":"antsense","href":"./Template:antsense"},"params":{"1":{"wt":"highest point"}},"i":0}}]}'
                        id="mwDQ">(</span><span class="qualifier-clarification" about="#mwt5">antonym(s) of </span><span
            class="qualifier-clarification qualifier-quote" about="#mwt5">“</span><span
            class="ib-content qualifier-content" about="#mwt5">highest point</span><span
            class="qualifier-clarification qualifier-quote" about="#mwt5">”</span><span class="ib-brac qualifier-brac"
                                                                                        about="#mwt5">)</span><span
            class="ib-colon sense-qualifier-colon" about="#mwt5" id="mwDg">:</span> <span class="Latn" lang="en"
                                                                                          about="#mwt6"
                                                                                          typeof="mw:Transclusion"
                                                                                          data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"nadir"}},"i":0}}]}'
                                                                                          id="mwDw"><a rel="mw:WikiLink"
                                                                                                       href="./nadir#English"
                                                                                                       title="nadir">nadir</a></span>,
        <span class="Latn" lang="en" about="#mwt7" typeof="mw:Transclusion"
              data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"perigee"}},"i":0}}]}'
              id="mwEA"><a rel="mw:WikiLink" href="./perigee#English" title="perigee">perigee</a></span>
        <dl id="mwEQ">
            <dd id="mwEg"><a rel="mw:WikiLink" href="./perigee" title="perigee" id="mwEw">perigee</a> is the
                etymological antonym (from Ancient Greek).
            </dd>
        </dl>
    </li>
</ul>