<h5 id="Collocations">Collocations</h5>
<div class="NavFrame" about="#mwt8" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;co-top&quot;,&quot;href&quot;:&quot;./Template:co-top&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;Adjectives often used with \&quot;unsubstantiated\&quot;&quot;}},&quot;i&quot;:0}},&quot;\n&quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;coi&quot;,&quot;href&quot;:&quot;./Template:coi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;claim, allegation, rumor, accusation, report, charge, assumption, gossip, story, statement&quot;}},&quot;i&quot;:1}},&quot;\n&quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;co-bottom&quot;,&quot;href&quot;:&quot;./Template:co-bottom&quot;},&quot;params&quot;:{},&quot;i&quot;:2}}]}" id="mwHA">
    <div class="NavHead" style="text-align: left;">
        Adjectives often used with "unsubstantiated"
    </div>
    <div class="NavContent derivedterms ul-column-count" data-column-count="2" style="text-align: left;">
        <p><span class="h-usage-example collocation"><i class="Latn mention e-example" lang="en">claim, allegation, rumor, accusation, report, charge, assumption, gossip, story, statement</i></span>
            <link rel="mw:PageProp/Category" href="./Category:English_terms_with_collocations#UNSUBSTANTIATED"></p>
    </div>
</div>