<h4 id="Collocations">Collocations</h4>
<div class="NavFrame" about="#mwt45" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;co-top&quot;,&quot;href&quot;:&quot;./Template:co-top&quot;},&quot;params&quot;:{},&quot;i&quot;:0}},&quot;\n* sheer absurdity\n* utter absurdity\n* apparent absurdity\n* logical absurdity\n* obvious absurdity\n* manifest absurdity\n* great absurdity\n* monstrous absurdity\n* inherent absurdity\n* comic absurdity\n* ultimate absurdity\n* palpable absurdity\n* gross absurdity\n&quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;co-bottom&quot;,&quot;href&quot;:&quot;./Template:co-bottom&quot;},&quot;params&quot;:{},&quot;i&quot;:1}}]}" id="mwSQ">
    <div class="NavHead" style="text-align: left;">
        Collocations
    </div>
    <div class="NavContent derivedterms ul-column-count" data-column-count="2" style="text-align: left;">
        <ul>
            <li>sheer absurdity</li>
            <li>utter absurdity</li>
            <li>apparent absurdity</li>
            <li>logical absurdity</li>
            <li>obvious absurdity</li>
            <li>manifest absurdity</li>
            <li>great absurdity</li>
            <li>monstrous absurdity</li>
            <li>inherent absurdity</li>
            <li>comic absurdity</li>
            <li>ultimate absurdity</li>
            <li>palpable absurdity</li>
            <li>gross absurdity</li>
        </ul>
    </div>
</div>
