<h4 id="Derived_terms">Derived terms</h4>
<div class="NavFrame" about="#mwt1" typeof="mw:Transclusion"
     data-mw='{"parts":[{"template":{"target":{"wt":"derived terms","href":"./Template:derived_terms"},"params":{"1":{"wt":"en"},"2":{"wt":"first"},"3":{"wt":"* {{l|en|second}}"},"4":{"wt":"a"},"5":{"wt":"b"},"6":{"wt":"c"},"7":{"wt":"d"},"8":{"wt":"e"},"9":{"wt":"f"},"10":{"wt":"g"}},"i":0}}]}'
     id="mwAw">
    <div class="NavHead">Derived terms</div>
    <div class="NavContent">
        <table style="width:100%;" role="presentation" class="derivedterms">
            <tbody>
            <tr>
                <td style="vertical-align: top; text-align: left; width: 20%">
                    <ul>
                        <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./a#English" title="a">a</a></span>
                        </li>
                        <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./b#English" title="b">b</a></span>
                        </li>
                        <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./c#English" title="c">c</a></span>
                        </li>
                    </ul>
                </td>
                <td style="width:1%"></td>
                <td style="text-align:left;vertical-align:top;width:20%">
                    <ul>
                        <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./d#English" title="d">d</a></span>
                        </li>
                        <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./e#English" title="e">e</a></span>
                        </li>
                        <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./f#English" title="f">f</a></span>
                        </li>
                    </ul>
                </td>
                <td style="width:1%"></td>
                <td style="text-align:left;vertical-align:top;width:20%">
                    <ul>
                        <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./first#English"
                                                            title="first">first</a></span>
                            <ul>
                                <li><span class="Latn" lang="en"><span class="Latn" lang="en"><a rel="mw:WikiLink"
                                                                                                 href="./second#English"
                                                                                                 title="second">second</a></span></span>
                                </li>
                            </ul>
                        </li>
                        <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./g#English" title="g">g</a></span>
                        </li>
                    </ul>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>