<div class="term-list-header" about="#mwt1" typeof="mw:Transclusion"
     data-mw='{"parts":[{"template":{"target":{"wt":"col2","href":"./Template:col2"},"params":{"1":{"wt":"en"},"title":{"wt":"{{lb|en|computing}} [[algorithm|Algorithm]] for sorting a list of items"},"2":{"wt":"foo"},"3":{"wt":"bar"}},"i":0}}]}'
     id="mwAg"><span class="usage-label-sense"><span class="ib-brac">(</span><span
    class="ib-content"><a rel="mw:WikiLink" href="./computing#Noun" title="computing">computing</a><link
    rel="mw:PageProp/Category" href="./Category:en:Computing#MAINPAGE"/></span><span
    class="ib-brac">)</span></span> <a rel="mw:WikiLink" href="./algorithm" title="algorithm">Algorithm</a>
  for sorting a list of items
</div>
<div class="list-switcher" data-toggle-category="derived terms" about="#mwt1" id="mwAw">
  <div class="derivedterms term-list ul-column-count" data-column-count="2"
       style="background-color:#F8F8FF">
    <ul>
      <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./bar#English" title="bar">bar</a></span>
      </li>
      <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./foo#English" title="foo">foo</a></span>
      </li>
    </ul>
  </div>
  <div class="list-switcher-element" data-showtext=" show more ▼ " data-hidetext=" show less ▲ "
       style="display:none"> 
  </div>
</div>