<div class="term-list-header" about="#mwt1" typeof="mw:Transclusion"
     data-mw='{"parts":[{"template":{"target":{"wt":"col2","href":"./Template:col2"},"params":{"1":{"wt":"en"},"title":{"wt":"plant and its fruit"},"2":{"wt":"acorn squash\n          "},"3":{"wt":"{{l|en|opo squash}} (&apos;&apos;{{taxfmt|Lagenaria|genus}} spp.&apos;&apos;)        \n"}},"i":0}}]}'
     id="mwAg">plant and its fruit
</div>
<div class="list-switcher" data-toggle-category="derived terms" about="#mwt1" id="mwAw">
    <div class="derivedterms term-list ul-column-count" data-column-count="2" style="background-color:#F8F8FF">
        <ul>
            <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./acorn_squash#English" title="acorn squash">acorn squash</a></span>
            </li>
            <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./opo_squash#English" title="opo squash">opo squash</a></span>
                (<i><span class="biota"><a rel="mw:WikiLink" href="./Lagenaria#Translingual" title="Lagenaria"><i>Lagenaria</i></a></span>
                    spp.</i>)
            </li>
        </ul>
    </div>
    <div class="list-switcher-element" data-showtext=" show more ▼ " data-hidetext=" show less ▲ " style="display:none">
         
    </div>
</div>