<h5 id="Derived_terms_3">Derived terms</h5>
<div class="list-switcher" data-toggle-category="derived terms" about="#mwt224" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;der3&quot;,&quot;href&quot;:&quot;./Template:der3&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en\n&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;{{vern|squash beetle}} ({{taxlink|Epilachna borealis|species|ver=161009}})\n&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;{{l|en|squash bug}} ([[Coreidae]])\n&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;{{l|en|opo squash}} (''[[Lagenaria]] spp.'')\n&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;{{l|en|winter squash}}\n&quot;},&quot;6&quot;:{&quot;wt&quot;:&quot;{{l|en|summer squash}}\n&quot;},&quot;7&quot;:{&quot;wt&quot;:&quot;{{l|en|acorn squash}}\n&quot;}},&quot;i&quot;:0}}]}" id="mw8A">
<div class="derivedterms term-list ul-column-count" data-column-count="3" style="background-color: #F8F8FF;">
 <ul>
  <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./acorn_squash#English" title="acorn squash">acorn squash</a></span></li>
  <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./opo_squash#English" title="opo squash">opo squash</a></span> (<i><a rel="mw:WikiLink" href="./Lagenaria" title="Lagenaria">Lagenaria</a> spp.</i>)</li>
  <li><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/en:squash%20beetle" title="w:en:squash beetle" class="extiw">squash beetle</a>
   <link rel="mw:PageProp/Category" href="./Category:Entries_missing_English_vernacular_names_of_taxa#squash%20beetle"> (<span class="biota"><a rel="mw:WikiLink/Interwiki" href="https://species.wikimedia.org/wiki/Epilachna%20borealis" title="wikispecies:Epilachna borealis" class="extiw"><i>Epilachna borealis</i></a>
    <link rel="mw:PageProp/Category" href="./Category:Entries_using_missing_taxonomic_name_(species)#Epilachna%20borealis"></span>)</li>
  <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./squash_bug#English" title="squash bug">squash bug</a></span> (<a rel="mw:WikiLink" href="./Coreidae" title="Coreidae">Coreidae</a>)</li>
  <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./summer_squash#English" title="summer squash">summer squash</a></span></li>
  <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./winter_squash#English" title="winter squash">winter squash</a></span></li>
 </ul>
</div>
<div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display: none;">
 <span typeof="mw:Entity">&nbsp;</span>
</div>
</div>
