<h4 id="Synonyms">Synonyms</h4>
<dl id="mwAw">
    <dd id="mwBA"><a rel="mw:WikiLink" href="./foo" title="foo" id="mwBQ">foo</a></dd>
    <dd id="mwBg"><a rel="mw:WikiLink" href="./bar" title="bar" id="mwBw">bar</a></dd>
</dl>