<h4 id="Hypoynyms">Hypoynyms</h4>
<div class="term-list-header" about="#mwt1" typeof="mw:Transclusion"
     data-mw='{"parts":[{"template":{"target":{"wt":"col4","href":"./Template:col4"},"params":{"1":{"wt":"de"},"title":{"wt":"lock"},"2":{"wt":"Bügelschloss"},"3":{"wt":"Fahrradschloss"}},"i":0}}]}'
     id="mwAw">lock
</div>
<div class="list-switcher" data-toggle-category="derived terms" about="#mwt1" id="mwBA">
    <div class="derivedterms term-list ul-column-count" data-column-count="4" style="background-color:#F8F8FF">
        <ul>
            <li><span class="Latn" lang="de"><a rel="mw:WikiLink" href="./Bügelschloss?action=edit&amp;redlink=1#German"
                                                title="Bügelschloss" class="new" typeof="mw:LocalizedAttrs"
                                                data-mw-i18n='{"title":{"lang":"x-page","key":"red-link-title","params":["Bügelschloss"]}}'>Bügelschloss</a></span>
            </li>
            <li><span class="Latn" lang="de"><a rel="mw:WikiLink" href="./Fahrradschloss#German" title="Fahrradschloss">Fahrradschloss</a></span>
            </li>
        </ul>
    </div>
    <div class="list-switcher-element" data-showtext=" show more ▼ " data-hidetext=" show less ▲ " style="display:none">
         
    </div>
</div>
<div class="term-list-header" about="#mwt2" typeof="mw:Transclusion"
     data-mw='{"parts":[{"template":{"target":{"wt":"col4","href":"./Template:col4"},"params":{"1":{"wt":"de"},"title":{"wt":"gun mechanism"},"2":{"wt":"Luntenschloss"}},"i":0}}]}'
     id="mwBQ">gun mechanism
</div>
<div class="list-switcher" data-toggle-category="derived terms" about="#mwt2" id="mwBg">
    <div class="derivedterms term-list ul-column-count" data-column-count="4" style="background-color:#F8F8FF">
        <ul>
            <li><span class="Latn" lang="de"><a rel="mw:WikiLink" href="./Luntenschloss#German" title="Luntenschloss">Luntenschloss</a></span>
            </li>
        </ul>
    </div>
    <div class="list-switcher-element" data-showtext=" show more ▼ " data-hidetext=" show less ▲ " style="display:none">
         
    </div>
</div>