<h5 id="Derived_terms_2">Derived terms</h5>
<ul id="mwwg">
    <li id="mwww">See also: <a rel="mw:WikiLink" href="./Category:English_plurals_ending_in_&quot;-en&quot;" title="Category:English plurals ending in &quot;-en&quot;" id="mwxA">Category:English plurals ending in "-en"</a></li>
</ul>