<h4 id="Derived_terms">Derived terms</h4>
<p id="mwAw"><a rel="mw:WikiLink" href="./Template:derl3?action=edit&amp;redlink=1" title="Template:derl3" about="#mwt1"
                typeof="mw:Transclusion mw:LocalizedAttrs" class="new"
                data-mw='{"parts":[{"template":{"target":{"wt":"derl3","href":"./Template:derl3"},"params":{"1":{"wt":"en"},"2":{"wt":"foo"}},"i":0}}]}'
                data-mw-i18n='{"title":{"lang":"x-page","key":"red-link-title","params":["Template:derl3"]}}' id="mwBA">Template:derl3</a>
</p>