<h4 id="Synonyms">Synonyms</h4>
<ul id="mwAw">
    <li id="mwBA"><span class="Latn" lang="fr" about="#mwt1" typeof="mw:Transclusion"
                        data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"fr"},"2":{"wt":"bien"}},"i":0}}]}'
                        id="mwBQ"><a rel="mw:WikiLink" href="./bien#French" title="bien">bien</a></span>, <span
            class="Latn" lang="fr" about="#mwt2" typeof="mw:Transclusion"
            data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"fr"},"2":{"wt":"super"}},"i":0}}]}'
            id="mwBg"><a rel="mw:WikiLink" href="./super#French" title="super">super</a></span>, <a rel="mw:WikiLink"
                                                                                                    href="./lolz"
                                                                                                    title="lolz"
                                                                                                    id="mwBw">lolz</a>,
        <span class="Latn" lang="en" about="#mwt3" typeof="mw:Transclusion"
              data-mw='{"parts":[{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"noes"}},"i":0}}]}'
              id="mwCA"><a rel="mw:WikiLink" href="./noes#English" title="noes">noes</a></span></li>
</ul>