<h4 id="Derived_terms">Derived terms</h4>
<div class="derivedterms CategoryTreeTag" data-ct-mode="10"
     data-ct-options='{"mode":10,"hideprefix":20,"showcount":false,"namespaces":[0],"notranslations":false}'
     typeof="mw:Extension/categorytree mw:Transclusion" about="#mwt1"
     data-mw='{"name":"categorytree","attrs":{"class":"derivedterms","depth":"0","namespaces":"-"},"body":{"extsrc":"English terms prefixed with anti-"},"parts":[{"template":{"target":{"wt":"prefixsee","href":"./Template:prefixsee"},"params":{"1":{"wt":"en"},"2":{"wt":"anti-"}},"i":0}}]}'
     id="mwAw">
    <div class="CategoryTreeSection">
        <div class="CategoryTreeItem"><span class="CategoryTreeBullet"><a class="CategoryTreeToggle"
                                                                          data-ct-title="English_terms_prefixed_with_anti-"
                                                                          aria-expanded="false"></a> </span> <a
                href="/wiki/Category:English_terms_prefixed_with_anti-"
                title="Category:English terms prefixed with anti-">English terms prefixed with anti-</a></div>
        <div class="CategoryTreeChildren" style="display:none"></div>
    </div>
</div>