<h4 id="See_also">See also</h4>
<p id="mwAw"><span class="plainlinks" about="#mwt1" typeof="mw:Transclusion"
                   data-mw='{"parts":[{"template":{"target":{"wt":"prefixlanglemma","href":"./Template:prefixlanglemma"},"params":{"1":{"wt":"en"},"2":{"wt":"foo"}},"i":0}}]}'
                   id="mwBA"><a rel="mw:ExtLink"
                                href="https://en.wiktionary.org/w/index.php?title=Category:English+lemmas&amp;from=foo#mw-pages"
                                class="external text">English terms starting with “foo”</a></span></p>