<h4 id="Related_terms">Related terms</h4>
<div class="NavFrame" about="#mwt1" typeof="mw:Transclusion"
     data-mw='{"parts":[{"template":{"target":{"wt":"rel-top","href":"./Template:rel-top"},"params":{},"i":0}},"\n* ",{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"first"}},"i":1}},"\n* ",{"template":{"target":{"wt":"l","href":"./Template:l"},"params":{"1":{"wt":"en"},"2":{"wt":"second"}},"i":2}},"\n",{"template":{"target":{"wt":"rel-bottom","href":"./Template:rel-bottom"},"params":{},"i":3}}]}'
     id="mwAw">
    <div class="NavHead" style="text-align: left;">Related terms</div>
    <div class="NavContent derivedterms ul-column-count" data-column-count="2" style="text-align: left;">
        <ul>
            <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./first#English" title="first">first</a></span>
            </li>
            <li><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./second#English"
                                                title="second">second</a></span></li>
        </ul>
    </div>
</div>