<h4 id="Synonyms">Synonyms</h4>
<p id="mwAw"><span class="ib-brac qualifier-brac" about="#mwt1" typeof="mw:Transclusion"
                   data-mw='{"parts":[{"template":{"target":{"wt":"sense","href":"./Template:sense"},"params":{"1":{"wt":"swimsuit"}},"i":0}}]}'
                   id="mwBA">(</span><span class="ib-content qualifier-content" about="#mwt1">swimsuit</span><span
        class="ib-brac qualifier-brac" about="#mwt1">)</span><span class="ib-colon sense-qualifier-colon" about="#mwt1"
                                                                   id="mwBQ">:</span> <a rel="mw:WikiLink"
                                                                                         href="./budgie_smugglers"
                                                                                         title="budgie smugglers"
                                                                                         id="mwBg">budgie smugglers</a>,
    <a rel="mw:WikiLink" href="./cozzie" title="cozzie" id="mwBw">cozzie</a>, <a rel="mw:WikiLink" href="./Speedos"
                                                                                 title="Speedos" id="mwCA">Speedos</a>
</p>