<section data-mw-section-id="3" id="mwCg">
    <h3 id="Etymology">Etymology</h3>
    <ul id="Portuguese:_auction" about="#mwt3" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;etymon&quot;,&quot;href&quot;:&quot;./Template:etymon&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;id&quot;:{&quot;wt&quot;:&quot;auction&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bor&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;ar>إِعْلَام>instruction&quot;},&quot;tree&quot;:{&quot;wt&quot;:&quot;1&quot;},&quot;text&quot;:{&quot;wt&quot;:&quot;+&quot;}},&quot;i&quot;:0}}]}"></ul>
    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_derived_from_the_Arabic_root_ع_ل_م#LEILAO" about="#mwt3">
    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_borrowed_from_Arabic#LEILAO" about="#mwt3">
    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_derived_from_Arabic#LEILAO" about="#mwt3">
    <style data-mw-deduplicate="TemplateStyles:r80869814" typeof="mw:Extension/templatestyles" about="#mwt3" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;Module:etymon/styles.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;}}">.mw-parser-output .etytree{width:max-content;max-width:100%;overflow:hidden;box-sizing:border-box}body.skin-minerva .mw-parser-output .etytree{min-width:min-content}@media screen and (max-width:719px){body.skin-minerva .mw-parser-output .etytree{width:100%}body.skin-minerva .mw-parser-output .etytree .NavHead>div{width:unset!important}}</style>
    <div class="etytree NavFrame" data-etytree-height="3" data-etytree-width="1" about="#mwt3">
        <div class="NavHead" style="background:var(--wikt-palette-lightergrey,#eeeeee)">
            <div style="width:25em">
                Etymology tree
            </div>
        </div>
        <div class="NavContent" style="overflow:auto">
            <div style="width:fit-content;margin:auto;padding:0.5em;display:flex;flex-direction:column;align-items:center">
                <div style="position:relative;text-align:center;padding:5px 10px;background:var(--wikt-palette-beige,#fffbf2);border:1px solid var(--wikt-palette-lightgrey,#ccc);border-radius:4px">
                    <span style="display:inline-block" class="etyl">Arabic</span> <span style="display:inline-block"><i class="Arab mention" lang="ar"><a rel="mw:WikiLink" href="./أعلم#Arabic:_to_inform" title="أعلم">أَعْلَمَ</a></i> <span class="mention-gloss-paren annotation-paren">(</span><span lang="ar-Latn" class="mention-tr tr Latn">ʔaʕlama</span><span class="mention-gloss-paren annotation-paren">)</span></span>
                </div><span style="position:relative;height:20px;border-right:2px solid var(--wikt-palette-grey,#9e9e9e)"></span>
                <div style="position:relative;text-align:center;padding:5px 10px;background:var(--wikt-palette-beige,#fffbf2);border:1px solid var(--wikt-palette-lightgrey,#ccc);border-radius:4px">
                    <span style="display:inline-block" class="etyl">Arabic</span> <span style="display:inline-block"><i class="Arab mention" lang="ar"><a rel="mw:WikiLink" href="./إعلام#Arabic:_instruction" title="إعلام">إِعْلَام</a></i> <span class="mention-gloss-paren annotation-paren">(</span><span lang="ar-Latn" class="mention-tr tr Latn">ʔiʕlām</span><span class="mention-gloss-paren annotation-paren">)</span></span><span style="z-index:1;position:absolute;transform:translate(-50%);top:calc(100% + 5px);left:50%;border-radius:2px;background:var(--wikt-palette-cyan,#eaffff);font-size:12px;height:10px;line-height:10px"><a rel="mw:WikiLink" href="./Appendix:Glossary#borrowing" title="Appendix:Glossary"><abbr title="borrowing" style="color:var(--wikt-palette-black,#202122);font-style:italic;text-decoration:none">bor.</abbr></a></span>
                </div><span style="position:relative;height:20px;border-right:2px solid var(--wikt-palette-grey,#9e9e9e)"></span>
                <div style="position:relative;text-align:center;padding:5px 10px;background:var(--wikt-palette-beige,#fffbf2);border:1px solid var(--wikt-palette-lightgrey,#ccc);border-radius:4px">
                    <span style="display:inline-block" class="etyl">Portuguese</span> <span style="display:inline-block"><i class="Latn mention" lang="pt"><b>leilão</b></i></span>
                </div>
            </div>
        </div>
    </div>
    <link rel="mw:PageProp/Category" href="./Category:Portuguese_entries_with_etymology_trees#LEILAO" about="#mwt3">
    <link rel="mw:PageProp/Category" href="./Category:Portuguese_entries_with_etymology_texts#LEILAO" about="#mwt3">
    <p about="#mwt3"><a rel="mw:WikiLink" href="./Appendix:Glossary#borrowing" title="Appendix:Glossary">Borrowed</a> from <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Arabic" title="w:Arabic" class="extiw">Arabic</a> <i class="Arab mention" lang="ar"><a rel="mw:WikiLink" href="./إعلام#Arabic:_instruction" title="إعلام">إِعْلَام</a></i> <span class="mention-gloss-paren annotation-paren">(</span><span lang="ar-Latn" class="mention-tr tr Latn">ʔiʕlām</span><span class="mention-gloss-paren annotation-paren">)</span>.</p>
</section>