<div class="h-feed" id="recentArticles">
    <h2 class="p-name">Recent Articles</h2>
    <div class="h-entry" id="article">Lorem Ipsum</div>
    <div class="h-entry" id="">empty id is invalid and should not be parsed</div>
    <div class="p-author h-card" id="theAuthor">Max Mustermann</div>
</div>