<ul id="mwKg">
    <li id="mwKw">That which is remembered was predominantly indicated by a genitive object in older usage (until ca. 1940-1950 in writing), nowadays this is restricted to <a rel="mw:WikiLink" href="./Appendix:Glossary#higher_register" title="Appendix:Glossary" id="mwLA">elevated style</a>. It had also been possible to express that which is reminded with a genitive object, but this usage has been archaic for one or two centuries:</li>
</ul>
<dl id="mwLQ">
    <dd id="mwLg">
        <dl id="mwLw">
            <dd id="mwMA">
                <div class="h-usage-example" about="#mwt14" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;de&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Er erinnerte mich '''dieses Tages'''.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;He reminded me of that day.&quot;}},&quot;i&quot;:0}}]}" id="mwMQ">
                    <i class="Latn mention e-example" lang="de">Er erinnerte mich <b>dieses Tages</b>.</i>
                    <dl>
                        <dd>
                            <span class="e-translation">He reminded me of that day.</span>
                        </dd>
                    </dl>
                </div>
                <link rel="mw:PageProp/Category" href="./Category:German_terms_with_usage_examples#ERINNERN" about="#mwt14" id="mwMg">
            </dd>
            <dd id="mwMw">
                <div class="h-usage-example" about="#mwt15" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;de&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Ich erinnere mich '''dieses Tages'''.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;I remember that day.&quot;}},&quot;i&quot;:0}}]}" id="mwNA">
                    <i class="Latn mention e-example" lang="de">Ich erinnere mich <b>dieses Tages</b>.</i>
                    <dl>
                        <dd>
                            <span class="e-translation">I remember that day.</span>
                        </dd>
                    </dl>
                </div>
                <link rel="mw:PageProp/Category" href="./Category:German_terms_with_usage_examples#ERINNERN" about="#mwt15" id="mwNQ">
            </dd>
        </dl>
    </dd>
</dl>
<ul id="mwNg">
    <li id="mwNw">Today both senses are generally indicated with <i class="Latn mention" lang="de" about="#mwt16" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;m&quot;,&quot;href&quot;:&quot;./Template:m&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;de&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;an&quot;}},&quot;i&quot;:0}}]}" id="mwOA"><a rel="mw:WikiLink" href="./an#German" title="an">an</a></i> + accusative:</li>
</ul>
<dl id="mwOQ">
    <dd id="mwOg">
        <dl id="mwOw">
            <dd id="mwPA">
                <span class="Latn" lang="de" about="#mwt17" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lang&quot;,&quot;href&quot;:&quot;./Template:lang&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;de&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;''Er erinnerte mich '''an diesen Tag'''.''&quot;}},&quot;i&quot;:0}}]}" id="mwPQ"><i>Er erinnerte mich <b>an diesen Tag</b>.</i></span>
            </dd>
            <dd id="mwPg">
                <span class="Latn" lang="de" about="#mwt18" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lang&quot;,&quot;href&quot;:&quot;./Template:lang&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;de&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;''Ich erinnere mich '''an diesen Tag'''.''&quot;}},&quot;i&quot;:0}}]}" id="mwPw"><i>Ich erinnere mich <b>an diesen Tag</b>.</i></span>
            </dd>
        </dl>
    </dd>
</dl>
<ul id="mwQA">
    <li id="mwQQ">Occasionally, the reflexive verb is replaced with a simple verb + accusative object. Sometimes associated with Northern German, this usage is much less common:</li>
</ul>
<dl id="mwQg">
    <dd id="mwQw">
        <dl id="mwRA">
            <dd id="mwRQ">
                <div class="h-usage-example" about="#mwt19" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;de&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Ich erinnere '''diesen Tag'''.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;I remember that day.&quot;}},&quot;i&quot;:0}}]}" id="mwRg">
                    <i class="Latn mention e-example" lang="de">Ich erinnere <b>diesen Tag</b>.</i>
                    <dl>
                        <dd>
                            <span class="e-translation">I remember that day.</span>
                        </dd>
                    </dl>
                </div>
                <link rel="mw:PageProp/Category" href="./Category:German_terms_with_usage_examples#ERINNERN" about="#mwt19" id="mwRw">
            </dd>
        </dl>
    </dd>
    <dd id="mwSA">
        But if a passive is desired such use is inevitable, though passive constructions are avoided altogether:
        <dl id="mwSQ">
            <dd id="mwSg">
                <span about="#mwt20" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;quote-book&quot;,&quot;href&quot;:&quot;./Template:quote-book&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;de&quot;},&quot;last&quot;:{&quot;wt&quot;:&quot;Sebald&quot;},&quot;first&quot;:{&quot;wt&quot;:&quot;Winfried Georg&quot;},&quot;authorlink&quot;:{&quot;wt&quot;:&quot;W. G. Sebald&quot;},&quot;year&quot;:{&quot;wt&quot;:&quot;2001&quot;},&quot;title&quot;:{&quot;wt&quot;:&quot;{{w|Austerlitz (novel)|Austerlitz}}&quot;},&quot;isbn&quot;:{&quot;wt&quot;:&quot;978-3-596-14864-6&quot;},&quot;publisher&quot;:{&quot;wt&quot;:&quot;S. Fischer Verlag&quot;},&quot;location&quot;:{&quot;wt&quot;:&quot;Frankfurt am Main&quot;},&quot;page&quot;:{&quot;wt&quot;:&quot;173&quot;},&quot;passage&quot;:{&quot;wt&quot;:&quot;Jedenfalls war eines Tages dann unter der Post diese Ansichtskarte aus den zwanziger oder dreißiger Jahren, die eine weiße Zeltkolonie zeigte in der ägyptischen Wüste, ein Bild aus einer '''von niemandem mehr erinnerten''' Kampagne, […]&quot;}},&quot;i&quot;:0}}]}" id="mwSw"> </span>
                <div class="citation-whole" about="#mwt20" id="mwTA">
       <span class="cited-source"><b>2001</b>, <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/W.%20G.%20Sebald" title="w:W. G. Sebald" class="extiw">Sebald, Winfried Georg</a>, <cite><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Austerlitz%20(novel)" title="w:Austerlitz (novel)" class="extiw">Austerlitz</a></cite>, Frankfurt am Main<span typeof="mw:Entity">:</span> S. Fischer Verlag, <small><a rel="mw:WikiLink" href="./Special:BookSources/978-3-596-14864-6" title="Special:BookSources/978-3-596-14864-6">→ISBN</a></small>, page 173:
        <link rel="mw:PageProp/Category" href="./Category:German_terms_with_quotations#ERINNERN"></span>
                    <dl>
                        <dd>
                            <div class="h-quotation">
                                <span class="Latn e-quotation" lang="de">Jedenfalls war eines Tages dann unter der Post diese Ansichtskarte aus den zwanziger oder dreißiger Jahren, die eine weiße Zeltkolonie zeigte in der ägyptischen Wüste, ein Bild aus einer <b>von niemandem mehr erinnerten</b> Kampagne, […]</span>
                                <dl>
                                    <dd>
                                        <small>(please add an English translation of this quote)</small>
                                    </dd>
                                </dl>
                            </div>
                            <link rel="mw:PageProp/Category" href="./Category:Requests_for_translations_of_German_quotations#ERINNERN">
                        </dd>
                    </dl>
                </div>
            </dd>
        </dl>
    </dd>
</dl>