<p id="mwAg">Foo <span class="mw-default-size" typeof="mw:File" id="mwAw"><a href="./File:Foo.jpg"
                                                                             class="mw-file-description"
                                                                             id="mwBA"><img
    resource="./File:Foo.jpg" src="//upload.wikimedia.org/wikipedia/commons/0/06/Foo.jpg"
    decoding="async" data-file-width="300" data-file-height="197" data-file-type="bitmap"
    height="197" width="300" class="mw-file-element" id="mwBQ"/></a></span></p>