<p id="mwAg">Foo </p>
<ul class="gallery mw-gallery-traditional" typeof="mw:Extension/gallery" about="#mwt2"
    data-mw='{"name":"gallery","attrs":{},"body":{}}' id="mwAw">
  <li class="gallerybox" style="width: 155px;" id="mwBA">
    <div class="thumb" style="width: 150px; height: 150px;" id="mwBQ"><span typeof="mw:File"
                                                                            id="mwBg"><a
        href="./File:Foo.jpg" class="mw-file-description" title="some caption" id="mwBw"><img
        alt="some caption" resource="./File:Foo.jpg"
        src="//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Foo.jpg/120px-Foo.jpg"
        decoding="async" data-file-width="300" data-file-height="197" data-file-type="bitmap"
        height="79" width="120"
        srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Foo.jpg/180px-Foo.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/06/Foo.jpg/240px-Foo.jpg 2x"
        class="mw-file-element" id="mwCA"/></a></span></div>
    <div class="gallerytext" id="mwCQ">some caption</div>
  </li>
</ul>