<p id="mwAg">Foo </p>
<figure class="mw-default-size" typeof="mw:File/Thumb" id="mwAw"><a href="./File:Foo.jpg"
                                                                    class="mw-file-description"
                                                                    id="mwBA"><img alt="alt text"
                                                                                   resource="./File:Foo.jpg"
                                                                                   src="//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Foo.jpg/220px-Foo.jpg"
                                                                                   decoding="async"
                                                                                   data-file-width="300"
                                                                                   data-file-height="197"
                                                                                   data-file-type="bitmap"
                                                                                   height="144"
                                                                                   width="220"
                                                                                   srcset="//upload.wikimedia.org/wikipedia/commons/0/06/Foo.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/0/06/Foo.jpg 2x"
                                                                                   class="mw-file-element"
                                                                                   id="mwBQ"/></a>
  <figcaption id="mwBg">some caption</figcaption>
</figure>