<p id="mwAg">Foo </p>
<style data-mw-deduplicate="TemplateStyles:r70773207/mw-parser-output/.tmulti"
       typeof="mw:Extension/templatestyles mw:Transclusion" about="#mwt1"
       data-mw='{"name":"templatestyles","attrs":{"src":"multiple images/styles.css","wrapper":".tmulti"},"body":{"extsrc":""},"parts":[{"template":{"target":{"wt":"multiple images","href":"./Template:multiple_images"},"params":{"image1":{"wt":"Foo.jpg"},"caption1":{"wt":"some caption"}},"i":0}}]}'
       id="mwAw">.mw-parser-output .tmulti .multiimageinner {
  display: flex;
  flex-direction: column
}

.mw-parser-output .tmulti .trow {
  display: flex;
  flex-direction: row;
  clear: left;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box
}

.mw-parser-output .tmulti .tsingle {
  margin: 1px;
  float: left
}

.mw-parser-output .tmulti .theader {
  clear: both;
  font-weight: bold;
  text-align: center;
  align-self: center;
  background-color: transparent;
  width: 100%
}

.mw-parser-output .tmulti .thumbcaption {
  background-color: transparent
}

.mw-parser-output .tmulti .text-align-left {
  text-align: left
}

.mw-parser-output .tmulti .text-align-right {
  text-align: right
}

.mw-parser-output .tmulti .text-align-center {
  text-align: center
}

@media all and (max-width: 720px) {
  .mw-parser-output .tmulti .thumbinner {
    width: 100% !important;
    box-sizing: border-box;
    max-width: none !important;
    align-items: center
  }

  .mw-parser-output .tmulti .trow {
    justify-content: center
  }

  .mw-parser-output .tmulti .tsingle {
    float: none !important;
    max-width: 100% !important;
    box-sizing: border-box;
    text-align: center
  }

  .mw-parser-output .tmulti .tsingle .thumbcaption {
    text-align: left
  }

  .mw-parser-output .tmulti .trow > .thumbcaption {
    text-align: center
  }
}</style>
<div class="thumb tmulti tright" about="#mwt1" id="mwBA">
  <div class="thumbinner multiimageinner" style="width:204px;max-width:204px">
    <div class="trow">
      <div class="tsingle" style="width:202px;max-width:202px">
        <div class="thumbimage"><span typeof="mw:File"><a href="./File:Foo.jpg"
                                                          class="mw-file-description"><img alt=""
                                                                                           resource="./File:Foo.jpg"
                                                                                           src="//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Foo.jpg/200px-Foo.jpg"
                                                                                           decoding="async"
                                                                                           data-file-width="300"
                                                                                           data-file-height="197"
                                                                                           data-file-type="bitmap"
                                                                                           height="131"
                                                                                           width="200"
                                                                                           srcset="//upload.wikimedia.org/wikipedia/commons/0/06/Foo.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/0/06/Foo.jpg 2x"
                                                                                           class="mw-file-element"/></a></span>
        </div>
        <div class="thumbcaption">some caption</div>
      </div>
    </div>
  </div>
</div>