<p id="mwAg"><span typeof="mw:Transclusion mw:File" about="#mwt1"
                   data-mw='{"parts":[{"template":{"target":{"wt":"pedia","href":"./Template:pedia"},"params":{"1":{"wt":"Ergativity#Realization of ergativity"}},"i":0}}]}'
                   id="mwAw"><a href="./w:Ergativity#Realization_of_ergativity"
                                title="w:Ergativity"><img resource="./File:Wikipedia-logo.svg"
                                                          src="//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/15px-Wikipedia-logo-v2.svg.png"
                                                          decoding="async" data-file-width="103"
                                                          data-file-height="94"
                                                          data-file-type="drawing" height="14"
                                                          width="15"
                                                          srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/23px-Wikipedia-logo-v2.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/30px-Wikipedia-logo-v2.svg.png 2x"
                                                          class="mw-file-element"/></a></span><span
    about="#mwt1"> </span><b class="Latn" lang="en" about="#mwt1"><a rel="mw:WikiLink/Interwiki"
                                                                     href="https://en.wikipedia.org/wiki/Ergativity#Realization_of_ergativity"
                                                                     title="w:Ergativity"
                                                                     class="extiw">Ergativity</a></b><span
    about="#mwt1"> on  Wikipedia.</span><span class="interProject" about="#mwt1" id="mwBA"><a
    rel="mw:WikiLink/Interwiki"
    href="https://en.wikipedia.org/wiki/Ergativity#Realization_of_ergativity" title="w:Ergativity"
    class="extiw">Wikipedia </a></span></p>