<p id="mwAg">foo, bar<span class="serial-comma" about="#mwt1" typeof="mw:Transclusion"
                           data-mw='{"parts":[{"template":{"target":{"wt":",","href":"./Template:,"},"params":{},"i":0}}]}'
                           id="mwAw">,</span> and baz</p>