<h2 id="Portuguese">Portuguese</h2>
<section data-mw-section-id="22" id="mwbg">
    <h3 id="Etymology_4">Etymology</h3>
    <p id="mwbw">From <span class="etyl" about="#mwt36" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh&quot;,&quot;href&quot;:&quot;./Template:inh&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;roa-opt&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;fazer&quot;}},&quot;i&quot;:0}}]}" id="mwcA"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Galician–Portuguese" title="w:Galician–Portuguese" class="extiw">Old Galician-Portuguese</a>
   <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_inherited_from_Old_Galician-Portuguese#FAZER">
   <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_derived_from_Old_Galician-Portuguese#FAZER"></span><span about="#mwt36"> </span><i class="Latn mention" lang="roa-opt" about="#mwt36" id="mwcQ"><a rel="mw:WikiLink" href="./fazer#Old_Galician-Portuguese" class="mw-selflink-fragment">fazer</a></i>, from <span class="etyl" about="#mwt37" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh&quot;,&quot;href&quot;:&quot;./Template:inh&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;la&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;faciō&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;facere&quot;}},&quot;i&quot;:0}}]}" id="mwcg"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Latin" title="w:Latin" class="extiw">Latin</a>
   <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_inherited_from_Latin#FAZER">
   <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_derived_from_Latin#FAZER"></span><span about="#mwt37"> </span><i class="Latn mention" lang="la" about="#mwt37" id="mwcw"><a rel="mw:WikiLink" href="./facio#Latin" title="facio">facere</a></i>. Compare <span class="etyl" about="#mwt38" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;gl&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;facer&quot;}},&quot;i&quot;:0}}]}" id="mwdA"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Galician%20language" title="w:Galician language" class="extiw">Galician</a></span><span about="#mwt38"> </span><i class="Latn mention" lang="gl" about="#mwt38" id="mwdQ"><a rel="mw:WikiLink" href="./facer#Galician" title="facer">facer</a></i>.</p>
    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_derived_from_Proto-Indo-European#FAZER" about="#mwt39" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;root&quot;,&quot;href&quot;:&quot;./Template:root&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ine-pro&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;*dʰeh₁-&quot;}},&quot;i&quot;:0}}]}" id="mwdg">
    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_derived_from_the_Proto-Indo-European_root_*dʰeh₁-#FAZER" about="#mwt39" id="mwdw">
</section>
<section data-mw-section-id="23" id="mweA">
    <h3 id="Pronunciation_3">Pronunciation</h3>
    <div class="vsSwitcher" data-toggle-category="pronunciations" style="width: 51em; max-width:100%;" about="#mwt40" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;pt-IPA&quot;,&quot;href&quot;:&quot;./Template:pt-IPA&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;[er:êr]&quot;}},&quot;i&quot;:0}}]}" id="mweQ">
        <span class="vsToggleElement" style="float: right;"><span typeof="mw:Entity">&nbsp;</span></span>
        <div class="vsShow" style="display:none">
            <ul>
                <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Brazilian_Portuguese" title="w:Brazilian Portuguese" class="extiw">Brazil</a></span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Portuguese_pronunciation" title="Appendix:Portuguese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/faˈze(ʁ)/</span> <span class="IPA">[faˈze(h)]</span>
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_2-syllable_words#FAZER">
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_IPA_pronunciation#FAZER"></li>
            </ul>
        </div>
        <div class="vsHide">
            <ul>
                <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Brazilian_Portuguese" title="w:Brazilian Portuguese" class="extiw">Brazil</a></span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Portuguese_pronunciation" title="Appendix:Portuguese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/faˈze(ʁ)/</span> <span class="IPA">[faˈze(h)]</span>
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_2-syllable_words#FAZER">
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_IPA_pronunciation#FAZER">
                    <ul>
                        <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Paulistano_dialect" title="w:Paulistano dialect" class="extiw">São Paulo</a></span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Portuguese_pronunciation" title="Appendix:Portuguese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/faˈze(ɾ)/</span>
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_2-syllable_words#FAZER">
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_IPA_pronunciation#FAZER"></li>
                        <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Carioca#Sociolect" title="w:Carioca" class="extiw">Rio de Janeiro</a></span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Portuguese_pronunciation" title="Appendix:Portuguese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/faˈze(ʁ)/</span> <span class="IPA">[faˈze(χ)]</span>
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_2-syllable_words#FAZER">
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_IPA_pronunciation#FAZER"></li>
                        <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content">Southern Brazil</span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Portuguese_pronunciation" title="Appendix:Portuguese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/faˈze(ɻ)/</span>
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_2-syllable_words#FAZER">
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_IPA_pronunciation#FAZER"></li>
                    </ul></li>
            </ul>
        </div>
    </div><span about="#mwt40"> </span>
    <div class="vsSwitcher" data-toggle-category="pronunciations" style="width: 51em; max-width:100%;" about="#mwt40">
        <span class="vsToggleElement" style="float: right;"><span typeof="mw:Entity">&nbsp;</span></span>
        <div class="vsShow" style="display:none">
            <ul>
                <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/European_Portuguese" title="w:European Portuguese" class="extiw">Portugal</a></span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Portuguese_pronunciation" title="Appendix:Portuguese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/fɐˈzeɾ/</span>
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_2-syllable_words#FAZER">
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_IPA_pronunciation#FAZER"></li>
            </ul>
        </div>
        <div class="vsHide">
            <ul>
                <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/European_Portuguese" title="w:European Portuguese" class="extiw">Portugal</a></span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Portuguese_pronunciation" title="Appendix:Portuguese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/fɐˈzeɾ/</span>
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_2-syllable_words#FAZER">
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_IPA_pronunciation#FAZER">
                    <ul>
                        <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content">Southern Portugal</span><span class="ib-brac qualifier-brac">)</span> <a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Portuguese_pronunciation" title="Appendix:Portuguese pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="IPA">/fɐˈze.ɾi/</span>
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_3-syllable_words#FAZER">
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_IPA_pronunciation#FAZER"></li>
                    </ul></li>
            </ul>
        </div>
    </div><span about="#mwt40"> </span>
    <p about="#mwt40"><span></span></p>
    <ul id="mweg">
        <li id="mwew"><span class="ib-brac qualifier-brac" about="#mwt41" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;IPA&quot;,&quot;href&quot;:&quot;./Template:IPA&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;/fɐˈze(ɹ)/&quot;},&quot;a&quot;:{&quot;wt&quot;:&quot;Rural Central Brazil&quot;}},&quot;i&quot;:0}}]}" id="mwfA">(</span><span class="ib-content qualifier-content" about="#mwt41"><span class="usage-label-accent">Rural Central Brazil</span></span><span class="ib-brac qualifier-brac" about="#mwt41">)</span><span about="#mwt41"> </span><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet" about="#mwt41">IPA</a><sup about="#mwt41">(<a rel="mw:WikiLink" href="./Appendix:Portuguese_pronunciation" title="Appendix:Portuguese pronunciation">key</a>)</sup><span about="#mwt41">:</span><span typeof="mw:Entity" about="#mwt41"> </span><span class="IPA" about="#mwt41">/fɐˈze(ɹ)/</span>
            <link rel="mw:PageProp/Category" href="./Category:Portuguese_2-syllable_words#FAZER" about="#mwt41">
            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_IPA_pronunciation#FAZER" about="#mwt41" id="mwfQ"></li>
        <li id="mwfg"><span about="#mwt42" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;hyphenation&quot;,&quot;href&quot;:&quot;./Template:hyphenation&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fa&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;zer&quot;}},&quot;i&quot;:0}}]}" id="mwfw">Hyphenation: </span><span class="Latn" lang="pt" about="#mwt42" id="mwgA">fa‧zer</span></li>
        <li id="mwgQ">
            <style data-mw-deduplicate="TemplateStyles:r50165410" typeof="mw:Extension/templatestyles mw:Transclusion" about="#mwt43" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;audio/styles.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;},&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;audio&quot;,&quot;href&quot;:&quot;./Template:audio&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;pt-br-fazer.ogg&quot;},&quot;a&quot;:{&quot;wt&quot;:&quot;São Paulo&quot;}},&quot;i&quot;:0}}]}" id="mwgg">.mw-parser-output .k-player .k-attribution{visibility:hidden}</style>
            <table class="audiotable" style="vertical-align: middle; display: inline-block; list-style: none; line-height: 1em; border-collapse: collapse; margin: 0;" about="#mwt43">
                <tbody>
                <tr>
                    <td>Audio <span class="ib-brac qualifier-brac">(</span><span class="usage-label-accent"><span class="ib-content"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/São%20Paulo" title="w:São Paulo" class="extiw">São Paulo</a></span></span><span class="ib-brac qualifier-brac">)</span><span class="ib-colon qualifier-colon">:</span></td>
                    <td class="audiofile"><span typeof="mw:File" class="mw-default-audio-height" data-mw="{&quot;caption&quot;:&quot;noicon&quot;}"><span title="noicon">
         <audio controls="" preload="none" data-mw-tmh="" height="32" width="175" style="width: 175px;" resource="./File:pt-br-fazer.ogg" data-durationhint="2" class="mw-file-element">
          <source src="//upload.wikimedia.org/wikipedia/commons/5/5d/Pt-br-fazer.ogg" type="audio/ogg; codecs=&quot;opus&quot;"><source src="//upload.wikimedia.org/wikipedia/commons/transcoded/5/5d/Pt-br-fazer.ogg/Pt-br-fazer.ogg.mp3" type="audio/mpeg" data-transcodekey="mp3"><source src="//upload.wikimedia.org/wikipedia/commons/transcoded/5/5d/Pt-br-fazer.ogg/Pt-br-fazer.ogg.ogg" type="audio/ogg; codecs=&quot;vorbis&quot;" data-transcodekey="ogg">
         </audio></span></span></td>
                    <td class="audiometa" style="font-size: 80%;">(<a rel="mw:WikiLink" href="./File:pt-br-fazer.ogg" title="File:pt-br-fazer.ogg">file</a>)</td>
                </tr>
                </tbody>
            </table>
            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_audio_links#FAZER" about="#mwt43" id="mwgw"></li>
    </ul>
</section>
<section data-mw-section-id="24" id="mwhA">
    <h3 id="Verb_5">Verb</h3>
    <p id="mwhQ"><span class="headword-line" about="#mwt46" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;pt-verb&quot;,&quot;href&quot;:&quot;./Template:pt-verb&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwhg"><strong class="Latn headword" lang="pt">fazer</strong> (<i>first-person singular present</i> <b class="Latn" lang="pt"><a rel="mw:WikiLink" href="./faço#Portuguese" title="faço">faço</a></b>, <i>first-person singular preterite</i> <b class="Latn" lang="pt"><a rel="mw:WikiLink" href="./fiz#Portuguese" title="fiz">fiz</a></b>, <i>past participle</i> <b class="Latn" lang="pt"><a rel="mw:WikiLink" href="./feito#Portuguese" title="feito">feito</a></b>)</span>
        <link rel="mw:PageProp/Category" href="./Category:Portuguese_lemmas#FAZER" about="#mwt46">
        <link rel="mw:PageProp/Category" href="./Category:Portuguese_verbs#FAZER" about="#mwt46">
        <link rel="mw:PageProp/Category" href="./Category:Portuguese_verbs_ending_in_-er#FAZER" about="#mwt46">
        <link rel="mw:PageProp/Category" href="./Category:Portuguese_irregular_verbs#FAZER" about="#mwt46">
        <link rel="mw:PageProp/Category" href="./Category:Portuguese_entries_with_incorrect_language_header#FAZER" about="#mwt46">
        <link rel="mw:PageProp/Category" href="./Category:Pages_with_6_entries#FAZER" about="#mwt46" id="mwhw"></p>
    <ol id="mwiA">
        <li id="mwiQ"><span class="usage-label-sense" about="#mwt47" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;}},&quot;i&quot;:0}}]}" id="mwig"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#transitive" title="Appendix:Glossary">transitive</a>
     <link rel="mw:PageProp/Category" href="./Category:Portuguese_transitive_verbs#FAZER"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./make" title="make" id="mwiw">make</a>
            <ol id="mwjA">
                <li id="mwjQ">to <a rel="mw:WikiLink" href="./create" title="create" id="mwjg">create</a>; to <a rel="mw:WikiLink" href="./produce" title="produce" id="mwjw">produce</a>
                    <dl id="mwkA">
                        <dd id="mwkQ">
                            <span class="h-usage-example" about="#mwt48" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;A minha mãe '''fez''' este vestido para mim.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;My mother '''made''' this dress for me.&quot;}},&quot;i&quot;:0}}]}" id="mwkg"><i class="Latn mention e-example" lang="pt">A minha mãe <b>fez</b> este vestido para mim.</i> ― <span class="e-translation">My mother <b>made</b> this dress for me.</span></span>
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt48" id="mwkw">
                        </dd>
                        <dd id="mwlA">
                            <span class="nyms synonym" about="#mwt49" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;produzir&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;confeccionar&quot;}},&quot;i&quot;:0}}]}" id="mwlQ"><span class="defdate">Synonyms:</span> <span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./produzir#Portuguese" title="produzir">produzir</a></span>, <span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./confeccionar#Portuguese" title="confeccionar">confeccionar</a></span></span>
                        </dd>
                    </dl></li>
                <li id="mwlg">to <a rel="mw:WikiLink" href="./do" title="do" id="mwlw">do</a>; to <a rel="mw:WikiLink" href="./execute" title="execute" id="mwmA">execute</a>; to <a rel="mw:WikiLink" href="./perform" title="perform" id="mwmQ">perform</a>
                    <dl id="mwmg">
                        <dd id="mwmw">
                            <span class="h-usage-example" about="#mwt50" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Aquele homem '''fez''' um crime terrível.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;That man '''committed''' a horrible crime.&quot;}},&quot;i&quot;:0}}]}" id="mwnA"><i class="Latn mention e-example" lang="pt">Aquele homem <b>fez</b> um crime terrível.</i> ― <span class="e-translation">That man <b>committed</b> a horrible crime.</span></span>
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt50" id="mwnQ">
                        </dd>
                        <dd id="mwng">
                            <span class="h-usage-example" about="#mwt51" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Respondi '''fazendo''' um gesto afirmativo.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;I answered '''by making''' an affirmative gesture.&quot;}},&quot;i&quot;:0}}]}" id="mwnw"><i class="Latn mention e-example" lang="pt">Respondi <b>fazendo</b> um gesto afirmativo.</i> ― <span class="e-translation">I answered <b>by making</b> an affirmative gesture.</span></span>
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt51" id="mwoA">
                        </dd>
                        <dd id="mwoQ">
                            <span class="nyms synonym" about="#mwt52" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;executar&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;realizar&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;praticar&quot;}},&quot;i&quot;:0}}]}" id="mwog"><span class="defdate">Synonyms:</span> <span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./executar#Portuguese" title="executar">executar</a></span>, <span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./realizar#Portuguese" title="realizar">realizar</a></span>, <span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./praticar#Portuguese" title="praticar">praticar</a></span></span>
                        </dd>
                    </dl></li>
                <li id="mwow"><span class="usage-label-sense" about="#mwt53" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;auxiliary&quot;}},&quot;i&quot;:0}}]}" id="mwpA"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#auxiliary" title="Appendix:Glossary">auxiliary</a>
       <link rel="mw:PageProp/Category" href="./Category:Portuguese_auxiliary_verbs#FAZER"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./cause" title="cause" id="mwpQ">cause</a> to
                    <style data-mw-deduplicate="TemplateStyles:r80655919" typeof="mw:Extension/templatestyles mw:Transclusion" about="#mwt54" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;Module:object usage/style.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;},&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;+obj&quot;,&quot;href&quot;:&quot;./Template:+obj&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;inf<to do something> + dirobj<object made to do something>&quot;}},&quot;i&quot;:0}}]}" id="mwpg">.mw-parser-output .object-usage-tag{font-style:italic}.mw-parser-output .deprecated{color:olivedrab}</style><span about="#mwt54">[</span><i about="#mwt54">with</i><span about="#mwt54"> </span><span class="object-usage-tag" about="#mwt54"><a rel="mw:WikiLink" href="./Appendix:Glossary#infinitive" title="Appendix:Glossary">infinitive</a></span><span about="#mwt54"> </span><small about="#mwt54">‘to do something’</small><span about="#mwt54"> </span><i about="#mwt54">and</i><span about="#mwt54"> </span><span class="object-usage-tag" about="#mwt54"><a rel="mw:WikiLink" href="./Appendix:Glossary#direct_object" title="Appendix:Glossary">direct object</a></span><span about="#mwt54"> </span><small about="#mwt54">‘object made to do something’</small><span about="#mwt54">]</span>
                    <dl id="mwpw">
                        <dd id="mwqA">
                            <span class="h-usage-example" about="#mwt57" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;A explosão '''fez''' cair alguns prédios.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;The explosion '''made''' some buildings fall.&quot;}},&quot;i&quot;:0}}]}" id="mwqQ"><i class="Latn mention e-example" lang="pt">A explosão <b>fez</b> cair alguns prédios.</i> ― <span class="e-translation">The explosion <b>made</b> some buildings fall.</span></span>
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt57" id="mwqg">
                        </dd>
                    </dl></li>
                <li id="mwqw">to <a rel="mw:WikiLink" href="./arrange" title="arrange" id="mwrA">arrange</a>; to <a rel="mw:WikiLink" href="./clean_up" title="clean up" id="mwrQ">clean up</a>; to <a rel="mw:WikiLink" href="./tidy" title="tidy" id="mwrg">tidy</a>
                    <dl id="mwrw">
                        <dd id="mwsA">
                            <span class="h-usage-example" about="#mwt58" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Já '''fiz''' a cama hoje.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;I've already '''made''' my bed today.&quot;}},&quot;i&quot;:0}}]}" id="mwsQ"><i class="Latn mention e-example" lang="pt">Já <b>fiz</b> a cama hoje.</i> ― <span class="e-translation">I've already <b>made</b> my bed today.</span></span>
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt58" id="mwsg">
                        </dd>
                        <dd id="mwsw">
                            <span class="nyms synonym" about="#mwt59" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;arrumar&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;organizar&quot;}},&quot;i&quot;:0}}]}" id="mwtA"><span class="defdate">Synonyms:</span> <span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./arrumar#Portuguese" title="arrumar">arrumar</a></span>, <span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./organizar#Portuguese" title="organizar">organizar</a></span></span>
                        </dd>
                    </dl></li>
                <li id="mwtQ">to <a rel="mw:WikiLink" href="./cook" title="cook" id="mwtg">cook</a>; to <a rel="mw:WikiLink" href="./prepare" title="prepare" id="mwtw">prepare</a> (e.g. food)
                    <dl id="mwuA">
                        <dd id="mwuQ">
                            <span class="h-usage-example" about="#mwt60" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Fizemos''' o almoço juntos!&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;We '''made''' lunch together!&quot;}},&quot;i&quot;:0}}]}" id="mwug"><i class="Latn mention e-example" lang="pt"><b>Fizemos</b> o almoço juntos<span typeof="mw:Entity">!</span></i> ― <span class="e-translation">We <b>made</b> lunch together!</span></span>
                            <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt60" id="mwuw">
                        </dd>
                        <dd id="mwvA">
                            <span class="nyms synonym" about="#mwt61" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;preparar&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;cozinhar&quot;}},&quot;i&quot;:0}}]}" id="mwvQ"><span class="defdate">Synonyms:</span> <span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./preparar#Portuguese" title="preparar">preparar</a></span>, <span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./cozinhar#Portuguese" title="cozinhar">cozinhar</a></span></span>
                        </dd>
                    </dl></li>
            </ol></li>
        <li id="mwvg"><span class="usage-label-sense" about="#mwt62" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;intransitive&quot;}},&quot;i&quot;:0}}]}" id="mwvw"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#intransitive" title="Appendix:Glossary">intransitive</a>
     <link rel="mw:PageProp/Category" href="./Category:Portuguese_intransitive_verbs#FAZER"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./play" title="play" id="mwwA">play</a>; to <a rel="mw:WikiLink" href="./pretend" title="pretend" id="mwwQ">pretend</a> to be
            <link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r80655919" about="#mwt63" typeof="mw:Extension/templatestyles mw:Transclusion" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;Module:object usage/style.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;},&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;+obj&quot;,&quot;href&quot;:&quot;./Template:+obj&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;:de<someone>&quot;}},&quot;i&quot;:0}}]}" id="mwwg"><span about="#mwt63">[</span><i about="#mwt63">with</i><span about="#mwt63"> </span><b class="Latn" lang="pt" about="#mwt63"><a rel="mw:WikiLink" href="./de#Portuguese" title="de">de</a></b><span about="#mwt63"> </span><small about="#mwt63">‘someone’</small><span about="#mwt63">]</span>
            <dl id="mwww">
                <dd id="mwxA">
                    <span class="h-usage-example" about="#mwt66" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Eu '''fiz''' de João e a minha irmã '''fez''' de Maria.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;I '''played''' Hansel and my sister '''played''' Gretel.&quot;}},&quot;i&quot;:0}}]}" id="mwxQ"><i class="Latn mention e-example" lang="pt">Eu <b>fiz</b> de João e a minha irmã <b>fez</b> de Maria.</i> ― <span class="e-translation">I <b>played</b> Hansel and my sister <b>played</b> Gretel.</span></span>
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt66" id="mwxg">
                </dd>
                <dd id="mwxw">
                    <span class="h-usage-example" about="#mwt67" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''fazer-se''' de bobo&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;to [[play the fool]]&quot;}},&quot;i&quot;:0}}]}" id="mwyA"><i class="Latn mention e-example" lang="pt"><b>fazer-se</b> de bobo</i> ― <span class="e-translation">to <a rel="mw:WikiLink" href="./play_the_fool" title="play the fool">play the fool</a></span></span>
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt67" id="mwyQ">
                </dd>
            </dl></li>
        <li id="mwyg"><span class="usage-label-sense" about="#mwt68" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;}},&quot;i&quot;:0}}]}" id="mwyw"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#transitive" title="Appendix:Glossary">transitive</a>
     <link rel="mw:PageProp/Category" href="./Category:Portuguese_transitive_verbs#FAZER"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./turn" title="turn" id="mwzA">turn</a>; to <a rel="mw:WikiLink" href="./reach" title="reach" id="mwzQ">reach</a> an <a rel="mw:WikiLink" href="./age" title="age" id="mwzg">age</a>; to have a <a rel="mw:WikiLink" href="./birthday" title="birthday" id="mwzw">birthday</a>
            <dl id="mw0A">
                <dd id="mw0Q">
                    <span class="h-usage-example" about="#mwt69" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Ambos '''fizeram''' quinze anos no mês passado.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Both '''turned''' fifteen last month.&quot;}},&quot;i&quot;:0}}]}" id="mw0g"><i class="Latn mention e-example" lang="pt">Ambos <b>fizeram</b> quinze anos no mês passado.</i> ― <span class="e-translation">Both <b>turned</b> fifteen last month.</span></span>
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt69" id="mw0w">
                </dd>
                <dd id="mw1A">
                    <span class="nyms synonym" about="#mwt70" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;completar&quot;}},&quot;i&quot;:0}}]}" id="mw1Q"><span class="defdate">Synonym:</span> <span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./completar#Portuguese" title="completar">completar</a></span></span>
                </dd>
            </dl></li>
        <li id="mw1g"><span class="usage-label-sense" about="#mwt71" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;}},&quot;i&quot;:0}}]}" id="mw1w"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#transitive" title="Appendix:Glossary">transitive</a>
     <link rel="mw:PageProp/Category" href="./Category:Portuguese_transitive_verbs#FAZER"></span><span class="ib-brac">)</span></span> to sell (something)
            <link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r80655919" about="#mwt72" typeof="mw:Extension/templatestyles mw:Transclusion" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;Module:object usage/style.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;},&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;+obj&quot;,&quot;href&quot;:&quot;./Template:+obj&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;:por<for a given price>&quot;}},&quot;i&quot;:0}}]}" id="mw2A"><span about="#mwt72">[</span><i about="#mwt72">with</i><span about="#mwt72"> </span><b class="Latn" lang="pt" about="#mwt72"><a rel="mw:WikiLink" href="./por#Portuguese" title="por">por</a></b><span about="#mwt72"> </span><small about="#mwt72">‘for a given price’</small><span about="#mwt72">]</span> <span class="ib-brac qualifier-brac" about="#mwt75" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;q&quot;,&quot;href&quot;:&quot;./Template:q&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;usually to make cheaper in a [[bargain]]&quot;}},&quot;i&quot;:0}}]}" id="mw2Q">(</span><span class="ib-content qualifier-content" about="#mwt75">usually to make cheaper in a <a rel="mw:WikiLink" href="./bargain" title="bargain">bargain</a></span><span class="ib-brac qualifier-brac" about="#mwt75" id="mw2g">)</span>
            <dl id="mw2w">
                <dd id="mw3A">
                    <span class="h-usage-example" about="#mwt76" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Se comprar dois, '''faço''' por trinta dólares.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;If you buy two, I can '''sell''' them '''for''' thirty dollars.&quot;}},&quot;i&quot;:0}}]}" id="mw3Q"><i class="Latn mention e-example" lang="pt">Se comprar dois, <b>faço</b> por trinta dólares.</i> ― <span class="e-translation">If you buy two, I can <b>sell</b> them <b>for</b> thirty dollars.</span></span>
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt76" id="mw3g">
                </dd>
            </dl></li>
        <li id="mw3w"><span class="usage-label-sense" about="#mwt77" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;}},&quot;i&quot;:0}}]}" id="mw4A"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#transitive" title="Appendix:Glossary">transitive</a>
     <link rel="mw:PageProp/Category" href="./Category:Portuguese_transitive_verbs#FAZER"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./attend" title="attend" id="mw4Q">attend</a> a <a rel="mw:WikiLink" href="./course" title="course" id="mw4g">course</a> <span class="ib-brac qualifier-brac" about="#mwt78" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;q&quot;,&quot;href&quot;:&quot;./Template:q&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;academic or not&quot;}},&quot;i&quot;:0}}]}" id="mw4w">(</span><span class="ib-content qualifier-content" about="#mwt78">academic or not</span><span class="ib-brac qualifier-brac" about="#mwt78" id="mw5A">)</span>
            <dl id="mw5Q">
                <dd id="mw5g">
                    <span class="h-usage-example" about="#mwt79" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Estou a '''fazer''' inglês.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;I'm taking an English course.&quot;}},&quot;i&quot;:0}}]}" id="mw5w"><i class="Latn mention e-example" lang="pt">Estou a <b>fazer</b> inglês.</i> ― <span class="e-translation">I'm taking an English course.</span></span>
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt79" id="mw6A">
                </dd>
                <dd id="mw6Q">
                    <span class="nyms synonym" about="#mwt80" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;syn&quot;,&quot;href&quot;:&quot;./Template:syn&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;cursar&quot;},&quot;q1&quot;:{&quot;wt&quot;:&quot;Brazil&quot;}},&quot;i&quot;:0}}]}" id="mw6g"><span class="defdate">Synonym:</span> <span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content">Brazil</span><span class="ib-brac qualifier-brac">)</span> <span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./cursar#Portuguese" title="cursar">cursar</a></span></span>
                </dd>
            </dl></li>
        <li id="mw6w"><span class="usage-label-sense" about="#mwt81" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;impersonal&quot;}},&quot;i&quot;:0}}]}" id="mw7A"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#transitive" title="Appendix:Glossary">transitive</a>
     <link rel="mw:PageProp/Category" href="./Category:Portuguese_transitive_verbs#FAZER"><span class="ib-comma">,</span><span typeof="mw:Entity"> </span><a rel="mw:WikiLink" href="./Appendix:Glossary#impersonal" title="Appendix:Glossary">impersonal</a>
     <link rel="mw:PageProp/Category" href="./Category:Portuguese_impersonal_verbs#FAZER"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./pass" title="pass" id="mw7Q">pass</a> <span class="ib-brac qualifier-brac" about="#mwt82" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;q&quot;,&quot;href&quot;:&quot;./Template:q&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;said of time&quot;}},&quot;i&quot;:0}}]}" id="mw7g">(</span><span class="ib-content qualifier-content" about="#mwt82">said of time</span><span class="ib-brac qualifier-brac" about="#mwt82" id="mw7w">)</span>
            <dl id="mw8A">
                <dd id="mw8Q">
                    <span class="h-usage-example" about="#mwt83" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Faz''' duas horas que meu tio chegou.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Two hours '''have passed''' since my uncle arrived.&quot;}},&quot;i&quot;:0}}]}" id="mw8g"><i class="Latn mention e-example" lang="pt"><b>Faz</b> duas horas que meu tio chegou.</i> ― <span class="e-translation">Two hours <b>have passed</b> since my uncle arrived.</span></span>
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt83" id="mw8w">
                </dd>
            </dl></li>
        <li id="mw9A"><span class="usage-label-sense" about="#mwt84" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;impersonal&quot;}},&quot;i&quot;:0}}]}" id="mw9Q"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#transitive" title="Appendix:Glossary">transitive</a>
     <link rel="mw:PageProp/Category" href="./Category:Portuguese_transitive_verbs#FAZER"><span class="ib-comma">,</span><span typeof="mw:Entity"> </span><a rel="mw:WikiLink" href="./Appendix:Glossary#impersonal" title="Appendix:Glossary">impersonal</a>
     <link rel="mw:PageProp/Category" href="./Category:Portuguese_impersonal_verbs#FAZER"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./be" title="be" id="mw9g">be</a>; to occur <span class="ib-brac qualifier-brac" about="#mwt85" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;q&quot;,&quot;href&quot;:&quot;./Template:q&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;said of a weather phenomenon&quot;}},&quot;i&quot;:0}}]}" id="mw9w">(</span><span class="ib-content qualifier-content" about="#mwt85">said of a weather phenomenon</span><span class="ib-brac qualifier-brac" about="#mwt85" id="mw-A">)</span>
            <dl id="mw-Q">
                <dd id="mw-g">
                    <span class="h-usage-example" about="#mwt86" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Aqui '''faz''' sempre sol.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;It'''’s''' always sunny here.&quot;}},&quot;i&quot;:0}}]}" id="mw-w"><i class="Latn mention e-example" lang="pt">Aqui <b>faz</b> sempre sol.</i> ― <span class="e-translation">It<b>’s</b> always sunny here.</span></span>
                    <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt86" id="mw_A">
                </dd>
            </dl></li>
    </ol>
    <section data-mw-section-id="25" id="mw_Q">
        <h4 id="Usage_notes">Usage notes</h4>
        <ul id="mw_g">
            <li id="mw_w">When related to weather or the passage of time, the verb <i class="Latn mention" lang="pt" about="#mwt87" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;m&quot;,&quot;href&quot;:&quot;./Template:m&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fazer&quot;}},&quot;i&quot;:0}}]}" id="mwAQA"><a rel="mw:WikiLink" href="./fazer#Portuguese" class="mw-selflink-fragment">fazer</a></i> is impersonal in standard usage, and therefore cannot take a subject. It is also not inflected for <i id="mwAQE">number</i> or <i id="mwAQI">person</i>: it is used in the singular third-person form:</li>
        </ul>
        <dl id="mwAQM">
            <dd id="mwAQQ">
                <dl id="mwAQU">
                    <dd id="mwAQY">
                        <span class="h-usage-example" about="#mwt88" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Faz duas horas.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Two hours have passed.&quot;}},&quot;i&quot;:0}}]}" id="mwAQc"><i class="Latn mention e-example" lang="pt">Faz duas horas.</i> ― <span class="e-translation">Two hours have passed.</span></span>
                        <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt88" id="mwAQg">
                    </dd>
                    <dd id="mwAQk">
                        <span class="h-usage-example" about="#mwt89" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Faz três segundos.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Three seconds have passed.&quot;}},&quot;i&quot;:0}}]}" id="mwAQo"><i class="Latn mention e-example" lang="pt">Faz três segundos.</i> ― <span class="e-translation">Three seconds have passed.</span></span>
                        <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt89" id="mwAQs">
                    </dd>
                    <dd id="mwAQw">
                        <span class="h-usage-example" about="#mwt90" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Faz cinquenta anos.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Fifty years have passed.&quot;}},&quot;i&quot;:0}}]}" id="mwAQ0"><i class="Latn mention e-example" lang="pt">Faz cinquenta anos.</i> ― <span class="e-translation">Fifty years have passed.</span></span>
                        <link rel="mw:PageProp/Category" href="./Category:Portuguese_terms_with_usage_examples#FAZER" about="#mwt90" id="mwAQ4">
                    </dd>
                </dl>
            </dd>
        </dl>
        <dl id="mwAQ8">
            <dd id="mwARA">
                If not impersonal, it is conjugated normally. This happens because the third-person neuter singular is normally only implied (for demonstrative pronouns, see <i class="Latn mention" lang="pt" about="#mwt91" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;m&quot;,&quot;href&quot;:&quot;./Template:m&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;isto&quot;}},&quot;i&quot;:0}}]}" id="mwARE"><a rel="mw:WikiLink" href="./isto#Portuguese" title="isto">isto</a></i> and <i class="Latn mention" lang="pt" about="#mwt92" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;m&quot;,&quot;href&quot;:&quot;./Template:m&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;aquilo&quot;}},&quot;i&quot;:0}}]}" id="mwARI"><a rel="mw:WikiLink" href="./aquilo#Portuguese" title="aquilo">aquilo</a></i>).
            </dd>
        </dl>
    </section>
    <section data-mw-section-id="26" id="mwARM">
        <h4 id="Conjugation_2">Conjugation</h4>
        <div class="NavFrame" about="#mwt93" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;pt-conj&quot;,&quot;href&quot;:&quot;./Template:pt-conj&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwARQ">
            <div class="NavHead" align="center">
                <span typeof="mw:Entity">&nbsp;</span> <span typeof="mw:Entity">&nbsp;</span> Conjugation of <i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./fazer#Portuguese" class="mw-selflink-fragment">fazer</a></i> (irregular) (See <a rel="mw:WikiLink" href="./Appendix:Portuguese_verbs" title="Appendix:Portuguese verbs">Appendix:Portuguese verbs</a>)
            </div>
            <div class="NavContent" align="left">
                <table class="inflection-table" style="background:#F6F6F6; text-align: left; border: 1px solid #999999;" cellpadding="3" cellspacing="0">
                    <tbody>
                    <tr>
                        <th style="border: 1px solid #999999; background:#B0B0B0" rowspan="2"></th>
                        <th style="border: 1px solid #999999; background:#D0D0D0" colspan="3">Singular</th>
                        <th style="border: 1px solid #999999; background:#D0D0D0" colspan="3">Plural</th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#D0D0D0; width:12.5%">First-person<br>
                            (<i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./eu#Portuguese" title="eu">eu</a></i>)</th>
                        <th style="border: 1px solid #999999; background:#D0D0D0; width:12.5%">Second-person<br>
                            (<i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./tu#Portuguese" title="tu">tu</a></i>)</th>
                        <th style="border: 1px solid #999999; background:#D0D0D0; width:12.5%">Third-person<br>
                            (<i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./ele#Portuguese" title="ele">ele</a></i> / <i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./ela#Portuguese" title="ela">ela</a></i> / <i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./você#Portuguese" title="você">você</a></i>)</th>
                        <th style="border: 1px solid #999999; background:#D0D0D0; width:12.5%">First-person<br>
                            (<i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./nós#Portuguese" title="nós">nós</a></i>)</th>
                        <th style="border: 1px solid #999999; background:#D0D0D0; width:12.5%">Second-person<br>
                            (<i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./vós#Portuguese" title="vós">vós</a></i>)</th>
                        <th style="border: 1px solid #999999; background:#D0D0D0; width:12.5%">Third-person<br>
                            (<i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./eles#Portuguese" title="eles">eles</a></i> / <i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./elas#Portuguese" title="elas">elas</a></i> / <i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./vocês#Portuguese" title="vocês">vocês</a></i>)</th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#c498ff" colspan="7"><i><span title="infinitivo">Infinitive</span></i></th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#a478df"><b><span title="infinitivo impessoal">Impersonal</span></b></th>
                        <td style="border: 1px solid #999999; vertical-align: top;" colspan="6"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazer#Portuguese" class="mw-selflink-fragment">fazer</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#a478df"><b><span title="infinitivo pessoal">Personal</span></b></th>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazer#Portuguese" class="mw-selflink-fragment">fazer</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazeres#Portuguese" title="fazeres">fazeres</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazer#Portuguese" class="mw-selflink-fragment">fazer</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazermos#Portuguese" title="fazermos">fazermos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazerdes#Portuguese" title="fazerdes">fazerdes</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazerem#Portuguese" title="fazerem">fazerem</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#98ffc4" colspan="7"><i><span title="gerúndio">Gerund</span></i></th>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #999999; background:#78dfa4"></td>
                        <td style="border: 1px solid #999999; vertical-align: top;" colspan="6"><span class="Latn form-of lang-pt gerund-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazendo#Portuguese" title="fazendo">fazendo</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#ffc498" colspan="7"><i><span title="particípio passado">Past participle</span></i></th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#dfa478">Masculine</th>
                        <td style="border: 1px solid #999999; vertical-align: top;" colspan="3"><span class="Latn form-of lang-pt pp￰ms-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./feito#Portuguese" title="feito">feito</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;" colspan="3"><span class="Latn form-of lang-pt pp￰mp-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./feitos#Portuguese" title="feitos">feitos</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#dfa478">Feminine</th>
                        <td style="border: 1px solid #999999; vertical-align: top;" colspan="3"><span class="Latn form-of lang-pt pp￰fs-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./feita#Portuguese" title="feita">feita</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;" colspan="3"><span class="Latn form-of lang-pt pp￰fp-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./feitas#Portuguese" title="feitas">feitas</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#d0dff4" colspan="7"><i><span title="indicativo">Indicative</span></i></th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#b0bfd4"><span title="presente">Present</span></th>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faço#Portuguese" title="faço">faço</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazes#Portuguese" title="fazes">fazes</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faz#Portuguese" title="faz">faz</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazemos#Portuguese" title="fazemos">fazemos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazeis#Portuguese" title="fazeis">fazeis</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazem#Portuguese" title="fazem">fazem</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#b0bfd4"><span title="pretérito imperfeito">Imperfect</span></th>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazia#Portuguese" title="fazia">fazia</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazias#Portuguese" title="fazias">fazias</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazia#Portuguese" title="fazia">fazia</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazíamos#Portuguese" title="fazíamos">fazíamos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazíeis#Portuguese" title="fazíeis">fazíeis</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faziam#Portuguese" title="faziam">faziam</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#b0bfd4"><span title="pretérito perfeito">Preterite</span></th>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fiz#Portuguese" title="fiz">fiz</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizeste#Portuguese" title="fizeste">fizeste</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fez#Portuguese" title="fez">fez</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizemos#Portuguese" title="fizemos">fizemos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizestes#Portuguese" title="fizestes">fizestes</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizeram#Portuguese" title="fizeram">fizeram</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#b0bfd4"><span title="pretérito mais-que-perfeito simples">Pluperfect</span></th>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizera#Portuguese" title="fizera">fizera</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizeras#Portuguese" title="fizeras">fizeras</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizera#Portuguese" title="fizera">fizera</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizéramos#Portuguese" title="fizéramos">fizéramos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizéreis#Portuguese" title="fizéreis">fizéreis</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizeram#Portuguese" title="fizeram">fizeram</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#b0bfd4"><span title="futuro do presente">Future</span></th>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./farei#Portuguese" title="farei">farei</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./farás#Portuguese" title="farás">farás</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fará#Portuguese" title="fará">fará</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faremos#Portuguese" title="faremos">faremos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fareis#Portuguese" title="fareis">fareis</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./farão#Portuguese" title="farão">farão</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#b0bfd4"><span title="condicional / futuro do pretérito">Conditional</span></th>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faria#Portuguese" title="faria">faria</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./farias#Portuguese" title="farias">farias</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faria#Portuguese" title="faria">faria</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faríamos#Portuguese" title="faríamos">faríamos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faríeis#Portuguese" title="faríeis">faríeis</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fariam#Portuguese" title="fariam">fariam</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#d0f4d0" colspan="7"><i><span title="conjuntivo (pt) / subjuntivo (br)">Subjunctive</span></i></th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#b0d4b0"><span title=" presente do conjuntivo (pt) / subjuntivo (br)">Present</span></th>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faça#Portuguese" title="faça">faça</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faças#Portuguese" title="faças">faças</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faça#Portuguese" title="faça">faça</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./façamos#Portuguese" title="façamos">façamos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./façais#Portuguese" title="façais">façais</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./façam#Portuguese" title="façam">façam</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#b0d4b0"><span title="pretérito imperfeito do conjuntivo (pt) / subjuntivo (br)">Imperfect</span></th>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizesse#Portuguese" title="fizesse">fizesse</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizesses#Portuguese" title="fizesses">fizesses</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizesse#Portuguese" title="fizesse">fizesse</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizéssemos#Portuguese" title="fizéssemos">fizéssemos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizésseis#Portuguese" title="fizésseis">fizésseis</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizessem#Portuguese" title="fizessem">fizessem</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#b0d4b0"><span title="futuro do conjuntivo (pt) / subjuntivo (br)">Future</span></th>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizer#Portuguese" title="fizer">fizer</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizeres#Portuguese" title="fizeres">fizeres</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizer#Portuguese" title="fizer">fizer</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizermos#Portuguese" title="fizermos">fizermos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizerdes#Portuguese" title="fizerdes">fizerdes</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fizerem#Portuguese" title="fizerem">fizerem</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#f4e4d0" colspan="7"><i><span title="imperativo">Imperative</span></i></th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#d4c4b0"><span title="imperativo afirmativo">Affirmative</span></th>
                        <td style="border: 1px solid #999999; vertical-align: top;" rowspan="2"></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faz#Portuguese" title="faz">faz</a></span>, <span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faze#Portuguese" title="faze">faze</a></span><sup style="color: red">1</sup></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./faça#Portuguese" title="faça">faça</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./façamos#Portuguese" title="façamos">façamos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./fazei#Portuguese" title="fazei">fazei</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn form-of lang-pt verb-form-fazer-form-of     origin-fazer   " lang="pt"><a rel="mw:WikiLink" href="./façam#Portuguese" title="façam">façam</a></span></td>
                    </tr>
                    <tr>
                        <th style="border: 1px solid #999999; background:#d4c4b0"><span title="imperativo negativo">Negative</span> (<i class="Latn mention" lang="pt"><a rel="mw:WikiLink" href="./não#Portuguese" title="não">não</a></i>)</th>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./não#Portuguese" title="não">não</a> <a rel="mw:WikiLink" href="./faças#Portuguese" title="faças">faças</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./não#Portuguese" title="não">não</a> <a rel="mw:WikiLink" href="./faça#Portuguese" title="faça">faça</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./não#Portuguese" title="não">não</a> <a rel="mw:WikiLink" href="./façamos#Portuguese" title="façamos">façamos</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./não#Portuguese" title="não">não</a> <a rel="mw:WikiLink" href="./façais#Portuguese" title="façais">façais</a></span></td>
                        <td style="border: 1px solid #999999; vertical-align: top;"><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./não#Portuguese" title="não">não</a> <a rel="mw:WikiLink" href="./façam#Portuguese" title="façam">façam</a></span></td>
                    </tr>
                    </tbody>
                </table>
                <div style="width:100%;text-align:left;background:#d9ebff">
                    <div style="display:inline-block;text-align:left;padding-left:1em;padding-right:1em">
                        <p><sup style="color: red">1</sup>Brazil only.</p>
                    </div>
                </div>
            </div>
        </div><span about="#mwt93"> </span>
        <link rel="mw:PageProp/Category" href="./Category:Portuguese_verbs_ending_in_-er#FAZER" about="#mwt93">
        <link rel="mw:PageProp/Category" href="./Category:Portuguese_irregular_verbs#FAZER" about="#mwt93" id="mwARU">
    </section>
    <section data-mw-section-id="27" id="mwARY">
        <h4 id="Quotations">Quotations</h4>
        <p id="mwARc"><span class="see-cites" about="#mwt94" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;seeCites&quot;,&quot;href&quot;:&quot;./Template:seeCites&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt&quot;}},&quot;i&quot;:0}}]}" id="mwARg">For quotations using this term, see <a rel="mw:WikiLink" href="./Citations:fazer#Portuguese" title="Citations:fazer">Citations:fazer</a>.</span></p>
    </section>
    <section data-mw-section-id="28" id="mwARk">
        <h4 id="Derived_terms_2">Derived terms</h4>
        <div class="list-switcher" data-toggle-category="derived terms" about="#mwt95" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;col4&quot;,&quot;href&quot;:&quot;./Template:col4&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;pt\n&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fazer amor\n&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;fazer a barba\n&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;fazer das tripas coração\n&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;fazer fita\n&quot;},&quot;6&quot;:{&quot;wt&quot;:&quot;fazer pouco\n&quot;},&quot;7&quot;:{&quot;wt&quot;:&quot;não fazer por menos\n&quot;},&quot;8&quot;:{&quot;wt&quot;:&quot;fazer xixi\n&quot;},&quot;9&quot;:{&quot;wt&quot;:&quot;fazer cocô\n&quot;},&quot;10&quot;:{&quot;wt&quot;:&quot;fazer sexo\n&quot;},&quot;11&quot;:{&quot;wt&quot;:&quot;fazer horas\n&quot;}},&quot;i&quot;:0}}]}" id="mwARo">
            <div class="derivedterms term-list ul-column-count" data-column-count="4" style="background-color:#F8F8FF">
                <ul>
                    <li><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./fazer_a_barba#Portuguese" title="fazer a barba">fazer a barba</a></span></li>
                    <li><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./fazer_amor#Portuguese" title="fazer amor">fazer amor</a></span></li>
                    <li><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./fazer_cocô#Portuguese" title="fazer cocô">fazer cocô</a></span></li>
                    <li><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./fazer_das_tripas_coração#Portuguese" title="fazer das tripas coração">fazer das tripas coração</a></span></li>
                    <li><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./fazer_fita?action=edit&amp;redlink=1#Portuguese" title="fazer fita" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;fazer fita&quot;]}}">fazer fita</a></span></li>
                    <li><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./fazer_horas#Portuguese" title="fazer horas">fazer horas</a></span></li>
                    <li><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./fazer_pouco#Portuguese" title="fazer pouco">fazer pouco</a></span></li>
                    <li><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./fazer_sexo#Portuguese" title="fazer sexo">fazer sexo</a></span></li>
                    <li><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./fazer_xixi#Portuguese" title="fazer xixi">fazer xixi</a></span></li>
                    <li><span class="Latn" lang="pt"><a rel="mw:WikiLink" href="./não_fazer_por_menos?action=edit&amp;redlink=1#Portuguese" title="não fazer por menos" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;não fazer por menos&quot;]}}">não fazer por menos</a></span></li>
                </ul>
            </div>
            <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display:none">
                &nbsp;
            </div>
        </div>
    </section>
    <section data-mw-section-id="29" id="mwARs">
        <h4 id="Descendants_3">Descendants</h4>
        <ul id="mwARw">
            <li id="mwAR0"><span about="#mwt96" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;desc&quot;,&quot;href&quot;:&quot;./Template:desc&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;mzs&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fazê&quot;}},&quot;i&quot;:0}}]}" id="mwAR4">Macanese: </span><span class="Latn" lang="mzs" about="#mwt96"><a rel="mw:WikiLink" href="./fazê#Macanese" title="fazê">fazê</a></span>
                <link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r68481116" about="#mwt96" typeof="mw:Extension/templatestyles" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;Module:etymology/style.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;}}"></li>
        </ul>
    </section>
</section>
<section data-mw-section-id="30" id="mwAR8">
    <h3 id="Further_reading_2">Further reading</h3>
    <ul id="mwASA">
        <li id="mwASE"><span about="#mwt99" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:pt:Aulete&quot;,&quot;href&quot;:&quot;./Template:R:pt:Aulete&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwASI">“</span><a rel="mw:ExtLink nofollow" href="http://www.aulete.com.br/fazer" about="#mwt99" class="external text">fazer</a><span about="#mwt99">” in </span><i about="#mwt99"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/pt:Dicionário%20Contemporâneo%20da%20Língua%20Portuguesa" title="wikipedia:pt:Dicionário Contemporâneo da Língua Portuguesa" class="extiw">iDicionário Aulete</a></i><span about="#mwt99">.</span></li>
        <li id="mwASM"><span about="#mwt100" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:pt:Dicionário informal&quot;,&quot;href&quot;:&quot;./Template:R:pt:Dicionário_informal&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwASQ">“</span><a rel="mw:ExtLink nofollow" href="https://dicionarioinformal.com.br/fazer" about="#mwt100" class="external text">fazer</a><span about="#mwt100">” in </span><i about="#mwt100">Dicionário inFormal</i><span about="#mwt100">.</span></li>
        <li id="mwASU"><span about="#mwt101" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:pt:DAN&quot;,&quot;href&quot;:&quot;./Template:R:pt:DAN&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwASY">“</span><a rel="mw:ExtLink nofollow" href="http://www.dicionario-aberto.net/search/fazer" about="#mwt101" class="external text">fazer</a><span about="#mwt101">” in </span><i about="#mwt101">Dicionário Aberto</i><span about="#mwt101"> based on </span><i about="#mwt101">Novo Diccionário da Língua Portuguesa de Cândido de Figueiredo</i><span about="#mwt101">, 1913</span></li>
        <li id="mwASc"><span about="#mwt102" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:pt:Infopédia&quot;,&quot;href&quot;:&quot;./Template:R:pt:Infopédia&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwASg">“</span><a rel="mw:ExtLink nofollow" href="https://www.infopedia.pt/dicionarios/lingua-portuguesa/fazer?express=" about="#mwt102" class="external text">fazer</a><span about="#mwt102">” in </span><i about="#mwt102"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/pt:Infopédia" title="wikipedia:pt:Infopédia" class="extiw">Dicionário infopédia da Língua Portuguesa</a></i><span about="#mwt102">. Porto: Porto Editora, 2003–2024.</span></li>
        <li id="mwASk"><span about="#mwt103" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:pt:Michaelis&quot;,&quot;href&quot;:&quot;./Template:R:pt:Michaelis&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwASo">“</span><a rel="mw:ExtLink nofollow" href="https://michaelis.uol.com.br/moderno-portugues/busca/portugues-brasileiro/fazer/" about="#mwt103" class="external text">fazer</a><span about="#mwt103">” in </span><i about="#mwt103"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/pt:Michaelis" title="wikipedia:pt:Michaelis" class="extiw">Michaelis Dicionário Brasileiro da Língua Portuguesa</a></i><span about="#mwt103">.</span></li>
        <li id="mwASs"><span about="#mwt104" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:pt:Priberam&quot;,&quot;href&quot;:&quot;./Template:R:pt:Priberam&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwASw">“</span><a rel="mw:ExtLink nofollow" href="https://dicionario.priberam.org/fazer" about="#mwt104" class="external text">fazer</a><span about="#mwt104">” in </span><i about="#mwt104"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/pt:Priberam" title="wikipedia:pt:Priberam" class="extiw">Dicionário Priberam da Língua Portuguesa</a></i><span about="#mwt104">.</span></li>
    </ul>
</section>
