<h2 id="Catalan">Catalan</h2>
<section data-mw-section-id="13" id="mwQA">
 <h3 id="Etymology_1">Etymology 1</h3>
 <p id="mwQQ"><a rel="mw:WikiLink" href="./Appendix:Glossary#inherited" title="Appendix:Glossary" about="#mwt22" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh+&quot;,&quot;href&quot;:&quot;./Template:inh+&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;la&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;facio&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;facere&quot;}},&quot;i&quot;:0}}]}" id="mwQg">Inherited</a><span about="#mwt22"> from </span><span class="etyl" about="#mwt22"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Latin" title="w:Latin" class="extiw">Latin</a>
   <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_inherited_from_Latin#FER">
   <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_derived_from_Latin#FER"></span><span about="#mwt22"> </span><i class="Latn mention" lang="la" about="#mwt22" id="mwQw"><a rel="mw:WikiLink" href="./facio#Latin" title="facio">facere</a></i>.</p>
 <section data-mw-section-id="14" id="mwRA">
  <h4 id="Pronunciation_2">Pronunciation</h4>
  <ul id="mwRQ">
   <li about="#mwt23" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[&quot;* &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ca-IPA&quot;,&quot;href&quot;:&quot;./Template:ca-IPA&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;[é(r)]&quot;}},&quot;i&quot;:0}},&quot;<!-- per GDLC -->&quot;]}" id="mwRg"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Catalan_pronunciation" title="Appendix:Catalan pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><span class="usage-label-accent"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Central%20Catalan" title="w:Central Catalan" class="extiw">Central</a><span class="ib-comma">,</span><span typeof="mw:Entity"> </span><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Balearic%20Catalan" title="w:Balearic Catalan" class="extiw">Balearic</a></span></span><span class="ib-brac qualifier-brac">)</span> <span class="IPA">[ˈfe]</span>
    <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_IPA_pronunciation#FER"></li><span about="#mwt23"> </span>
   <li about="#mwt23"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Catalan_pronunciation" title="Appendix:Catalan pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><span class="usage-label-accent"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Valencian%20language" title="w:Valencian language" class="extiw">Valencia</a></span></span><span class="ib-brac qualifier-brac">)</span> <span class="IPA">[ˈfeɾ]</span>
    <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_IPA_pronunciation#FER"><!-- per GDLC --></li>
  </ul>
 </section>
 <section data-mw-section-id="15" id="mwRw">
  <h4 id="Verb_2">Verb</h4>
  <p id="mwSA"><span class="headword-line" about="#mwt24" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ca-verb&quot;,&quot;href&quot;:&quot;./Template:ca-verb&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwSQ"><strong class="Latn headword" lang="ca">fer</strong> (<i>first-person singular present</i> <b class="Latn" lang="ca"><a rel="mw:WikiLink" href="./faig#Catalan" title="faig">faig</a></b>, <i>first-person singular preterite</i> <b class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fiu#Catalan" title="fiu">fiu</a></b>, <i>past participle</i> <b class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fet#Catalan" title="fet">fet</a></b>)</span>
   <link rel="mw:PageProp/Category" href="./Category:Catalan_lemmas#FER" about="#mwt24">
   <link rel="mw:PageProp/Category" href="./Category:Catalan_verbs#FER" about="#mwt24">
   <link rel="mw:PageProp/Category" href="./Category:Catalan_second_conjugation_verbs#FER" about="#mwt24">
   <link rel="mw:PageProp/Category" href="./Category:Catalan_irregular_verbs#FER" about="#mwt24">
   <link rel="mw:PageProp/Category" href="./Category:Catalan_entries_with_incorrect_language_header#FER" about="#mwt24">
   <link rel="mw:PageProp/Category" href="./Category:Pages_with_29_entries#FER" about="#mwt24" id="mwSg"></p>
  <ol id="mwSw">
   <li id="mwTA">to <a rel="mw:WikiLink" href="./make" title="make" id="mwTQ">make</a>, <a rel="mw:WikiLink" href="./produce" title="produce" id="mwTg">produce</a>
    <dl id="mwTw">
     <dd id="mwUA">
      <span class="h-usage-example" about="#mwt25" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Fer''' vinagre.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;To make vinegar.&quot;}},&quot;i&quot;:0}}]}" id="mwUQ"><i class="Latn mention e-example" lang="ca"><b>Fer</b> vinagre.</i> ― <span class="e-translation">To make vinegar.</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt25" id="mwUg">
     </dd>
     <dd id="mwUw">
      <span class="h-usage-example" about="#mwt26" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Aquesta terra '''fa''' molt bon blat.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;This land produces very good wheat.&quot;}},&quot;i&quot;:0}}]}" id="mwVA"><i class="Latn mention e-example" lang="ca">Aquesta terra <b>fa</b> molt bon blat.</i> ― <span class="e-translation">This land produces very good wheat.</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt26" id="mwVQ">
     </dd>
     <dd id="mwVg">
      <span class="h-usage-example" about="#mwt27" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Quatre i quatre '''fan''' vuit.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Four and four make eight.&quot;}},&quot;i&quot;:0}}]}" id="mwVw"><i class="Latn mention e-example" lang="ca">Quatre i quatre <b>fan</b> vuit.</i> ― <span class="e-translation">Four and four make eight.</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt27" id="mwWA">
     </dd>
     <dd id="mwWQ">
      <span class="h-usage-example" about="#mwt28" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Fer''' d'un enemic un aliat.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;To turn an enemy into an ally.&quot;}},&quot;i&quot;:0}}]}" id="mwWg"><i class="Latn mention e-example" lang="ca"><b>Fer</b> d'un enemic un aliat.</i> ― <span class="e-translation">To turn an enemy into an ally.</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt28" id="mwWw">
     </dd>
     <dd id="mwXA">
      <span class="h-usage-example" about="#mwt29" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Fer''' [[olor]] de roses.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;To smell of rose.&quot;}},&quot;i&quot;:0}}]}" id="mwXQ"><i class="Latn mention e-example" lang="ca"><b>Fer</b> <a rel="mw:WikiLink" href="./olor#Catalan" title="olor">olor</a> de roses.</i> ― <span class="e-translation">To smell of rose.</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt29" id="mwXg">
     </dd>
     <dd id="mwXw">
      <span class="h-usage-example" about="#mwt30" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Fer''' pudor de porcs.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;To stink of pig.&quot;}},&quot;i&quot;:0}}]}" id="mwYA"><i class="Latn mention e-example" lang="ca"><b>Fer</b> pudor de porcs.</i> ― <span class="e-translation">To stink of pig.</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt30" id="mwYQ">
     </dd>
     <dd id="mwYg">
      <span class="usage-label-sense" about="#mwt31" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;idiomatic&quot;}},&quot;i&quot;:0}}]}" id="mwYw"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#idiomatic" title="Appendix:Glossary">idiomatic</a>
        <link rel="mw:PageProp/Category" href="./Category:Catalan_idioms#FER"></span><span class="ib-brac">)</span></span> <span class="h-usage-example" about="#mwt32" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Fer''' bondat&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;to behave, to comply with one's duty&quot;}},&quot;i&quot;:0}}]}" id="mwZA"><i class="Latn mention e-example" lang="ca"><b>Fer</b> bondat</i> ― <span class="e-translation">to behave, to comply with one's duty</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt32" id="mwZQ"> (an <a rel="mw:WikiLink" href="./idiom" title="idiom" id="mwZg">idiom</a>, literally <i id="mwZw">to make goodness</i>)
     </dd>
     <dd id="mwaA">
      <span class="usage-label-sense" about="#mwt33" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;idiomatic&quot;}},&quot;i&quot;:0}}]}" id="mwaQ"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#idiomatic" title="Appendix:Glossary">idiomatic</a>
        <link rel="mw:PageProp/Category" href="./Category:Catalan_idioms#FER"></span><span class="ib-brac">)</span></span> <span class="h-usage-example" about="#mwt34" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Fer''' figa&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;to fail to achieve an expected result&quot;}},&quot;i&quot;:0}}]}" id="mwag"><i class="Latn mention e-example" lang="ca"><b>Fer</b> figa</i> ― <span class="e-translation">to fail to achieve an expected result</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt34" id="mwaw"> (an <a rel="mw:WikiLink" href="./idiom" title="idiom" id="mwbA">idiom</a>, literally <i id="mwbQ">to make fig</i>)
     </dd>
    </dl></li>
   <li id="mwbg">to <a rel="mw:WikiLink" href="./make_up" title="make up" id="mwbw">make up</a>
    <dl id="mwcA">
     <dd id="mwcQ">
      <span class="h-usage-example" about="#mwt35" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Els jubilats '''fan''' un quart de la població.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Retired people make up a quarter of the population.&quot;}},&quot;i&quot;:0}}]}" id="mwcg"><i class="Latn mention e-example" lang="ca">Els jubilats <b>fan</b> un quart de la població.</i> ― <span class="e-translation">Retired people make up a quarter of the population.</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt35" id="mwcw">
     </dd>
    </dl></li>
   <li id="mwdA">to <a rel="mw:WikiLink" href="./do" title="do" id="mwdQ">do</a>, to cause to be done</li>
   <li id="mwdg">to <a rel="mw:WikiLink" href="./make_do" title="make do" id="mwdw">make do</a></li>
   <li id="mweA">to <a rel="mw:WikiLink" href="./give" title="give" id="mweQ">give</a>
    <dl id="mweg">
     <dd id="mwew">
      <span class="h-usage-example" about="#mwt36" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;El primer marit li '''va fer''' dos fills.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Her first husband gave her two sons.&quot;}},&quot;i&quot;:0}}]}" id="mwfA"><i class="Latn mention e-example" lang="ca">El primer marit li <b>va fer</b> dos fills.</i> ― <span class="e-translation">Her first husband gave her two sons.</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt36" id="mwfQ">
     </dd>
     <dd id="mwfg">
      <span class="h-usage-example" about="#mwt37" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Feu'''-me mig quilo de formatge.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Give me half a kilo of cheese.&quot;}},&quot;i&quot;:0}}]}" id="mwfw"><i class="Latn mention e-example" lang="ca"><b>Feu</b>-me mig quilo de formatge.</i> ― <span class="e-translation">Give me half a kilo of cheese.</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt37" id="mwgA">
     </dd>
     <dd id="mwgQ">
      <span class="h-usage-example" about="#mwt38" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Fes'''-me un [[petó]]!&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;Kiss me!&quot;}},&quot;i&quot;:0}}]}" id="mwgg"><i class="Latn mention e-example" lang="ca"><b>Fes</b>-me un <a rel="mw:WikiLink" href="./petó#Catalan" title="petó">petó</a><span typeof="mw:Entity">!</span></i> ― <span class="e-translation">Kiss me!</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt38" id="mwgw">
     </dd>
    </dl></li>
   <li id="mwhA">to <a rel="mw:WikiLink" href="./lay" title="lay" id="mwhQ">lay</a>
    <dl id="mwhg">
     <dd id="mwhw">
      <span class="h-usage-example" about="#mwt39" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;La canària '''ha fet''' un ou.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;The canary has laid an egg.&quot;}},&quot;i&quot;:0}}]}" id="mwiA"><i class="Latn mention e-example" lang="ca">La canària <b>ha fet</b> un ou.</i> ― <span class="e-translation">The canary has laid an egg.</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt39" id="mwiQ">
     </dd>
    </dl></li>
   <li id="mwig">to <a rel="mw:WikiLink" href="./cause" title="cause" id="mwiw">cause</a></li>
   <li id="mwjA"><span class="usage-label-sense" about="#mwt40" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;auxiliary&quot;}},&quot;i&quot;:0}}]}" id="mwjQ"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#auxiliary" title="Appendix:Glossary">auxiliary</a>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_auxiliary_verbs#FER"></span><span class="ib-brac">)</span></span> to make (someone) (do something), that is <span class="use-with-mention" about="#mwt41" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;non-gloss definition&quot;,&quot;href&quot;:&quot;./Template:non-gloss_definition&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;[[auxiliary verb]] to form the [[causative]] together with an [[infinitive]]&quot;}},&quot;i&quot;:0}}]}" id="mwjg"><span class="Latn" lang="en"><a rel="mw:WikiLink" href="./auxiliary_verb#English" title="auxiliary verb">auxiliary verb</a> to form the <a rel="mw:WikiLink" href="./causative#English" title="causative">causative</a> together with an <a rel="mw:WikiLink" href="./infinitive#English" title="infinitive">infinitive</a></span></span>
    <dl id="mwjw">
     <dd id="mwkA">
      <span class="h-usage-example" about="#mwt42" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;em '''van fer''' tornar a buscar el rebut&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;they '''made''' me go back to get the receipt&quot;}},&quot;i&quot;:0}}]}" id="mwkQ"><i class="Latn mention e-example" lang="ca">em <b>van fer</b> tornar a buscar el rebut</i> ― <span class="e-translation">they <b>made</b> me go back to get the receipt</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt42" id="mwkg">
     </dd>
     <dd id="mwkw">
      <span class="h-usage-example" about="#mwt43" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;l''''has feta''' plorar&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;you '''made''' her cry&quot;}},&quot;i&quot;:0}}]}" id="mwlA"><i class="Latn mention e-example" lang="ca">l'<b>has feta</b> plorar</i> ― <span class="e-translation">you <b>made</b> her cry</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt43" id="mwlQ">
     </dd>
    </dl></li>
   <li id="mwlg">to <a rel="mw:WikiLink" href="./go" title="go" id="mwlw">go</a></li>
   <li id="mwmA"><span class="usage-label-sense" about="#mwt44" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;impersonal&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;of weather&quot;}},&quot;i&quot;:0}}]}" id="mwmQ"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#impersonal" title="Appendix:Glossary">impersonal</a>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_impersonal_verbs#FER"><span class="ib-comma">,</span><span typeof="mw:Entity"> </span>of weather</span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./be" title="be" id="mwmg">be</a>
    <dl id="mwmw">
     <dd id="mwnA">
      <span class="h-usage-example" about="#mwt45" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Fa''' fred!&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;It '''is''' cold!&quot;}},&quot;i&quot;:0}}]}" id="mwnQ"><i class="Latn mention e-example" lang="ca"><b>Fa</b> fred<span typeof="mw:Entity">!</span></i> ― <span class="e-translation">It <b>is</b> cold!</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt45" id="mwng">
     </dd>
     <dd id="mwnw">
      <span class="h-usage-example" about="#mwt46" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Fa''' calor!&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;It '''is''' hot!&quot;}},&quot;i&quot;:0}}]}" id="mwoA"><i class="Latn mention e-example" lang="ca"><b>Fa</b> calor<span typeof="mw:Entity">!</span></i> ― <span class="e-translation">It <b>is</b> hot!</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt46" id="mwoQ">
     </dd>
     <dd id="mwog">
      <span class="h-usage-example" about="#mwt47" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''Fa''' vent!&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;It '''is''' windy!&quot;}},&quot;i&quot;:0}}]}" id="mwow"><i class="Latn mention e-example" lang="ca"><b>Fa</b> vent<span typeof="mw:Entity">!</span></i> ― <span class="e-translation">It <b>is</b> windy!</span></span>
      <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_usage_examples#FER" about="#mwt47" id="mwpA">
     </dd>
    </dl></li>
   <li id="mwpQ">to <a rel="mw:WikiLink" href="./play" title="play" id="mwpg">play</a></li>
   <li id="mwpw">to <a rel="mw:WikiLink" href="./measure" title="measure" id="mwqA">measure</a></li>
  </ol>
  <section data-mw-section-id="16" id="mwqQ">
   <h5 id="Conjugation_2">Conjugation</h5>
   <div class="NavFrame" about="#mwt48" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ca-conj&quot;,&quot;href&quot;:&quot;./Template:ca-conj&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwqg">
    <div class="NavHead">
     <span typeof="mw:Entity">&nbsp;</span> <span typeof="mw:Entity">&nbsp;</span> Conjugation of <i class="Latn mention" lang="ca"><a rel="mw:WikiLink" href="./fer#Catalan" class="mw-selflink-fragment">fer</a></i> (<a rel="mw:WikiLink" href="./Appendix:Catalan_verbs#Second_conjugation" title="Appendix:Catalan verbs">second conjugation</a>, irregular)
    </div>
    <div class="NavContent">
     <table style="width:100%;background:#F0F0F0;padding:.3em" data-toggle-category="inflection">
      <tbody>
       <tr>
        <th colspan="3" style="background:#e2e4c0;"><span title="infinitiu">infinitive</span></th>
        <td colspan="5"><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fer#Catalan" class="mw-selflink-fragment">fer</a></span></td>
       </tr>
       <tr>
        <th colspan="3" style="background:#e2e4c0;"><span title="gerundi">gerund</span></th>
        <td colspan="5"><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fent#Catalan" title="fent">fent</a></span></td>
       </tr>
       <tr>
        <th rowspan="3" colspan="2" style="background:#e2e4c0"><span title="participi passat">past participle</span></th>
        <td colspan="2" style="background:#e2e4c0"></td>
        <th colspan="2" style="background:#e2e4c0">masculine</th>
        <th colspan="2" style="background:#e2e4c0">feminine</th>
       </tr>
       <tr>
        <th colspan="2" style="background:#e2e4c0">singular</th>
        <td colspan="2"><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fet#Catalan" title="fet">fet</a></span></td>
        <td colspan="2"><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./feta#Catalan" title="feta">feta</a></span></td>
       </tr>
       <tr>
        <th colspan="2" style="background:#e2e4c0">plural</th>
        <td colspan="2"><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fets#Catalan" title="fets">fets</a></span></td>
        <td colspan="2"><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fetes#Catalan" title="fetes">fetes</a></span></td>
       </tr>
       <tr>
        <th colspan="2" rowspan="2" style="background:#e2e4cb;">person</th>
        <th colspan="3" style="background:#e2e4cb;">singular</th>
        <th colspan="3" style="background:#e2e4cb;">plural</th>
       </tr>
       <tr>
        <th style="background:#e2e4cb;width:12.5%;">first</th>
        <th style="background:#e2e4cb;width:12.5%;">second</th>
        <th style="background:#e2e4cb;width:12.5%;">third</th>
        <th style="background:#e2e4cb;width:12.5%;">first</th>
        <th style="background:#e2e4cb;width:12.5%;">second</th>
        <th style="background:#e2e4cb;width:12.5%;">third</th>
       </tr>
       <tr>
        <th rowspan="6" style="background:#c0cfe4;"><span title="indicatiu">indicative</span></th>
        <th style="background:#c0cfe4;"></th>
        <th style="background:#c0cfe4;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./jo#Catalan" title="jo">jo</a></span></th>
        <th style="background:#c0cfe4;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./tu#Catalan" title="tu">tu</a></span></th>
        <th style="background:#c0cfe4;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ell#Catalan" title="ell">ell</a></span>/<span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ella#Catalan" title="ella">ella</a></span><br><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vostè#Catalan" title="vostè">vostè</a></span></th>
        <th style="background:#c0cfe4;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./nosaltres#Catalan" title="nosaltres">nosaltres</a></span><br><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./nós#Catalan" title="nós">nós</a></span></th>
        <th style="background:#c0cfe4;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vosaltres#Catalan" title="vosaltres">vosaltres</a></span><br><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vós#Catalan" title="vós">vós</a></span></th>
        <th style="background:#c0cfe4;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ells#Catalan" title="ells">ells</a></span>/<span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./elles#Catalan" title="elles">elles</a></span><br><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vostès#Catalan" title="vostès">vostès</a></span></th>
       </tr>
       <tr>
        <th style="height:3em;background:#c0cfe4;"><span title="present">present</span></th>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faig#Catalan" title="faig">faig</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fas#Catalan" title="fas">fas</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fa#Catalan" title="fa">fa</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fem#Catalan" title="fem">fem</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./feu#Catalan" title="feu">feu</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fan#Catalan" title="fan">fan</a></span></td>
       </tr>
       <tr>
        <th style="height:3em;background:#c0cfe4;"><span title="imperfet">imperfect</span></th>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./feia#Catalan" title="feia">feia</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./feies#Catalan" title="feies">feies</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./feia#Catalan" title="feia">feia</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fèiem#Catalan" title="fèiem">fèiem</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fèieu#Catalan" title="fèieu">fèieu</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./feien#Catalan" title="feien">feien</a></span></td>
       </tr>
       <tr>
        <th style="height:3em;background:#c0cfe4;"><span title="futur">future</span></th>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faré#Catalan" title="faré">faré</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faràs#Catalan" title="faràs">faràs</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./farà#Catalan" title="farà">farà</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./farem#Catalan" title="farem">farem</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fareu#Catalan" title="fareu">fareu</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faran#Catalan" title="faran">faran</a></span></td>
       </tr>
       <tr>
        <th style="height:3em;background:#c0cfe4;"><span title="passat">preterite</span></th>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fiu#Catalan" title="fiu">fiu</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./feres#Catalan" title="feres">feres</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./feu#Catalan" title="feu">feu</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./férem#Catalan" title="férem">férem</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./féreu#Catalan" title="féreu">féreu</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./feren#Catalan" title="feren">feren</a></span></td>
       </tr>
       <tr>
        <th style="height:3em;background:#c0cfe4;"><span title="condicional">conditional</span></th>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faria#Catalan" title="faria">faria</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faries#Catalan" title="faries">faries</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faria#Catalan" title="faria">faria</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faríem#Catalan" title="faríem">faríem</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faríeu#Catalan" title="faríeu">faríeu</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./farien#Catalan" title="farien">farien</a></span></td>
       </tr>
       <tr>
        <th style="background:#c0e4c0;" rowspan="3"><span title="subjuntiu">subjunctive</span></th>
        <th style="background:#c0e4c0;"></th>
        <th style="background:#c0e4c0;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./jo#Catalan" title="jo">jo</a></span></th>
        <th style="background:#c0e4c0;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./tu#Catalan" title="tu">tu</a></span></th>
        <th style="background:#c0e4c0;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ell#Catalan" title="ell">ell</a></span>/<span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ella#Catalan" title="ella">ella</a></span><br><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vostè#Catalan" title="vostè">vostè</a></span></th>
        <th style="background:#c0e4c0;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./nosaltres#Catalan" title="nosaltres">nosaltres</a></span><br><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./nós#Catalan" title="nós">nós</a></span></th>
        <th style="background:#c0e4c0;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vosaltres#Catalan" title="vosaltres">vosaltres</a></span><br><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vós#Catalan" title="vós">vós</a></span></th>
        <th style="background:#c0e4c0;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ells#Catalan" title="ells">ells</a></span>/<span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./elles#Catalan" title="elles">elles</a></span><br><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vostès#Catalan" title="vostès">vostès</a></span></th>
       </tr>
       <tr>
        <th style="height:3em;background:#c0e4c0;"><span title="present">present</span></th>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faci#Catalan" title="faci">faci</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./facis#Catalan" title="facis">facis</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faci#Catalan" title="faci">faci</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fem#Catalan" title="fem">fem</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./feu#Catalan" title="feu">feu</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./facin#Catalan" title="facin">facin</a></span></td>
       </tr>
       <tr>
        <th style="height:3em;background:#c0e4c0;" rowspan="1"><span title="imperfet">imperfect</span></th>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fes#Catalan" title="fes">fes</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fessis#Catalan" title="fessis">fessis</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fes#Catalan" title="fes">fes</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./féssim#Catalan" title="féssim">féssim</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./féssiu#Catalan" title="féssiu">féssiu</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fessin#Catalan" title="fessin">fessin</a></span></td>
       </tr>
       <tr>
        <th rowspan="3" style="height:3em;background:#e4d4c0;"><span title="imperatiu">imperative</span></th>
        <th style="background:#e4d4c0;"></th>
        <th style="background:#e4d4c0;"><span typeof="mw:Entity">—</span></th>
        <th style="background:#e4d4c0;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./tu#Catalan" title="tu">tu</a></span></th>
        <th style="background:#e4d4c0;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vostè#Catalan" title="vostè">vostè</a></span></th>
        <th style="background:#e4d4c0;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./nosaltres#Catalan" title="nosaltres">nosaltres</a></span></th>
        <th style="background:#e4d4c0;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vosaltres#Catalan" title="vosaltres">vosaltres</a></span><br><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vós#Catalan" title="vós">vós</a></span></th>
        <th style="background:#e4d4c0;"><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./vostès#Catalan" title="vostès">vostès</a></span></th>
       </tr>
       <tr>
        <th style="height:3em;background:#e4d4c0;"><span title="afirmatiu">affirmative</span></th>
        <td><span typeof="mw:Entity">—</span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fes#Catalan" title="fes">fes</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./faci#Catalan" title="faci">faci</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./fem#Catalan" title="fem">fem</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./feu#Catalan" title="feu">feu</a></span></td>
        <td><span class="Latn form-of lang-ca verb-form-fer-form-of     origin-fer   " lang="ca"><a rel="mw:WikiLink" href="./facin#Catalan" title="facin">facin</a></span></td>
       </tr>
       <tr>
        <th style="height:3em;background:#e4d4c0;"><span title="negatiu">negative</span> (<span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./no#Catalan" title="no">no</a></span>)</th>
        <td><span typeof="mw:Entity">—</span></td>
        <td><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./no#Catalan" title="no">no</a> <a rel="mw:WikiLink" href="./facis#Catalan" title="facis">facis</a></span></td>
        <td><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./no#Catalan" title="no">no</a> <a rel="mw:WikiLink" href="./faci#Catalan" title="faci">faci</a></span></td>
        <td><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./no#Catalan" title="no">no</a> <a rel="mw:WikiLink" href="./fem#Catalan" title="fem">fem</a></span></td>
        <td><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./no#Catalan" title="no">no</a> <a rel="mw:WikiLink" href="./feu#Catalan" title="feu">feu</a></span></td>
        <td><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./no#Catalan" title="no">no</a> <a rel="mw:WikiLink" href="./facin#Catalan" title="facin">facin</a></span></td>
       </tr>
      </tbody>
     </table>
    </div>
   </div>
   <link rel="mw:PageProp/Category" href="./Category:Catalan_second_conjugation_verbs#FER" about="#mwt48">
   <link rel="mw:PageProp/Category" href="./Category:Catalan_irregular_verbs#FER" about="#mwt48" id="mwqw">
   <p id="mwrA">Balearic uses <i class="Latn mention" lang="ca" about="#mwt49" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;m&quot;,&quot;href&quot;:&quot;./Template:m&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fais&quot;}},&quot;i&quot;:0}}]}" id="mwrQ"><a rel="mw:WikiLink" href="./fais#Catalan" title="fais">fais</a></i> for the second person plural form in the present indicative instead of feu.</p>
  </section>
  <section data-mw-section-id="17" id="mwrg">
   <h5 id="Derived_terms_2">Derived terms</h5>
   <div class="list-switcher" data-toggle-category="derived terms" about="#mwt50" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;col4&quot;,&quot;href&quot;:&quot;./Template:col4&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca\n&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;a fer la mà\n&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;a preu fet\n&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;bufar i fer ampolles\n&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;desfer\n&quot;},&quot;6&quot;:{&quot;wt&quot;:&quot;fer-se\n&quot;},&quot;7&quot;:{&quot;wt&quot;:&quot;fer acte de presència\n&quot;},&quot;8&quot;:{&quot;wt&quot;:&quot;fer així\n&quot;},&quot;9&quot;:{&quot;wt&quot;:&quot;fer banyes\n&quot;},&quot;10&quot;:{&quot;wt&quot;:&quot;fer bondat\n&quot;},&quot;11&quot;:{&quot;wt&quot;:&quot;fer caput\n&quot;},&quot;12&quot;:{&quot;wt&quot;:&quot;fer cinc cèntims\n&quot;},&quot;13&quot;:{&quot;wt&quot;:&quot;fer com\n&quot;},&quot;14&quot;:{&quot;wt&quot;:&quot;fer costat\n&quot;},&quot;15&quot;:{&quot;wt&quot;:&quot;fer el pes\n&quot;},&quot;16&quot;:{&quot;wt&quot;:&quot;fer el préssec\n&quot;},&quot;17&quot;:{&quot;wt&quot;:&quot;fer el salt\n&quot;},&quot;18&quot;:{&quot;wt&quot;:&quot;fer figa\n&quot;},&quot;19&quot;:{&quot;wt&quot;:&quot;fer fora\n&quot;},&quot;20&quot;:{&quot;wt&quot;:&quot;fer front\n&quot;},&quot;21&quot;:{&quot;wt&quot;:&quot;fer malbé\n&quot;},&quot;22&quot;:{&quot;wt&quot;:&quot;fer nyam\n&quot;},&quot;23&quot;:{&quot;wt&quot;:&quot;fer olor\n&quot;},&quot;24&quot;:{&quot;wt&quot;:&quot;fer servir\n&quot;},&quot;25&quot;:{&quot;wt&quot;:&quot;fer veure\n&quot;},&quot;26&quot;:{&quot;wt&quot;:&quot;pel que fa a\n&quot;},&quot;27&quot;:{&quot;wt&quot;:&quot;quefer\n&quot;},&quot;28&quot;:{&quot;wt&quot;:&quot;refer\n&quot;},&quot;29&quot;:{&quot;wt&quot;:&quot;si fa no fa\n&quot;},&quot;30&quot;:{&quot;wt&quot;:&quot;tal faràs, tal trobaràs&quot;}},&quot;i&quot;:0}}]}" id="mwrw">
    <div class="columns-bg term-list ul-column-count" data-column-count="4">
     <ul>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./a_fer_la_mà#Catalan" title="a fer la mà">a fer la mà</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./a_preu_fet#Catalan" title="a preu fet">a preu fet</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./bufar_i_fer_ampolles#Catalan" title="bufar i fer ampolles">bufar i fer ampolles</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./desfer#Catalan" title="desfer">desfer</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_acte_de_presència#Catalan" title="fer acte de presència">fer acte de presència</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_així?action=edit&amp;redlink=1#Catalan" title="fer així" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;fer així&quot;]}}">fer així</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_banyes?action=edit&amp;redlink=1#Catalan" title="fer banyes" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;fer banyes&quot;]}}">fer banyes</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_bondat?action=edit&amp;redlink=1#Catalan" title="fer bondat" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;fer bondat&quot;]}}">fer bondat</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_caput#Catalan" title="fer caput">fer caput</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_cinc_cèntims#Catalan" title="fer cinc cèntims">fer cinc cèntims</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_com?action=edit&amp;redlink=1#Catalan" title="fer com" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;fer com&quot;]}}">fer com</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_costat#Catalan" title="fer costat">fer costat</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_el_pes#Catalan" title="fer el pes">fer el pes</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_el_préssec#Catalan" title="fer el préssec">fer el préssec</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_el_salt?action=edit&amp;redlink=1#Catalan" title="fer el salt" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;fer el salt&quot;]}}">fer el salt</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_figa?action=edit&amp;redlink=1#Catalan" title="fer figa" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;fer figa&quot;]}}">fer figa</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_fora#Catalan" title="fer fora">fer fora</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_front#Catalan" title="fer front">fer front</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_malbé#Catalan" title="fer malbé">fer malbé</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_nyam#Catalan" title="fer nyam">fer nyam</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_olor#Catalan" title="fer olor">fer olor</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_servir#Catalan" title="fer servir">fer servir</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer_veure#Catalan" title="fer veure">fer veure</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fer-se?action=edit&amp;redlink=1#Catalan" title="fer-se" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;fer-se&quot;]}}">fer-se</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./pel_que_fa_a#Catalan" title="pel que fa a">pel que fa a</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./quefer#Catalan" title="quefer">quefer</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./refer#Catalan" title="refer">refer</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./si_fa_no_fa#Catalan" title="si fa no fa">si fa no fa</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./tal_faràs,_tal_trobaràs#Catalan" title="tal faràs, tal trobaràs">tal faràs, tal trobaràs</a></span></li>
     </ul>
    </div>
    <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display:none">
     &nbsp;
    </div>
   </div>
  </section>
  <section data-mw-section-id="18" id="mwsA">
   <h5 id="Related_terms">Related terms</h5>
   <div class="list-switcher" data-toggle-category="derived terms" about="#mwt51" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rel4\n&quot;,&quot;href&quot;:&quot;./Template:rel4&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fa\n&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;fet\n&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;feta\n&quot;}},&quot;i&quot;:0}}]}" id="mwsQ">
    <div class="columns-bg term-list ul-column-count" data-column-count="4">
     <ul>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fa#Catalan" title="fa">fa</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./fet#Catalan" title="fet">fet</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./feta#Catalan" title="feta">feta</a></span></li>
     </ul>
    </div>
    <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display:none">
     &nbsp;
    </div>
   </div>
  </section>
 </section>
</section>
<section data-mw-section-id="19" id="mwsg">
 <h3 id="Etymology_2">Etymology 2</h3>
 <p id="mwsw"><a rel="mw:WikiLink" href="./Appendix:Glossary#inherited" title="Appendix:Glossary" about="#mwt52" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh+&quot;,&quot;href&quot;:&quot;./Template:inh+&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;la&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;ferus&quot;}},&quot;i&quot;:0}}]}" id="mwtA">Inherited</a><span about="#mwt52"> from </span><span class="etyl" about="#mwt52"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Latin" title="w:Latin" class="extiw">Latin</a>
   <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_inherited_from_Latin#FER">
   <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_derived_from_Latin#FER"></span><span about="#mwt52"> </span><i class="Latn mention" lang="la" about="#mwt52" id="mwtQ"><a rel="mw:WikiLink" href="./ferus#Latin" title="ferus">ferus</a></i> (compare <span class="etyl" about="#mwt53" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;oc&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;fèr&quot;}},&quot;i&quot;:0}}]}" id="mwtg"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Occitan%20language" title="w:Occitan language" class="extiw">Occitan</a></span><span about="#mwt53"> </span><i class="Latn mention" lang="oc" about="#mwt53" id="mwtw">fèr</i>, <span class="etyl" about="#mwt54" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fier&quot;}},&quot;i&quot;:0}}]}" id="mwuA"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/French%20language" title="w:French language" class="extiw">French</a></span><span about="#mwt54"> </span><i class="Latn mention" lang="fr" about="#mwt54" id="mwuQ"><a rel="mw:WikiLink" href="./fier#French" title="fier">fier</a></i>, <span class="etyl" about="#mwt55" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cog&quot;,&quot;href&quot;:&quot;./Template:cog&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;es&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fiero&quot;}},&quot;i&quot;:0}}]}" id="mwug"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Spanish%20language" title="w:Spanish language" class="extiw">Spanish</a></span><span about="#mwt55"> </span><i class="Latn mention" lang="es" about="#mwt55" id="mwuw"><a rel="mw:WikiLink" href="./fiero#Spanish" title="fiero">fiero</a></i>), from <span class="etyl" about="#mwt56" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;der&quot;,&quot;href&quot;:&quot;./Template:der&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ine-pro&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;*ǵʰwer-&quot;}},&quot;i&quot;:0}}]}" id="mwvA"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Proto-Indo-European%20language" title="w:Proto-Indo-European language" class="extiw">Proto-Indo-European</a>
   <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_derived_from_Proto-Indo-European#FER"></span><span about="#mwt56"> </span><i class="Latn mention" lang="ine-pro" about="#mwt56" id="mwvQ"><a rel="mw:WikiLink" href="./Reconstruction:Proto-Indo-European/ǵʰwer-" title="Reconstruction:Proto-Indo-European/ǵʰwer-"><span typeof="mw:Entity">*</span>ǵʰwer-</a></i>.</p>
 <section data-mw-section-id="20" id="mwvg">
  <h4 id="Pronunciation_3">Pronunciation</h4>
  <ul id="mwvw">
   <li about="#mwt57" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[&quot;* &quot;,{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ca-IPA&quot;,&quot;href&quot;:&quot;./Template:ca-IPA&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;[é(rr)]&quot;}},&quot;i&quot;:0}},&quot;<!-- per GDLC and DCVB -->&quot;]}" id="mwwA"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Catalan_pronunciation" title="Appendix:Catalan pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><span class="usage-label-accent"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Central%20Catalan" title="w:Central Catalan" class="extiw">Central</a></span></span><span class="ib-brac qualifier-brac">)</span> <span class="IPA">[ˈfer]</span>
    <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_IPA_pronunciation#FER"></li><span about="#mwt57"> </span>
   <li about="#mwt57"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Catalan_pronunciation" title="Appendix:Catalan pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><span class="usage-label-accent"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Balearic%20Catalan" title="w:Balearic Catalan" class="extiw">Balearic</a></span></span><span class="ib-brac qualifier-brac">)</span> <span class="IPA">[ˈfe]</span>
    <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_IPA_pronunciation#FER"></li><span about="#mwt57"> </span>
   <li about="#mwt57"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a><sup>(<a rel="mw:WikiLink" href="./Appendix:Catalan_pronunciation" title="Appendix:Catalan pronunciation">key</a>)</sup>:<span typeof="mw:Entity"> </span><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content"><span class="usage-label-accent"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Valencian%20language" title="w:Valencian language" class="extiw">Valencia</a></span></span><span class="ib-brac qualifier-brac">)</span> <span class="IPA">[ˈfeɾ]</span>
    <link rel="mw:PageProp/Category" href="./Category:Catalan_terms_with_IPA_pronunciation#FER"><!-- per GDLC and DCVB --></li>
  </ul>
 </section>
 <section data-mw-section-id="21" id="mwwQ">
  <h4 id="Adjective">Adjective</h4>
  <p id="mwwg"><span class="headword-line" about="#mwt58" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ca-adj&quot;,&quot;href&quot;:&quot;./Template:ca-adj&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwww"><strong class="Latn headword" lang="ca">fer</strong> (<i>feminine</i> <b class="Latn form-of lang-ca f|s-form-of        " lang="ca"><a rel="mw:WikiLink" href="./fera#Catalan" title="fera">fera</a></b>, <i>masculine plural</i> <b class="Latn form-of lang-ca m|p-form-of        " lang="ca"><a rel="mw:WikiLink" href="./fers#Catalan" title="fers">fers</a></b>, <i>feminine plural</i> <b class="Latn form-of lang-ca f|p-form-of        " lang="ca"><a rel="mw:WikiLink" href="./feres#Catalan" title="feres">feres</a></b>)</span>
   <link rel="mw:PageProp/Category" href="./Category:Catalan_lemmas#FER" about="#mwt58">
   <link rel="mw:PageProp/Category" href="./Category:Catalan_adjectives#FER" about="#mwt58">
   <link rel="mw:PageProp/Category" href="./Category:Catalan_entries_with_incorrect_language_header#FER" about="#mwt58">
   <link rel="mw:PageProp/Category" href="./Category:Pages_with_29_entries#FER" about="#mwt58" id="mwxA"></p>
  <ol id="mwxQ">
   <li id="mwxg"><a rel="mw:WikiLink" href="./wild" title="wild" id="mwxw">wild</a> <span class="gloss-brac" about="#mwt59" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;gloss&quot;,&quot;href&quot;:&quot;./Template:gloss&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;untamed, not domesticated&quot;}},&quot;i&quot;:0}}]}" id="mwyA">(</span><span class="gloss-content" about="#mwt59"><span class="Latn" lang="en">untamed, not domesticated</span></span><span class="gloss-brac" about="#mwt59" id="mwyQ">)</span></li>
  </ol>
  <section data-mw-section-id="22" id="mwyg">
   <h5 id="Related_terms_2">Related terms</h5>
   <div class="list-switcher" data-toggle-category="derived terms" about="#mwt60" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rel3&quot;,&quot;href&quot;:&quot;./Template:rel3&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ca&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;feral&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;feram&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;ferament&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;feredat&quot;},&quot;6&quot;:{&quot;wt&quot;:&quot;ferejar&quot;},&quot;7&quot;:{&quot;wt&quot;:&quot;feresa&quot;},&quot;8&quot;:{&quot;wt&quot;:&quot;ferest&quot;},&quot;9&quot;:{&quot;wt&quot;:&quot;ferestament&quot;},&quot;10&quot;:{&quot;wt&quot;:&quot;feréstec&quot;},&quot;11&quot;:{&quot;wt&quot;:&quot;ferestegament&quot;},&quot;12&quot;:{&quot;wt&quot;:&quot;ferí&quot;},&quot;13&quot;:{&quot;wt&quot;:&quot;porc fer&quot;}},&quot;i&quot;:0}}]}" id="mwyw">
    <div class="columns-bg term-list ul-column-count" data-column-count="3">
     <ul>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./feral#Catalan" title="feral">feral</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./feram#Catalan" title="feram">feram</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ferament?action=edit&amp;redlink=1#Catalan" title="ferament" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;ferament&quot;]}}">ferament</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./feredat#Catalan" title="feredat">feredat</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ferejar?action=edit&amp;redlink=1#Catalan" title="ferejar" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;ferejar&quot;]}}">ferejar</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./feresa?action=edit&amp;redlink=1#Catalan" title="feresa" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;feresa&quot;]}}">feresa</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ferest#Catalan" title="ferest">ferest</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ferestament?action=edit&amp;redlink=1#Catalan" title="ferestament" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;ferestament&quot;]}}">ferestament</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./feréstec#Catalan" title="feréstec">feréstec</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ferestegament?action=edit&amp;redlink=1#Catalan" title="ferestegament" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;ferestegament&quot;]}}">ferestegament</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./ferí#Catalan" title="ferí">ferí</a></span></li>
      <li><span class="Latn" lang="ca"><a rel="mw:WikiLink" href="./porc_fer?action=edit&amp;redlink=1#Catalan" title="porc fer" class="new" typeof="mw:LocalizedAttrs" data-mw-i18n="{&quot;title&quot;:{&quot;lang&quot;:&quot;x-page&quot;,&quot;key&quot;:&quot;red-link-title&quot;,&quot;params&quot;:[&quot;porc fer&quot;]}}">porc fer</a></span></li>
     </ul>
    </div>
    <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display:none">
     &nbsp;
    </div>
   </div>
  </section>
 </section>
</section>
<section data-mw-section-id="23" id="mwzA">
 <h3 id="Further_reading">Further reading</h3>
 <ul id="mwzQ">
  <li id="mwzg"><a rel="mw:ExtLink nofollow" href="https://dlc.iec.cat/Results?EntradaText=fer&amp;AllInfoMorf=False&amp;OperEntrada=0&amp;OperDef=0&amp;OperEx=0&amp;OperSubEntrada=0&amp;OperAreaTematica=0&amp;InfoMorfType=0&amp;OperCatGram=False&amp;AccentSen=False&amp;CurrentPage=0&amp;refineSearch=0" about="#mwt61" typeof="mw:Transclusion" class="external text" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:ca:IEC2&quot;,&quot;href&quot;:&quot;./Template:R:ca:IEC2&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwzw">“fer”</a><span about="#mwt61"> in </span><i about="#mwt61">Diccionari de la llengua catalana, segona edició</i><span about="#mwt61">, </span><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Institut%20d'Estudis%20Catalans" title="w:Institut d'Estudis Catalans" about="#mwt61" class="extiw">Institut d’Estudis Catalans</a><span about="#mwt61">.</span></li>
  <li id="mw0A"><span class="citation-whole" about="#mwt62" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:ca:GDLC&quot;,&quot;href&quot;:&quot;./Template:R:ca:GDLC&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mw0Q"><span class="cited-source">“<a rel="mw:ExtLink nofollow" href="https://www.diccionari.cat/cerca/gran-diccionari-de-la-llengua-catalana?search_api_fulltext_cust=fer" class="external text">fer</a>”, in <cite>Gran Diccionari de la Llengua Catalana</cite>, <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Grup%20Enciclopèdia%20Catalana" title="w:Grup Enciclopèdia Catalana" class="extiw">Grup Enciclopèdia Catalana</a>, <span class="None" lang="und">2024</span></span></span></li>
  <li id="mw0g"><a rel="mw:ExtLink nofollow" href="https://www.avl.gva.es/lexicval/xhtml/dnv.xhtml?paraula=fer" about="#mwt63" typeof="mw:Transclusion" class="external text" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:ca:DNV&quot;,&quot;href&quot;:&quot;./Template:R:ca:DNV&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mw0w">“fer”</a><span about="#mwt63"> in </span><i about="#mwt63">Diccionari normatiu valencià</i><span about="#mwt63">, </span><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Acadèmia%20Valenciana%20de%20la%20Llengua" title="w:Acadèmia Valenciana de la Llengua" about="#mwt63" class="extiw">Acadèmia Valenciana de la Llengua</a><span about="#mwt63">.</span></li>
  <li id="mw1A"><a rel="mw:ExtLink nofollow" href="https://dcvb.iec.cat/results.asp?Word=fer" about="#mwt64" typeof="mw:Transclusion" class="external text" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:ca:DCVB&quot;,&quot;href&quot;:&quot;./Template:R:ca:DCVB&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mw1Q">“fer”</a><span about="#mwt64"> in </span><i about="#mwt64">Diccionari català-valencià-balear</i><span about="#mwt64">, Antoni Maria Alcover and Francesc de Borja Moll, 1962.</span></li>
 </ul>
</section>
