<h2 id="French">French</h2>
<section data-mw-section-id="11" id="mwMQ">
 <h3 id="Etymology_2">Etymology</h3>
 <p id="mwMg"><a rel="mw:WikiLink" href="./Appendix:Glossary#inherited" title="Appendix:Glossary" about="#mwt102" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh+&quot;,&quot;href&quot;:&quot;./Template:inh+&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;frm&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;payer&quot;}},&quot;i&quot;:0}}]}" id="mwMw">Inherited</a><span about="#mwt102"> from </span><span class="etyl" about="#mwt102"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Middle%20French" title="w:Middle French" class="extiw">Middle French</a>
   <link rel="mw:PageProp/Category" href="./Category:French_terms_inherited_from_Middle_French#PAYER">
   <link rel="mw:PageProp/Category" href="./Category:French_terms_derived_from_Middle_French#PAYER"></span><span about="#mwt102"> </span><i class="Latn mention" lang="frm" about="#mwt102" id="mwNA"><a rel="mw:WikiLink" href="./payer#Middle_French" class="mw-selflink-fragment">payer</a></i>, from <span class="etyl" about="#mwt103" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh&quot;,&quot;href&quot;:&quot;./Template:inh&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fro&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;paiier&quot;}},&quot;i&quot;:0}}]}" id="mwNQ"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Old%20French" title="w:Old French" class="extiw">Old French</a>
   <link rel="mw:PageProp/Category" href="./Category:French_terms_inherited_from_Old_French#PAYER">
   <link rel="mw:PageProp/Category" href="./Category:French_terms_derived_from_Old_French#PAYER"></span><span about="#mwt103"> </span><i class="Latn mention" lang="fro" about="#mwt103" id="mwNg"><a rel="mw:WikiLink" href="./paiier#Old_French" title="paiier">paiier</a></i>, <i class="Latn mention" lang="fro" about="#mwt104" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;m&quot;,&quot;href&quot;:&quot;./Template:m&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fro&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;paier&quot;}},&quot;i&quot;:0}}]}" id="mwNw"><a rel="mw:WikiLink" href="./paier#Old_French" title="paier">paier</a></i>, from <span class="etyl" about="#mwt105" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh&quot;,&quot;href&quot;:&quot;./Template:inh&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;la&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;pacō&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;pacāre&quot;},&quot;t&quot;:{&quot;wt&quot;:&quot;pacify&quot;}},&quot;i&quot;:0}}]}" id="mwOA"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Latin" title="w:Latin" class="extiw">Latin</a>
   <link rel="mw:PageProp/Category" href="./Category:French_terms_inherited_from_Latin#PAYER">
   <link rel="mw:PageProp/Category" href="./Category:French_terms_derived_from_Latin#PAYER"></span><span about="#mwt105"> </span><i class="Latn mention" lang="la" about="#mwt105"><a rel="mw:WikiLink" href="./paco#Latin" title="paco">pacāre</a></i><span about="#mwt105"> </span><span class="mention-gloss-paren annotation-paren" about="#mwt105">(</span><span class="mention-gloss-double-quote" about="#mwt105">“</span><span class="mention-gloss" about="#mwt105">pacify</span><span class="mention-gloss-double-quote" about="#mwt105">”</span><span class="mention-gloss-paren annotation-paren" about="#mwt105" id="mwOQ">)</span>.</p>
</section>
<section data-mw-section-id="12" id="mwOg">
 <h3 id="Pronunciation_2">Pronunciation</h3>
 <ul id="mwOw">
  <li id="mwPA"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet" about="#mwt106" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;fr-IPA&quot;,&quot;href&quot;:&quot;./Template:fr-IPA&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwPQ">IPA</a><sup about="#mwt106">(<a rel="mw:WikiLink" href="./Appendix:French_pronunciation" title="Appendix:French pronunciation">key</a>)</sup><span about="#mwt106">:</span><span typeof="mw:Entity" about="#mwt106"> </span><span class="IPA" about="#mwt106">/pɛ.je/</span><span about="#mwt106"> ~ </span><span class="IPA" about="#mwt106">/pe.je/</span>
   <link rel="mw:PageProp/Category" href="./Category:French_2-syllable_words#PAYER" about="#mwt106">
   <link rel="mw:PageProp/Category" href="./Category:French_2-syllable_words#PAYER" about="#mwt106">
   <link rel="mw:PageProp/Category" href="./Category:French_terms_with_IPA_pronunciation#PAYER" about="#mwt106" id="mwPg"></li>
  <li id="mwPw">
   <link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r50165410" about="#mwt107" typeof="mw:Extension/templatestyles mw:Transclusion" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;audio/styles.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;},&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;audio&quot;,&quot;href&quot;:&quot;./Template:audio&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Fr-payer.ogg&quot;}},&quot;i&quot;:0}}]}" id="mwQA">
   <table class="audiotable" style="vertical-align: middle; display: inline-block; list-style: none; line-height: 1em; border-collapse: collapse; margin: 0;" about="#mwt107">
    <tbody>
     <tr>
      <td>Audio<span class="ib-colon qualifier-colon">:</span></td>
      <td class="audiofile"><span typeof="mw:File" class="mw-default-audio-height" data-mw="{&quot;caption&quot;:&quot;noicon&quot;}"><span title="noicon">
         <audio controls="" preload="none" data-mw-tmh="" height="32" width="175" style="width: 175px;" resource="./File:Fr-payer.ogg" data-durationhint="2" class="mw-file-element">
          <source src="//upload.wikimedia.org/wikipedia/commons/5/50/Fr-payer.ogg" type="audio/ogg; codecs=&quot;vorbis&quot;"><source src="//upload.wikimedia.org/wikipedia/commons/transcoded/5/50/Fr-payer.ogg/Fr-payer.ogg.mp3" type="audio/mpeg" data-transcodekey="mp3">
         </audio></span></span></td>
      <td class="audiometa" style="font-size: 80%;">(<a rel="mw:WikiLink" href="./File:Fr-payer.ogg" title="File:Fr-payer.ogg">file</a>)</td>
     </tr>
    </tbody>
   </table>
   <link rel="mw:PageProp/Category" href="./Category:French_terms_with_audio_pronunciation#PAYER" about="#mwt107" id="mwQQ"></li>
 </ul>
</section>
<section data-mw-section-id="13" id="mwQg">
 <h3 id="Verb">Verb</h3>
 <p id="mwQw"><span class="headword-line" about="#mwt110" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;fr-verb&quot;,&quot;href&quot;:&quot;./Template:fr-verb&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwRA"><strong class="Latn headword" lang="fr">payer</strong></span>
  <link rel="mw:PageProp/Category" href="./Category:French_lemmas#PAYER" about="#mwt110">
  <link rel="mw:PageProp/Category" href="./Category:French_verbs#PAYER" about="#mwt110">
  <link rel="mw:PageProp/Category" href="./Category:French_entries_with_incorrect_language_header#PAYER" about="#mwt110">
  <link rel="mw:PageProp/Category" href="./Category:Pages_with_entries#PAYER" about="#mwt110">
  <link rel="mw:PageProp/Category" href="./Category:Pages_with_4_entries#PAYER" about="#mwt110" id="mwRQ"></p>
 <ol id="mwRg">
  <li id="mwRw"><span class="usage-label-sense" about="#mwt111" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;}},&quot;i&quot;:0}}]}" id="mwSA"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#transitive" title="Appendix:Glossary">transitive</a>
     <link rel="mw:PageProp/Category" href="./Category:French_transitive_verbs#PAYER"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./pay" title="pay" id="mwSQ">pay</a> (for) 
   <dl id="mwSg">
    <dd id="mwSw">
     <span class="h-usage-example" about="#mwt112" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''payer''' une amende&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;pay a fine&quot;}},&quot;i&quot;:0}}]}" id="mwTA"><i class="Latn mention e-example" lang="fr"><b>payer</b> une amende</i> ― <span class="e-translation">pay a fine</span></span>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#PAYER" about="#mwt112" id="mwTQ">
    </dd>
    <dd id="mwTg">
     <span class="h-usage-example" about="#mwt113" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''payer''' un service&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;pay for a service&quot;}},&quot;i&quot;:0}}]}" id="mwTw"><i class="Latn mention e-example" lang="fr"><b>payer</b> un service</i> ― <span class="e-translation">pay for a service</span></span>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#PAYER" about="#mwt113" id="mwUA">
    </dd>
   </dl></li>
  <li id="mwUQ"><span class="usage-label-sense" about="#mwt114" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;}},&quot;i&quot;:0}}]}" id="mwUg"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#transitive" title="Appendix:Glossary">transitive</a>
     <link rel="mw:PageProp/Category" href="./Category:French_transitive_verbs#PAYER"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./pay" title="pay" id="mwUw">pay</a> (someone) 
   <dl id="mwVA">
    <dd id="mwVQ">
     <span class="h-usage-example" about="#mwt115" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;'''payer''' la caissière&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;pay the cashier&quot;}},&quot;i&quot;:0}}]}" id="mwVg"><i class="Latn mention e-example" lang="fr"><b>payer</b> la caissière</i> ― <span class="e-translation">pay the cashier</span></span>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#PAYER" about="#mwt115" id="mwVw">
    </dd>
    <dd id="mwWA">
     <span class="h-usage-example" about="#mwt116" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Il m'a '''payé''' 3 euros.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;He '''paid''' me 3 euros.&quot;}},&quot;i&quot;:0}}]}" id="mwWQ"><i class="Latn mention e-example" lang="fr">Il m’a <b>payé</b> 3 euros.</i> ― <span class="e-translation">He <b>paid</b> me 3 euros.</span></span>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#PAYER" about="#mwt116" id="mwWg">
    </dd>
   </dl></li>
  <li id="mwWw"><span class="usage-label-sense" about="#mwt117" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;}},&quot;i&quot;:0}}]}" id="mwXA"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#transitive" title="Appendix:Glossary">transitive</a>
     <link rel="mw:PageProp/Category" href="./Category:French_transitive_verbs#PAYER"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./buy" title="buy" id="mwXQ">buy</a> (something) 
   <dl id="mwXg">
    <dd id="mwXw">
     <span class="h-usage-example" about="#mwt118" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Nous '''payons''' les courses.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;We're '''buying''' the groceries.&quot;}},&quot;i&quot;:0}}]}" id="mwYA"><i class="Latn mention e-example" lang="fr">Nous <b>payons</b> les courses.</i> ― <span class="e-translation">We're <b>buying</b> the groceries.</span></span>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#PAYER" about="#mwt118" id="mwYQ">
    </dd>
   </dl></li>
  <li id="mwYg"><a rel="mw:WikiLink" href="./pay" title="pay" id="mwYw">pay</a> for <span class="gloss-brac" about="#mwt119" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;gloss&quot;,&quot;href&quot;:&quot;./Template:gloss&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;suffer the consequences of something&quot;}},&quot;i&quot;:0}}]}" id="mwZA">(</span><span class="gloss-content" about="#mwt119"><span class="Latn" lang="en">suffer the consequences of something</span></span><span class="gloss-brac" about="#mwt119" id="mwZQ">)</span>
   <dl id="mwZg">
    <dd id="mwZw">
     <span class="h-usage-example" about="#mwt120" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Tu vas '''payer''' pour ce que tu as fait à ma sœur.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;You're going to '''pay''' for what you did to my sister.&quot;}},&quot;i&quot;:0}}]}" id="mwaA"><i class="Latn mention e-example" lang="fr">Tu vas <b>payer</b> pour ce que tu as fait à ma sœur.</i> ― <span class="e-translation">You're going to <b>pay</b> for what you did to my sister.</span></span>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#PAYER" about="#mwt120" id="mwaQ">
    </dd>
   </dl></li>
  <li id="mwag">to <a rel="mw:WikiLink" href="./pay_off" title="pay off" id="mwaw">pay off</a> <span class="gloss-brac" about="#mwt121" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;gloss&quot;,&quot;href&quot;:&quot;./Template:gloss&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;to be fruitful&quot;}},&quot;i&quot;:0}}]}" id="mwbA">(</span><span class="gloss-content" about="#mwt121"><span class="Latn" lang="en">to be fruitful</span></span><span class="gloss-brac" about="#mwt121" id="mwbQ">)</span>
   <dl id="mwbg">
    <dd id="mwbw">
     <span class="h-usage-example" about="#mwt122" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;uxi&quot;,&quot;href&quot;:&quot;./Template:uxi&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Mes efforts ont '''payé'''.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;My efforts '''paid off'''.&quot;}},&quot;i&quot;:0}}]}" id="mwcA"><i class="Latn mention e-example" lang="fr">Mes efforts ont <b>payé</b>.</i> ― <span class="e-translation">My efforts <b>paid off</b>.</span></span>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#PAYER" about="#mwt122" id="mwcQ">
    </dd>
   </dl></li>
 </ol>
 <section data-mw-section-id="14" id="mwcg">
  <h4 id="Conjugation">Conjugation</h4>
  <p about="#mwt123" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;fr-conj-auto&quot;,&quot;href&quot;:&quot;./Template:fr-conj-auto&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwcw">This is a regular <i class="Latn mention" lang="fr"><a rel="mw:WikiLink" href="./-er#French" title="-er">-er</a></i> verb as far as pronunciation is concerned, but as with other verbs in <i>-ayer</i> (such as <i class="Latn mention" lang="fr"><a rel="mw:WikiLink" href="./payer#French" class="mw-selflink-fragment">payer</a></i> and <i class="Latn mention" lang="fr"><a rel="mw:WikiLink" href="./essayer#French" title="essayer">essayer</a></i>), the <span typeof="mw:Entity">&lt;</span>y<span typeof="mw:Entity">&gt;</span> of its stem may optionally be written as <span typeof="mw:Entity">&lt;</span>i<span typeof="mw:Entity">&gt;</span> when it precedes a silent <span typeof="mw:Entity">&lt;</span>e<span typeof="mw:Entity">&gt;</span> (compare verbs in <i>-eyer</i>, which never have this spelling change, and verbs in <i>-oyer</i> and <i>-uyer</i>, which always have it; verbs in <i>-ayer</i> belong to either group, according to the writer's preference).</p><span about="#mwt123"> </span>
  <div class="NavFrame" style="clear:both" about="#mwt123">
   <div class="NavHead" align="left">
    Conjugation of <i>payer</i> <span style="font-size:90%;">(see also <a rel="mw:WikiLink" href="./Appendix:French_verbs" title="Appendix:French verbs">Appendix:French verbs</a>)</span>
   </div>
   <div class="NavContent" align="center">
    <table style="background:#F0F0F0;width:100%;border-collapse:separate;border-spacing:2px" class="inflection-table">
     <tbody>
      <tr>
       <th colspan="1" rowspan="2" style="background:#e2e4c0"><span title="infinitif">infinitive</span></th>
       <th colspan="1" style="height:3em;background:#e2e4c0"><small>simple</small></th>
       <td>payer</td>
      </tr>
      <tr>
       <th colspan="1" style="height:3em;background:#e2e4c0"><small>compound</small></th>
       <th colspan="6" style="background:#DEDEDE"><i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th colspan="1" rowspan="2" style="background:#e2e4c0"><span title="participe présent">present participle</span> or <span title="">gerund</span><sup>1</sup></th>
       <th colspan="1" style="height:3em;background:#e2e4c0"><small>simple</small></th>
       <td><span class="Latn form-of lang-fr ppr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payant#French" title="payant">payant</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jɑ̃/</span> or <span class="IPA">/pe.jɑ̃/</span></span></td>
      </tr>
      <tr>
       <th colspan="1" style="height:3em;background:#e2e4c0"><small>compound</small></th>
       <th colspan="6" style="background:#DEDEDE"><i><a rel="mw:WikiLink" href="./ayant" title="ayant">ayant</a></i> + past participle</th>
      </tr>
      <tr>
       <th colspan="2" style="background:#e2e4c0"><span title="participe passé">past participle</span></th>
       <td><span class="Latn form-of lang-fr pp-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payé#French" title="payé">payé</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.je/</span> or <span class="IPA">/pe.je/</span></span></td>
      </tr>
      <tr>
       <th colspan="2" rowspan="2"></th>
       <th colspan="3" style="background:#C0C0C0">singular</th>
       <th colspan="3" style="background:#C0C0C0">plural</th>
      </tr>
      <tr>
       <th style="background:#C0C0C0;width:12.5%">first</th>
       <th style="background:#C0C0C0;width:12.5%">second</th>
       <th style="background:#C0C0C0;width:12.5%">third</th>
       <th style="background:#C0C0C0;width:12.5%">first</th>
       <th style="background:#C0C0C0;width:12.5%">second</th>
       <th style="background:#C0C0C0;width:12.5%">third</th>
      </tr>
      <tr>
       <th style="background:#c0cfe4" colspan="2"><span title="indicatif">indicative</span></th>
       <th style="background:#c0cfe4">je (j’)</th>
       <th style="background:#c0cfe4">tu</th>
       <th style="background:#c0cfe4">il, elle, on</th>
       <th style="background:#c0cfe4">nous</th>
       <th style="background:#c0cfe4">vous</th>
       <th style="background:#c0cfe4">ils, elles</th>
      </tr>
      <tr>
       <th rowspan="5" style="background:#c0cfe4"><small>(simple<br>
         tenses)</small></th>
       <th style="height:3em;background:#c0cfe4"><span title="présent">present</span></th>
       <td><span class="Latn form-of lang-fr 1|s|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paye#French" title="paye">paye</a></span> or <span class="Latn form-of lang-fr 1|s|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paie#French" title="paie">paie</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj/</span> or <span class="IPA">/pɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payes#French" title="payes">payes</a></span> or <span class="Latn form-of lang-fr 2|s|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paies#French" title="paies">paies</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj/</span> or <span class="IPA">/pɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paye#French" title="paye">paye</a></span> or <span class="Latn form-of lang-fr 3|s|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paie#French" title="paie">paie</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj/</span> or <span class="IPA">/pɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payons#French" title="payons">payons</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jɔ̃/</span> or <span class="IPA">/pe.jɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payez#French" title="payez">payez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.je/</span> or <span class="IPA">/pe.je/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payent#French" title="payent">payent</a></span> or <span class="Latn form-of lang-fr 3|p|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paient#French" title="paient">paient</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj/</span> or <span class="IPA">/pɛ/</span></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="imparfait">imperfect</span></th>
       <td><span class="Latn form-of lang-fr 1|s|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payais#French" title="payais">payais</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jɛ/</span> or <span class="IPA">/pe.jɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payais#French" title="payais">payais</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jɛ/</span> or <span class="IPA">/pe.jɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payait#French" title="payait">payait</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jɛ/</span> or <span class="IPA">/pe.jɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payions#French" title="payions">payions</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.jɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payiez#French" title="payiez">payiez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.je/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payaient#French" title="payaient">payaient</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jɛ/</span> or <span class="IPA">/pe.jɛ/</span></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="passé simple">past historic</span><sup>2</sup></th>
       <td><span class="Latn form-of lang-fr 1|s|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payai#French" title="payai">payai</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.je/</span> or <span class="IPA">/pe.je/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payas#French" title="payas">payas</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.ja/</span> or <span class="IPA">/pe.ja/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paya#French" title="paya">paya</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.ja/</span> or <span class="IPA">/pe.ja/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payâmes#French" title="payâmes">payâmes</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jam/</span> or <span class="IPA">/pe.jam/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payâtes#French" title="payâtes">payâtes</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jat/</span> or <span class="IPA">/pe.jat/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payèrent#French" title="payèrent">payèrent</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jɛʁ/</span> or <span class="IPA">/pe.jɛʁ/</span></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="futur simple">future</span></th>
       <td><span class="Latn form-of lang-fr 1|s|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payerai#French" title="payerai">payerai</a></span> or <span class="Latn form-of lang-fr 1|s|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paierai#French" title="paierai">paierai</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.ʁe/</span> or <span class="IPA">/pɛ.ʁe/</span> or <span class="IPA">/pe.ʁe/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payeras#French" title="payeras">payeras</a></span> or <span class="Latn form-of lang-fr 2|s|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paieras#French" title="paieras">paieras</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.ʁa/</span> or <span class="IPA">/pɛ.ʁa/</span> or <span class="IPA">/pe.ʁa/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payera#French" title="payera">payera</a></span> or <span class="Latn form-of lang-fr 3|s|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paiera#French" title="paiera">paiera</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.ʁa/</span> or <span class="IPA">/pɛ.ʁa/</span> or <span class="IPA">/pe.ʁa/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payerons#French" title="payerons">payerons</a></span> or <span class="Latn form-of lang-fr 1|p|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paierons#French" title="paierons">paierons</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.ʁɔ̃/</span> or <span class="IPA">/pɛ.ʁɔ̃/</span> or <span class="IPA">/pe.ʁɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payerez#French" title="payerez">payerez</a></span> or <span class="Latn form-of lang-fr 2|p|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paierez#French" title="paierez">paierez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.ʁe/</span> or <span class="IPA">/pɛ.ʁe/</span> or <span class="IPA">/pe.ʁe/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payeront#French" title="payeront">payeront</a></span> or <span class="Latn form-of lang-fr 3|p|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paieront#French" title="paieront">paieront</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.ʁɔ̃/</span> or <span class="IPA">/pɛ.ʁɔ̃/</span> or <span class="IPA">/pe.ʁɔ̃/</span></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="conditionnel présent">conditional</span></th>
       <td><span class="Latn form-of lang-fr 1|s|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payerais#French" title="payerais">payerais</a></span> or <span class="Latn form-of lang-fr 1|s|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paierais#French" title="paierais">paierais</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.ʁɛ/</span> or <span class="IPA">/pɛ.ʁɛ/</span> or <span class="IPA">/pe.ʁɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payerais#French" title="payerais">payerais</a></span> or <span class="Latn form-of lang-fr 2|s|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paierais#French" title="paierais">paierais</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.ʁɛ/</span> or <span class="IPA">/pɛ.ʁɛ/</span> or <span class="IPA">/pe.ʁɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payerait#French" title="payerait">payerait</a></span> or <span class="Latn form-of lang-fr 3|s|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paierait#French" title="paierait">paierait</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.ʁɛ/</span> or <span class="IPA">/pɛ.ʁɛ/</span> or <span class="IPA">/pe.ʁɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payerions#French" title="payerions">payerions</a></span> or <span class="Latn form-of lang-fr 1|p|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paierions#French" title="paierions">paierions</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jə.ʁjɔ̃/</span> or <span class="IPA">/pe.jə.ʁjɔ̃/</span> or <span class="IPA">/pɛ.ʁjɔ̃/</span> or <span class="IPA">/pe.ʁjɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payeriez#French" title="payeriez">payeriez</a></span> or <span class="Latn form-of lang-fr 2|p|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paieriez#French" title="paieriez">paieriez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jə.ʁje/</span> or <span class="IPA">/pe.jə.ʁje/</span> or <span class="IPA">/pɛ.ʁje/</span> or <span class="IPA">/pe.ʁje/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payeraient#French" title="payeraient">payeraient</a></span> or <span class="Latn form-of lang-fr 3|p|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paieraient#French" title="paieraient">paieraient</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.ʁɛ/</span> or <span class="IPA">/pɛ.ʁɛ/</span> or <span class="IPA">/pe.ʁɛ/</span></span></td>
      </tr>
      <tr>
       <th rowspan="5" style="background:#c0cfe4"><small>(compound<br>
         tenses)</small></th>
       <th style="height:3em;background:#c0cfe4"><span title="passé composé">present perfect</span></th>
       <th colspan="6" style="background:#DEDEDE">present indicative of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="plus-que-parfait">pluperfect</span></th>
       <th colspan="6" style="background:#DEDEDE">imperfect indicative of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="passé antérieur">past anterior</span><sup>2</sup></th>
       <th colspan="6" style="background:#DEDEDE">past historic of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="futur antérieur">future perfect</span></th>
       <th colspan="6" style="background:#DEDEDE">future of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="conditionnel passé">conditional perfect</span></th>
       <th colspan="6" style="background:#DEDEDE">conditional of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="background:#c0e4c0" colspan="2"><span title="subjonctif">subjunctive</span></th>
       <th style="background:#c0e4c0">que je (j’)</th>
       <th style="background:#c0e4c0">que tu</th>
       <th style="background:#c0e4c0">qu’il, qu’elle</th>
       <th style="background:#c0e4c0">que nous</th>
       <th style="background:#c0e4c0">que vous</th>
       <th style="background:#c0e4c0">qu’ils, qu’elles</th>
      </tr>
      <tr>
       <th rowspan="2" style="background:#c0e4c0"><small>(simple<br>
         tenses)</small></th>
       <th style="height:3em;background:#c0e4c0"><span title="subjonctif présent">present</span></th>
       <td><span class="Latn form-of lang-fr 1|s|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paye#French" title="paye">paye</a></span> or <span class="Latn form-of lang-fr 1|s|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paie#French" title="paie">paie</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj/</span> or <span class="IPA">/pɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payes#French" title="payes">payes</a></span> or <span class="Latn form-of lang-fr 2|s|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paies#French" title="paies">paies</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj/</span> or <span class="IPA">/pɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paye#French" title="paye">paye</a></span> or <span class="Latn form-of lang-fr 3|s|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paie#French" title="paie">paie</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj/</span> or <span class="IPA">/pɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payions#French" title="payions">payions</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.jɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payiez#French" title="payiez">payiez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj.je/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payent#French" title="payent">payent</a></span> or <span class="Latn form-of lang-fr 3|p|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paient#French" title="paient">paient</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj/</span> or <span class="IPA">/pɛ/</span></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#c0e4c0" rowspan="1"><span title="subjonctif imparfait">imperfect</span><sup>2</sup></th>
       <td><span class="Latn form-of lang-fr 1|s|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payasse#French" title="payasse">payasse</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jas/</span> or <span class="IPA">/pe.jas/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payasses#French" title="payasses">payasses</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jas/</span> or <span class="IPA">/pe.jas/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payât#French" title="payât">payât</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.ja/</span> or <span class="IPA">/pe.ja/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payassions#French" title="payassions">payassions</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.ja.sjɔ̃/</span> or <span class="IPA">/pe.ja.sjɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payassiez#French" title="payassiez">payassiez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.ja.sje/</span> or <span class="IPA">/pe.ja.sje/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payassent#French" title="payassent">payassent</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jas/</span> or <span class="IPA">/pe.jas/</span></span></td>
      </tr>
      <tr>
       <th rowspan="2" style="background:#c0e4c0"><small>(compound<br>
         tenses)</small></th>
       <th style="height:3em;background:#c0e4c0"><span title="subjonctif passé">past</span></th>
       <th colspan="6" style="background:#DEDEDE">present subjunctive of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="height:3em;background:#c0e4c0"><span title="subjonctif plus-que-parfait">pluperfect</span><sup>2</sup></th>
       <th colspan="6" style="background:#DEDEDE">imperfect subjunctive of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th colspan="2" style="background:#e4d4c0"><span title="impératif">imperative</span></th>
       <th style="background:#e4d4c0">–</th>
       <th style="background:#e4d4c0"><s>tu</s></th>
       <th style="background:#e4d4c0">–</th>
       <th style="background:#e4d4c0"><s>nous</s></th>
       <th style="background:#e4d4c0"><s>vous</s></th>
       <th style="background:#e4d4c0">–</th>
      </tr>
      <tr>
       <th style="height:3em;background:#e4d4c0" colspan="2"><span title="">simple</span></th>
       <td>—</td>
       <td><span class="Latn form-of lang-fr 2|s|impr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paye#French" title="paye">paye</a></span> or <span class="Latn form-of lang-fr 2|s|impr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./paie#French" title="paie">paie</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛj/</span> or <span class="IPA">/pɛ/</span></span></td>
       <td>—</td>
       <td><span class="Latn form-of lang-fr 1|p|impr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payons#French" title="payons">payons</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.jɔ̃/</span> or <span class="IPA">/pe.jɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|impr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./payez#French" title="payez">payez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/pɛ.je/</span> or <span class="IPA">/pe.je/</span></span></td>
       <td>—</td>
      </tr>
      <tr>
       <th style="height:3em;background:#e4d4c0" colspan="2"><span title="">compound</span></th>
       <td>—</td>
       <th style="background:#DEDEDE">simple imperative of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
       <td>—</td>
       <th style="background:#DEDEDE">simple imperative of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
       <th style="background:#DEDEDE">simple imperative of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
       <td>—</td>
      </tr>
      <tr>
       <td colspan="8"><sup>1</sup> The French gerund is usable only with the preposition <i><a rel="mw:WikiLink" href="./en" title="en">en</a></i>.</td>
      </tr>
      <tr>
       <td colspan="8"><sup>2</sup> In less formal writing or speech, these tenses may be found to have been replaced in the following way: 
        <ul>
         <li>past historic → present perfect</li>
         <li>past anterior → pluperfect</li>
         <li>imperfect subjunctive → present subjunctive</li>
         <li>pluperfect subjunctive → past subjunctive</li>
        </ul>
        <p>(Christopher Kendris [1995], <i>Master the Basics: French</i>, pp. <a rel="mw:ExtLink nofollow" href="https://books.google.fr/books?id=g4G4jg5GWMwC&amp;pg=PA77" class="external text">77</a>, <a rel="mw:ExtLink nofollow" href="https://books.google.fr/books?id=g4G4jg5GWMwC&amp;pg=PA78" class="external text">78</a>, <a rel="mw:ExtLink nofollow" href="https://books.google.fr/books?id=g4G4jg5GWMwC&amp;pg=PA79" class="external text">79</a>, <a rel="mw:ExtLink nofollow" href="https://books.google.fr/books?id=g4G4jg5GWMwC&amp;pg=PA81" class="external text">81</a>).</p></td>
      </tr>
     </tbody>
    </table>
   </div>
  </div><span about="#mwt123"> </span>
  <link rel="mw:PageProp/Category" href="./Category:French_verbs_with_conjugation_-ayer#PAYER" about="#mwt123">
  <link rel="mw:PageProp/Category" href="./Category:French_first_group_verbs#PAYER" about="#mwt123" id="mwdA">
 </section>
 <section data-mw-section-id="15" id="mwdQ">
  <h4 id="Derived_terms_2">Derived terms</h4>
  <div class="list-switcher" data-toggle-category="derived terms" about="#mwt124" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;col3&quot;,&quot;href&quot;:&quot;./Template:col3&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr\n&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;le crime ne paie pas\n&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;ne pas payer de mine\n&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;paie\n&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;paiement\n&quot;},&quot;6&quot;:{&quot;wt&quot;:&quot;payable\n&quot;},&quot;7&quot;:{&quot;wt&quot;:&quot;paye\n&quot;},&quot;8&quot;:{&quot;wt&quot;:&quot;payement\n&quot;},&quot;9&quot;:{&quot;wt&quot;:&quot;payer de sa poche\n&quot;},&quot;10&quot;:{&quot;wt&quot;:&quot;payer cher\n&quot;},&quot;11&quot;:{&quot;wt&quot;:&quot;payer le prix fort\n&quot;},&quot;12&quot;:{&quot;wt&quot;:&quot;payer les pots cassés\n&quot;},&quot;13&quot;:{&quot;wt&quot;:&quot;payeur\n&quot;},&quot;14&quot;:{&quot;wt&quot;:&quot;se payer la poire\n&quot;},&quot;15&quot;:{&quot;wt&quot;:&quot;se payer la tête\n&quot;}},&quot;i&quot;:0}}]}" id="mwdg">
   <div class="columns-bg term-list ul-column-count" data-column-count="3">
    <ul>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./le_crime_ne_paie_pas#French" title="le crime ne paie pas">le crime ne paie pas</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./ne_pas_payer_de_mine#French" title="ne pas payer de mine">ne pas payer de mine</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./paie#French" title="paie">paie</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./paiement#French" title="paiement">paiement</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./payable#French" title="payable">payable</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./paye#French" title="paye">paye</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./payement#French" title="payement">payement</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./payer_cher#French" title="payer cher">payer cher</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./payer_de_sa_poche#French" title="payer de sa poche">payer de sa poche</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./payer_le_prix_fort#French" title="payer le prix fort">payer le prix fort</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./payer_les_pots_cassés#French" title="payer les pots cassés">payer les pots cassés</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./payeur#French" title="payeur">payeur</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./se_payer_la_poire#French" title="se payer la poire">se payer la poire</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./se_payer_la_tête#French" title="se payer la tête">se payer la tête</a></span></li>
    </ul>
   </div>
   <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display:none">
    &nbsp;
   </div>
  </div>
 </section>
 <section data-mw-section-id="16" id="mwdw">
  <h4 id="Related_terms">Related terms</h4>
  <ul id="mweA">
   <li id="mweQ"><span class="Latn" lang="fr" about="#mwt125" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;paix&quot;}},&quot;i&quot;:0}}]}" id="mweg"><a rel="mw:WikiLink" href="./paix#French" title="paix">paix</a></span></li>
  </ul>
 </section>
 <section data-mw-section-id="17" id="mwew">
  <h4 id="Descendants">Descendants</h4>
  <ul id="mwfA">
   <li id="mwfQ"><span about="#mwt126" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;desc&quot;,&quot;href&quot;:&quot;./Template:desc&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ht&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;peye&quot;}},&quot;i&quot;:0}}]}" id="mwfg">Haitian Creole: </span><span class="Latn" lang="ht" about="#mwt126"><a rel="mw:WikiLink" href="./peye#Haitian_Creole" title="peye">peye</a></span>
    <style data-mw-deduplicate="TemplateStyles:r68481116" typeof="mw:Extension/templatestyles" about="#mwt126" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;Module:etymology/style.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;}}">.mw-parser-output .desc-arr[title]{cursor:help}.mw-parser-output .desc-arr[title="uncertain"]{font-size:.7em;vertical-align:super}</style></li>
  </ul>
 </section>
</section>
<section data-mw-section-id="18" id="mwfw">
 <h3 id="Further_reading">Further reading</h3>
 <ul id="mwgA">
  <li id="mwgQ"><span class="citation-whole" about="#mwt129" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:fr:TLFi&quot;,&quot;href&quot;:&quot;./Template:R:fr:TLFi&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwgg"><span class="cited-source">“<a rel="mw:ExtLink nofollow" href="https://www.cnrtl.fr/definition/payer/" class="external text">payer</a>”, in <cite><span class="Latn" lang="fr"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Trésor%20de%20la%20langue%20française%20informatisé" title="w:Trésor de la langue française informatisé" class="extiw">Trésor de la langue française informatisé</a></span> <span style="font-style: normal;">[</span>Digitized Treasury of the French Language<span style="font-style: normal;">]</span></cite>, <span class="None" lang="und">2012</span></span></span><span about="#mwt129">.</span></li>
 </ul>
</section>
