<h2 id="French">French</h2>
<section data-mw-section-id="2" id="mwBA">
 <h3 id="Etymology">Etymology</h3>
 <link rel="mw:PageProp/Category" href="./Category:French_terms_derived_from_Proto-Indo-European#VOULOIR" about="#mwt1" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;root&quot;,&quot;href&quot;:&quot;./Template:root&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;ine-pro&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;*welh₁-&quot;}},&quot;i&quot;:0}}]}" id="mwBQ">
 <link rel="mw:PageProp/Category" href="./Category:French_terms_derived_from_the_Proto-Indo-European_root_*welh₁-#VOULOIR" about="#mwt1" id="mwBg">
 <p id="mwBw"><a rel="mw:WikiLink" href="./Appendix:Glossary#inherited" title="Appendix:Glossary" about="#mwt2" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh+&quot;,&quot;href&quot;:&quot;./Template:inh+&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fro&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;voloir&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;voloir, voleir&quot;}},&quot;i&quot;:0}}]}" id="mwCA">Inherited</a><span about="#mwt2"> from </span><span class="etyl" about="#mwt2"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Old%20French" title="w:Old French" class="extiw">Old French</a>
   <link rel="mw:PageProp/Category" href="./Category:French_terms_inherited_from_Old_French#VOULOIR">
   <link rel="mw:PageProp/Category" href="./Category:French_terms_derived_from_Old_French#VOULOIR"></span><span about="#mwt2"> </span><i class="Latn mention" lang="fro" about="#mwt2" id="mwCQ"><a rel="mw:WikiLink" href="./voloir#Old_French" title="voloir">voloir, voleir</a></i>, from <span class="etyl" about="#mwt3" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh&quot;,&quot;href&quot;:&quot;./Template:inh&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;VL.&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;voleo&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;volēre&quot;}},&quot;i&quot;:0}}]}" id="mwCg"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Vulgar%20Latin" title="w:Vulgar Latin" class="extiw">Vulgar Latin</a>
   <link rel="mw:PageProp/Category" href="./Category:French_terms_inherited_from_Vulgar_Latin#VOULOIR">
   <link rel="mw:PageProp/Category" href="./Category:French_terms_derived_from_Vulgar_Latin#VOULOIR"></span><span about="#mwt3"> </span><i class="Latn mention" lang="la" about="#mwt3" id="mwCw"><a rel="mw:WikiLink" href="./voleo#Latin" title="voleo">volēre</a></i>, regularized from <span class="etyl" about="#mwt4" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh&quot;,&quot;href&quot;:&quot;./Template:inh&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;la&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;volō&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;velle&quot;}},&quot;i&quot;:0}}]}" id="mwDA"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Latin" title="w:Latin" class="extiw">Latin</a>
   <link rel="mw:PageProp/Category" href="./Category:French_terms_inherited_from_Latin#VOULOIR">
   <link rel="mw:PageProp/Category" href="./Category:French_terms_derived_from_Latin#VOULOIR"></span><span about="#mwt4"> </span><i class="Latn mention" lang="la" about="#mwt4" id="mwDQ"><a rel="mw:WikiLink" href="./volo#Latin" title="volo">velle</a></i>.</p>
</section>
<section data-mw-section-id="3" id="mwDg">
 <h3 id="Pronunciation">Pronunciation</h3>
 <ul id="mwDw">
  <li id="mwEA"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet" about="#mwt5" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;fr-IPA&quot;,&quot;href&quot;:&quot;./Template:fr-IPA&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwEQ">IPA</a><sup about="#mwt5">(<a rel="mw:WikiLink" href="./Appendix:French_pronunciation" title="Appendix:French pronunciation">key</a>)</sup><span about="#mwt5">:</span><span typeof="mw:Entity" about="#mwt5"> </span><span class="IPA" about="#mwt5">/vu.lwaʁ/</span>
   <link rel="mw:PageProp/Category" href="./Category:French_2-syllable_words#VOULOIR" about="#mwt5">
   <link rel="mw:PageProp/Category" href="./Category:French_terms_with_IPA_pronunciation#VOULOIR" about="#mwt5" id="mwEg"></li>
  <li id="mwEw">
   <style data-mw-deduplicate="TemplateStyles:r50165410" typeof="mw:Extension/templatestyles mw:Transclusion" about="#mwt6" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;audio/styles.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;},&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;audio&quot;,&quot;href&quot;:&quot;./Template:audio&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Fr-vouloir.ogg&quot;}},&quot;i&quot;:0}}]}" id="mwFA">.mw-parser-output .k-player .k-attribution{visibility:hidden}</style>
   <table class="audiotable" style="vertical-align: middle; display: inline-block; list-style: none; line-height: 1em; border-collapse: collapse; margin: 0;" about="#mwt6">
    <tbody>
     <tr>
      <td>Audio<span class="ib-colon qualifier-colon">:</span></td>
      <td class="audiofile"><span typeof="mw:File" class="mw-default-audio-height" data-mw="{&quot;caption&quot;:&quot;noicon&quot;}"><span title="noicon">
         <audio controls="" preload="none" data-mw-tmh="" height="32" width="175" style="width: 175px;" resource="./File:Fr-vouloir.ogg" data-durationhint="2" class="mw-file-element">
          <source src="//upload.wikimedia.org/wikipedia/commons/f/ff/Fr-vouloir.ogg" type="audio/ogg; codecs=&quot;vorbis&quot;"><source src="//upload.wikimedia.org/wikipedia/commons/transcoded/f/ff/Fr-vouloir.ogg/Fr-vouloir.ogg.mp3" type="audio/mpeg" data-transcodekey="mp3">
         </audio></span></span></td>
      <td class="audiometa" style="font-size: 80%;">(<a rel="mw:WikiLink" href="./File:Fr-vouloir.ogg" title="File:Fr-vouloir.ogg">file</a>)</td>
     </tr>
    </tbody>
   </table>
   <link rel="mw:PageProp/Category" href="./Category:French_terms_with_audio_pronunciation#VOULOIR" about="#mwt6" id="mwFQ"></li>
  <li id="mwFg"><span about="#mwt9" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rhymes&quot;,&quot;href&quot;:&quot;./Template:rhymes&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;waʁ&quot;}},&quot;i&quot;:0}}]}" id="mwFw">Rhymes: </span><a rel="mw:WikiLink" href="./Rhymes:French/waʁ" title="Rhymes:French/waʁ" about="#mwt9"><span class="IPA">-waʁ</span></a>
   <link rel="mw:PageProp/Category" href="./Category:Rhymes:French/waʁ#VOULOIR" about="#mwt9" id="mwGA"></li>
 </ul>
</section>
<section data-mw-section-id="4" id="mwGQ">
 <h3 id="Verb">Verb</h3>
 <p id="mwGg"><span class="headword-line" about="#mwt10" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;fr-verb&quot;,&quot;href&quot;:&quot;./Template:fr-verb&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwGw"><strong class="Latn headword" lang="fr">vouloir</strong></span>
  <link rel="mw:PageProp/Category" href="./Category:French_lemmas#VOULOIR" about="#mwt10">
  <link rel="mw:PageProp/Category" href="./Category:French_verbs#VOULOIR" about="#mwt10">
  <link rel="mw:PageProp/Category" href="./Category:French_entries_with_incorrect_language_header#VOULOIR" about="#mwt10">
  <link rel="mw:PageProp/Category" href="./Category:Pages_with_entries#VOULOIR" about="#mwt10">
  <link rel="mw:PageProp/Category" href="./Category:Pages_with_1_entry#VOULOIR" about="#mwt10" id="mwHA"></p>
 <ol id="mwHQ">
  <li id="mwHg"><span class="usage-label-sense" about="#mwt11" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;transitive&quot;}},&quot;i&quot;:0}}]}" id="mwHw"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#transitive" title="Appendix:Glossary">transitive</a>
     <link rel="mw:PageProp/Category" href="./Category:French_transitive_verbs#VOULOIR"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./want" title="want" id="mwIA">want</a>, <a rel="mw:WikiLink" href="./wish" title="wish" id="mwIQ">wish</a>, <a rel="mw:WikiLink" href="./desire" title="desire" id="mwIg">desire</a>
   <dl id="mwIw">
    <dd id="mwJA">
     <div class="h-usage-example" about="#mwt12" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Je '''veux''' voir le soleil.&quot;},&quot;t&quot;:{&quot;wt&quot;:&quot;I '''want''' to see the sun.&quot;}},&quot;i&quot;:0}}]}" id="mwJQ">
      <i class="Latn mention e-example" lang="fr">Je <b>veux</b> voir le soleil.</i>
      <dl>
       <dd>
        <span class="e-translation">I <b>want</b> to see the sun.</span>
       </dd>
      </dl>
     </div>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#VOULOIR" about="#mwt12" id="mwJg">
    </dd>
    <dd id="mwJw">
     <div class="h-usage-example" about="#mwt13" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Hitler '''voulait''' la guerre, mais beaucoup n'en étaient pas conscients.&quot;},&quot;t&quot;:{&quot;wt&quot;:&quot;Hitler '''wanted''' war, but many were not aware of it.&quot;}},&quot;i&quot;:0}}]}" id="mwKA">
      <i class="Latn mention e-example" lang="fr">Hitler <b>voulait</b> la guerre, mais beaucoup n’en étaient pas conscients.</i>
      <dl>
       <dd>
        <span class="e-translation">Hitler <b>wanted</b> war, but many were not aware of it.</span>
       </dd>
      </dl>
     </div>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#VOULOIR" about="#mwt13" id="mwKQ">
    </dd>
   </dl>
   <ul id="mwKg">
    <li id="mwKw">
     <div class="citation-whole" about="#mwt14" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;quote-book&quot;,&quot;href&quot;:&quot;./Template:quote-book&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;title&quot;:{&quot;wt&quot;:&quot;lw:fr:Notre-Dame de Paris&quot;},&quot;trans-title&quot;:{&quot;wt&quot;:&quot;{{w|The Hunchback of Notre-Dame}}&quot;},&quot;year&quot;:{&quot;wt&quot;:&quot;1831&quot;},&quot;text&quot;:{&quot;wt&quot;:&quot;Quand je t'eus vue deux fois, je '''voulus''' te voir mille, je '''voulus''' te voir toujours.&quot;},&quot;author&quot;:{&quot;wt&quot;:&quot;w:Victor Hugo&quot;},&quot;t&quot;:{&quot;wt&quot;:&quot;Having seen you twice, I '''wanted''' to see you a thousand times, I '''wanted''' to see you always.&quot;}},&quot;i&quot;:0}}]}" id="mwLA">
      <span class="cited-source"><span class="None" lang="und"><b>1831</b></span>, <a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Victor%20Hugo" title="w:Victor Hugo" class="extiw">Victor Hugo</a>, <cite><span class="Latn" lang="fr"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/fr:Notre-Dame%20de%20Paris" title="w:fr:Notre-Dame de Paris" class="extiw">Notre-Dame de Paris</a></span></cite> <span typeof="mw:Entity">[</span><cite><span class="e-translation"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/The%20Hunchback%20of%20Notre-Dame" title="w:The Hunchback of Notre-Dame" class="extiw">The Hunchback of Notre-Dame</a></span></cite><span typeof="mw:Entity">]</span>:</span>
      <dl>
       <dd>
        <div class="h-quotation">
         <span class="Latn e-quotation cited-passage" lang="fr">Quand je t’eus vue deux fois, je <b>voulus</b> te voir mille, je <b>voulus</b> te voir toujours.</span>
         <dl>
          <dd>
           <span class="e-translation">Having seen you twice, I <b>wanted</b> to see you a thousand times, I <b>wanted</b> to see you always.</span>
          </dd>
         </dl>
        </div>
        <link rel="mw:PageProp/Category" href="./Category:French_terms_with_quotations#VOULOIR">
       </dd>
      </dl>
     </div></li>
   </ul></li>
  <li id="mwLQ"><span class="usage-label-sense" about="#mwt15" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;reflexive&quot;}},&quot;i&quot;:0}}]}" id="mwLg"><span class="ib-brac">(</span><span class="ib-content"><a rel="mw:WikiLink" href="./Appendix:Glossary#reflexive" title="Appendix:Glossary">reflexive</a>
     <link rel="mw:PageProp/Category" href="./Category:French_reflexive_verbs#VOULOIR"></span><span class="ib-brac">)</span></span> to <a rel="mw:WikiLink" href="./see" title="see" id="mwLw">see</a> oneself as; to give the <a rel="mw:WikiLink" href="./impression" title="impression" id="mwMA">impression</a> of, to <a rel="mw:WikiLink" href="./seem" title="seem" id="mwMQ">seem</a></li>
 </ol>
 <section data-mw-section-id="5" id="mwMg">
  <h4 id="Usage_notes">Usage notes</h4>
  <ul id="mwMw">
   <li id="mwNA"><i class="Latn mention" lang="fr" about="#mwt16" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;m-self&quot;,&quot;href&quot;:&quot;./Template:m-self&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;vouloir&quot;}},&quot;i&quot;:0}}]}" id="mwNQ"><a rel="mw:WikiLink" href="./vouloir#French" class="mw-selflink-fragment">vouloir</a></i> <i class="Latn mention" lang="fr" about="#mwt17" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;m&quot;,&quot;href&quot;:&quot;./Template:m&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;que&quot;}},&quot;i&quot;:0}}]}" id="mwNg"><a rel="mw:WikiLink" href="./que#French" title="que">que</a></i> takes the subjunctive.</li>
   <li id="mwNw">The second-person singular and plural imperatives have alternative forms: <i class="Latn mention" lang="fr" about="#mwt18" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;m&quot;,&quot;href&quot;:&quot;./Template:m&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;veuille&quot;}},&quot;i&quot;:0}}]}" id="mwOA"><a rel="mw:WikiLink" href="./veuille#French" title="veuille">veuille</a></i> and <i class="Latn mention" lang="fr" about="#mwt19" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;m&quot;,&quot;href&quot;:&quot;./Template:m&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;veuillez&quot;}},&quot;i&quot;:0}}]}" id="mwOQ"><a rel="mw:WikiLink" href="./veuillez#French" title="veuillez">veuillez</a></i>, which have slight differences in usage. See individual articles for details.</li>
  </ul>
 </section>
 <section data-mw-section-id="6" id="mwOg">
  <h4 id="Conjugation">Conjugation</h4>
  <div class="NavFrame" style="clear:both" about="#mwt20" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;fr-conj-auto&quot;,&quot;href&quot;:&quot;./Template:fr-conj-auto&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwOw">
   <div class="NavHead" align="left">
    Conjugation of <i>vouloir</i> <span style="font-size:90%;">(see also <a rel="mw:WikiLink" href="./Appendix:French_verbs" title="Appendix:French verbs">Appendix:French verbs</a>)</span>
   </div>
   <div class="NavContent" align="center">
    <table style="background:#F0F0F0;width:100%;border-collapse:separate;border-spacing:2px" class="inflection-table">
     <tbody>
      <tr>
       <th colspan="1" rowspan="2" style="background:#e2e4c0"><span title="infinitif">infinitive</span></th>
       <th colspan="1" style="height:3em;background:#e2e4c0"><small>simple</small></th>
       <td>vouloir</td>
      </tr>
      <tr>
       <th colspan="1" style="height:3em;background:#e2e4c0"><small>compound</small></th>
       <th colspan="6" style="background:#DEDEDE"><i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th colspan="1" rowspan="2" style="background:#e2e4c0"><span title="participe présent">present participle</span> or <span title="">gerund</span><sup>1</sup></th>
       <th colspan="1" style="height:3em;background:#e2e4c0"><small>simple</small></th>
       <td><span class="Latn form-of lang-fr ppr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulant#French" title="voulant">voulant</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lɑ̃/</span></span></td>
      </tr>
      <tr>
       <th colspan="1" style="height:3em;background:#e2e4c0"><small>compound</small></th>
       <th colspan="6" style="background:#DEDEDE"><i><a rel="mw:WikiLink" href="./ayant" title="ayant">ayant</a></i> + past participle</th>
      </tr>
      <tr>
       <th colspan="2" style="background:#e2e4c0"><span title="participe passé">past participle</span></th>
       <td><span class="Latn form-of lang-fr pp-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulu#French" title="voulu">voulu</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.ly/</span></span></td>
      </tr>
      <tr>
       <th colspan="2" rowspan="2"></th>
       <th colspan="3" style="background:#C0C0C0">singular</th>
       <th colspan="3" style="background:#C0C0C0">plural</th>
      </tr>
      <tr>
       <th style="background:#C0C0C0;width:12.5%">first</th>
       <th style="background:#C0C0C0;width:12.5%">second</th>
       <th style="background:#C0C0C0;width:12.5%">third</th>
       <th style="background:#C0C0C0;width:12.5%">first</th>
       <th style="background:#C0C0C0;width:12.5%">second</th>
       <th style="background:#C0C0C0;width:12.5%">third</th>
      </tr>
      <tr>
       <th style="background:#c0cfe4" colspan="2"><span title="indicatif">indicative</span></th>
       <th style="background:#c0cfe4">je (j’)</th>
       <th style="background:#c0cfe4">tu</th>
       <th style="background:#c0cfe4">il, elle, on</th>
       <th style="background:#c0cfe4">nous</th>
       <th style="background:#c0cfe4">vous</th>
       <th style="background:#c0cfe4">ils, elles</th>
      </tr>
      <tr>
       <th rowspan="5" style="background:#c0cfe4"><small>(simple<br>
         tenses)</small></th>
       <th style="height:3em;background:#c0cfe4"><span title="présent">present</span></th>
       <td><span class="Latn form-of lang-fr 1|s|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veux#French" title="veux">veux</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vø/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veux#French" title="veux">veux</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vø/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veut#French" title="veut">veut</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vø/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulons#French" title="voulons">voulons</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulez#French" title="voulez">voulez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.le/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|pres|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veulent#French" title="veulent">veulent</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vœl/</span></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="imparfait">imperfect</span></th>
       <td><span class="Latn form-of lang-fr 1|s|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulais#French" title="voulais">voulais</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulais#French" title="voulais">voulais</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulait#French" title="voulait">voulait</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulions#French" title="voulions">voulions</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.ljɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./vouliez#French" title="vouliez">vouliez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lje/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|impf|indc-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulaient#French" title="voulaient">voulaient</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lɛ/</span></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="passé simple">past historic</span><sup>2</sup></th>
       <td><span class="Latn form-of lang-fr 1|s|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulus#French" title="voulus">voulus</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.ly/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulus#French" title="voulus">voulus</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.ly/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulut#French" title="voulut">voulut</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.ly/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulûmes#French" title="voulûmes">voulûmes</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lym/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulûtes#French" title="voulûtes">voulûtes</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lyt/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|phis-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulurent#French" title="voulurent">voulurent</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lyʁ/</span></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="futur simple">future</span></th>
       <td><span class="Latn form-of lang-fr 1|s|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudrai#French" title="voudrai">voudrai</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁe/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudras#French" title="voudras">voudras</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁa/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudra#French" title="voudra">voudra</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁa/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudrons#French" title="voudrons">voudrons</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudrez#French" title="voudrez">voudrez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁe/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|futr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudront#French" title="voudront">voudront</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁɔ̃/</span></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="conditionnel présent">conditional</span></th>
       <td><span class="Latn form-of lang-fr 1|s|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudrais#French" title="voudrais">voudrais</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudrais#French" title="voudrais">voudrais</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudrait#French" title="voudrait">voudrait</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁɛ/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudrions#French" title="voudrions">voudrions</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁi.jɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudriez#French" title="voudriez">voudriez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁi.je/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|cond-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voudraient#French" title="voudraient">voudraient</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.dʁɛ/</span></span></td>
      </tr>
      <tr>
       <th rowspan="5" style="background:#c0cfe4"><small>(compound<br>
         tenses)</small></th>
       <th style="height:3em;background:#c0cfe4"><span title="passé composé">present perfect</span></th>
       <th colspan="6" style="background:#DEDEDE">present indicative of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="plus-que-parfait">pluperfect</span></th>
       <th colspan="6" style="background:#DEDEDE">imperfect indicative of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="passé antérieur">past anterior</span><sup>2</sup></th>
       <th colspan="6" style="background:#DEDEDE">past historic of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="futur antérieur">future perfect</span></th>
       <th colspan="6" style="background:#DEDEDE">future of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="height:3em;background:#c0cfe4"><span title="conditionnel passé">conditional perfect</span></th>
       <th colspan="6" style="background:#DEDEDE">conditional of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="background:#c0e4c0" colspan="2"><span title="subjonctif">subjunctive</span></th>
       <th style="background:#c0e4c0">que je (j’)</th>
       <th style="background:#c0e4c0">que tu</th>
       <th style="background:#c0e4c0">qu’il, qu’elle</th>
       <th style="background:#c0e4c0">que nous</th>
       <th style="background:#c0e4c0">que vous</th>
       <th style="background:#c0e4c0">qu’ils, qu’elles</th>
      </tr>
      <tr>
       <th rowspan="2" style="background:#c0e4c0"><small>(simple<br>
         tenses)</small></th>
       <th style="height:3em;background:#c0e4c0"><span title="subjonctif présent">present</span></th>
       <td><span class="Latn form-of lang-fr 1|s|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veuille#French" title="veuille">veuille</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vœj/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veuilles#French" title="veuilles">veuilles</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vœj/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veuille#French" title="veuille">veuille</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vœj/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulions#French" title="voulions">voulions</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.ljɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./vouliez#French" title="vouliez">vouliez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lje/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|pres|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veuillent#French" title="veuillent">veuillent</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vœj/</span></span></td>
      </tr>
      <tr>
       <th style="height:3em;background:#c0e4c0" rowspan="1"><span title="subjonctif imparfait">imperfect</span><sup>2</sup></th>
       <td><span class="Latn form-of lang-fr 1|s|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulusse#French" title="voulusse">voulusse</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lys/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|s|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulusses#French" title="voulusses">voulusses</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lys/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|s|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulût#French" title="voulût">voulût</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.ly/</span></span></td>
       <td><span class="Latn form-of lang-fr 1|p|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulussions#French" title="voulussions">voulussions</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.ly.sjɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulussiez#French" title="voulussiez">voulussiez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.ly.sje/</span></span></td>
       <td><span class="Latn form-of lang-fr 3|p|impf|subj-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulussent#French" title="voulussent">voulussent</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lys/</span></span></td>
      </tr>
      <tr>
       <th rowspan="2" style="background:#c0e4c0"><small>(compound<br>
         tenses)</small></th>
       <th style="height:3em;background:#c0e4c0"><span title="subjonctif passé">past</span></th>
       <th colspan="6" style="background:#DEDEDE">present subjunctive of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th style="height:3em;background:#c0e4c0"><span title="subjonctif plus-que-parfait">pluperfect</span><sup>2</sup></th>
       <th colspan="6" style="background:#DEDEDE">imperfect subjunctive of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
      </tr>
      <tr>
       <th colspan="2" style="background:#e4d4c0"><span title="impératif">imperative</span></th>
       <th style="background:#e4d4c0">–</th>
       <th style="background:#e4d4c0"><s>tu</s></th>
       <th style="background:#e4d4c0">–</th>
       <th style="background:#e4d4c0"><s>nous</s></th>
       <th style="background:#e4d4c0"><s>vous</s></th>
       <th style="background:#e4d4c0">–</th>
      </tr>
      <tr>
       <th style="height:3em;background:#e4d4c0" colspan="2"><span title="">simple</span></th>
       <td>—</td>
       <td><span class="Latn form-of lang-fr 2|s|impr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veux#French" title="veux">veux</a></span> or <span class="Latn form-of lang-fr 2|s|impr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veuille#French" title="veuille">veuille</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vø/</span> or <span class="IPA">/vœj/</span></span></td>
       <td>—</td>
       <td><span class="Latn form-of lang-fr 1|p|impr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulons#French" title="voulons">voulons</a></span> or <span class="Latn form-of lang-fr 1|p|impr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veuillons#French" title="veuillons">veuillons</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.lɔ̃/</span> or <span class="IPA">/vœ.jɔ̃/</span></span></td>
       <td><span class="Latn form-of lang-fr 2|p|impr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./voulez#French" title="voulez">voulez</a></span> or <span class="Latn form-of lang-fr 2|p|impr-form-of        " lang="fr"><a rel="mw:WikiLink" href="./veuillez#French" title="veuillez">veuillez</a></span><br><span style="color:#7F7F7F"><span class="IPA">/vu.le/</span> or <span class="IPA">/vœ.je/</span></span></td>
       <td>—</td>
      </tr>
      <tr>
       <th style="height:3em;background:#e4d4c0" colspan="2"><span title="">compound</span></th>
       <td>—</td>
       <th style="background:#DEDEDE">simple imperative of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
       <td>—</td>
       <th style="background:#DEDEDE">simple imperative of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
       <th style="background:#DEDEDE">simple imperative of <i><a rel="mw:WikiLink" href="./avoir" title="avoir">avoir</a></i> + past participle</th>
       <td>—</td>
      </tr>
      <tr>
       <td colspan="8"><sup>1</sup> The French gerund is usable only with the preposition <i><a rel="mw:WikiLink" href="./en" title="en">en</a></i>.</td>
      </tr>
      <tr>
       <td colspan="8"><sup>2</sup> In less formal writing or speech, these tenses may be found to have been replaced in the following way: 
        <ul>
         <li>past historic → present perfect</li>
         <li>past anterior → pluperfect</li>
         <li>imperfect subjunctive → present subjunctive</li>
         <li>pluperfect subjunctive → past subjunctive</li>
        </ul>
        <p>(Christopher Kendris [1995], <i>Master the Basics: French</i>, pp. <a rel="mw:ExtLink nofollow" href="https://books.google.fr/books?id=g4G4jg5GWMwC&amp;pg=PA77" class="external text">77</a>, <a rel="mw:ExtLink nofollow" href="https://books.google.fr/books?id=g4G4jg5GWMwC&amp;pg=PA78" class="external text">78</a>, <a rel="mw:ExtLink nofollow" href="https://books.google.fr/books?id=g4G4jg5GWMwC&amp;pg=PA79" class="external text">79</a>, <a rel="mw:ExtLink nofollow" href="https://books.google.fr/books?id=g4G4jg5GWMwC&amp;pg=PA81" class="external text">81</a>).</p></td>
      </tr>
     </tbody>
    </table>
   </div>
  </div><span about="#mwt20"> </span>
  <link rel="mw:PageProp/Category" href="./Category:French_third_group_verbs#VOULOIR" about="#mwt20">
  <link rel="mw:PageProp/Category" href="./Category:French_irregular_verbs#VOULOIR" about="#mwt20" id="mwPA">
 </section>
 <section data-mw-section-id="7" id="mwPQ">
  <h4 id="Derived_terms">Derived terms</h4>
  <div class="list-switcher" data-toggle-category="derived terms" about="#mwt21" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;der4&quot;,&quot;href&quot;:&quot;./Template:der4&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr\n&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;à bouche que veux-tu\n&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;à mouchoir que veux-tu\n&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;à qui veut l'entendre\n&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;ce que femme veut, Dieu le veut\n&quot;},&quot;6&quot;:{&quot;wt&quot;:&quot;en temps voulu\n&quot;},&quot;7&quot;:{&quot;wt&quot;:&quot;en veux-tu en voilà\n&quot;},&quot;8&quot;:{&quot;wt&quot;:&quot;en vouloir\n&quot;},&quot;9&quot;:{&quot;wt&quot;:&quot;je veux, mon neveu\n&quot;},&quot;10&quot;:{&quot;wt&quot;:&quot;il n'est pire aveugle que celui qui ne veut pas voir\n&quot;},&quot;11&quot;:{&quot;wt&quot;:&quot;il n'est pire sourd que celui qui ne veut pas entendre\n&quot;},&quot;12&quot;:{&quot;wt&quot;:&quot;quand on veut, on peut\n&quot;},&quot;13&quot;:{&quot;wt&quot;:&quot;que veux-tu\n&quot;},&quot;14&quot;:{&quot;wt&quot;:&quot;qui veut la fin veut les moyens\n&quot;},&quot;15&quot;:{&quot;wt&quot;:&quot;si tu vois ce que je veux dire\n&quot;},&quot;16&quot;:{&quot;wt&quot;:&quot;tu veux rire\n&quot;},&quot;17&quot;:{&quot;wt&quot;:&quot;vouloir c'est pouvoir\n&quot;},&quot;18&quot;:{&quot;wt&quot;:&quot;vouloir dire\n&quot;},&quot;19&quot;:{&quot;wt&quot;:&quot;vous voulez rire\n&quot;}},&quot;i&quot;:0}}]}" id="mwPg">
   <div class="columns-bg term-list ul-column-count" data-column-count="4">
    <ul>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./à_bouche_que_veux-tu#French" title="à bouche que veux-tu">à bouche que veux-tu</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./à_mouchoir_que_veux-tu#French" title="à mouchoir que veux-tu">à mouchoir que veux-tu</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./à_qui_veut_l'entendre#French" title="à qui veut l'entendre">à qui veut l’entendre</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./ce_que_femme_veut,_Dieu_le_veut#French" title="ce que femme veut, Dieu le veut">ce que femme veut, Dieu le veut</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./en_temps_voulu#French" title="en temps voulu">en temps voulu</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./en_veux-tu_en_voilà#French" title="en veux-tu en voilà">en veux-tu en voilà</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./en_vouloir#French" title="en vouloir">en vouloir</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./il_n'est_pire_aveugle_que_celui_qui_ne_veut_pas_voir#French" title="il n'est pire aveugle que celui qui ne veut pas voir">il n’est pire aveugle que celui qui ne veut pas voir</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./il_n'est_pire_sourd_que_celui_qui_ne_veut_pas_entendre#French" title="il n'est pire sourd que celui qui ne veut pas entendre">il n’est pire sourd que celui qui ne veut pas entendre</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./je_veux,_mon_neveu#French" title="je veux, mon neveu">je veux, mon neveu</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./quand_on_veut,_on_peut#French" title="quand on veut, on peut">quand on veut, on peut</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./que_veux-tu#French" title="que veux-tu">que veux-tu</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./qui_veut_la_fin_veut_les_moyens#French" title="qui veut la fin veut les moyens">qui veut la fin veut les moyens</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./si_tu_vois_ce_que_je_veux_dire#French" title="si tu vois ce que je veux dire">si tu vois ce que je veux dire</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./tu_veux_rire#French" title="tu veux rire">tu veux rire</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./vouloir_c'est_pouvoir#French" title="vouloir c'est pouvoir">vouloir c’est pouvoir</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./vouloir_dire#French" title="vouloir dire">vouloir dire</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./vous_voulez_rire#French" title="vous voulez rire">vous voulez rire</a></span></li>
    </ul>
   </div>
   <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display:none">
    &nbsp;
   </div>
  </div>
 </section>
 <section data-mw-section-id="8" id="mwPw">
  <h4 id="Descendants">Descendants</h4>
  <ul id="mwQA">
   <li id="mwQQ"><span about="#mwt22" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;desctree&quot;,&quot;href&quot;:&quot;./Template:desctree&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;ht-sdm&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;vlé&quot;}},&quot;i&quot;:0}}]}" id="mwQg">Saint Dominican Creole French: </span><span class="Latn" lang="ht" about="#mwt22"><a rel="mw:WikiLink" href="./vlé#Haitian_Creole" title="vlé">vlé</a></span>
    <ul about="#mwt22" id="mwQw">
     <li>Haitian Creole: <span class="Latn" lang="ht"><a rel="mw:WikiLink" href="./vle#Haitian_Creole" title="vle">vle</a></span>
      <style data-mw-deduplicate="TemplateStyles:r68481116" typeof="mw:Extension/templatestyles" about="#mwt24" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;Module:etymology/style.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;}}">.mw-parser-output .desc-arr[title]{cursor:help}.mw-parser-output .desc-arr[title="uncertain"]{font-size:.7em;vertical-align:super}</style></li>
    </ul></li>
  </ul>
 </section>
</section>
<section data-mw-section-id="9" id="mwRA">
 <h3 id="Noun">Noun</h3>
 <p id="mwRQ"><span class="headword-line" about="#mwt25" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;fr-noun&quot;,&quot;href&quot;:&quot;./Template:fr-noun&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;m&quot;}},&quot;i&quot;:0}}]}" id="mwRg"><strong class="Latn headword" lang="fr">vouloir</strong><span typeof="mw:Entity">&nbsp;</span><span class="gender"><abbr title="masculine gender">m</abbr></span> (<i>plural</i> <b class="Latn form-of lang-fr p-form-of        " lang="fr"><a rel="mw:WikiLink" href="./vouloirs#French" title="vouloirs">vouloirs</a></b>)</span>
  <link rel="mw:PageProp/Category" href="./Category:French_lemmas#VOULOIR" about="#mwt25">
  <link rel="mw:PageProp/Category" href="./Category:French_nouns#VOULOIR" about="#mwt25">
  <link rel="mw:PageProp/Category" href="./Category:French_countable_nouns#VOULOIR" about="#mwt25">
  <link rel="mw:PageProp/Category" href="./Category:French_entries_with_incorrect_language_header#VOULOIR" about="#mwt25">
  <link rel="mw:PageProp/Category" href="./Category:French_masculine_nouns#VOULOIR" about="#mwt25">
  <link rel="mw:PageProp/Category" href="./Category:Pages_with_entries#VOULOIR" about="#mwt25">
  <link rel="mw:PageProp/Category" href="./Category:Pages_with_1_entry#VOULOIR" about="#mwt25" id="mwRw"></p>
 <ol id="mwSA">
  <li id="mwSQ"><a rel="mw:WikiLink" href="./will" title="will" id="mwSg">will</a></li>
 </ol>
 <section data-mw-section-id="10" id="mwSw">
  <h4 id="Derived_terms_2">Derived terms</h4>
  <ul id="mwTA">
   <li id="mwTQ"><span class="Latn" lang="fr" about="#mwt26" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;bon vouloir&quot;}},&quot;i&quot;:0}}]}" id="mwTg"><a rel="mw:WikiLink" href="./bon_vouloir#French" title="bon vouloir">bon vouloir</a></span></li>
  </ul>
 </section>
</section>
<section data-mw-section-id="11" id="mwTw">
 <h3 id="Further_reading">Further reading</h3>
 <ul id="mwUA">
  <li id="mwUQ"><span class="citation-whole" about="#mwt27" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:fr:TLFi&quot;,&quot;href&quot;:&quot;./Template:R:fr:TLFi&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwUg"><span class="cited-source">“<a rel="mw:ExtLink nofollow" href="https://www.cnrtl.fr/definition/vouloir" class="external text">vouloir</a>”, in <cite><span class="Latn" lang="fr"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Trésor%20de%20la%20langue%20française%20informatisé" title="w:Trésor de la langue française informatisé" class="extiw">Trésor de la langue française informatisé</a></span> <span style="font-style: normal;">[</span>Digitized Treasury of the French Language<span style="font-style: normal;">]</span></cite>, <span class="None" lang="und">2012</span></span></span><span about="#mwt27">.</span></li>
 </ul>
 <link rel="mw:PageProp/Category" href="./Category:French_raising_verbs#VOULOIR" about="#mwt28" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;cln&quot;,&quot;href&quot;:&quot;./Template:cln&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;raising verbs&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;subjunctive-subordinating terms&quot;}},&quot;i&quot;:0}}]}" id="mwUw">
 <link rel="mw:PageProp/Category" href="./Category:French_subjunctive-subordinating_terms#VOULOIR" about="#mwt28" id="mwVA">
</section>
