<p>
    <span class="ib-brac qualifier-brac">(</span>
    <span class="ib-content qualifier-content">
      <a href="https://en.wikipedia.org/wiki/Balearic_dialect" class="extiw" title="w:Balearic dialect">Balearic</a>
      <span class="ib-comma qualifier-comma">,</span>
      <a href="https://en.wikipedia.org/wiki/Central_Catalan" class="extiw" title="w:Central Catalan">Central</a>
    </span>
    <span class="ib-brac qualifier-brac">)</span>
    <a href="/wiki/Wiktionary:International_Phonetic_Alphabet"
       title="Wiktionary:International Phonetic Alphabet">IPA</a>
    <sup>
        (
        <a href="/wiki/Appendix:Catalan_pronunciation" title="Appendix:Catalan pronunciation">key</a>
        )
    </sup>
    :
    <span class="IPA">/ˈka.zə/</span>
</p>
<ul>
    <li>
        <span class="ib-brac qualifier-brac">(</span>
        <span class="ib-content qualifier-content">
            <a href="https://en.wikipedia.org/wiki/Valencian" class="extiw" title="w:Valencian">Valencian</a>
        </span>
        <span class="ib-brac qualifier-brac">)</span>
        <a href="/wiki/Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a>
        <sup>
            (
            <a href="/wiki/Appendix:Catalan_pronunciation" title="Appendix:Catalan pronunciation">key</a>
            )
        </sup>
        :
        <span class="IPA">/ˈka.za/</span>
    </li>
</ul>
