<p>
    <span class="ib-brac qualifier-brac">(</span>
    <span class="ib-content qualifier-content">
        <a href="https://en.wikipedia.org/wiki/Castilian_Spanish" class="extiw" title="w:Castilian Spanish">Castilian</a>
     </span>
    <span class="ib-brac qualifier-brac">)</span>
    <a href="/wiki/Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a>
    <sup>
        (
        <a href="/wiki/Appendix:Spanish_pronunciation" title="Appendix:Spanish pronunciation">key</a>
        )
    </sup>
    :
    <span class="IPA">/ˈθeɾo/</span>
</p>
<ul>
    <li>
        <span class="ib-brac qualifier-brac">(</span>
        <span class="ib-content qualifier-content">Latin America</span>
        <span class="ib-brac qualifier-brac">)</span>
        <a href="/wiki/Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a>
        <sup>
            (
            <a href="/wiki/Appendix:Spanish_pronunciation" title="Appendix:Spanish pronunciation">key</a>
            )
        </sup>
        :
        <span class="IPA">/ˈseɾo/</span>
    </li>
</ul>
