<p>
    <a href="/wiki/Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a>
    <sup>
        (
        <a href="/wiki/Appendix:Italian_pronunciation" title="Appendix:Italian pronunciation">key</a>
        )
    </sup>
    :
    <span class="IPA">/inˈsje.me/</span>
</p>
