<ul>
    <li>
  <span>
   <a href="/wiki/Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a>
   <sup>
    (
    <a href="/wiki/Appendix:Korean_pronunciation" title="Appendix:Korean pronunciation">key</a>
    )
   </sup>
   :
  </span>
        <span class="IPA">[ˈkɥiːjʌ̹p̚t͈a̠] ~ [ˈkyːjʌ̹p̚t͈a̠]</span>
    </li>
    <li>
        <span>Phonetic hangeul: </span>
        [
        <span class="Kore" lang="ko">
   <span style="font-size:110%">귀</span>
   <span style="font-size:110%; color:#BF0218">
    <b>ː</b>
   </span>
   <span style="font-size:110%">엽</span>
   <span style="font-size:110%; color:#BF0218">
    <b>따</b>
   </span>
  </span>
        ]
    </li>
</ul>
<table style="margin: 0 1em .5em 1.6em">
    <tbody>
    <tr>
        <td>
            <table cellpadding="1" style="border: 1px solid #DFDFDF; line-height: 25pt; padding: .1em .3em .1em .3em">
                <tbody>
                <tr>
                    <td style="padding-right:.5em;font-size:10pt;color:#555;font-weight:bold;background-color:#F8F9F8">
                        Revised Romanization
                        <sup>
                            <small>
                                <a href="/wiki/Wiktionary:About_Korean/Romanization" title="Wiktionary:About Korean/Romanization">?</a>
                            </small>
                        </sup>
                    </td>
                    <td class="IPA" style="padding-left:.7em;padding-right:.7em;font-size:100%">gwiyeopda</td>
                </tr>
                <tr>
                    <td style="padding-right:.5em;font-size:10pt;color:#555;font-weight:bold;background-color:#F8F9F8">
                        Revised Romanization (translit.)
                        <sup>
                            <small>
                                <a href="/wiki/Wiktionary:About_Korean/Romanization" title="Wiktionary:About Korean/Romanization">?</a>
                            </small>
                        </sup>
                    </td>
                    <td class="IPA" style="padding-left:.7em;padding-right:.7em;font-size:100%">gwiyeobda</td>
                </tr>
                <tr>
                    <td style="padding-right:.5em;font-size:10pt;color:#555;font-weight:bold;background-color:#F8F9F8">
                        McCune–Reischauer
                        <sup>
                            <small>
                                <a href="/wiki/Wiktionary:About_Korean/Romanization" title="Wiktionary:About Korean/Romanization">?</a>
                            </small>
                        </sup>
                    </td>
                    <td class="IPA" style="padding-left:.7em;padding-right:.7em;font-size:100%">kwiyŏpta</td>
                </tr>
                <tr>
                    <td style="padding-right:.5em;font-size:10pt;color:#555;font-weight:bold;background-color:#F8F9F8">
                        Yale Romanization
                        <sup>
                            <small>
                                <a href="/wiki/Wiktionary:About_Korean/Romanization" title="Wiktionary:About Korean/Romanization">?</a>
                            </small>
                        </sup>
                    </td>
                    <td class="IPA" style="padding-left:.7em;padding-right:.7em;font-size:100%">kwīyepqta</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

