<p>
    <span class="ib-brac qualifier-brac">(</span>
    <span class="ib-content qualifier-content">
  <a href="https://en.wikipedia.org/wiki/Classical_Latin" class="extiw" title="w:Classical Latin">Classical</a>
 </span>
    <span class="ib-brac qualifier-brac">)</span>
    <a href="/wiki/Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a>
    <sup>
        (
        <a href="/wiki/Appendix:Latin_pronunciation" title="Appendix:Latin pronunciation">key</a>
        )
    </sup>
    :
    <span class="IPA">/ˈwe.ni.oː/</span>
    ,
    <span class="IPA">[ˈwɛ.n̪i.oː]</span>
</p>
<ul>
    <li>
        <span class="ib-brac qualifier-brac">(</span>
        <span class="ib-content qualifier-content">
   <a href="https://en.wikipedia.org/wiki/Ecclesiastical_Latin" class="extiw" title="w:Ecclesiastical Latin">Ecclesiastical</a>
  </span>
        <span class="ib-brac qualifier-brac">)</span>
        <a href="/wiki/Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a>
        <sup>
            (
            <a href="/wiki/Appendix:Latin_pronunciation" title="Appendix:Latin pronunciation">key</a>
            )
        </sup>
        :
        <span class="IPA">/ˈve.ni.o/</span>
        ,
        <span class="IPA">[ˈvɛː.ni.ɔ]</span>
    </li>
</ul>